$form-spacing: rem-calc(16) !default;

$form-control__background: $black-16 !default;
$form-control__background--checked: $md-theme-50 !default;
$form-control__background--checked--dark: $md-theme-70 !default;
$form-control__background--checked-hover: $md-theme-60 !default;
$form-control__background--checked-hover--dark: $md-theme-70 !default;
$form-control__background--checked-pressed: $md-theme-70 !default;
$form-control__background--checked-pressed--dark: $md-theme-80 !default;
$form-control__background--dark: $white-48 !default;
$form-control__background--hover: $black-24 !default;
$form-control__background--hover--dark: $white-64 !default;
$form-control__background--pressed: $black-32 !default;
$form-control__background--pressed--dark: $white-80 !default;
$form-control__background-border--focus: $md-black-100 !default;
$form-control__background-border--focus--dark: $md-white-100 !default;
$form-control__content: $md-white-100 !default;
$form-control__label: inherit !default;
$form-control__label--dark: $md-white-100 !default;
$form-control__opacity--disabled: 0.4 !default;
$form-label-bottom-margin: rem-calc(4) !default;
$form-label-font-weight: $font-weight-normal !default;
$form-label-line-height: 1.5 !default;
$form-label-pointer: pointer !default;
$form-label-small-transform: capitalize !default;
$form-section-border-color: $md-gray-20 !default;
$fieldset-border-color: transparent !default;
$fieldset-border-style: solid !default;
$fieldset-border-width: 0 !default;
$fieldset-margin: $form-spacing 0 !default;
$fieldset-padding: $form-spacing - rem-calc(1) !default;
$legend-bg: $md-white-100 !default;
$legend-font-weight: $font-weight-bold !default;
$legend-padding: rem-calc(0 3) !default;

$select-bg-color: $md-gray-10 !default;
$select-hover-bg-color: scale-color($select-bg-color, $lightness: -3%) !default;
