@use "@/wc_scss/tools/functions/core";
@use "@/wc_scss/tools/mixins/flex" as *;
@use "./settings.scss" as *;
@use "./mixins" as *;

:host(md-accordion-item) {
  display: block;

  .md-accordion {
    &-header {
      border-radius: var(--accordion-item-header-border-radius);
      @include flex($jc: space-between, $ai: stretch);
    }

    &-expander {
      @include button-reset;
      @include flex($jc: flex-start, $ai: stretch);
      flex: 0 1 100%;
      padding: $accordion-base-indent;
      border-radius: var(--accordion-item-header-border-radius);
      background: var(--accordion-item-header-bg);
      md-icon {
        @include arrow-transition;
        display: flex;
        margin: 0 0 0 auto;
      }

      &-label {
        @include text-dots;
        color: var(--md-secondary-text-color);
        display: flex;
        flex: 0 1 auto;
      }
    }

    &-panel {
      display: none;
      padding: $accordion-base-indent;
    }
  }
}

:host(md-accordion-item[expanded]) {
  .md-accordion-panel {
    display: block;
  }
  .md-accordion-expander md-icon {
    transform: rotate(180deg);
  }
}

:host(md-accordion-item[focus-visible]) {
  .md-accordion-expander {
    box-shadow: 0 0 0 core.rem-calc(2) $accordion-border_focus;
    color: var(--accordion-item-header-color-active);
  }
}

:host(md-accordion-item) {
  .md-accordion-item:hover {
    .md-accordion-header {
      background: $accordion_hover;
      border-radius: var(--accordion-item-header-border-radius);
    }
  }
}

:host(md-accordion-item[disabled]) {
  .md-accordion-expander {
    color: $accordion-disabled;
    cursor: not-allowed;
  }
}


@media(forced-colors: active) {
  :host(md-accordion-item[focus-visible]) {
    .md-accordion-expander {
      outline: core.rem-calc(2) solid Highlight;
    }
  }

  :host(md-accordion-item) {
    .md-accordion-item:hover {
      .md-accordion-header {
        outline: core.rem-calc(2) solid Highlight;
      }
    }
  }

  :host(md-accordion-item[disabled]) {
    .md-accordion-expander {
      opacity: 0.5;
    }
  }
}
