@use "./settings.scss" as *;

:host(:focus) {
  box-shadow: none;
  outline: none !important;
}

:host(md-accordion) {
  font-size: $accordion-font-size;

  .md-accordion {
    width: 100%;
    border-radius: var(--accordion-border-radius);
  }
}

:host(md-accordion[focusable]) {
  .md-accordion {
    box-shadow: 0 0 0 $accordion-border_focus-width $accordion-border_focus;

    &-header {
      background: $accordion-bg_focus;
    }
  }
}
@media(forced-colors:active) {
  :host(md-accordion[focusable]) {
    .md-accordion {
      outline: 1px solid Highlight;
    }
  }
}