@use "@/wc_scss/tools/functions/core";
@use "@/wc_scss/typography/settings";

$accordion-font-size: var(--font-size-body-midsize, settings.$font-size-base);
$accordion-base-indent: core.rem-calc(8);
$accordion-border-radius: core.rem-calc(4);

$accordion-border_focus-width: core.rem-calc(2);
$accordion-border_focus: var(--md-default-focus-outline-color);
$accordion-bg_focus: var(--accordion-bg-focus);
$accordion_hover: var(--accordion-hover);
$accordion-disabled: var(--md-disabled-text-color);
$accordion-active: var(--accordion-active);
