// Symphony icon mapping
//$icon-alerting: $icon-alerting_16 !default;
$icon-analysis-active: $icon-analysis_16 !default;
$icon-analysis: $icon-analysis_16 !default;
//$icon-animation: $icon-animation_16 !default;
$icon-annotation: $icon-annotation_16 !default;
//$icon-applause: $icon-applause_16 !default;
$icon-application: $icon-application_16 !default;
$icon-applications: $icon-applications_16 !default;
$icon-arrow-back: $icon-arrow-left_16 !default;
$icon-arrow-down: $icon-arrow-down_16 !default;
$icon-arrow-left-tail: $icon-back_16 !default;
$icon-arrow-next: $icon-arrow-right_16 !default;
$icon-arrow-right-tail: $icon-next_16 !default;
$icon-arrow-up: $icon-arrow-up_16 !default;
$icon-at: $icon-mention_16 !default;
$icon-attachment: $icon-attachment_16 !default;
$icon-audio-broadcast: $icon-audio-broadcast_16 !default;
$icon-audio-min: $icon-speaker-off_16 !default;
$icon-audio-plus: $icon-speaker_16 !default;
//$icon-audio-settings: $icon-adjust-audio_16 !default;
$icon-audio: $icon-speaker_16 !default;
$icon-aux-camera: $icon-camera-aux_16 !default;
$icon-back: $icon-back_16 !default;
//$icon-backup-data: $icon-backup-data_16 !default;
$icon-bars: $icon-analysis_16 !default;
//$icon-battery: $icon-battery_16 !default;
$icon-bell-cross: $icon-alert-muted_16 !default;
$icon-bell: $icon-alert_16 !default;
$icon-blocked: $icon-blocked_16 !default;
//$icon-bluetooth: $icon-bluetooth_16 !default;
$icon-bookmark: $icon-bookmark_16 !default;
$icon-bot-four: $icon-bot_36 !default;
$icon-bot-five: $icon-bot_36 !default;
$icon-bot-six: $icon-bot_36 !default;
$icon-brightness: $icon-brightness_16 !default;
$icon-broadcast-message: $icon-broadcast-message_16 !default;
//$icon-broken-image: $icon-broken-file_16 !default;
$icon-browser: $icon-browser_16 !default;
//$icon-bug: $icon-bugs_16 !default;
$icon-cal: $icon-calendar-month_16 !default;
$icon-call-forwarding: $icon-call-forward_16 !default;
$icon-call-handling: $icon-call-handling_16 !default;
//$icon-call-log: $icon-call-log_16 !default;
//$icon-call-rate: $icon-callrate_16 !default;
//$icon-callback: $icon-callback_16 !default;
$icon-calls: $icon-handset_16 !default;
$icon-camera: $icon-camera-photo_16 !default;
$icon-certified: $icon-certified_16 !default;
//$icon-chapters: $icon-chapters_16 !default;
//$icon-charging: $icon-charging_16 !default;
$icon-chat: $icon-chat_16 !default;
$icon-chats: $icon-chat-group_16 !default;
$icon-check-mark-success: $icon-check-circle_24 !default;
$icon-check: $icon-check_16 !default;
$icon-checkbox: $icon-check_16 !default;
$icon-chevron-down: $icon-arrow-down_16 !default;
$icon-chevron-left: $icon-arrow-left_16 !default;
$icon-chevron-right: $icon-arrow-right_16 !default;
$icon-chevron-up: $icon-arrow-up_16 !default;
$icon-circle-arrow-down: $icon-arrow-circle-down_16 !default;
$icon-circle-arrows-circular: $icon-refresh_16 !default;
$icon-circle-arrows-cross: $icon-pto_16 !default;
$icon-circle-calendar: $icon-calendar-month_16 !default;
$icon-circle-call: $icon-handset_16 !default;
$icon-circle-check-mark-success: $icon-check-circle_24 !default;
$icon-circle-check: $icon-check-circle_24 !default;
$icon-circle-clock-hands: $icon-recents_16 !default;
$icon-circle-clock: $icon-recents_16 !default;
$icon-circle-comp-negative: $icon-error_16 !default;
$icon-circle-computer-blank: $icon-laptop_16 !default;
$icon-circle-contact-centre: $icon-headset_16 !default;
$icon-circle-data: $icon-server_16 !default;
$icon-circle-download: $icon-download_16 !default;
$icon-circle-email: $icon-email-read_16 !default;
$icon-circle-flag: $icon-flag-circle_16 !default;
$icon-circle-globe: $icon-language_16 !default;
$icon-circle-group: $icon-chat-group_16 !default;
$icon-circle-hg-circular: $icon-recurring_16 !default;
$icon-circle-links: $icon-link_16 !default;
$icon-circle-location: $icon-location_16 !default;
$icon-circle-lock: $icon-secure_16 !default;
$icon-circle-message: $icon-chat_16 !default;
$icon-circle-more: $icon-more-circle_16 !default;
$icon-circle-question: $icon-help-circle_16 !default;
$icon-circle-star: $icon-favorite_16 !default;
$icon-circle-telepresence: $icon-endpoint_16 !default;
$icon-circle-unlock: $icon-unsecure_16 !default;
$icon-circle-upload: $icon-upload_16 !default;
$icon-circle-user: $icon-people-circle_16 !default;
$icon-circle-webex: $icon-webex_16 !default;
$icon-circle-world: $icon-headset_16 !default;
$icon-circle: $icon-unread-badge_16 !default;
$icon-cisco-logo: $icon-cisco-logo !default;
$icon-clipboard: $icon-notepad_16 !default;
$icon-clock: $icon-recents_16 !default;
$icon-close-keyboard: $icon-keyboard-close_16 !default;
$icon-close: $icon-cancel_16 !default;
$icon-cloud-active: $icon-cloud_16 !default;
$icon-cloud: $icon-cloud_16 !default;
$icon-cog: $icon-settings_16 !default;
//$icon-comment: $icon-comment_16 !default;
//$icon-community: $icon-community_16 !default;
$icon-company-active: $icon-company_32 !default;
$icon-computer: $icon-computer_16 !default;
$icon-conference: $icon-team_16 !default;
$icon-contact-card: $icon-contact-card_16 !default;
$icon-contact: $icon-people_16 !default;
$icon-content-share: $icon-export_16 !default;
$icon-convo: $icon-chat-group_16 !default;
$icon-create-page: $icon-document-create_16 !default;
$icon-data-usage: $icon-data-usage_16 !default;
$icon-data: $icon-server_16 !default;
//$icon-dc-power: $icon-power-dc_16 !default;
//$icon-default-app: $icon-default-app_16 !default;
$icon-delete: $icon-backspace_16 !default;
$icon-desk-phone: $icon-deskphone_16 !default;
$icon-devices: $icon-endpoint_16 !default;
$icon-diagnostics: $icon-diagnostics_32 !default;
$icon-dial: $icon-dialpad_16 !default;
$icon-directory: $icon-directory_24 !default;
//$icon-disc: $icon-disc_16 !default;
$icon-display: $icon-display_16 !default;
$icon-do-not-disturb: $icon-blocked_16 !default;
//$icon-document-camera: $icon-document-camera_16 !default;
$icon-document: $icon-document_16 !default;
$icon-download: $icon-download_16 !default;
$icon-edit: $icon-edit_16 !default;
$icon-email: $icon-email_16 !default;
$icon-emoticons: $icon-emoticons_16 !default;
$icon-end-call: $icon-cancel_16 !default;
$icon-endpoint-active: $icon-endpoint_32 !default;
$icon-endpoint: $icon-endpoint_16 !default;
$icon-eraser: $icon-eraser_16 !default;
$icon-error: $icon-error_16 !default;
$icon-ethernet: $icon-ethernet_16 !default;
$icon-exernal-calendar: $icon-calendar-external_16 !default;
$icon-exit-contain: $icon-clear-active_16 !default;
$icon-exit-outline: $icon-clear_16 !default;
$icon-exit: $icon-cancel_16 !default;
$icon-export: $icon-export_16 !default;
$icon-extension-mobility: $icon-extension-mobility_16 !default;
$icon-fbw: $icon-fbw_16 !default;
//$icon-feedback-clear: $icon-feedback-clear_16 !default;
//$icon-feedback-result: $icon-feedback-result_16 !default;
$icon-feedback: $icon-feedback_16 !default;
//$icon-ffw: $icon-ffw_16 !default;
$icon-filter: $icon-filter-circle_20 !default;
$icon-flagged: $icon-flag_16 !default;
$icon-folder: $icon-files_16 !default;
$icon-forced-sign-in: $icon-sign-in-forced_16 !default;
//$icon-forward-to-mobility: $icon-forward-to-mobility_16 !default;
$icon-fullscreen: $icon-fullscreen_16 !default;
//$icon-graph: $icon-graph_16 !default;
$icon-grid-large: $icon-view-thumbnail_16 !default;
$icon-grid-list: $icon-view-list_16 !default;
//$icon-group-call: $icon-call-group_16 !default;
$icon-hamburger-menu: $icon-list-menu_16 !default;
$icon-headset-cross: $icon-headset-muted_16 !default;
$icon-headset: $icon-headset_16 !default;
$icon-help-outline: $icon-help-circle_16 !default;
$icon-help: $icon-help-circle_16 !default;
$icon-home-active: $icon-house_16 !default;
$icon-home: $icon-house_16 !default;
//$icon-hue: $icon-hue_16 !default;
$icon-hunt-group: $icon-hunt-group_16 !default;
$icon-image-contain: $icon-hunt-group_16 !default;
$icon-image: $icon-file-image_24 !default;
$icon-import: $icon-import_16 !default;
//$icon-inbox: $icon-email-inbox_16 !default;
$icon-incoming-call: $icon-call-incoming_16 !default;
$icon-indeterminate: $icon-minus_16 !default;
$icon-info-outline: $icon-info_16 !default;
$icon-info: $icon-info_16 !default;
$icon-information: $icon-info_16 !default;
$icon-instant-meeting: $icon-webex-instant-meeting_16 !default;
//$icon-intercom-duplex-connected: $icon-intercom-duplex_16 !default;
//$icon-intercom-whisper: $icon-intercom-whisper_16 !default;
//$icon-intercom: $icon-intercom_16 !default;
$icon-invite: $icon-email-invite_16 !default;
//$icon-key-expansion-module: $icon-key-expansion-module_16 !default;
$icon-keyboard: $icon-keyboard_16 !default;
$icon-language: $icon-language_16 !default;
$icon-laser-pointer: $icon-laser-pointer_16 !default;
$icon-layout: $icon-layout-side-by-side-vertical_16 !default;
$icon-leave-meeting: $icon-exit-room_16 !default;
$icon-left-arrow: $icon-arrow-left_16 !default;
$icon-lightbulb: $icon-room-lights_16 !default;
$icon-like: $icon-like_16 !default;
$icon-line-out-left: $icon-speaker-line-out-left_16 !default;
$icon-line-out-right: $icon-speaker-line-out-right_16 !default;
$icon-link: $icon-link_16 !default;
$icon-list-menu: $icon-list-menu_16 !default;
$icon-list-view: $icon-view-list_16 !default;
$icon-location-active: $icon-location_28 !default;
$icon-location: $icon-location_28 !default;
$icon-lock: $icon-secure_16 !default;
$icon-locked-speaker: $icon-active-speaker-locked_24 !default;
//$icon-manage-cable: $icon-cables_16 !default;
$icon-maximize: $icon-maximize_16 !default;
$icon-meet-me: $icon-enter-room_16 !default;
$icon-meeting-room: $icon-team_16 !default;
//$icon-merge-call: $icon-call-merge_16 !default;
$icon-message: $icon-chat_16 !default;
$icon-mic-in: $icon-audio-input_16 !default;
//$icon-micro-blog: $icon-micro-blog_16 !default;
$icon-microphone: $icon-microphone_16 !default;
$icon-minimize: $icon-minimize_16 !default;
$icon-minus: $icon-minus_16 !default;
$icon-mobile-phone: $icon-phone-ios_16 !default;
//$icon-mobile-presenter: $icon-mobile-presenter_16 !default;
$icon-month: $icon-calendar-month_16 !default;
$icon-more: $icon-more_16 !default;
$icon-move-page: $icon-document-move_16 !default;
$icon-music: $icon-adjust-audio_24 !default;
$icon-mute: $icon-microphone-muted_16 !default;
$icon-no-signal: $icon-signal-0_16 !default;
$icon-notes: $icon-notes_16 !default;
//$icon-off-hook: $icon-off-hook_16 !default;
//$icon-other-phone: $icon-other-phone_16 !default;
//$icon-outbox: $icon-email-outbox_16 !default;
$icon-outgoing-call: $icon-call-outgoing_16 !default;
$icon-paired-audio: $icon-paired-handset_24 !default;
$icon-paired-call: $icon-paired-camera_24 !default;
//$icon-panel-shift-left: $icon-panel-slide-left_16 !default;
//$icon-panel-shift-right: $icon-panel-slide-right_16 !default;
//$icon-parked: $icon-parked_16 !default;
//$icon-pass-mouse: $icon-pass-mouse_16 !default;
$icon-pause: $icon-pause_16 !default;
$icon-pc: $icon-laptop_16 !default;
$icon-pencil: $icon-edit_16 !default;
$icon-people-active: $icon-people_28 !default;
$icon-persistent-chat: $icon-chat-group_16 !default;
$icon-phone-cross: $icon-handset-muted_16 !default;
$icon-phone: $icon-handset_16 !default;
$icon-picture-in-picture: $icon-picture-in-picture_16 !default;
$icon-pin: $icon-pin_16 !default;
$icon-plan-review: $icon-view-feed-multiple_16 !default;
$icon-play: $icon-play_16 !default;
//$icon-playlist: $icon-playlist_16 !default;
$icon-plugin: $icon-accessories_16 !default;
$icon-plus-circle: $icon-add_16 !default;
$icon-plus: $icon-plus_16 !default;
//$icon-poll: $icon-poll_16 !default;
//$icon-popout: $icon-pop-out_16 !default;
//$icon-popup-dialogue: $icon-pop-up_16 !default;
//$icon-power: $icon-power_16 !default;
$icon-presentation: $icon-presentation_16 !default;
$icon-print: $icon-print_16 !default;
$icon-priority: $icon-priority_16 !default;
$icon-privacy: $icon-private_16 !default;
$icon-private: $icon-private-circle_16 !default;
$icon-proximity-not-connected: $icon-proximity-muted_16 !default;
$icon-proximity: $icon-proximity_16 !default;
$icon-quality: $icon-quality_24 !default;
$icon-question-circle: $icon-help-circle_16 !default;
//$icon-raise-hand: $icon-raise-hand_16 !default;
$icon-read-email: $icon-email-read_16 !default;
$icon-recents: $icon-recents_16 !default;
$icon-record: $icon-record_16 !default;
$icon-redial: $icon-redial_16 !default;
$icon-refresh: $icon-refresh_16 !default;
$icon-remove-contact: $icon-participant-remove_20 !default;
$icon-remove-outline: $icon-remove_16 !default;
$icon-remove: $icon-remove_16 !default;
//$icon-reply-all: $icon-reply-all_16 !default;
$icon-report: $icon-file-text_24 !default;
$icon-reset: $icon-reset_24 !default;
$icon-right-arrow-closed-outline: $icon-arrow-circle-right_16 !default;
$icon-right-arrow-contain: $icon-arrow-circle-right_16 !default;
$icon-right-arrow-contained: $icon-play_16 !default;
$icon-right-arrow-outline: $icon-arrow-circle-right_16 !default;
$icon-right-arrow: $icon-arrow-right_16 !default;
$icon-ringer-settings: $icon-adjust-audio_24 !default;
//$icon-rtprx-rtptx-duplex: $icon-rtprx-rtptx-duplex_16 !default;
//$icon-rtptx: $icon-rtptx_16 !default;
$icon-running-application: $icon-running-application_24 !default;
$icon-save: $icon-save_16 !default;
$icon-schedule-add: $icon-calendar-add_16 !default;
$icon-screen-capture-square: $icon-screenshot_16 !default;
$icon-screen-capture: $icon-screenshot_16 !default;
//$icon-sd: $icon-sd-card_16 !default;
$icon-search: $icon-search_16 !default;
$icon-self-view-alt: $icon-selfview_16 !default;
$icon-self-view: $icon-selfview_16 !default;
$icon-send-email: $icon-send_16 !default;
$icon-send: $icon-send_16 !default;
//$icon-sent: $icon-email-sent_16 !default;
$icon-settings-active: $icon-settings_32 !default;
$icon-settings: $icon-settings_16 !default;
$icon-setup-assistant: $icon-setup-assistant_16 !default;
$icon-share-content: $icon-document-share_16 !default;
$icon-share: $icon-share_16 !default;
$icon-sign-in: $icon-sign-in_16 !default;
$icon-sign-out: $icon-sign-out_16 !default;
$icon-signal-1: $icon-signal-25_16 !default;
$icon-signal-2: $icon-signal-50_16 !default;
$icon-signal-3: $icon-signal-75_16 !default;
$icon-signal-4: $icon-signal-100_16 !default;
$icon-skip-bw: $icon-skip-bw_16 !default;
$icon-skip-fw: $icon-skip-fw_16 !default;
$icon-sliders: $icon-adjust_16 !default;
$icon-sort: $icon-picker_18 !default;
$icon-sound: $icon-audio-broadcast_16 !default;
$icon-space: $icon-space_16 !default;
//$icon-spam: $icon-spam_16 !default;
$icon-spark: $icon-spark_16 !default;
$icon-speaker-cross: $icon-speaker-muted_16 !default;
$icon-speaker: $icon-speaker-off_16 !default;
//$icon-speed-dial: $icon-speed-dial_16 !default;
$icon-star: $icon-favorite_16 !default;
$icon-stop: $icon-stop_16 !default;
$icon-storage: $icon-server_16 !default;
$icon-subscribe: $icon-subscribe_16 !default;
$icon-support: $icon-diagnostics_32 !default;
//$icon-swap-calls: $icon-call-swap_16 !default;
$icon-swap-camera: $icon-camera-photo-swap_16 !default;
$icon-swap-video-camera: $icon-camera-swap_16 !default;
$icon-tables: $icon-picker_18 !default;
$icon-tablet: $icon-tablet_24 !default;
$icon-team-collapsed-view: $icon-video-layout_16 !default;
$icon-text-format: $icon-text-format_16 !default;
$icon-text: $icon-transcript_16 !default;
$icon-three-dots: $icon-more_16 !default;
$icon-thumbnail-view: $icon-view-thumbnail_16 !default;
$icon-time: $icon-recents_16 !default;
//$icon-timeline: $icon-timeline_16 !default;
//$icon-too-fast: $icon-too-fast_16 !default;
//$icon-too-slow: $icon-too-slow_16 !default;
$icon-tools-active: $icon-tools_32 !default;
$icon-tools: $icon-tools_32 !default;
$icon-touch: $icon-touch_16 !default;
$icon-transcript: $icon-transcript_16 !default;
//$icon-transfer-to-mobile: $icon-transfer-to-mobile_16 !default;
$icon-trash: $icon-delete_16 !default;
//$icon-universal-inbox: $icon-email-inbox-universal_16 !default;
$icon-unlock: $icon-unsecure_16 !default;
$icon-upload-contain: $icon-upload_16 !default;
$icon-upload: $icon-upload_16 !default;
$icon-usb: $icon-usb_16 !default;
$icon-user-chat: $icon-chat_16 !default;
$icon-user: $icon-people_16 !default;
//$icon-vibrate: $icon-vibration_16 !default;
$icon-video-cross: $icon-camera-muted_16 !default;
$icon-video-group: $icon-camera-group_16 !default;
$icon-video-layout: $icon-video-layout_16 !default;
$icon-video-settings: $icon-adjust-video_24 !default;
//$icon-video-tips: $icon-video-tips_16 !default;
$icon-video: $icon-camera_16 !default;
$icon-view-feed-dual: $icon-view-feed-panel_16 !default;
$icon-view-feed-multi: $icon-view-feed-multiple_16 !default;
$icon-view-feed-single: $icon-view-feed-single_16 !default;
$icon-view-side-by-side: $icon-layout-side-by-side-horizonal_16 !default;
$icon-view-stacked: $icon-layout-stacked_16 !default;
$icon-voicemail: $icon-voicemail_16 !default;
$icon-volume-cross: $icon-speaker-muted_16 !default;
$icon-wallpaper: $icon-wallpaper_16 !default;
$icon-warning: $icon-warning_16 !default;
//$icon-watchlist: $icon-watchlist_16 !default;
//$icon-way-nav: $icon-4-way-navigation_16 !default;
$icon-web-sharing: $icon-web-sharing_24 !default;
$icon-webex: $icon-webex_16 !default;
$icon-webhook: $icon-webex_16 !default;
$icon-week: $icon-calendar-week_16 !default;
$icon-whiteboard: $icon-spark-board_16 !default;
$icon-wifi: $icon-wifi_16 !default;
$icon-zip: $icon-file-zip_24 !default;
$icon-zoom-in: $icon-zoom-in_16 !default;
$icon-zoom-out: $icon-zoom-out_16 !default;
