@import '../settings/colors';
@import '../settings/core';

$alert-banner__font-size: rem-calc(14);
$alert-banner__padding: rem-calc(12);
$alert-banner-column__border: 1px solid transparent;

$alert-banner-info__color: $blue-dark;
$alert-banner-info__background: $blue-pastel;

$alert-banner-warning__color: $yellow-dark;
$alert-banner-warning__background: $yellow-pastel;


$alert-banner-error__color: $red-dark;
$alert-banner-error__background: $red-pastel;
