@import '../tools/functions/core';
@import 'colors';
@import 'core';

$avatar__class: '#{$cui}-avatar';

$avatar--inactive__opacity: .55;

$avatar__font-size: rem-calc(14);
$avatar__size: rem-calc(40);

$avatar--xsmall__dimension: rem-calc(18);
$avatar--xsmall__font-size: rem-calc(6);

$avatar--small__dimension: rem-calc(28);
$avatar--small__font-size: rem-calc(10);

$avatar--large__dimension: rem-calc(52);
$avatar--large__font-size: rem-calc(18);

$avatar--xlarge__dimension: rem-calc(84);
$avatar--xlarge__font-size: rem-calc(32);

$avatar--24__dimension: rem-calc(24);
$avatar--24__font-size: rem-calc(8);

$avatar--36__dimension: rem-calc(36);
$avatar--36__font-size: rem-calc(12);

$avatar--44__dimension: rem-calc(44);
$avatar--44__font-size: rem-calc(16);

$avatar--72__dimension: rem-calc(72);
$avatar--72__font-size: rem-calc(24);

$avatar--80__dimension: rem-calc(80);
$avatar--80__font-size: rem-calc(28);

$avatar--active__shadow: 0 0 0 .1em $green-base;
$avatar--active__border: .05em solid $white;

$avatar--group__shadow: 0 0 0 .1em $gray-5;
$avatar--group__border: .1em solid $white;

$avatar-letter__color: $black-80;
$avatar-letter__background: $gray-5-88;

$avatar-icon__color: $black-80;
$avatar-icon__background: $gray-5-88;

$avatar-failure-badge__size: 1.25em;
$avatar-failure-badge__font-size: .571em;
$avatar-failure-badge__color: $red-base;
$avatar-failure-badge__background: $red-pastel;
$avatar-failure-badge__border: .125em solid $red-base;

$avatar-bot__border-radius: .571em;
$avatar-bot__font-size: .571em;
$avatar-bot__line-height: 1.25em;
$avatar-bot__padding: .25em .75em;
$avatar-bot__background: $gray-2;
$avatar-bot__color: $white;