/*
* @category controls
* @component button
* @design collaboration-design
*/

@import 'core';
@import 'colors';
@import '../tools/functions/core';

$button__class: '#{$cui}-button';

// Set font size
$button__font-size: 1rem;

// Set the border radius for buttons.
$button__radius: rem-calc(100) !default;
$button__radius--large: rem-calc(26) !default;
$button__radius--round: $global-rounded !default;

// Set text alignment
$button__font-align: center !default;

// Set paddings
$button__padding--vertical: rem-calc(6) !default;
$button__padding--horizontal: rem-calc(18) !default;
$button__padding--vertical--large: rem-calc(14) !default;
$button__padding--horizontal--large: rem-calc(26) !default;

$button__transition-speed: 150ms;

// Set button font colors
$button__font-color: $black !default;
$button__font-color--alt: $white !default;

// Set color, background and cursor for disabled buttons.
$button__color--disabled: $black-04 !default;
$button__color--disabled--dark: $white-08 !default;
$button__font-color--disabled: $black-20 !default;
$button__font-color--disabled--dark: $white-20 !default;
$button__cursor--disabled: default !default;
$button__link-color--disabled: $button__font-color--disabled;

// Default button color settings.
$button__background-color: $black-12 !default;
$button__background-color--dark: $white-24 !default;
$button__background-color--hover: $black-16 !default;
$button__background-color--hover--dark: $white-32 !default;
$button__background-color--active: $black-20 !default;
$button__background-color--active--dark: $white-40 !default;
$button__border-color--focus: $black !default;

// Blue button colors
$button--blue__background-color: $blue-base !default;
$button--blue__background-color--hover: $blue-hover !default;
$button--blue__background-color--active: $blue-press !default;

// Red button colors
$button--red__background-color: $red-base !default;
$button--red__background-color--hover: $red-hover !default;
$button--red__background-color--active: $red-press !default;

// Green button colors
$button--green__background-color: $green-base !default;
$button--green__background-color--hover: $green-hover !default;
$button--green__background-color--active: $green-press !default;

// Orange button colors
$button--orange__background-color: $orange-base !default;
$button--orange__background-color--hover: $orange-hover !default;
$button--orange__background-color--active: $orange-press !default;

// Yellow button colors
$button--yellow__background-color: $yellow-base !default;
$button--yellow__background-color--hover: $yellow-hover !default;
$button--yellow__background-color--active: $yellow-press !default;

// Mint button colors
$button--mint__background-color: $mint-base !default;
$button--mint__background-color--hover: $mint-hover !default;
$button--mint__background-color--active: $mint-press !default;

// Purple button colors
$button--purple__background-color: $purple-base !default;
$button--purple__background-color--hover: $purple-hover !default;
$button--purple__background-color--active: $purple-press !default;

// Pink button colors
$button--pink__background-color: $pink-base !default;
$button--pink__background-color--hover: $pink-hover !default;
$button--pink__background-color--active: $pink-press !default;

// Cyan button colors
$button--cyan__background-color: $cyan-base !default;
$button--cyan__background-color--hover: $cyan-hover !default;
$button--cyan__background-color--active: $cyan-press !default;

// Button Container Settings
$button-container__width: rem-calc(116);
$button-container--small__width: rem-calc(104);