@import 'rem';
@import 'colors';

//------------------------------------
// Cards
//------------------------------------
$card-background: $gray-7;
$card-color: $brand-white;
$card-padding-top: $rem-base;
$card-padding-horizontal: 0.5;
$card-divider-color: $gray-6;
$card-border-radius: 2px;
