/*
* @component close
* @category styles
*/

@import '../settings/colors';

$close__class: '#{$cui}-close';

$close__font-color: $black-60 !default;
$close__font-color--hover: $blue-dark-hover !default;
$close__font-color--focus: $blue-dark-press !default;