$green-base: #30d557;
$green-hover: #2ac450;
$green-press: #26b249;
$green-dark: $green-press;
$green-dark-hover: #22a342;
$green-dark-press: #1f953d;
$green-light: #91e9a7;
$green-light-hover: #85d699;
$green-light-press: #79c38c;
$green-pastel: #ddf8e3;

$green-base--contrast: #1D8837;
$green-hover--contrast: #1A7C32;
$green-press--contrast: #18722E;
$green-dark--contrast: #2ED557;
$green-dark-hover--contrast: #2AC450;
$green-dark-press--contrast: #26B249;
$green-light--contrast: #91e9a7;
$green-light-hover--contrast: #85d699;
$green-light-press--contrast: #79c38c;
$green-pastel--contrast: #1D8837;

$red-base: #ff503c;
$red-hover: #eb4937;
$red-press: #d64332;
$red-dark: $red-press;
$red-dark-hover: #c43d2d;
$red-dark-press: #b33829;
$red-light: #ffa399;
$red-light-hover: #eb968d;
$red-light-press: #d78981;
$red-pastel: #ffe2df;

$red-base--contrast: #A33326;
$red-hover--contrast: #962F23;
$red-press--contrast: #882A1F;
$red-dark--contrast: #FF503C;
$red-dark-hover--contrast: #EB4937;
$red-dark-press--contrast: #D64332;
$red-light--contrast: #ffa399;
$red-light-hover--contrast: #eb968d;
$red-light-press--contrast: #d78981;
$red-pastel--contrast: #A33326;

$blue-base: #07c1e4;
$blue-hover: #06b1d2;
$blue-press: #05a1bf;
$blue-dark: $blue-press;
$blue-dark-hover: #0493af;
$blue-dark-press: #0487a0;
$blue-light: #7ddef0;
$blue-light-hover: #72cbdc;
$blue-light-press: #68bac9;
$blue-pastel: #d7f5fa;


$blue-base--contrast: #047B91;
$blue-hover--contrast: #037185;
$blue-press--contrast: #036779;
$blue-dark--contrast: #07C1E4;
$blue-dark-hover--contrast: #06B1D2;
$blue-dark-press--contrast: #05A1BF;
$blue-light--contrast: #7ddef0;
$blue-light-hover--contrast: #72cbdc;
$blue-light-press--contrast: #68bac9;
$blue-pastel--contrast: #047B91;

$yellow-base: #ffb400;
$yellow-hover: #eba500;
$yellow-press: #d69700;
$yellow-dark: $yellow-press;
$yellow-dark-hover: #c58b00;
$yellow-dark-press: #b37e00;
$yellow-light: #ffd87b;
$yellow-light-hover: #ebc771;
$yellow-light-press: #d7b667;
$yellow-pastel: #fff2d6;

$yellow-base--contrast: #996C00;
$yellow-hover--contrast: #946800;
$yellow-press--contrast: #8C6300;
$yellow-dark--contrast: #FFB400;
$yellow-dark-hover--contrast: #EBA500;
$yellow-dark-press--contrast: #D69700;
$yellow-light--contrast: #ffd87b;
$yellow-light-hover--contrast: #ebc771;
$yellow-light-press--contrast: #d7b667;
$yellow-pastel--contrast: #996C00;

$purple-base: #d540d8;
$purple-hover: #c43ac7;
$purple-press: #b235b5;
$purple-dark: $purple-press;
$purple-dark-hover: #a430a6;
$purple-dark-press: #952c97;
$purple-light: #e99bea;
$purple-pastel: #f8e1f8;

$purple-base--contrast: #88298A;
$purple-hover--contrast: #7D257F;
$purple-press--contrast: #722273;
$purple-dark--contrast: #D540D8;
$purple-dark-hover--contrast: #C33AC6;
$purple-dark-press--contrast: #B235B5;
$purple-light--contrast: #e99bea;
$purple-pastel--contrast: #88298A;

$mint-base: #00d6a2;
$mint-hover: #00c595;
$mint-press: #00b387;
$mint-dark: $mint-press;
$mint-dark-hover: #00a47c;
$mint-dark-press: #009671;
$mint-light: #7ae9ce;
$mint-pastel: #d7f8f0;

$mint-base--contrast: #008061;
$mint-hover--contrast: #007C5E;
$mint-press--contrast: #006E53;
$mint-dark--contrast: #00D6A2;
$mint-dark-hover--contrast: #00C494;
$mint-dark-press--contrast: #00B387;
$mint-light--contrast: #7ae9ce;
$mint-pastel--contrast: #008061;

$cyan-base: #02bbcc;
$cyan-hover: #01acbc;
$cyan-press: #019cab;
$cyan-dark: $cyan-press;
$cyan-dark-hover: #008f9d;
$cyan-dark-press: #00828f;
$cyan-light: #7bdbe4;
$cyan-pastel: #d6f4f6;

$cyan-base--contrast: #017782;
$cyan-hover--contrast: #006D77;
$cyan-press--contrast: #00636D;
$cyan-dark--contrast: #02BBCC;
$cyan-dark-hover--contrast: #01ACBC;
$cyan-dark-press--contrast: #019CAB;
$cyan-light--contrast: #7bdbe4;
$cyan-pastel--contrast: #017782;

$violet-base: #a866ff;
$violet-hover: #9a5eeb;
$violet-press: #8c55d6;
$violet-dark: $violet-press;
$violet-dark-hover: #814ec5;
$violet-dark-press: #7547b3;
$violet-light: #d1afff;
$violet-pastel: #f1e6ff;

$violet-base--contrast: #6B41A3;
$violet-hover--contrast: #623B95;
$violet-press--contrast: #593688;
$violet-dark--contrast: #A866FF;
$violet-dark-hover--contrast: #9A5EEB;
$violet-dark-press--contrast: #8C55D6;
$violet-light--contrast: #d1afff;
$violet-pastel--contrast: #6B41A3;

$pink-base: #ff3d67;
$pink-hover: #eb385e;
$pink-press: #d63356;
$pink-dark: $pink-press;
$pink-dark-hover: #c52f4f;
$pink-dark-press: #b32a48;
$pink-light: #ff99af;
$pink-pastel: #ffdfe6;

$pink-base--contrast: #A32641;
$pink-hover--contrast: #96233B;
$pink-press--contrast: #881F36;
$pink-dark--contrast: #FF3D67;
$pink-dark-hover--contrast: #EB385E;
$pink-dark-press--contrast: #D63356;
$pink-light--contrast: #ff99af;
$pink-pastel--contrast: #A32641;

$orange-base: #ff7033;
$orange-hover: #eb672f;
$orange-press: #d65d2a;
$orange-dark: $orange-press;
$orange-dark-hover: #c45526;
$orange-dark-press: #b34e23;
$orange-light: #ffb494;
$orange-light-hover: #eba588;
$orange-light-press: #d6977c;
$orange-pastel: #ffe8df;

$orange-base--contrast: #A44820;
$orange-hover--contrast: #96411D;
$orange-press--contrast: #883B1A;
$orange-dark--contrast: #FF7033;
$orange-dark-hover--contrast: #EB672F;
$orange-dark-press--contrast: #D65D2A;
$orange-light--contrast: #ffb494;
$orange-light-hover--contrast: #eba588;
$orange-light-press--contrast: #d6977c;
$orange-pastel--contrast: #A44820;

$gray-1: #333333;
$gray-2: #666666;
$gray-3: #999999;
$gray-4: #c2c2c2;
$gray-5: #e0e0e0;
$gray-6: #ebebeb;
$gray-7: #f5f5f5;

$black: #000000;

$white: #ffffff;

// We have to make sure to append to this list as and when we add a new color.
$colorList: (
  ('green-base', '$green-base'),
  ('green-hover', '#2AC450'),
  ('green-press', '#26B249'),
  ('green-dark', '#26B249'),
  ('green-press', '#26B249'),
  ('green-dark-hover', '#22A342'),
  ('green-dark-press', '#1F953D'),
  ('green-light', '#91E9A7'),
  ('green-pastel', '#DDF8E3'),
  ('red-base', '#FF503C'),
  ('red-hover', '#EB4937'),
  ('red-press', '#D64332'),
  ('red-dark', '#D64332'),
  ('red-dark-hover', '#C43D2D'),
  ('red-dark-press', '#B33829'),
  ('red-light', '#FFA399'),
  ('red-pastel', '#FFE2DF'),
  ('blue-base', '#07C1E4'),
  ('blue-hover', '#06B1D2'),
  ('blue-press', '#05A1BF'),
  ('blue-dark', '#05A1BF'),
  ('blue-dark-hover', '#0493AF'),
  ('blue-dark-press', '#0487A0'),
  ('blue-light', '#7DDEF0'),
  ('blue-pastel', '#D7F5FA'),
  ('yellow-base', '#FFB400'),
  ('yellow-hover', '#EBA500'),
  ('yellow-press', '#D69700'),
  ('yellow-dark', '#D69700'),
  ('yellow-dark-hover', '#C58B00'),
  ('yellow-dark-press', '#B37E00'),
  ('yellow-light', '#FFD87B'),
  ('yellow-pastel', '#FFF2D6'),
  ('purple-base', '#D540D8'),
  ('purple-hover', '#C43AC7'),
  ('purple-press', '#B235B5'),
  ('purple-dark', '#B235B5'),
  ('purple-dark-hover', '#A430A6'),
  ('purple-dark-press', '#952C97'),
  ('purple-light', '#E99BEA'),
  ('purple-pastel', '#F8E1F8'),
  ('mint-base', '#00D6A2'),
  ('mint-hover', '#00C595'),
  ('mint-press', '#00B387'),
  ('mint-dark', '#00B387'),
  ('mint-dark-hover', '#00A47C'),
  ('mint-dark-press', '#009671'),
  ('mint-light', '#7AE9CE'),
  ('mint-pastel', '#D7F8F0'),
  ('cyan-base', '#02BBCC'),
  ('cyan-hover', '#01ACBC'),
  ('cyan-press', '#019CAB'),
  ('cyan-dark', '#019CAB'),
  ('cyan-dark-hover', '#008F9D'),
  ('cyan-dark-press', '#00828F'),
  ('cyan-light', '#7BDBE4'),
  ('cyan-pastel', '#D6F4F6'),
  ('violet-base', '#A866FF'),
  ('violet-hover', '#9A5EEB'),
  ('violet-press', '#8C55D6'),
  ('violet-dark', '#8C55D6'),
  ('violet-dark-hover', '#814EC5'),
  ('violet-dark-press', '#7547B3'),
  ('violet-light', '#D1AFFF'),
  ('violet-pastel', '#F1E6FF'),
  ('pink-base', '#FF3D67'),
  ('pink-hover', '#EB385E'),
  ('pink-press', '#D63356'),
  ('pink-dark', '#D63356'),
  ('pink-dark-hover', '#C52F4F'),
  ('pink-dark-press', '#B32A48'),
  ('pink-light', '#FF99AF'),
  ('pink-pastel', '#FFDFE6'),
  ('orange-base', '#FF7033'),
  ('orange-hover', '#EB672F'),
  ('orange-press', '#D65D2A'),
  ('orange-dark', '#D65D2A'),
  ('orange-dark-hover', '#C45526'),
  ('orange-dark-press', '#B34E23'),
  ('orange-light', '#FFB494'),
  ('orange-pastel', '#FFE8DF'),
  ('gray-1', '#333333'),
  ('gray-2', '#666666'),
  ('gray-3', '#999999'),
  ('gray-4', '#C2C2C2'),
  ('gray-5', '#E0E0E0'),
  ('gray-6', '#EBEBEB'),
  ('gray-7', '#F5F5F5'),
  ('black', '#000000'),
  ('white', '#FFFFFF'),
  ('green-base--contrast', '#1D8837'),
  ('green-hover--contrast', '#1A7C32'),
  ('green-press--contrast', '#18722E'),
  ('green-dark--contrast', '#2ED557'),
  ('green-dark-hover--contrast', '#2AC450'),
  ('green-dark-press--contrast', '#26B249'),
  ('green-pastel--contrast', '#1D8837'),
  ('red-base--contrast', '#A33326'),
  ('red-hover--contrast', '#962F23'),
  ('red-press--contrast', '#882A1F'),
  ('red-dark--contrast', '#FF503C'),
  ('red-dark-hover--contrast', '#EB4937'),
  ('red-dark-press--contrast', '#D64332'),
  ('red-pastel--contrast', '#A33326'),
  ('blue-base--contrast', '#047B91'),
  ('blue-hover--contrast', '#037185'),
  ('blue-press--contrast', '#036779'),
  ('blue-dark--contrast', '#07C1E4'),
  ('blue-dark-hover--contrast', '#06B1D2'),
  ('blue-dark-press--contrast', '#05A1BF'),
  ('blue-pastel--contrast', '#047B91'),
  ('yellow-base--contrast', '#996C00'),
  ('yellow-hover--contrast', '#946800'),
  ('yellow-press--contrast', '#8C6300'),
  ('yellow-dark--contrast', '#FFB400'),
  ('yellow-dark-hover--contrast', '#EBA500'),
  ('yellow-dark-press--contrast', '#D69700'),
  ('yellow-pastel--contrast', '#996C00'),
  ('purple-base--contrast', '#88298A'),
  ('purple-hover--contrast', '#7D257F'),
  ('purple-press--contrast', '#722273'),
  ('purple-dark--contrast', '#D540D8'),
  ('purple-dark-hover--contrast', '#C33AC6'),
  ('purple-dark-press--contrast', '#B235B5'),
  ('purple-pastel--contrast', '#88298A'),
  ('mint-base--contrast', '#008061'),
  ('mint-hover--contrast', '#007C5E'),
  ('mint-press--contrast', '#006E53'),
  ('mint-dark--contrast', '#00D6A2'),
  ('mint-dark-hover--contrast', '#00C494'),
  ('mint-dark-press--contrast', '#00B387'),
  ('mint-pastel--contrast', '#008061'),
  ('cyan-base--contrast', '#017782'),
  ('cyan-hover--contrast', '#006D77'),
  ('cyan-press--contrast', '#00636D'),
  ('cyan-dark--contrast', '#02BBCC'),
  ('cyan-dark-hover--contrast', '#01ACBC'),
  ('cyan-dark-press--contrast', '#019CAB'),
  ('cyan-pastel--contrast', '#017782'),
  ('violet-base--contrast', '#6B41A3'),
  ('violet-hover--contrast', '#623B95'),
  ('violet-press--contrast', '#593688'),
  ('violet-dark--contrast', '#A866FF'),
  ('violet-dark-hover--contrast', '#9A5EEB'),
  ('violet-dark-press--contrast', '#8C55D6'),
  ('violet-pastel--contrast', '#6B41A3'),
  ('pink-base--contrast', '#A32641'),
  ('pink-hover--contrast', '#96233B'),
  ('pink-press--contrast', '#881F36'),
  ('pink-dark--contrast', '#FF3D67'),
  ('pink-dark-hover--contrast', '#EB385E'),
  ('pink-dark-press--contrast', '#D63356'),
  ('pink-pastel--contrast', '#A32641'),
  ('orange-base--contrast', '#A44820'),
  ('orange-hover--contrast', '#96411D'),
  ('orange-press--contrast', '#883B1A'),
  ('orange-dark--contrast', '#FF7033'),
  ('orange-dark-hover--contrast', '#EB672F'),
  ('orange-dark-press--contrast', '#D65D2A'),
  ('orange-pastel--contrast', '#A44820')
);

// Base color aliases
$blue: $blue-base;
$mint: $mint-base;
$orange: $orange-base;
$green: $green-base;
$red: $red-base;
$yellow: $yellow-base;
$pink: $pink-base;
$purple: $purple-base;
$violet: $violet-base;

// focus color
$focus-color: $blue-press;

// We use these to control various global styles
$body-bg: $gray-7;
$body-font-color: $gray-1;

// Legacy Symphony 2.0 aliases
$color-blue-base: $blue-base;
$color-blue: $blue-base;
$color-blue-dark: $blue-hover;
$color-blue-darker: $blue-press;
$color-blue-light: $blue-light;

$color-mint-base: $mint-base;
$color-mint: $mint-base;
$color-mint-dark: $mint-hover;
$color-mint-darker: $mint-press;
$color-mint-light: $mint-light;

$color-orange-base: $orange-base;
$color-orange: $orange-base;
$color-orange-dark: $orange-hover;
$color-orange-darker: $orange-press;
$color-orange-light: $orange-light;

$color-green-base: $green-base;
$color-green: $green-base;
$color-green-dark: $green-hover;
$color-green-darker: $green-press;
$color-green-light: $green-light;

$color-red-base: $red-base;
$color-red: $red-base;
$color-red-dark: $red-hover;
$color-red-darker: $red-press;
$color-red-light: $red-light;

$color-yellow-base: $yellow-base;
$color-yellow: $yellow-base;
$color-yellow-dark: $yellow-hover;
$color-yellow-darker: $yellow-press;
$color-yellow-light: $yellow-light;

$color-pink-base: $pink-base;
$color-pink: $pink-base;
$color-pink-dark: $pink-hover;
$color-pink-darker: $pink-press;
$color-pink-light: $pink-light;

$color-purple-base: $purple-base;
$color-purple: $purple-base;
$color-purple-dark: $purple-hover;
$color-purple-darker: $purple-press;
$color-purple-light: $purple-light;

$color-violet-base: $violet-base;
$color-violet: $violet-base;
$color-violet-dark: $violet-hover;
$color-violet-darker: $violet-press;
$color-violet-light: $violet-light;

$color-cyan-base: $cyan-base;
$color-cyan: $cyan-base;
$color-cyan: $color-cyan-base;
$color-cyan-dark: $cyan-hover;
$color-cyan-darker: $cyan-press;
$color-cyan-light: $cyan-light;

$color-black: $black;
$gray-dark-4: $gray-1; // $gray-darkest
$gray-dark-3: $gray-1;
$gray-dark-2: $gray-2;
$gray-dark-1: $gray-2; // $gray-darker
$gray-base: $gray-3; // $gray-dark
$gray-light-1: $gray-4; // $gray
$gray-light-2: $gray-5; // $gray-lighter & $gray-light
$gray-light-3: $gray-6;
$gray-light-4: $gray-7; // $gray-lightest
$color-white: $white;

// Legacy Symphony color variables
$color-primary-darker: $blue-press;
$color-primary-dark: $blue-hover;
$color-primary-base: $blue-base;
$color-primary: $blue-base;
$color-primary-light: $blue-light;
$color-primary-lighter: $blue-light;

$color-people-darker: $mint-press;
$color-people-dark: $mint-hover;
$color-people-base: $mint-base;
$color-people: $mint-base;
$color-people-light: $mint-light;
$color-people-lighter: $mint-light;

$color-meetings-darker: $orange-press;
$color-meetings-dark: $orange-hover;
$color-meetings-base: $orange-base;
$color-meetings: $orange-base;
$color-meetings-light: $orange-light;
$color-meetings-lighter: $orange-light;

$color-negative-darker: $red-press;
$color-negative-dark: $red-hover;
$color-negative-base: $red-base;
$color-negative: $red-base;
$color-negative-light: $red-light;
$color-negative-lighter: $red-light;

$color-cta-darker: $green-press;
$color-cta-dark: $green-hover;
$color-cta-base: $green-base;
$color-cta: $green-base;
$color-cta-light: $green-light;
$color-cta-lighter: $green-light;

$color-attention-darker: $yellow-press;
$color-attention-dark: $yellow-hover;
$color-attention-base: $yellow-base;
$color-attention: $yellow-base;
$color-attention-light: $yellow-light;
$color-attention-lighter: $yellow-light;

$color-alerts-darker: $red-press;
$color-alerts-dark: $red-hover;
$color-alerts-base: $red-base;
$color-alerts: $red-base;
$color-alerts-light: $red-light;
$color-alerts-lighter: $red-light;

$color-eggplant-base: $purple-base;
$color-eggplant: $purple-base;

// Foundation uses these as default colors throughout
$primary-color: $blue-base;
$secondary-color: $gray-2;
$alerts-color: $red-base;
$alert-color: $red-base;
$cta-color: $green-base;
$success-color: $green-base;
$attention-color: $yellow-base;
$warning-color: $yellow-base;
$people-color: $mint-base;
$info-color: $mint-base;
$meetings-color: $orange-base;
$negative-color: $red-base;

// Toolkit 1.0 Color Aliases

$gray-darkest: $black;
$gray-darker: $gray-1;
$gray-dark: $gray-2;
$gray: $gray-3;
$gray-light: $gray-4;
$gray-lighter: $gray-4;
$gray-lightest: $gray-6;
$brand-white: $white;

$brand-primary: $blue-base;
$brand-primary-light: $blue-light;
$brand-primary-dark: $blue-hover;
$brand-primary-darker: $blue-press;
$brand-success: $green-base;
$brand-success-light: $green-light;
$brand-success-dark: $green-hover;
$brand-success-darker: $green-press;
$brand-info: $mint-base;
$brand-info-light: $mint-light;
$brand-info-dark: $mint-hover;
$brand-info-darker: $mint-press;
$brand-warning: $yellow-base;
$brand-warning-light: $yellow-light;
$brand-warning-dark: $yellow-hover;
$brand-warning-darker: $yellow-press;
$brand-danger: $red-base;
$brand-danger-light: $red-light;
$brand-danger-dark: $red-hover;
$brand-danger-darker: $red-press;

// Legacy Foundation Colors:
$ghost: $white;
$snow: $white;
$vapor: $white;
$white-smoke: $gray-6;
$silver: $gray-6;
$smoke: $gray-5;
$gainsboro: $gray-4;
$iron: $gray-4;
$base: $gray-3;
$aluminum: $gray-3;
$jumbo: $gray-2;
$monsoon: $gray-2;
$steel: $gray-1;
$charcoal: $gray-1;
$tuatara: $gray-1;
$oil: $gray-1;
$jet: $black;

// TODO(pajeter): custom colors need to be revisited
$black-80: rgba($black, 0.8);
$black-76: rgba($black, 0.76);
$black-68: rgba($black, 0.68);
$black-60: rgba($black, 0.6);
$black-48: rgba($black, 0.48);
$black-40: rgba($black, 0.4);
$black-24: rgba($black, 0.24);
$black-20: rgba($black, 0.2);
$black-16: rgba($black, 0.16);
$black-12: rgba($black, 0.12);
$black-08: rgba($black, 0.08);
$black-06: rgba($black, 0.06);
$black-04: rgba($black, 0.04);
$black-8: $black-08;
$black-6: $black-06;
$black-4: $black-04;

$white-92: rgba($white, 0.92);
$white-84: rgba($white, 0.84);
$white-80: rgba($white, 0.8);
$white-60: rgba($white, 0.6);
$white-32: rgba($white, 0.32);
$white-40: rgba($white, 0.4);
$white-24: rgba($white, 0.24);
$white-20: rgba($white, 0.2);
$white-16: rgba($white, 0.16);
$white-12: rgba($white, 0.12);
$white-08: rgba($white, 0.08);
$white-8: $white-08;

$gray-1-40: rgba($gray-3, 0.4);
$gray-5-88: rgba($gray-5, 0.88);
$gray-space: #4d4d4d;
$gray-55: #e5e5e5;

$green-progress: #2ed557;

$list-blue: $blue-base;
$list-blue-08: rgba($list-blue, 0.08);
$list-blue-16: rgba($list-blue, 0.16);
$list-blue-hover--contrast: #D7F5FA;

$focus-color: rgb(0, 123, 255);
