@import 'core';

$composite-avatar__class: '#{$cui}-composite-avatar';

$composite-avatar--medium__size: rem-calc(40);
$composite-avatar--small__size: rem-calc(28);
$composite-avatar--large__size: rem-calc(135);


$composite-avatar-medium__avatar-size: rem-calc(26);
$composite-avatar-small__avatar-size: rem-calc(18);
$composite-avatar-large__avatar-size: rem-calc(90);

$composite-avatar-medium__avatar-font-size:  rem-calc(12);
$composite-avatar-small__avatar-font-size: rem-calc(6);
$composite-avatar-large__avatar-font-size: rem-calc(40);
