$dropdown-divider-bg: $gray-5;
$dropdown-link-color: $black;
$dropdown-link-hover-color: $black;
$dropdown-link-hover-bg: $gray-7;
$dropdown-link-active-color: $component-active-color;
$dropdown-link-active-bg: $blue-base;
$dropdown-link-disabled-color: $gray-3;
$dropdown-header-color: $gray-5;
$dropdown-caret-color: $gray-1;
$caret-width-base: 4px;

$f-dropdown-max-width: 200px !default;
$f-dropdown-height: auto !default;
$f-dropdown-max-height: none !default;
$f-dropdown-margin-top: 2px !default;
$f-dropdown-margin-left: $f-dropdown-margin-top !default;
$f-dropdown-margin-right: $f-dropdown-margin-top !default;
$f-dropdown-margin-bottom: $f-dropdown-margin-top !default;
$f-dropdown-bg: $white !default;
$f-dropdown-border-style: solid !default;
$f-dropdown-border-width: 1px !default;
$f-dropdown-border-color: scale-color($white, $lightness: -20%) !default;
$f-dropdown-triangle-size: 6px !default;
$f-dropdown-triangle-color: $white !default;
$f-dropdown-triangle-side-offset: 10px !default;
$f-dropdown-list-style: none !default;
$f-dropdown-font-color: $charcoal !default;
$f-dropdown-font-size: rem-calc(14) !default;
$f-dropdown-list-padding: rem-calc(5, 10) !default;
$f-dropdown-line-height: rem-calc(18) !default;
$f-dropdown-list-hover-bg: $smoke !default;
$dropdown-mobile-default-float: 0 !default;
$f-dropdown-content-padding: rem-calc(20) !default;
$f-dropdown-radius: $global-radius !default;
$f-dropdown-z-index: 501 !default;
