$dropdown-divider-bg: $md-gray-30;
$dropdown-link-color: $md-black-100;
$dropdown-link-hover-color: $md-black-100;
$dropdown-link-hover-bg: $md-gray-10;
$dropdown-link-active-color: $component-active-color;
$dropdown-link-active-bg: $md-theme-50;
$dropdown-link-disabled-color: $md-gray-50;
$dropdown-header-color: $md-gray-30;
$dropdown-caret-color: $md-gray-90;
$caret-width-base: 4px;

$f-dropdown-max-width: 200px !default;
$f-dropdown-height: auto !default;
$f-dropdown-max-height: none !default;
$f-dropdown-margin-top: 2px !default;
$f-dropdown-margin-left: $f-dropdown-margin-top !default;
$f-dropdown-margin-right: $f-dropdown-margin-top !default;
$f-dropdown-margin-bottom: $f-dropdown-margin-top !default;
$f-dropdown-bg: $md-white-100 !default;
$f-dropdown-border-style: solid !default;
$f-dropdown-border-width: 1px !default;
$f-dropdown-border-color: scale-color($md-white-100, $lightness: -20%) !default;
$f-dropdown-triangle-size: 6px !default;
$f-dropdown-triangle-color: $md-white-100 !default;
$f-dropdown-triangle-side-offset: 10px !default;
$f-dropdown-list-style: none !default;
$f-dropdown-font-color: $md-gray-90 !default;
$f-dropdown-font-size: rem-calc(14) !default;
$f-dropdown-list-padding: rem-calc(5, 10) !default;
$f-dropdown-line-height: rem-calc(18) !default;
$f-dropdown-list-hover-bg: $md-gray-30 !default;
$dropdown-mobile-default-float: 0 !default;
$f-dropdown-content-padding: rem-calc(20) !default;
$f-dropdown-radius: $global-radius !default;
$f-dropdown-z-index: 501 !default;
