@import 'colors';

$event-overlay__shadow: 0 4px 12px 0 $black-16;
$event-overlay__border: 1px solid $black-12;
$event-overlay-arrow__width: 20px;
$event-overlay-arrow__height: 14px;
$event-overlay__border-radius: 5px;
