/**
* @name Label
* @description We set out to create an easy, powerful and versatile form layout system. A combination of form styles and the layout-grid means you can do almost anything.
* @category controls
* @component label
* @design collaboration-design
*/

@import '../tools/functions/core';

@import 'colors';
@import 'core';
@import 'fonts';

$label__class: '#{$cui}-label';

$label__font-family: $brand-font-regular !default;
$label__font-size: rem-calc(16) !default;
$label__font-size--secondary: rem-calc(14) !default;
$label__font-color: inherit !default;
$label__font-color--secondary: $black-60 !default;
$label__font-color--dark: $white !default;
$label__font-color--secondary--dark: $white-60 !default;

$label__line-height: rem-calc(24) !default;
$label__line-height--secondary: rem-calc(20) !default;
