/**
* @category containers
* @component menu
*/

@import '../settings/core';

$menu__class: '#{$cui}-menu';
$menu-item__class: '#{$menu__class}-item';
$menu-item__width: rem-calc(260);
$menu-item__height: rem-calc(44);
$menu-item__padding: rem-calc(16);
$menu-item-header__height: rem-calc(32);
$menu-item-header__opacity: .6;
$menu-item-header__font-size: .75rem;
$menu-item-selected-value__font-size: rem-calc(12);
$menu-item-selected-value__line-height: rem-calc(18);
$menu-item-selected-value__max-width: 50%;
$menu-item-selected-value__padding: rem-calc(4) 0 rem-calc(4) rem-calc(4);
$menu-item-selected-value__opacity: .6;
$menu-item-arrow__padding-left: rem-calc(6);
