/**
* @category controls
* @component phonenumber
* @design collaboration-design
*/
@import 'core';

$phonenumber-input__class: '#{$prefix}-input-phonenumber';

//== Flag Variables
//
// ## Settings for Flags in Region Code List Dropdown for Phone Number

$flags-image-path: $images-path !default;
$flags-image-name: "flags" !default;
$flags-image-extension: "png" !default;
$flag-height: 20px !default;
$flag-width: 28px !default;
$flag-padding: 8px !default;
