/**
* @category controls
* @component search-input
* @design collaboration-design
*/
@import 'core';

$search-input__class: '#{$cui}-search-input';

$search-input__opacity--disabled: 0.2;

$search-input__height--pill: rem-calc(32) !default;
$search-input__font-size--pill: rem-calc(14) !default;
$search-input__line-height--pill: rem-calc(22) !default;
