$zindex-sidebar:              1000;
$zindex-drawer:               1000;
$zindex-top-bar:              1005;
$zindex-close:                1015;
$zindex-popover:              1020;
$zindex-tooltip:              1030;
$zindex-top-bar-fixed:        1030;
$zindex-modal-background:     1040;
$zindex-modal:                1050;
