:focus {
  outline: none;
}

.md-chip {
  @include chip-base();
  @include badge-size;

  &--small {
    @include badge-size($padding: rem-calc(3 12));
    height: rem-calc(24);
    min-width: auto;
  }

  &:focus {
    @include focus-boxshadow(rem-calc(1), var(--md-default-focus-outline-color, $md-blue-70));
  }

  &:hover {
    background-color: var(--md-tertiary-bg-color, $md-gray-10);
  }

  &:active,
  &[aria-selected="true"] {
    background-color: var(--md-quaternary-bg-color, $md-gray-20);
  }

  &--blue,
  &--cobalt {
    @include color-chip(
      var(--badge-blue-bg-color, $lm-badge-blue-bg-color-light),
      false,
      var(--badge-blue-text-color, $lm-badge-blue-text-color-light),
      var(--badge-blue-bg-color, $lm-badge-blue-bg-color-light),
      var(--badge-blue-text-color, $lm-badge-blue-text-color-light)
    );

    &:hover {
      @include color-chip(
        var(--badge-blue-hover-bg-color, $lm-badge-blue-hover-bg-color-light),
        false,
        var(--badge-blue-text-color, $lm-badge-blue-text-color-light),
        var(--badge-blue-hover-bg-color, $lm-badge-blue-hover-bg-color-light),
        var(--badge-blue-text-color, $lm-badge-blue-text-color-light)
      );
    }

    &:active {
      @include color-chip(
        var(--badge-blue-active-bg-color, $lm-badge-blue-active-bg-color-light),
        false,
        var(--badge-blue-text-color, $lm-badge-blue-text-color-light),
        var(--badge-blue-active-bg-color, $lm-badge-blue-active-bg-color-light),
        var(--badge-blue-text-color, $lm-badge-blue-text-color-light)
      );
    }
  }

  &--gray {
    @include color-chip(
      var(--badge-gray-bg-color, $lm-badge-gray-bg-color-light),
      false,
      var(--badge-gray-text-color, $lm-badge-gray-text-color-light),
      var(--badge-gray-bg-color, $lm-badge-gray-bg-color-light),
      var(--badge-gray-text-color, $lm-badge-gray-text-color-light)
    );

    &:hover {
      @include color-chip(
        var(--badge-gray-hover-bg-color, $lm-badge-gray-hover-bg-color-light),
        false,
        var(--badge-gray-text-color, $lm-badge-gray-text-color-light),
        var(--badge-gray-hover-bg-color, $lm-badge-gray-hover-bg-color-light),
        var(--badge-gray-text-color, $lm-badge-gray-text-color-light)
      );
    }

    &:active {
      @include color-chip(
        var(--badge-gray-active-bg-color, $lm-badge-gray-active-bg-color-light),
        false,
        var(--badge-gray-text-color, $lm-badge-gray-text-color-light),
        var(--badge-gray-active-bg-color, $lm-badge-gray-active-bg-color-light),
        var(--badge-gray-text-color, $lm-badge-gray-text-color-light)
      );
    }
  }

  &--mint {
    @include color-chip(
      var(--badge-mint-bg-color, $lm-badge-mint-bg-color-light),
      false,
      var(--badge-mint-text-color, $lm-badge-mint-text-color-light),
      var(--badge-mint-bg-color, $lm-badge-mint-bg-color-light),
      var(--badge-mint-text-color, $lm-badge-mint-text-color-light)
    );

    &:hover {
      @include color-chip(
        var(--badge-mint-hover-bg-color, $lm-badge-mint-hover-bg-color-light),
        false,
        var(--badge-mint-text-color, $lm-badge-mint-text-color-light),
        var(--badge-mint-hover-bg-color, $lm-badge-mint-hover-bg-color-light),
        var(--badge-mint-text-color, $lm-badge-mint-text-color-light)
      );
    }

    &:active {
      @include color-chip(
        var(--badge-mint-active-bg-color, $lm-badge-mint-active-bg-color-light),
        false,
        var(--badge-mint-text-color, $lm-badge-mint-text-color-light),
        var(--badge-mint-active-bg-color, $lm-badge-mint-active-bg-color-light),
        var(--badge-mint-text-color, $lm-badge-mint-text-color-light)
      );
    }
  }

  &--darkmint {
    @include color-chip(
      var(--badge-darkmint-bg-color, $lm-badge-darkmint-bg-color-light),
      false,
      var(--badge-darkmint-text-color, $lm-badge-darkmint-text-color-light),
      var(--badge-darkmint-bg-color, $lm-badge-darkmint-bg-color-light),
      var(--badge-darkmint-text-color, $lm-badge-darkmint-text-color-light)
    );
  }

  &--green {
    @include color-chip(
      var(--badge-green-bg-color, $lm-badge-green-bg-color-light),
      false,
      var(--badge-green-text-color, $lm-badge-green-text-color-light),
      var(--badge-green-bg-color, $lm-badge-green-bg-color-light),
      var(--badge-green-text-color, $lm-badge-green-text-color-light)
    );
  }

  &--yellow {
    @include color-chip(
      var(--badge-yellow-bg-color, $lm-badge-yellow-bg-color-light),
      false,
      var(--badge-yellow-text-color, $lm-badge-yellow-text-color-light),
      var(--badge-yellow-bg-color, $lm-badge-yellow-bg-color-light),
      var(--badge-yellow-text-color, $lm-badge-yellow-text-color-light)
    );
  }

  &--red {
    @include color-chip(
      var(--badge-red-bg-color, $lm-badge-red-bg-color-light),
      false,
      var(--badge-red-text-color, $lm-badge-red-text-color-light),
      var(--badge-red-bg-color, $lm-badge-red-bg-color-light),
      var(--badge-red-text-color, $lm-badge-red-text-color-light)
    );
  }

  &--orange {
    @include color-chip(
      var(--badge-orange-bg-color, $lm-badge-orange-bg-color-light),
      false,
      var(--badge-orange-text-color, $lm-badge-orange-text-color-light),
      var(--badge-orange-bg-color, $lm-badge-orange-bg-color-light),
      var(--badge-orange-text-color, $lm-badge-orange-text-color-light)
    );

    &:hover {
      @include color-chip(
        var(--badge-orange-hover-bg-color, $lm-badge-orange-hover-bg-color-light),
        false,
        var(--badge-orange-text-color, $lm-badge-orange-text-color-light),
        var(--badge-orange-hover-bg-color, $lm-badge-orange-hover-bg-color-light),
        var(--badge-orange-text-color, $lm-badge-orange-text-color-light)
      );
    }

    &:active {
      @include color-chip(
        var(--badge-orange-active-bg-color, $lm-badge-orange-active-bg-color-light),
        false,
        var(--badge-orange-text-color, $lm-badge-orange-text-color-light),
        var(--badge-orange-active-bg-color, $lm-badge-orange-active-bg-color-light),
        var(--badge-orange-text-color, $lm-badge-orange-text-color-light)
      );
    }
  }

  &--gold {
    @include color-chip(
      var(--badge-gold-bg-color, $lm-badge-gold-bg-color-light),
      false,
      var(--badge-gold-text-color, $lm-badge-gold-text-color-light),
      var(--badge-gold-bg-color, $lm-badge-gold-bg-color-light),
      var(--badge-gold-text-color, $lm-badge-gold-text-color-light)
    );

    &:hover {
      @include color-chip(
        var(--badge-gold-hover-bg-color, $lm-badge-gold-hover-bg-color-light),
        false,
        var(--badge-gold-text-color, $lm-badge-gold-text-color-light),
        var(--badge-gold-hover-bg-color, $lm-badge-gold-hover-bg-color-light),
        var(--badge-gold-text-color, $lm-badge-gold-text-color-light)
      );
    }

    &:active {
      @include color-chip(
        var(--badge-gold-active-bg-color, $lm-badge-gold-active-bg-color-light),
        false,
        var(--badge-gold-text-color, $lm-badge-gold-text-color-light),
        var(--badge-gold-active-bg-color, $lm-badge-gold-active-bg-color-light),
        var(--badge-gold-text-color, $lm-badge-gold-text-color-light)
      );
    }
  }

  &--lime {
    @include color-chip(
      var(--badge-lime-bg-color, $lm-badge-lime-bg-color-light),
      false,
      var(--badge-lime-text-color, $lm-badge-lime-text-color-light),
      var(--badge-lime-bg-color, $lm-badge-lime-bg-color-light),
      var(--badge-lime-text-color, $lm-badge-lime-text-color-light)
    );

    &:hover {
      @include color-chip(
        var(--badge-lime-hover-bg-color, $lm-badge-lime-hover-bg-color-light),
        false,
        var(--badge-lime-text-color, $lm-badge-lime-text-color-light),
        var(--badge-lime-hover-bg-color, $lm-badge-lime-hover-bg-color-light),
        var(--badge-lime-text-color, $lm-badge-lime-text-color-light)
      );
    }

    &:active {
      @include color-chip(
        var(--badge-lime-active-bg-color, $lm-badge-lime-active-bg-color-light),
        false,
        var(--badge-lime-text-color, $lm-badge-lime-text-color-light),
        var(--badge-lime-active-bg-color, $lm-badge-lime-active-bg-color-light),
        var(--badge-lime-text-color, $lm-badge-lime-text-color-light)
      );
    }
  }

  &--pink {
    @include color-chip(
      var(--badge-pink-bg-color, $lm-badge-pink-bg-color-light),
      false,
      var(--badge-pink-text-color, $lm-badge-pink-text-color-light),
      var(--badge-pink-bg-color, $lm-badge-pink-bg-color-light),
      var(--badge-pink-text-color, $lm-badge-pink-text-color-light)
    );

    &:hover {
      @include color-chip(
        var(--badge-pink-hover-bg-color, $lm-badge-pink-hover-bg-color-light),
        false,
        var(--badge-pink-text-color, $lm-badge-pink-text-color-light),
        var(--badge-pink-hover-bg-color, $lm-badge-pink-hover-bg-color-light),
        var(--badge-pink-text-color, $lm-badge-pink-text-color-light)
      );
    }

    &:active {
      @include color-chip(
        var(--badge-pink-active-bg-color, $lm-badge-pink-active-bg-color-light),
        false,
        var(--badge-pink-text-color, $lm-badge-pink-text-color-light),
        var(--badge-pink-active-bg-color, $lm-badge-pink-active-bg-color-light),
        var(--badge-pink-text-color, $lm-badge-pink-text-color-light)
      );
    }
  }

  &--purple {
    @include color-chip(
      var(--badge-purple-bg-color, $lm-badge-purple-bg-color-light),
      false,
      var(--badge-purple-text-color, $lm-badge-purple-text-color-light),
      var(--badge-purple-bg-color, $lm-badge-purple-bg-color-light),
      var(--badge-purple-text-color, $lm-badge-purple-text-color-light)
    );
  }

  &--violet {
    @include color-chip(
      var(--badge-violet-bg-color, $lm-badge-violet-bg-color-light),
      false,
      var(--badge-violet-text-color, $lm-badge-violet-text-color-light),
      var(--badge-violet-bg-color, $lm-badge-violet-bg-color-light),
      var(--badge-violet-text-color, $lm-badge-violet-text-color-light)
    );

    &:hover {
      @include color-chip(
        var(--badge-violet-hover-bg-color, $lm-badge-violet-hover-bg-color-light),
        false,
        var(--badge-violet-text-color, $lm-badge-violet-text-color-light),
        var(--badge-violet-hover-bg-color, $lm-badge-violet-hover-bg-color-light),
        var(--badge-violet-text-color, $lm-badge-violet-text-color-light)
      );
    }

    &:active {
      @include color-chip(
        var(--badge-violet-active-bg-color, $lm-badge-violet-active-bg-color-light),
        false,
        var(--badge-violet-text-color, $lm-badge-violet-text-color-light),
        var(--badge-violet-active-bg-color, $lm-badge-violet-active-bg-color-light),
        var(--badge-violet-text-color, $lm-badge-violet-text-color-light)
      );
    }
  }

  &--cyan {
    @include color-chip(
      var(--badge-cyan-bg-color, $lm-badge-cyan-bg-color-light),
      false,
      var(--badge-cyan-text-color, $lm-badge-cyan-text-color-light),
      var(--badge-cyan-bg-color, $lm-badge-cyan-bg-color-light),
      var(--badge-cyan-text-color, $lm-badge-cyan-text-color-light)
    );
  }

  .md-chip--clear {
    @include modal-close-button(
      $size: rem-calc(14),
      $font-size: rem-calc(14),
      $top-offset: rem-calc(12),
      $right-offset: rem-calc(12)
    );
    display: flow-root;
    margin-left: $chip-inner-content-margin;
    margin-right: 0;
  }

  .md-chip--loading {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: rem-calc(-2);
    width: 100%;
  }

  .md-chip--textcontent {
    max-width: $chip-text-max-width;
  }

  md-icon {
    display: flex;
    margin-right: $chip-inner-content-margin;
  }

  &.md-chip--disabled {
    @include chip-base();
    color: var(--md-disabled-text-color, $md-gray-40);
    cursor: default;

    md-icon {
      color: var(--md-disabled-text-color, $md-gray-40);
    }
  }
}

::slotted(*) {
  line-height: normal;
}

::slotted([slot="custom-left-content"]) {
  margin-right: $chip-inner-content-margin;
}

::slotted([slot="custom-right-content"]) {
  margin-left: $chip-inner-content-margin;
}

@media (forced-colors:active) {
  .md-chip  {
    outline : 1px solid ButtonText;
    &:focus, &:hover{
      box-shadow: none; 
      outline: 2px solid Highlight; 
    }
    &--disabled {
      opacity: 0.5;
    }
  }
}
