@mixin chip-base() {
  // Declarations before nested rules
  align-items: center;
  background-color: var(--md-secondary-bg-color, $md-gray-05);
  color: var(--md-primary-text-color, $md-gray-100);
  cursor: pointer;
  display: inline-flex;
  font-family: $badge__font-family;
  font-weight: $badge__font-weight;
  height: $chip-height;
  justify-content: space-between;
  line-height: rem-calc(16);
  margin-bottom: auto;
  max-width: $chip-max-width;
  overflow: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  width: auto;
  @include radius($radius: $chip-radius);
}

@mixin color-chip(
  $bg: var(--badge-default-bg-color, $lm-badge-default-bg-color-light),
  $radius: false,
  $color: var(--badge-default-text-color, $lm-badge-default-text-color-light),
  $hover-bg-color: var(--badge-default-bg-color, $lm-badge-default-bg-color-light),
  $hover-color: var(--badge-default-text-color, $lm-badge-default-text-color-light)
) {
  @if $bg {
    background-color: $bg;

    @if $color {
      color: $color;
    }
  }

  @if $radius==true {
    @include radius($badge__radius);
  } @else if $radius {
    @include radius($radius);
  }

  &:hover {
    background-color: $hover-bg-color;
    color: $hover-color;
  }

  &:active {
    background-color: $hover-bg-color;
    color: $hover-color;
  }
}

@mixin chip-sentiment-style(
  $bg-color,
  $text-color,
  $icon-color,
  $border-color,
  $hover-bg-color,
  $active-bg-color
) {
  gap: rem-calc(4);
  padding: 0px 4px;
  font-weight: 500;
  font-family: var(--brand-font-regular);
  background-color: $bg-color;
  color: $text-color;
  border: 1px solid $border-color;
  border-radius: 4px;

  ::slotted([slot="custom-left-content"]) {
    color: $icon-color;
  }

  &:hover {
    background-color: $hover-bg-color;
  }

  &:active {
    background-color: $active-bg-color;
  }
}

@mixin chip-status-style($bg-color, $text-color) {
  gap: rem-calc(4);
  padding: 0px 4px;
  padding-right: 6px;
  font-weight: 400;
  font-family: var(--brand-font-regular);
  background-color: $bg-color;
  color: $text-color;
  border-radius: 12px;

  &:hover {
    background-color: $bg-color;
  }

  &:active {
    background-color: $bg-color;
  }
}

@mixin chip-confidence-style($bg-color, $text-color, $border-color, $hover-bg-color, $active-bg-color) {
  gap: rem-calc(4);
  padding: 0px 4px;
  font-weight: 500;
  font-family: var(--brand-font-regular);
  background-color: $bg-color;
  color: $text-color;
  border: 1px solid $border-color;
  border-radius: 4px;
  max-width: fit-content;

  &:hover {
    background-color: $hover-bg-color;
  }

  &:active {
    background-color: $active-bg-color;
  }
}
