/*!
 * momentum-chart v1.0.0 (undefined)
 * momentum style chart library
 * Copyright 2013-2019 Cisco Momentum Team
 */
.md-chart-arc{fill:#00A0D1}.md-chart-area{fill:#00A0D1}.md-chart-axis{fill:#00A0D1}.md-chart-axis .domain{stroke:none;fill:none;stroke-width:1.6}.md-chart-axis .range{stroke:#D8D8D8;fill:none;stroke-width:1.6}.md-chart-axis .tick line{fill:none;stroke:rgba(216,216,216,0.5);stroke-width:1}.md-chart-axis .tick text{fill:#858688;font-size:10px;stroke:none}.md-chart-board{position:relative}.md-board-chart{stroke:#00A0D1;fill:none}.md-chart-preload{fill:#00A0D1}.md-chart-rect{fill:#00A0D1}.md-chart-text{color:#00A0D1}
