// Core
@import 'settings/core';
@import 'tools/functions/core';
@import 'tools/mixins/core';

// Settings
@import 'settings/settings';

// Tools
@import 'tools/mixins/mixins';
@import 'tools/functions/functions';
@import 'tools/placeholders/placeholders';

// Generic
@import 'generic/normalize';

// Elements
@import 'elements/elements';

// Layouts
@import 'layouts/layouts';
