@include exports("md-label") {
  .md-label {
    @include form-label;
    display: flex;
    
    &.right {
      @include form-label(right, false);
    }

    &.inline {
      @include form-label(inline, false);
    }

    small {
      text-transform: $form-label-small-transform;
    }
  }
}

.md-input__secondary-label {
  @include secondary-label;
  span {font-size: $secondary-label__font-size;}
}

:host(.md-input__secondary-label) {
  @include secondary-label;
  width: auto !important;
}

:host(.md-input__secondary-label.disabled) {
  label {
    cursor: not-allowed;
  }
}

:host(.md-input__label.disabled) {
  label {
    cursor: not-allowed;
  }
}


