:host(md-label) {
  .md-label {
    @include form-label;
    display: flex;
    align-items: center;

    &.right {
      @include form-label(right, false);
    }

    &.inline {
      @include form-label(inline, false);
    }

    small {
      text-transform: capitalize;
    }

    span {
      font-size: inherit;
    }
  }
  .md-secondary-label {
    @include secondary-label;
  }
}


:host(.md-input__label.disabled),
:host(.md-input__secondary-label.disabled) {
  label {
    cursor: not-allowed;
  }
}



