.md-avatar {
  @include avatar-size;
  border-radius: 100%;
  display: inline-flex;
  font-family: var(--brand-font-medium, $brand-font-regular);
  font-weight: 550;
  position: relative;
  text-transform: uppercase;
  user-select: none;
  cursor: var(--avatar-cursor, default);

  > .md-avatar__failure-badge::after {
    @include flex;
    @include border-radius($global-rounded);
    background-color: $avatar-failure-badge__background;
    bottom: $avatar-badge__spacing;
    color: $avatar-failure-badge__color;
    content: $icon-priority_12;
    font-family: $icon-font-name;
    font-size: $avatar-failure-badge__size;
    height: $avatar-failure-badge__size;
    position: absolute;
    right: $avatar-badge__spacing;
    width: $avatar-failure-badge__size;
    z-index: $zindex-close;
  }

  > .md-avatar__notification-badge::after {
    @include border-radius($global-rounded);

    @include flex;
    background-color: $avatar-notification-badge__color;
    content: "\00a0";
    height: $avatar-notification-badge__size;
    position: absolute;
    right: $avatar-badge__spacing;
    top: $avatar-badge__spacing;
    width: $avatar-notification-badge__size;
    z-index: $zindex-close;
  }

  &.md-avatar--dark {
    &.md-avatar--active::after {
      box-shadow: $avatar--active__shadow--dark;
    }
    &.md-avatar--engaged::after {
      box-shadow: $avatar--engaged__shadow--dark;
    }
    &.md-avatar--idle::after {
      box-shadow: $avatar--idle__shadow--dark;
    }
    &.md-avatar--rona::after {
      box-shadow: $avatar--rona__shadow--dark;
    }
  }

  &.md-avatar--typing {
    > .md-loading {
      @include avatar-overlay-style;
    }
  }

  &.md-avatar--bot::after {
    background-color: $avatar-bot__background;
    border-radius: $avatar-bot__border-radius;
    bottom: 0;
    color: $avatar-bot__color;
    content: "Bot";
    font-size: $avatar-bot__font-size;
    left: 0;
    line-height: $avatar-bot__line-height;
    padding: $avatar-bot__padding;
    position: absolute;
    text-transform: none;
  }

  .md-avatar__img {
    @include avatar-contents-base;

    background-color: $avatar-img__background;
  }

  .md-avatar__letter {
    @include avatar-contents-base;
    background-color: $avatar-letter__background;
    color: $avatar-letter__color;

    md-loading {
      align-items: center;
      background: $black-40;
      border-radius: 100%;
      bottom: 0;
      color: $md-white-100;
      display: flex;
      justify-content: center;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .md-avatar__self {
    @include avatar-contents-base;

    background-color: $avatar-self__background;
    border: $avatar-self__border;
    color: $avatar-self__color;
  }
  .md-avatar__logo {
    @include avatar-contents-base;
    background-color: transparent;

    &[data-channel-style="default"] {
      &[data-channel-state="active"] {
        background-color: var(--icon-color-white);

        &.channel-spam {
          background-color: var(--avatar-spam-bg-color);
        }

        &.channel-twitter-x {
          filter: none;
        }
      }

      &[data-channel-state="rest"] {
        background-color: var(--icon-color-dark-gray);

        &.channel-spam {
          background-color: var(--avatar-spam-bg-color);
        }

        &.channel-twitter-x > md-icon{
          
          filter: var(--avatar-invertable-icon-filter); 
        }
      }
    }

    &[data-channel-style="table"] {
      background-color: transparent;

      &.channel-spam {
        background-color: var(--avatar-spam-bg-color);
      }

      &.channel-twitter-x > md-icon{
        filter: var(--avatar-invertable-icon-filter); 
      }
    }
  }

  .md-avatar__icon {
    @include avatar-contents-base;
    background-color: var(--avatar-icon-bg-color, $avatar-icon__background);

    color: $avatar-icon__color;
    fill: currentColor;

    &--overview {
      @include border-radius($global-rounded);
      background-color: transparent;
      box-shadow: inset 0 0 0 1px $white-16;

      color: $md-white-100;
    }
  }
  
  .md-avatar__icon,
  .md-avatar__letter {
    &.md-avatar--blue {
      background-color: var(--avatar-blue-bg-color);
    }

    &.md-avatar--mint {
      background-color: var(--avatar-mint-bg-color);
    }

    &.md-avatar--darkmint {
      background-color: var(--avatar-darkmint-bg-color);
    }

    &.md-avatar--green {
      background-color: var(--avatar-green-bg-color);
    }

    &.md-avatar--yellow {
      background-color: var(--avatar-yellow-bg-color);
    }

    &.md-avatar--red {
      background-color: var(--avatar-red-bg-color);
    }

    &.md-avatar--orange {
      background-color: var(--avatar-orange-bg-color);
    }

    &.md-avatar--purple {
      background-color: var(--avatar-purple-bg-color);
    }

    &.md-avatar--violet {
      background-color: var(--avatar-violet-bg-color);
    }

    &.md-avatar--cyan {
      background-color: var(--avatar-cyan-bg-color);
    }

    &.md-avatar--cobalt {
      background-color: var(--avatar-cobalt-bg-color);
    }

    &.md-avatar--pink {
      background-color: var(--avatar-pink-bg-color);
    }

    &.md-avatar--slate {
      background-color: var(--avatar-slate-bg-color);
    }

    &.md-avatar--gold {
      background-color: var(--avatar-gold-bg-color);
    }

    &.md-avatar--lime {
      background-color: var(--avatar-lime-bg-color);
    }

    &.md-avatar--glass {
      background-color: var(--avatar-glass-bg-color);
      color: var(--avatar-glass-text-color);

      &.active {
        background-color: var(--avatar-glass-active-bg-color);
      }
    }
  }

  .md-avatar__img--hidden {
    display: none;
  }

  &.md-avatar--clickable::after {
    @include avatar-contents-base;
    content: "";

    position: absolute;
  }

  &.md-avatar--clickable {
    &:hover::after {
      @include avatar-overlay-style($md-white-100, $black_08);
    }

    &:active::after {
      @include avatar-overlay-style($md-white-100, $black_16);
    }
  }

  &.md-avatar--active::after {
    @include avatar-contents-base;
    box-shadow: $avatar--active__shadow;
    content: "";
    left: 0;

    position: absolute;
  }

  &.md-avatar--engaged::after {
    @include avatar-contents-base;
    box-shadow: $avatar--engaged__shadow;
    content: "";
    left: 0;
    position: absolute;
  }

  &.md-avatar--idle::after {
    @include avatar-contents-base;
    box-shadow: $avatar--idle__shadow;
    content: "";
    left: 0;
    position: absolute;
  }

  &.md-avatar--rona::after {
    @include avatar-contents-base;
    box-shadow: $avatar--rona__shadow;
    content: "";
    left: 0;
    position: absolute;
  }

  &.md-avatar--inactive {
    opacity: $avatar--inactive__opacity;
  }

  @each $size-class, $dnd-size, $pto-size, $call-size, $meet-size, $present-size, $dimension in $avatar-sizes {
    $size: $size-class;

    @if $dimension {
      $size: $dimension;
    }

    &.md-avatar--#{$size-class} {
      @include avatar-size(rem-calc($size));

      &.md-avatar--ooo::after {
        @include avatar-overlay-style;
        content: $pto-size;

        font-size: rem-calc($size * 0.5);
      }

      &.md-avatar--dnd::after {
        @include avatar-overlay-style;
        content: $dnd-size;

        font-size: rem-calc($size * 0.5);
      }

      &.md-avatar--call::after {
        @include avatar-overlay-style;
        content: $call-size;

        font-size: rem-calc($size * 0.5);
      }

      &.md-avatar--meeting::after {
        @include avatar-overlay-style;
        content: $meet-size;

        font-size: rem-calc($size * 0.5);
      }

      &.md-avatar--presenting::after {
        @include avatar-overlay-style;
        content: $present-size;

        font-size: rem-calc($size * 0.5);
      }

      &.md-avatar--self {
        md-icon {
          height: rem-calc($size);
        }

        md-icon::part(icon) {
          line-height: rem-calc($size);
        }
      }
    }
  }
}

:host {
  display: inline-block;
  line-height: 0rem;
  vertical-align: middle;
  --icon-color-channel-sms-inbound: var(--avatar-sms-icon-color);
  --icon-color-channel-sms-outbound: var(--avatar-sms-icon-color);
  --icon-color-channel-email-inbound: var(--avatar-email-icon-color);
  --icon-color-channel-email-outbound: var(--avatar-email-icon-color);
  --icon-color-channel-call: var(--avatar-call-icon-color);
  --icon-color-channel-call-inbound: var(--avatar-call-icon-color);
  --icon-color-channel-social: var(--avatar-presence-engaged);
  --icon-color-channel-callback: var(--avatar-call-icon-color);
  --icon-color-channel-callback-v2: var(--avatar-call-icon-color);
  --icon-color-channel-headset: var(--avatar-headset-icon-color);
  --icon-color-channel-campaign: var(--avatar-campaign-icon-color);
  --icon-color-channel-chat: var(--avatar-chat-icon-color);
  --icon-color-channel-emoji:var(--avatar-emoji-icon-color);
  --icon-color-channel-spam: var(--avatar-spam-icon-color);  
  --icon-color-white: var(--avatar-white-bg-color);
  --icon-color-dark-gray: var(--avatar-darkgray-bg-color);
}

::slotted(*) {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
}

::slotted(img) {
  border-style: none;
  display: inline-block;
  height: auto;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  vertical-align: middle;
}

@media (forced-colors: active) {
  .md-avatar {
    outline: 1px solid CanvasText;
  }
}