@import "@/wc_scss/tools/functions/core";

@import "~@momentum-ui/icons/scss/variables";

@import "@/wc_scss/colors/settings-base.scss";
@import "@/wc_scss/colors/settings-transparencies.scss";
@import "@/wc_scss/settings/core.scss";
@import "@/wc_scss/settings/z-index.scss";
@import "@/wc_scss/typography/settings.scss";

@import "@/wc_scss/tools/mixins/border-radius";
@import "@/wc_scss/tools/mixins/flex";

@import "settings";
@import "mixins";
@import "avatar";
@import "composite-avatar";
@import "presence";
:host {
    --icon-color-channel-chat: var(--avatar-self-icon-color);
    --icon-color-channel-sms-inbound: var(--avatar-letter-bg-color);
    --icon-color-channel-sms-outbound: var(--avatar-letter-bg-color);
    --icon-color-channel-email-inbound: var(--avatar-violet-bg-color);
    --icon-color-channel-email-outbound: var(--avatar-violet-bg-color);
    --icon-color-channel-call: var(--avatar-green-bg-color);
    --icon-color-channel-callback: var(--avatar-green-bg-color);
    --icon-color-channel-headset: var(--avatar-pink-bg-color);
    --icon-color-channel-campaign: var(--avatar-pink-bg-color);
    --icon-color-channel-emoji: var(--avatar-self-icon-color);
    --icon-color-suspected-spam: #A65E00;
    --icon-color-light-gray: #F7F7F7;
    --icon-color-dark-gray: #E6E6E6;
    --icon-color-white: #FDFDFD;
    --icon-color-beige: #FFEBC2;
  }
  .md-avatar--beige{
    background-color: var(--icon-color-beige);
  }

  .md-avatar--light-gray {
    background-color: var(--icon-color-light-gray);
  }
  
  .md-avatar--dark-gray {
    background-color: var(--icon-color-dark-gray);
  }

  .md-avatar--white {
    background-color: var(--icon-color-white);
  }
