@import "@/wc_scss/tools/functions/core";

@import "@momentum-ui/icons/scss/variables";

@import "@/wc_scss/colors/settings-base.scss";
@import "@/wc_scss/colors/settings-transparencies.scss";
@import "@/wc_scss/settings/core.scss";
@import "@/wc_scss/settings/z-index.scss";
@import "@/wc_scss/typography/settings.scss";

@import "@/wc_scss/tools/mixins/border-radius";
@import "@/wc_scss/tools/mixins/flex";

@import "./vars/lm-avatar-settings";

@import "settings";
@import "mixins";
@import "avatar";
@import "composite-avatar";
