.avatar-presence-wrapper {
  position: absolute;
  background-color: var(--md-primary-bg-color);
  border-radius: 100vh;
  width: 1.125rem;
  height: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -0.1rem;
  right: -0.1rem;

  &[data-shape="false"] {
    border-radius: 25%;
  }

  &[data-size="24"] {
    width: 1rem;
    height: 1rem;    
  }

  &[data-size="32"] {
    width: 1rem;
    height: 1rem;    
  }

  &[data-size="64"] {
    width: 1.375rem;
    height: 1.375rem;
  }

  &[data-size="72"] {
    width: 1.5rem;
    height: 1.5rem;
  }

  &[data-size="88"] {
    width: 2rem;
    height: 2rem;    
  }

  &[data-size="124"] {
    width: 2.75rem;
    height: 2.75rem;
  }
}
