.avatar-presence-wrapper {
  position: absolute;
  background-color: var(--md-primary-bg-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -0.15rem;
  right: -0.15rem;

  &[data-icon-size="10.5"] {
    width: 0.78125rem;
    height: 0.78125rem;
    bottom: -0.03175rem;
    right: -0.03175rem;    
  }

  &[data-icon-size="13.94"] {
    width: 1.064375rem;
    height: 1.064375rem;
    bottom: -0.03175rem;
    right: -0.03175rem;
  }

  &[data-icon-size="14"] {
    width: 1.0625rem;
    height: 1.0625rem;
  }

  &[data-icon-size="18.58"] {
    width: 1.419375rem;
    height: 1.419375rem;
    bottom: -0.05rem;
    right: -0.05rem;
  }

  &[data-icon-size="20.9"] {
    width: 1.596875rem;
    height: 1.596875rem;
    bottom: 0rem;
    right: 0rem;
  }

  &[data-icon-size="25.55"] {
    width: 1.951875rem;
    height: 1.951875rem;
    bottom: 0rem;
    right: 0rem;
  }

  &[data-icon-size="36"] {
    width: 2.75rem;
    height: 2.75rem;
    bottom: 0rem;
    right: 0rem;
  }
}
