<div class="cui-alert cui-alert--meeting">
  <div class="cui-avatar cui-avatar--medium">
    <div class="cui-avatar cui-avatar--medium" title="J $">
      <span class="cui-avatar__letter">J$</span>
    </div>
  </div>
  <div class="cui-alert__content">
    <div class="cui-alert__title" title="Important Meeting">Important Meeting</div>
    <div class="cui-alert__status">In 5 mins.</div>
    <div class="cui-alert__message" title="This is important">This is important</div>
  </div>
  <div class="cui-alert__button">
    <button
      class="cui-button cui-button--circle cui-button--44"
      alt="snooze" type="button" aria-label="snooze">
      <span class="cui-button__children">
        <i class="icon icon-alarm_16"></i>
      </span>
    </button>
  </div>
  <div class="cui-alert__button">
    <button
      class="cui-button cui-button--circle cui-button--44"
      alt="close" type="button" aria-label="close">
      <span class="cui-button__children">
        <i class="icon icon-cancel_16"></i>
      </span>
    </button>
  </div>
</div>
