.component-section-header-link {
  text-decoration: underline;
  color: $md-gray-70;
}

.site-component-overview {

  &__spinner {
    text-align: center;
    padding: rem-calc(100);
  }

  &__top {
    height: rem-calc(72);

    .md-input-container {
      width: rem-calc(272);
    }
  }

  &__component-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
    grid-column-gap: 1px;
    grid-row-gap: 40px;

    div {
      vertical-align: top;
    }
  }
}

.md-tab__content {
  margin-top: rem-calc(50);
  border: none;
}
