.md-country-code-picker__container {
  display: flex;
  position: relative;

  span.flag-box {
    align-items: center;
    border: 1px solid var(--input-default-border-color, #ccc);
    border-start-start-radius: 0.25rem;
    border-end-start-radius: 0.25rem;
    border-inline-end: none;
    display: flex;
    height: rem-calc(34);
    justify-content: center;
    position: relative;
    width: rem-calc(36);

    &.new-momentum {
      border: 1px solid var(--input-default-new-border-color, #ccc);
      height: rem-calc(32);
      border-start-start-radius: rem-calc(8);
      border-end-start-radius: rem-calc(8);
      border-inline-end: none;
    }

    .flag-svg-wrapper {
      justify-content: center;
    }
  }

  .flag-svg-wrapper {
    align-items: center;
    display: flex;
    width: 2rem;

    img {
      max-height: 0.7rem;
    }
  }

  md-combobox {
    flex: 1;
  }

  md-combobox::part(combobox) {
    position: initial;
  }

  md-combobox::part(multiwrap) {
    overflow-x: hidden;
  }

  md-combobox::part(multiwrap-input) {
    padding-inline-start: 0;
    padding-inline-end: 0;
    width: 100%;
  }

  md-combobox::part(combobox-options) {
    top: 2.5rem;
  }

  md-combobox::part(label) {
    width: 100%;
  }

  .md-country-code-picker__option {
    align-items: center;
    display: flex;
    justify-content: space;

    :nth-child(3) {
      margin-inline-start: 1rem;
    }
  }
}
