@use "settings" as constants;

.md-coachmark {
  --coachmark-arrow-border-color: var(--coachmark-default-bg-color);

  display: inline-flex;
  position: relative;
  overflow: visible;

  &__popper {
    border-radius: constants.$main-raduis;
    display: none;
    min-width: constants.$min-width;
    max-width: constants.$max-width;
    width: 280px;
    padding: constants.$main-padding;
    position: absolute;    
    z-index: 9999;

    background-color: var(--coachmark-popover-bg-color);
    color: var(--coachmark-popover-text-color);    

    //Header
    .header-container {
      display: flex;
      width: 100%;
    }

    .header-title {
      font-family: var(--brand-font-bold);
      font-size: constants.$header-font-size;
      font-weight: var(--brand-font-weight-bold, 700);
      line-height: constants.$header-line-height;
      flex-grow: 1;
    }

    .cancel-icon-button {
      position: absolute;
      right: constants.$main-padding;
      top: constants.$main-padding;      
      cursor: pointer;
    }

    //Body
    .body-container {
      display: flex;      
    }

    .md-coachmark__content {      
      font-family: var(--brand-font-regular);
      font-size: constants.$body-font-size;
      font-weight: 450;
      line-height: constants.$body-line-height;      
    }

    //Footer
    .footer-container {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      gap: 0.5rem;
      padding-top: constants.$main-padding;
      flex-grow: 1;
    }

    //Arrow
    .md-coachmark__arrow {
      height: 0;
      position: absolute;
      width: 0;
    }

    &--right {
      animation: coach-fade 1s, coach-slide-right 0.5s ease;
      left: calc(100% + 1rem);
      top: 50%;
      transform: translateY(-50%);

      .md-coachmark__arrow {
        border-bottom: constants.$arrow-width solid transparent;
        border-top: constants.$arrow-width solid transparent;
        left: -(constants.$arrow-height);
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &--left {
      animation: coach-fade 1s, coach-slide-left 0.5s ease;
      right: calc(100% + 1rem);
      top: 50%;
      transform: translateY(-50%);

      .md-coachmark__arrow {
        border-bottom: constants.$arrow-width solid transparent;
        border-top: constants.$arrow-width solid transparent;
        right: -(constants.$arrow-height);
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &--top {
      animation: coach-fade 1s, coach-slide-top 0.5s ease;
      bottom: calc(100% + 0.5rem);
      left: 50%;
      transform: translateX(-50%);

      .md-coachmark__arrow {
        border-left: constants.$arrow-width solid transparent;
        border-right: constants.$arrow-width solid transparent;
        bottom: -(constants.$arrow-height);
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &--bottom {
      animation: coach-fade 1s, coach-slide-bottom 0.5s ease;
      left: 50%;
      top: calc(100% + 0.5rem);
      transform: translateX(-50%);

      .md-coachmark__arrow {
        border-left: constants.$arrow-width solid transparent;
        border-right: constants.$arrow-width solid transparent;
        left: 50%;
        top: -(constants.$arrow-height);
        transform: translateX(-50%);
      }
    }
  }
    

  &--active {
    .md-coachmark__popper {
      display: block;
    }
  }
}

@keyframes coach-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes coach-slide-right {
  from {
    left: 100%;
  }
  to {
    left: calc(100% + 1rem);
  }
}

@keyframes coach-slide-top {
  from {
    bottom: 100%;
  }
  to {
    bottom: calc(100% + 0.5rem);
  }
}

@keyframes coach-slide-left {
  from {
    right: 100%;
  }
  to {
    right: calc(100% + 1rem);
  }
}

@keyframes coach-slide-bottom {
  from {
    top: 100%;
  }
  to {
    top: calc(100% + 0.5rem);
  }
}

@media (forced-colors:active) {
  .md-coachmark {
    md-task-item {
      outline: 2px solid transparent;
    }

    &__popper {

      &--default,
      &--violet,
      &--green,
      &--mint,
      &--blue,
      &--purple,
      &--darkmint,
      &--yellow,
      &--red,
      &--darked,
      &--orange,
      &--cyan {
        background-color: Canvas;
        outline: 1px solid CanvasText;
      }
    }
  }

  .md-coachmark__popper--top .md-coachmark__arrow,
  .md-coachmark__popper--bottom .md-coachmark__arrow {
    border-left: 0.625rem solid Canvas;
    border-right: 0.625rem solid Canvas;
  }

  .md-coachmark__popper--right .md-coachmark__arrow,
  .md-coachmark__popper--left .md-coachmark__arrow {
    border-top: 0.625rem solid Canvas;
    border-bottom: 0.625rem solid Canvas;
  }

}