/** @component icon */
@use "@/wc_scss/tools/functions/core";
@use "@/wc_scss/colors/settings-base" as color-base;

@include core.exports("md-icon") {
  :host {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .svg-icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .md-icon {
    align-items: center;
    display: inline-flex;
    fill: inherit;
    line-height: inherit;

    .md--dark & {
      fill: color-base.$md-white-100;
    }
  }
}

@media (forced-colors: active) {
  .icon {
    color: currentColor;
  }

  svg {
    fill: currentColor;
  }
}
