/** @component icon */

@include exports("md-icon") {
  :host {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .svg-icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .md-icon {
    align-items: center;
    display: inline-flex;
    fill: inherit;
    line-height: inherit;

    .md--dark & {
      fill: $md-white-100;
    }
  }
}

@media (forced-colors: active) {
  .icon {
    color: currentColor;
  }

  svg {
    color: currentColor;
  }
}
