/** @component icon */

@include exports("md-icon") {
  .md-icon {
    align-items: center;
    display: inline-flex;
    fill: inherit;
    line-height: inherit;

    .md--dark & {
      fill: $md-white-100;
    }
  }

}

@media (forced-colors: active) {
  .icon{
    color: currentColor;
  }
}
