@import "~@momentum-ui/icons/scss/variables";
@import "~@momentum-ui/icons/scss/mixins";
@import "~@momentum-ui/icons/scss/placeholders";
@import "~@momentum-ui/icons/scss/functions";
@import "~@momentum-ui/icons/scss/core";
@import "~@momentum-ui/icons/scss/sizes";
@import "~@momentum-ui/icons/scss/fixed-width";
@import "~@momentum-ui/icons/scss/list";
@import "~@momentum-ui/icons/scss/bordered-pulled";
@import "~@momentum-ui/icons/scss/animated";
@import "~@momentum-ui/icons/scss/rotated-flipped";
@import "~@momentum-ui/icons/scss/stacked";
@import "~@momentum-ui/icons/scss/icons";
@import "@/wc_scss/colors/settings-base";
@import "@/wc_scss/colors/settings-transparencies";
@import "./settings";
@import "./icon";
