.md-datepicker {
  overflow: visible;
  &__month-container {
    display: flex;
    flex-direction: column;
    height: $calendar-height;
    justify-content: space-between;
    padding: $calendar-padding;
  }

  &__navigation--buttons {
    align-items: center;
    color: var(--datepicker-default-navigation-button, var(--md-primary-text-color, inherit));
    display: flex;
    justify-content: space-between;
    line-height: normal;
    width: $month-nav-button-width;

    md-button[disabled]::part(button) {
      background-color: none;
      color: var(--md-disabled-text-color, inherit);
    }
  }

  &__month {
    width: auto;
  }

  &__week {
    height: $week-height;    
  }

  &__navigation--current-month {
    font-size: rem-calc(16);
    font-weight: 700;
    text-transform: capitalize;
    color: var(--datepicker-default-navigation-label, inherit);
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    padding: $calendar-heading-padding;
  }

  &__day--names {
    display: flex;    
  }

  &__day {
    color: var(--datepicker-default-number-color, inherit);
    
    border-radius: 100%;
    display: inline-block;
    height: $day-button-height;
    width: $day-button-height;
    font-weight: 400;

    &--names {
      color: var(--datepicker-default-days, var(--md-secondary-text-color));
      display: flex;
      font-size: $day-name-font-size;
      font-family: var(--brand-font-bold);
      justify-content: space-around;
      line-height: $day-name-line-height;
      margin: $day-name-margin;
      text-transform: capitalize;
    }

    &::part(button) {
      &:hover {
        background: var(--datepicker-default-hover-bg-color);
      }
    }

    &[disabled]::part(button) {
      background: none;
      color: var(--md-disabled-text-color, inherit);
    }

    &--today::part(button) {
      font-weight: 700;

      &::after {
        border: var(--datepicker-selected-today-border, 1px solid var(--datepicker-range-text-color));
        height: 1.8rem;
        left: 7%;
        position: absolute;
        top: 4%;
        width: 1.8rem;
      }
    }

    &--focus::part(button) {
      background: var(--datepicker-range-hover-bg-color);
    }

    &--selected::part(button) {
      background: var(--datepicker-selected-bg-color, var(--md-primary-text-color));
      color: var(--datepicker-selected-text-color, var(--md-secondary-bg-color));
    }

    &--selected::part(button):hover {
      background: var(--datepicker-selected-hover-bg-color);
      color: var(--datepicker-selected-text-color);
    }

    &--selected::part(button):active {
      background: var(--datepicker-selected-pressed-bg-color);
      color: var(--datepicker-selected-text-color);
    }


    &--outside-month {
      color: var(--datepicker-invalid-text-color, var(--md-disabled-text-color, inherit));
    }

    // BELOW STYLES ENABLE DATE-RANGE-PICKER
    // The code uses radial-gradients on pseudo elements to create an overlap effect for selected/hovered dates on top of the range-selected bar.
    // They create a hoop with an open center on ::after to allow the content below to be seen.
    // The ::before element has a fine-tuned gradient to fill in the hoop but keep the outside edges matching the range-selected bar.

    &--in-range::part(button) {
      color: var(--datepicker-range-text-color);
      z-index: 10;

      &::before {
        background: var(--datepicker-range-bg-color);
        content: "";
        display: block;
        height: 1.75rem;
        position: absolute;
        top: 0;
        width: 2.25rem;
        z-index: -1;
      }

      &:hover {
        color: var(--datepicker-range-text-color);
      }

      &:active {
        color: var(--datepicker-pressed-text-color);
      }

      &:focus {
        z-index: 12;
        color: var(--datepicker-range-text-color);

        &::before {
          background: radial-gradient(
            circle at 43% center,
            var(--datepicker-range-hover-bg-color) 60%,
            rgba(0, 0, 0, 0) 60%,
            var(--datepicker-range-bg-color) 60%,
            var(--datepicker-range-bg-color) 60%
          );
        }

        &::after {
          background: radial-gradient(
            circle at 50% center,
            rgba(0, 0, 0, 0) 50%,
            var(--datepicker-range-hover-bg-color) 51%,
            var(--datepicker-range-hover-bg-color) 100%,
            rgba(0, 0, 0, 0) 100%
          );
          content: "";
        }
      }
    }

    &--week-first::part(button) {
      &::before {
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
      }
    }

    &--week-last::part(button) {
      &::before {
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
        width: calc(2rem - 2px);
      }
    }

    &--start-date::part(button) {
      font-family: var(--brand-font-bold);
      color: var(--datepicker-selected-text-color, var(--md-secondary-bg-color));
      z-index: 11 ;

      &:hover {
        color: var(--datepicker-selected-text-color, var(--md-secondary-bg-color));
      }

      &:focus {
        color: var(--datepicker-range-text-color);
      }

      &::before {
        background: radial-gradient(
          circle at 50% center,
          var(--datepicker-selected-bg-color) 58%,
          transparent 50%,
          var(--datepicker-range-bg-color) 50%,
          var(--datepicker-range-bg-color) 50%
        );
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
        width: 100%;
      }

      &::after {
        background: radial-gradient(
          circle at 50% center,
          transparent 40%,
          var(--datepicker-range-edge-bg-color) 55%,
          var(--datepicker-range-edge-bg-color) 100%,
          transparent 100%
        );
        content: "";
      }
    }

    &--end-date::part(button) {      
      font-family: var(--brand-font-bold);
      color: var(--datepicker-selected-text-color, var(--md-secondary-bg-color));

      &:hover {
        color: var(--datepicker-selected-text-color, var(--md-secondary-bg-color));
      }

      &:focus {
        color: var(--datepicker-range-text-color);
      }

      &::before {
        background: radial-gradient(
          circle at 50% center,
          var(--datepicker-selected-bg-color) 58%,
          rgba(0, 0, 0, 0) 50%,
          var(--datepicker-range-bg-color) 50%,
          var(--datepicker-range-bg-color) 50%
        );
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
        width: 100%;
      }

      &::after {
        background: radial-gradient(
          circle at 50% center,
          rgba(0, 0, 0, 0) 40%,
          var(--datepicker-range-edge-bg-color) 51%,
          var(--datepicker-range-edge-bg-color) 100%,
          rgba(0, 0, 0, 0) 100%
        );
        content: "";
      }
    }
  }
}
