.md-datepicker {
  &__month-container {
    display: flex;
    flex-direction: column;
    height: $calendar-height;
    justify-content: space-between;
    padding: $calendar-padding;
  }

  &__navigation--buttons {
    align-items: center;
    color: var(--md-primary-text-color, inherit);
    display: flex;
    justify-content: space-between;
    line-height: normal;
    width: $month-nav-button-width;
    

    md-button[disabled]::part(button) {
      background-color: none;
      color: var(--md-disabled-text-color, inherit);
    }
  }

  &__month {
    width: auto;
  }

  &__week {
    height: $week-height;
  }

  &__navigation--current-month {
    font-size: rem-calc(16);
    font-weight: 700;
    text-transform: capitalize;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    padding: $calendar-heading-padding;
  }

  &__day--names {
    display: flex;
  }

  &__day {
    border-radius: 100%;
    display: inline-block;
    height: $day-button-height;
    width: $day-button-height;

    &--names {
      color: var(--md-secondary-text-color, $md-gray-70);
      display: flex;
      font-size: $day-name-font-size;
      justify-content: space-around;
      line-height: $day-name-line-height;
      margin: $day-name-margin;
      text-transform: capitalize;
    }

    &::part(button) {
      &:hover {
        background: var(--datepicker-default-hover-bg-color, $md-gray-70);
      }
    }

    &[disabled]::part(button) {
      background: none;
      color: var(--md-disabled-text-color, inherit);
    }

    &--today::part(button) {
      color: $md-orange-50;
      font-weight: 700;
    }

    &--focus::part(button) {
      background: $md-orange-50;
    }

    &--selected::part(button) {
      background: var(--md-quaternary-bg-color, $md-gray-100);
      color: var(--md-primary-text-color, $md-white);
    }
    
    &--in-range::part(button) {
      // background: var(--md-quaternary-bg-color, $md-gray-100);
      color: white;
      z-index: 10;
      
      &::before {
        background: #dedede;
        content: "";
        display: block;
        height: 1.75rem;
        left: -2px;
        margin: 0;
        position: absolute;
        top: 0;
        width: 2.25rem;
        z-index: -1;
      }
    }

    &--week-first::part(button) {
      &::before {
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
      }
    }

    &--week-last::part(button) {
      &::before {
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
      }
    }

    &--outside-month {
      color: var(--md-disabled-text-color, inherit);
    }
  }
}

.md-datepicker__day--today.md-datepicker__day--focus::part(button) {
  background: $md-orange-50;
  color: $md-orange-10;
}

.md-datepicker__day--today.md-datepicker__day--selected::part(button) {
  background: $md-orange-50;
  color: var(--datepicker-selected-today-text-color, $md-gray-100);
}
