$week-height: rem-calc(32);
$week-width: rem-calc(248);
$month-nav-button-width: rem-calc(44);
$calendar-height: rem-calc(308);
$calendar-padding: 12px 10px 8px;
$calendar-heading-padding: 0 1px;
$day-button-height: rem-calc(32);
$day-name-font-size: var(--font-size-body-midsize, rem(10));
$day-name-line-height: rem(14);
$day-name-margin: 12px 0 4px;
