$week-height: rem-calc(34);
$month-nav-button-width: rem-calc(44);
$calendar-height: rem-calc(280);
$calendar-padding: 12px 10px 12px;
$calendar-heading-padding: 0 6px;
$day-button-height: rem-calc(28);
$day-name-font-size: rem(10);
$day-name-line-height: rem(14);
$day-name-margin: 12px 0 8px;
