:host(:focus) {
  box-shadow: none;
  outline: none !important;
}

:host(md-breadcrumbs) {
  .md-breadcrumbs {
    ul {
      @include flex($jc: flex-start);
      @include nav-list();
    }

    li {
      display: flex;
      text-transform: capitalize;
      font-size: $breadcrumbs-font-size;

      &:not(:first-child) {

        &::before {
          display: flex;
          margin: $breadcrumbs-side-padding ;
          color: $breadcrumbs-slash-color;
          content: "/";
        }
      }
    }
    a{
      color: $breadcrumbs-color;

      &[aria-current="page"] {
        pointer-events: none;
        cursor: default;
        color: $breadcrumbs-color-current;
      }
    }
  }

}
