@import '../../tools/functions/core';
@import '../../tools/mixins/core';

// Settings
@import '../../colors/settings-base.scss';
@import '../../settings/core.scss';
@import '../../settings/media.scss';
@import '../../typography/settings.scss';

// Tools
@import '../../tools/mixins/baseline';
@import '../../tools/mixins/focus';
@import '../../tools/mixins/grid-framework';
@import '../../tools/mixins/grid';
@import '../../typography/mixins';
@import '../../typography/placeholders';

// Elements
@import '~@momentum-ui/icons/scss/mixins';

// Typography
@include brand-font-face-regular;

// Breacrumbs Specific
ul {
  margin: 0;
}

@import 'settings';
@import 'mixins';
@import 'breadcrumbs';
