:host(md-radio) {
  ::slotted([slot="image"]) {
    margin-bottom: 0.5rem;
    display: block;
  }

  .md-radio {
    &-wrapper {
      position: relative;
      max-height: $radio-input-max-height;
      display: inline-flex;
      gap: 0.5rem;
      align-items: center;
      max-width: 100%;
    }

    &-input {
      //visually hidden but still accessible
      position: absolute;
      top: 0;
      left: 0;
      height: $radio-input-size;
      width: $radio-input-size;
      opacity: 0;
      cursor: pointer;
      margin: 0;
      padding: 0;
      border: 0;
    }

    &-icon {
      border: $radio-input-border;
      @include border-radius(50%);
      background-color: $radio-input-bg;
      height: $radio-input-size;
      width: $radio-input-size;
      display: inline-flex;
      cursor: pointer;
      flex-shrink: 0;
      flex-grow: 0;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    &-label {
      color: var(--md-primary-text-color);
      cursor: pointer;
      font-size: $font-size-base;
      line-height: $radio-input-max-height;
      padding-inline-end: 0.5rem;
      position: relative;
      vertical-align: middle;
      @include text-dots;
    }

    &-help-text--hide {
      display: none;
    }
  }

  .help-text-radio {
    padding-top: 0;
    padding-left: 1.5rem;
  }
}

:host(:focus) {
  @include remove-focus();
}

:host([focus-visible]:not([disabled])) {
  @include remove-focus();

  .md-radio-icon {
    @include focus-ring();
  }
}

:host(:hover:not([disabled])) {
  .md-radio-icon {
    border: $radio-input-hover-border;
    background-color: $radio-input-hover-bg;
  }
}

:host(:active:not([disabled])) {
  .md-radio-icon {
    border: $radio-input-pressed-border;
    background-color: $radio-input-pressed-bg;
  }
}

:host([disabled]) {
  cursor: not-allowed;

  .md-radio-input {
    cursor: not-allowed;
  }

  .md-radio-label {
    cursor: not-allowed;
    color: var(--radio-input-disabled-text-color);
  }

  .md-radio-icon {
    cursor: not-allowed;
    border-color: var(--radio-input-disabled-border-color);
    background-color: var(--radio-input-disabled-bg-color);
  }
}

:host([checked]) {
  .md-radio-icon {
    border-color: var(--radio-input-selected-border-color);
    background-color: $radio-input-selected-bg;
  }
  .md-radio-icon:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: rem-calc(6);
    height: rem-calc(6);
    background-color: var(--radio-input-icon-color);
    border-radius: 50%;
  }
}

:host([checked]:hover:not([disabled])) {
  .md-radio-icon {
    border-color: var(--radio-input-selected-hover-border-color);
    background-color: var(--radio-input-selected-hover-bg-color);
  }
}

:host([checked]:active:not([disabled])) {
  .md-radio-icon {
    border-color: var(--radio-input-selected-pressed-border-color);
    background-color: var(--radio-input-selected-pressed-bg-color);
  }
}

:host([checked][disabled]) {
  .md-radio-icon {
    border-color: var(--radio-input-selected-disabled-border-color);
    background-color: var(--radio-input-selected-disabled-bg-color);
  }

  .md-radio-icon:before {
    background-color: var(--radio-input-selected-disabled-border-color);
  }
}

@media (forced-colors: active) {
  :host(md-radio) {
    .md-radio {
      &-icon {
        border: 1px solid CanvasText;
      }
    }
  }

  :host(:hover:not([disabled])) .md-radio-icon,
  :host(:active:not([disabled])) .md-radio-label:before {
    border: none;
    outline: 2px solid Highlight;
    outline-offset: -1px;
  }

  :host([checked]) .md-radio-icon {
    background-color: Highlight;
    border: none;
    outline: none;
  }

  :host([checked]:hover:not([disabled])) .md-radio-icon {
    background-color: Highlight;
  }

  :host([checked]) .md-radio-icon:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: Canvas;
    border-radius: 50%;
  }

  :host([focus-visible]:not([disabled])) {
    outline: 2px solid Highlight;
    outline-offset: -1px;
  }
}
