:host(md-radio) {
  .md-radio {
    &-wrapper {
      max-height: $radio-input-max-height;
      display: inline-flex;
    }

    &-input {
      height: $radio-input-max-height;
      position: absolute;
      visibility: hidden;
      width: 100%;
    }

    &-label {
      color: var(--md-primary-text-color, $md-gray-100);
      cursor: pointer;
      font-size: $font-size-base;
      line-height: $radio-input-max-height;
      padding-left: calc(#{$radio-input-size} * 1.8);
      padding-right: calc(#{$radio-main-indent} / 2);
      pointer-events: none;
      position: relative;
      @include text-dots;

      &::before {
        content: "";
        position: absolute;
        border: $radio-input-border;
        @include border-radius(50%);
        box-shadow: inset 0 0 0 $radio-input-selected-size $radio-input-bg, inset 0 0 0 $radio-input-size $radio-input-bg;
        box-sizing: border-box;
        height: $radio-input-size;
        left: rem-calc(2);
        top: rem-calc(1);
        width: $radio-input-size;
      }
    }
  }
}

:host(:focus) {
  box-shadow: none;
  outline: none;
}

:host([focus-visible]:not([disabled])) {
  @include focus-boxshadow(rem-calc(2), var(--md-default-focus-outline-color, $md-blue-70));
}

:host(:hover:not([disabled])) {
  .md-radio-label:before {
    border: $radio-input-hover-border;
    box-shadow: inset 0 0 0 $radio-input-selected-size $radio-input-hover-bg,
    inset 0 0 0 $radio-input-size $radio-input-hover-bg;
  }
}

:host(:active:not([disabled])) {
  .md-radio-label:before {
    border: $radio-input-pressed-border;
    box-shadow: inset 0 0 0 $radio-input-selected-size $radio-input-pressed-bg,
    inset 0 0 0 $radio-input-size $radio-input-pressed-bg;
  }
}

:host([disabled]) {
  cursor: not-allowed;
  opacity: 0.4;
  .md-radio-label:before {
    border: $radio-input-hover-border;
    box-shadow: inset 0 0 0 $radio-input-selected-size $radio-input-hover-bg,
    inset 0 0 0 $radio-input-size $radio-input-hover-bg;
  }
}

:host([aria-checked="true"]) {
  .md-radio-label:before {
    border-color: var(--radio-input-selected-border-color, $lm-radio-input-selected-border-color-light);
    box-shadow: inset 0 0 0 $radio-input-selected-size $radio-input-selected-bg,
    inset 0 0 0 $radio-input-size $md-white-100;
  }
}

:host([aria-checked="true"]:hover:not([disabled])) {
  .md-radio-label:before {
    border-color: var(--radio-input-selected-hover-border-color, $lm-radio-input-selected-hover-border-color-light);
    box-shadow: inset 0 0 0 $radio-input-selected-size
      var(--radio-input-selected-hover-bg-color, $lm-radio-input-selected-hover-bg-color-light),
      inset 0 0 0 $radio-input-size $md-white-100;
  }
}

:host([aria-checked="true"]:active:not([disabled])) {
  .md-radio-label:before {
    border-color: var(--radio-input-selected-pressed-border-color, $lm-radio-input-selected-pressed-border-color-light);
    box-shadow: inset 0 0 0 $radio-input-selected-size
      var(--radio-input-selected-pressed-bg-color, $lm-radio-input-selected-pressed-bg-color-light),
      inset 0 0 0 $radio-input-size $md-white-100;
  }
}

@media (forced-colors: active) {
  :host(md-radio) {
    .md-radio {
      &-label {
        &::before {
          border: 1px solid CanvasText;
        }
      }
    }
  }

  :host(:hover:not([disabled])) .md-radio-label:before,
  :host(:active:not([disabled])) .md-radio-label:before
   {
    border: none;
    outline: 2px solid Highlight;
    outline-offset: -1px;
  }

  
  :host([aria-checked="true"]) .md-radio-label:before {
    background-color: Highlight;
    border:none;
    outline:none;
  }

  :host([aria-checked="true"]:hover:not([disabled])) .md-radio-label:before {
    background-color: Highlight;
  }

  :host([aria-checked="true"]) .md-radio-label:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: Canvas;
    border-radius: 50%;
  }

  :host([focus-visible]:not([disabled])) {
    outline: 2px solid Highlight;
    outline-offset: -1px;
  }
}
