:host(md-radiogroup) {
  display: flex;
}
:host(md-radio) {
  border-radius: $radio-input-border-radius;
  display: inline !important;
}

:host([alignment="vertical"]) div {
  display: inline-flex;
  flex-direction: column;
}

:host([alignment="vertical"]) div ::slotted(md-radio) {
  margin-bottom: calc(#{$radio-main-indent} * 2);
}

:host([alignment="horizontal"]) div {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: calc(#{$radio-main-indent} * 4);
  row-gap: calc(#{$radio-main-indent} * 3);
}

:host([disabled]) div ::slotted(md-radio) {
  pointer-events: none;
}
