$list-item-meeting__margin: (rem-calc(6) 0);
$list-item-meeting__padding: (0 rem-calc(20));
$list-item-meeting__border-radius: 4px;
$list-item__section-margin-side: rem-calc(20);
$list-item-meeting__background: $md-gray-10;
$list-item-meeting__background--hover: $md-gray-20;
$list-item-meeting__background--pressed: $md-gray-20;
