@import "@/wc_scss/tools/functions/core";

@import "~@momentum-ui/icons/scss/variables";
@import "~@momentum-ui/icons/scss/mixins";

 @import "@/wc_scss/colors/settings";
@import "@/wc_scss/settings/core";
@import "@/wc_scss/settings/forms";

@import "@/wc_scss/path";

@import "@/wc_scss/typography/settings";

@import "@/wc_scss/tools/mixins/spinner";
@import "@/wc_scss/typography/mixins";
@import "@/wc_scss/tools/mixins/core";
@import "@/wc_scss/tools/mixins/focus";
@import "@/wc_scss/tools/mixins/flex";

@import "@/wc_scss/settings/input";
@import "@/wc_scss/tools/mixins/input";
@import "./input";