@import 'mixins';

@include exports('spark-icons-bordered') {
  .#{$icon-css-prefix}-border {
    padding: .2em .25em .15em;
    border: solid .08em $icon-border-color;
    border-radius: .1em;
  }

  .#{$icon-css-prefix}-pull-left {
    float: left;
  }

  .#{$icon-css-prefix}-pull-right {
    float: right;
  }

  .#{$icon-css-prefix} {
    &.#{$icon-css-prefix}-pull-left {
      margin-right: .3em;
    }

    &.#{$icon-css-prefix}-pull-right {
      margin-left: .3em;
    }
  }

  .pull-right {
    float: right;
  }

  .pull-left {
    float: left;
  }

  .#{$icon-css-prefix} {
    &.pull-left {
      margin-right: .3em;
    }

    &.pull-right {
      margin-left: .3em;
    }
  }
}
