@import 'variables';
@import 'mixins';

@include exports('momentum-ui-icons-path') {

  @font-face {
    font-family: $icon-font-name;
    src: url("#{$icon-font-path}/momentum-ui-icons.woff2?ebab66fdc438c610faf340539c0c3dc4") format("woff2"),
      url("#{$icon-font-path}/momentum-ui-icons.woff?4c923fb2b37411b047ebd34d4f9fa6d0") format("woff");
    font-weight: normal;
    font-style: normal;
  }

}
