@import 'variables';
@import 'mixins';

@include exports('spark-icons-path') {

  @font-face {
    font-family: $icon-font-name;
    src: url("#{$icon-font-path}/collab-ui-icons.eot?9c4c1c3be79fcf8e61521b4587783a89?#iefix") format("embedded-opentype"),
url("#{$icon-font-path}/collab-ui-icons.woff2?9c4c1c3be79fcf8e61521b4587783a89") format("woff2"),
url("#{$icon-font-path}/collab-ui-icons.woff?9c4c1c3be79fcf8e61521b4587783a89") format("woff"),
url("#{$icon-font-path}/collab-ui-icons.ttf?9c4c1c3be79fcf8e61521b4587783a89") format("truetype"),
url("#{$icon-font-path}/collab-ui-icons.svg?9c4c1c3be79fcf8e61521b4587783a89#collab-ui-icons") format("svg");
    font-weight: normal;
    font-style: normal;
  }

}
