@import 'variables';
@import 'mixins';

@include exports('momentum-ui-icons-path') {

  @font-face {
    font-family: $icon-font-name;
    src: url("#{$icon-font-path}/momentum-ui-icons.woff2?ace1b3c2e825866157851e6e7dce4880") format("woff2"),
      url("#{$icon-font-path}/momentum-ui-icons.woff?3f5bd9c8db3035d54328290032b8d86b") format("woff");
    font-weight: normal;
    font-style: normal;
  }

}
