@include exports("md-toggle-switch") {
  .md-toggle-switch {
    @include toggle-switch-vars;

    &__input {
      margin-left: -9999px;
      opacity: 0;
      position: absolute;

      &:disabled,
      &.disabled {
        + .md-toggle-switch__label {
          cursor: default;

          .md-toggle-switch__label__container {
            cursor: default;
          }
        }
      }

      &:checked {
        + .md-toggle-switch__label {
          .md-toggle-switch__label__container {
            &::after {
              left: calc(100% - 2px);
              transform: translateX(-100%);
            }
          }
        }
      }
    }

    &__label {
      cursor: pointer;
      display: inline-flex;
      line-height: rem-calc($toggle-switch__height);

      &__container {
        background-clip: padding-box;
        border: none;
        border-radius: $toggle-switch__height;
        cursor: pointer;
        display: block;
        height: $toggle-switch__height;
        margin-right: 0.75rem;
        position: relative;
        transition: background 350ms;
        width: $toggle-switch__width;

        &__left {
          margin-right: 0;
          margin-left: 0.75rem;
        }

        @media screen and (-ms-high-contrast: active) {
          filter: brightness(1) contrast(1) saturate(1.5);
        }

        &::after {
          border-radius: 100%;
          bottom: 2px;
          box-shadow: 0 1px 2px 0 $black-32;
          content: "";
          height: $toggle-switch__size;
          left: 2px;
          position: absolute;
          top: 2px;
          transition: 350ms;
          width: $toggle-switch__size;
        }
      }
    }

    &--small {
      .md-toggle-switch__label__container {
        height: $toggle-switch__height--small;
        width: $toggle-switch__width--small;

        &::after {
          height: $toggle-switch__size--small;
          width: $toggle-switch__size--small;
        }
      }

    }

    &--smaller {
      .md-toggle-switch__label__container {
        height: $toggle-switch__height--smaller;
        width: $toggle-switch__width--smaller;

        &::after {
          height: $toggle-switch__size--smaller;
          width: $toggle-switch__size--smaller;
        }
      }
    }
  }
}
