$alert__class: "md-alert";
$alert__border-radius: 5px;

$alert__font-size: var(--body-secondary-font-size, rem-calc(14)) !default;
$alert__font-size--title: var(--body-primary-font-size, rem-calc(16)) !default;
$alert__icon-font-size: rem-calc(44) !default;

$alert__background-color: var(--meeting-alert-bg-color, $md-white-100) !default;
$alert__border-color: var(--meeting-alert-border-color, $black-12) !default;

$alert__font-color: var(--meeting-alert-text-color, $md-gray-90) !default;
$alert__font-color--title: var(--meeting-alert-title-text-color, $md-black-100) !default;
$alert__font-color--status: var(--meeting-alert-success-text-color, $md-green-70) !default;
$alert__font-color--info: var(--meeting-alert-info-text-color, $md-theme-50) !default;
$alert__font-color--success: var(--meeting-alert-success-text-color, $md-green-50 )!default;
$alert__font-color--warning: var(--meeting-alert-warning-text-color, $md-yellow-50) !default;
$alert__font-color--error: var(--meeting-alert-error-text-color, $md-red-50) !default;

$alert__padding: rem-calc(8);
$alert__padding-right: rem-calc(13);
$alert__padding-left: rem-calc(17);

$alert__padding--call: rem-calc(17);
$alert__padding-top--call: rem-calc(12);
$alert__padding-bottom--call: rem-calc(25);

$alert__width: rem-calc(342);
