{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@collab-ui/react": "./src/lib"
        }
      }
    ]
  ],
  "env": {
    "development": {
      "presets": [
        "@babel/preset-env",
        ["@babel/preset-stage-0", {"decoratorsLegacy": true}],
        "@babel/preset-react"
      ],
      "plugins": ["react-hot-loader/babel"]
    },
    "lib": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": "commonjs",
            "shippedProposals": true,
            "loose": true,
            "targets": {
              "browsers": ["last 4 versions", "not ie <= 9"]
            }
          }
        ],
        ["@babel/preset-stage-0", {"decoratorsLegacy": true}],
        "@babel/preset-react"
      ],
      "plugins": [
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-export-namespace-from",
        ["@babel/plugin-transform-runtime", { "useESModules": false }],
        "babel-plugin-add-module-exports"
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "loose": true,
            "shippedProposals": true,
            "forceAllTransforms": true,
            "targets": {
              "browsers": ["last 4 versions", "not ie <= 9"]
            }
          }
        ],
        ["@babel/preset-stage-0", {"decoratorsLegacy": true}],
        "@babel/preset-react"
      ],
      "plugins": [
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-export-namespace-from",
        ["@babel/plugin-transform-runtime", { "useESModules": true }]
      ]
    },
    "test": {
      "presets": [
        "@babel/preset-env",
        ["@babel/preset-stage-0", {"decoratorsLegacy": true}],
        "@babel/preset-react"
      ]
    }
  }
}