:host(:focus) {
  box-shadow: none;
  outline: none !important;
}

:host(md-pagination) {

  .md-pagination {
    display: flex;
    position: relative;
    padding: 0;
    color: var(--pagination-nav-color, $md-pagination-nav-color-light);

    &-container {
      @include flex($fd: column);
      flex: 0 1 100%;
    }

    &-list {
      @include list-style();
      @include flex();
      font-size: $pagination-font-size;
      line-height: $pagination-line-height;

      li {
        @include flex();
        margin: $pagination-indent;
        border-radius: $pagination-border-radius;
        color: var(--pagination-color, $md-pagination-color-light);
        cursor: pointer;
        min-width: $pagination-size;
        height: $pagination-size;
        padding: $pagination-item-indent;

        &:hover {
          color: var(--pagination-color-current, $md-pagination-color-current-light);
          background: var(--pagination-bg-hover, $md-pagination-bg-hover-light);
        }

        &:focus {
          box-shadow: $pagination-nav-focus var(--pagination-nav-focus, $md-pagination-nav-focus-light);
        }

        &[aria-current="page"] {
          pointer-events: none;
          cursor: default;
          color: var(--pagination-color-current, $md-pagination-color-current-light);
          background: var(--pagination-bg-current, $md-pagination-bg-current-light);
        }
      }
    }

    &-nav {
      background: none;
      border: 0;
      cursor: pointer;
      padding: 0;
      @include flex;
      flex: 0 0 $pagination-arrow-size;
      outline: none;
      border-radius: $pagination-nav-border-radius;
      color: var(--pagination-nav-color, $md-pagination-nav-color-light);

      &:hover {
        color: var(--pagination-nav-hover, $md-pagination-nav-hover-light);
      }

      &:disabled {
        color: var(--pagination-nav-disabled, $md-pagination-nav-disabled-light);
        cursor: default;
      }

      &:focus {
        box-shadow: $pagination-nav-focus var(--pagination-nav-focus, $md-pagination-nav-focus-light);
      }
    }

    &-dots {
      @include list-style();
      @include flex;

      li {
        width: $pagination-dots-size;
        height: $pagination-dots-size;
        border-radius: 50%;
        margin: $pagination-dots-margin;
        background: var(--pagination-dots-color, $md-pagination-dots-color-light);
        @include text-overflow();
        cursor: pointer;

        &.current,
        &:hover {
          background: var(--pagination-dots-color-current, $md-pagination-dots-color-current-light);
        }
      }
    }
  }


}

:host([focus-visible]) {
  box-shadow: $pagination-nav-focus var(--pagination-nav-focus, $md-pagination-nav-focus-light);
}
