:host(:focus) {
  box-shadow: none;
  outline: none !important;
}

:host(md-pagination) {
  .md-pagination {
    color: var(--pagination-nav-color);
    display: flex;
    padding: 0;
    position: relative;

    &-container {
      @include flex($fd: column);
      flex: 0 1 100%;
    }

    &-list {
      @include list-style();
      @include flex();
      font-size: $pagination-font-size;
      line-height: $pagination-line-height;
      color: var(--pagination-color);

      li:not(.page-ellipsis) {
        @include flex();
        border-radius: $pagination-border-radius;
        cursor: pointer;
        height: $pagination-size;
        margin: $pagination-indent;
        min-width: $pagination-size;
        padding: $pagination-item-indent;

        &:hover {
          background: var(--pagination-bg-hover);
          color: var(--pagination-color-current);
        }

        &:focus {
          box-shadow: $pagination-nav-focus var(--md-default-focus-outline-color, $md-blue-70);
        }

        &[aria-current="true"] {
          background: var(--pagination-bg-current);
          color: var(--pagination-color-current);
          cursor: default;
          pointer-events: none;
        }
      }
    }

    &-nav {
      cursor: pointer;

      &:disabled {
        cursor: default;
      }
    }

    &-dots {
      @include list-style();
      @include flex;

      li {
        @include text-overflow();
        background: var(--pagination-dots-color);
        border-radius: 50%;
        cursor: pointer;
        height: $pagination-dots-size;
        margin: $pagination-dots-margin;
        width: $pagination-dots-size;

        &[aria-current="true"],
        &:hover {
          background: var(--pagination-dots-color-current);
        }
      }
    }
  }
}

:host([focus-visible]) {
  box-shadow: $pagination-nav-focus var(--md-default-focus-outline-color, $md-blue-70);
}

@media (forced-colors: active) {
  :host(md-pagination) {
    .md-pagination {
      &-nav {
        &:focus,
        &:hover {
          outline: 1px solid Highlight;
        }
      }

      &-list {
        li:not(.page-ellipsis) {
          &[aria-current="true"],
          &:hover {
            forced-color-adjust: none;
            background-color: Highlight;
            color: Canvas;
          }
        }
      }

      &-dots {
        li {
          background-color: GrayText;
          &[aria-current="true"],
          &:hover {
            forced-color-adjust: none;
            background-color: Highlight;
            color: Canvas;
          }
        }
      }
    }
  }
}
