$pagination-height: rem-calc(20);
$pagination-font-size: rem-calc(14);
$pagination-indent: rem-calc(0 2);
$pagination-border-radius: rem-calc(4);
$pagination-item-indent: rem-calc(0 10);
$pagination-arrow-size: rem-calc(20);
$pagination-dots-size: rem-calc(4);
$pagination-dots-margin: rem-calc(4);
$pagination-nav-focus: 0 0 0 rem-calc(2);
