$pagination-height: rem-calc(20);
$pagination-dots-height: rem-calc(32);
$pagination-arrow-size: rem-calc(20);
$pagination-arrow-indent: rem-calc(24);
$pagination-dots-indent: rem-calc(10);
$pagination-dots-size: rem-calc(4);
$pagination-dots-margin: rem-calc(4);

