$pagination-size: rem-calc(20);
$pagination-font-size: rem-calc(14);
$pagination-line-height: 1;
$pagination-item-indent: rem-calc(4);
$pagination-indent: rem-calc(0 2);
$pagination-border-radius: rem-calc(14);
$pagination-nav-border-radius: rem-calc(4);
$pagination-arrow-size: rem-calc(20);
$pagination-dots-size: rem-calc(8);
$pagination-dots-margin: rem-calc(4);
$pagination-nav-focus: 0 0 0 rem-calc(2);
