/** @component menu-overlay */
@include exports("md-menu-overlay") {
  .md-menu-overlay {
    box-sizing: border-box;
    color: var(--md-primary-text-color);
    position: relative;

    * {
      box-sizing: inherit;
    }

    .overlay-content {
      background-color: var(--md-primary-bg-color);
      border: 1px solid var(--md-menu-overlay-border-color, --gray-20);
      border-radius: rem-calc($global-radius * 2);
      display: flex;
      justify-content: space-around;
      max-width: calc(100vw - var(--vw-padding) * 2);
      overflow-y: auto;
    }

    .overlay-container {
      border-radius: rem-calc($global-radius * 2);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16), 0 0 1px rgba(0, 0, 0, 0.14);
      box-sizing: border-box;
      display: none;
      position: absolute;
      z-index: 1000;

      &[data-show] {
        display: block;
      }
    }
  }

  .overlay-arrow {
    height: 0;
    visibility: hidden;
    width: 0;

    &[data-show] {
      visibility: visible;
    }
  }

  .overlay-container[data-popper-placement^="top"] > .overlay-arrow {
    border-left: solid $arrow-size transparent;
    border-right: solid $arrow-size transparent;
    border-top: solid $arrow-size var(--md-menu-overlay-border-color, --gray-20);
    bottom: $arrow-offset;
    filter: drop-shadow(0px 14px 8px rgba(0, 0, 0, 0.16));
  }

  .overlay-container[data-popper-placement^="bottom"] > .overlay-arrow {
    border-bottom: solid $arrow-size var(--md-menu-overlay-border-color, --gray-20);
    border-left: solid $arrow-size transparent;
    border-right: solid $arrow-size transparent;
    top: $arrow-offset;
    filter: drop-shadow(0px -14px 8px rgba(0, 0, 0, 0.16));
  }

  .overlay-container[data-popper-placement^="right"] > .overlay-arrow {
    border-bottom: solid $arrow-size transparent;
    border-right: solid $arrow-size var(--md-menu-overlay-border-color, --gray-20);
    border-top: solid $arrow-size transparent;
    left: $arrow-offset;
    filter: drop-shadow(-16px 0px 10px rgba(0, 0, 0, 0.16));
  }

  .overlay-container[data-popper-placement^="left"] > .overlay-arrow {
    border-bottom: solid $arrow-size transparent;
    border-left: solid $arrow-size var(--md-menu-overlay-border-color, --gray-20);
    border-top: solid $arrow-size transparent;
    right: $arrow-offset;
    filter: drop-shadow(16px 0px 10px rgba(0, 0, 0, 0.16));
  }

  .overlay-container > .overlay-arrow:after {
    content: "";
    position: absolute;
    border-width: 19px;
    border-style: solid;
    border-color: transparent;
  }

  // styling to create triangle border to match menu for pointer
  .overlay-container[data-popper-placement^="top"] > .overlay-arrow:after {
    border-top-color: var(--md-menu-overlay-arrow-bg-color, var(--md-tertiary-white-bg-color));
    bottom: -17px;
    right: -19px;
  }

  .overlay-container[data-popper-placement^="bottom"] > .overlay-arrow:after {
    border-bottom-color: var(--md-menu-overlay-arrow-bg-color, var(--md-tertiary-white-bg-color));
    top: -17px;
    left: -19px;
  }

  .overlay-container[data-popper-placement^="right"] > .overlay-arrow:after {
    border-right-color: var(--md-menu-overlay-arrow-bg-color, var(--md-tertiary-white-bg-color));
    bottom: -19px;
    left: -17px;
  }

  .overlay-container[data-popper-placement^="left"] > .overlay-arrow:after {
    border-left-color: var(--md-menu-overlay-arrow-bg-color, var(--md-tertiary-white-bg-color));
    top: -19px;
    right: -17px;
  }
}