@import '../settings/colors';
@import '../settings/core';
@import '../settings/accordion';
@import '../settings/list-item';
@import '../tools/mixins/accordion';
@import '../settings/fonts';
@import '../tools/mixins/core';
@import 'node_modules/@collab-ui/icons/scss/mixins';

@include exports('cui-accordion') {
  .#{$accordion__class} {
    margin-bottom: 0;
    width: 100%;

    &__group {
      display: block;
      margin-bottom: 0;
      width: 100%;
      @include accordion--light();
      @include accordion--dark();

      &.#{$accordion__class}__group--disabled {
        > .#{$accordion__class}__header {
          opacity: $accordion-header__opacity--disabled;
          pointer-events: none;
        }
      }

      > .#{$accordion__class}__header {
        display: flex;
        padding: $accordion-header__padding;
        font-family: $accordion-header__font-family;
        font-size: $accordion__font-size;
        font-weight: normal;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        > .#{$accordion__class}__header-icon:before {
          @include icon-arrow-down_16;
          font-family: $icon-font-name;
          font-size: $accordion-arrow__font-size;
          font-weight: normal;
        }

        &.#{$accordion__class}__header {
          &--56 {
            height: rem-calc(56);
          }
        }
      }
      > .#{$accordion__class}__content {
          display: none;
          width: 100%;

          .#{$list-item__class} {
            height: $accordion-list-item__height;
            padding: 0 $accordion-list-item__padding 0
              $accordion-list-item__padding;
            font-family: $accordion-list-item__font-family;
            font-size: $accordion__font-size;
          }
      }
      &.#{$accordion__class}__group--active {
        > .#{$accordion__class}__content {
          display: block;
        }

        .#{$accordion__class}__header-icon:before {
          @include icon-arrow-up_16;
        }
      }
    }
  }
}
