/*
* @category controls
* @component activity
* @design collaboration-design
*/

@import '../settings/buttons';
@import '../tools/mixins/buttons';
@include exports('cui-activity') {
  .cui-button.cui-activity {
    width: rem-calc(68);
    height: rem-calc(68);
    fill: $white;
    padding: 0;
    font-size: rem-calc(28);

    &__chat,
    .#{$dark-class} & {
      @include button-color(
        $color: $button__font-color--alt,
        $bg: $button--blue__backround-color,
        $bg-hover: $button--blue__backround-color--hover,
        $bg-active: $button--blue__backround-color--active
      );
    }
    &__camera,
    .#{$dark-class} & {
      @include button-color(
        $color: $button__font-color--alt,
        $bg: $button--green__backround-color,
        $bg-hover: $button--green__backround-color--hover,
        $bg-active: $button--green__backround-color--active
      );
    }
    &__meetings,
    .#{$dark-class} & {
      @include button-color(
        $color: $button__font-color--alt,
        $bg: $button--orange__backround-color,
        $bg-hover: $button--orange__backround-color--hover,
        $bg-active: $button--orange__backround-color--active
      );
    }
    &__whiteboard,
    .#{$dark-class} & {
      @include button-color(
        $color: $button__font-color--alt,
        $bg: $button--purple__backround-color,
        $bg-hover: $button--purple__backround-color--hover,
        $bg-active: $button--purple__backround-color--active
      );
    }
    &__files,
    .#{$dark-class} & {
      @include button-color(
        $color: $button__font-color--alt,
        $bg: $button--yellow__backround-color,
        $bg-hover: $button--yellow__backround-color--hover,
        $bg-active: $button--yellow__backround-color--active
      );
    }
    &__share-screen,
    .#{$dark-class} & {
      @include button-color(
        $color: $button__font-color--alt,
        $bg: $button--cyan__backround-color,
        $bg-hover: $button--cyan__backround-color--hover,
        $bg-active: $button--cyan__backround-color--active
      );
    }
    &__tasks,
    .#{$dark-class} & {
      @include button-color(
        $color: $button__font-color--alt,
        $bg: $button--mint__backround-color,
        $bg-hover: $button--mint__backround-color--hover,
        $bg-active: $button--mint__backround-color--active
      );
    }
    &--large {
      width: rem-calc(84);
      height: rem-calc(84);
      font-size: rem-calc(36);
    }
  }
}
