/**
* @name Alerts
* @description Alerts to show Success/Error Messages.
* @category communication
* @component alert
*/

@import '../settings/alerts';
@import '../settings/close';
@import '../settings/colors';
@import '../settings/core';
@import '../settings/fonts';
@import '../tools/mixins/flex';
@import '../tools/mixins/spacing-responsive';
@import '../tools/mixins/vendor-prefixes';
@import 'node_modules/@collab-ui/icons/scss/collab-ui-icons';

@include exports('cui-alert') {
  .#{$alert__class} {

    @include flex(
      $jc: flex-start,
      $ac: flex-start
    );
    @include border-radius($alert__border-radius);

    width: $alert__width;
    max-height: rem-calc(308);
    min-height: rem-calc(78);
    padding: $alert__padding $alert__padding-right $alert__padding $alert__padding-left;
    margin-bottom: rem-calc(8);
    border: 1px solid $black-12;
    box-shadow: 0 8px 16px 0 $black-08;

    .#{$alert__class}__icon {
      font-family: $icon-font-name;
      font-size: $alert__icon-font-size;
      line-height: $alert__icon-line-height;

      &:before {
        color: $alert__font-color--info;

        @include icon-info_24;
      }
    }

    .#{$alert__class}__content {
      display: flex;
      flex-direction: column;
      width: rem-calc(215);
      padding-right: rem-calc(2);
      padding-left: rem-calc(16);
    }

    .#{$alert__class}__title {
      font-size: $alert__font-size--title;
      line-height: rem-calc(24);
      color: $alert__font-color--info;
    }

    .#{$alert__class}__status,
    .#{$alert__class}__message {
      font-family: $brand-font-light;
      font-size: $alert__font-size;
      line-height: rem-calc(18);
    }

    .#{$alert__class}__status {
      color: $alert__font-color--status;
    }

    .#{$alert__class}__message {
      color: $alert__font-color;
    }

    .#{$alert__class}__button {
      margin-left: rem-calc(8);
    }

    &.#{$alert__class}--success {
      .#{$alert__class}__icon {
        &:before {
          color: $alert__font-color--success;

          @include icon-check-circle_24;
        }
      }

      .#{$alert__class}__title {
        color: $alert__font-color--success;
      }
    }

    &.#{$alert__class}--warning {
      .#{$alert__class}__icon {
        &:before {
          color: $alert__font-color--warning;

          @include icon-warning_24;
        }
      }

      .#{$alert__class}__title {
        color: $alert__font-color--warning;
      }
    }

    &.#{$alert__class}--error {
      .#{$alert__class}__icon {
        &:before {
          color: $alert__font-color--error;
          
          @include icon-clear_24;
        }
      }

      .#{$alert__class}__title {
        color: $alert__font-color--error;
      }
    }

    &.#{$alert__class}--meeting {
      .#{$alert__class}__content {
        width: 10.45rem;
      }

      .#{$alert__class}__title,
      .#{$alert__class}__message {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .#{$alert__class}__title {
        color: $alert__font-color--title;
      }
    }
  }
}

/**
* @name Alerts
*
* @category communication
* @component alert
* @section default
* @description Alerts require JavaScript to show and hide the DOM elements. Please refer to one of our React or Angular libraries for functional examples. The code below is for HTML and CSS classname structure only.
*
* @hidecode true
*
* @html
*/

/**
/**
* @name Information
*
* @category communication
* @component alert
* @section info
* @description Create info alerts by using the <code>.cui-alert--info</code> class.
*
* @state: .cui-alert--info - makes the alert info blue
*
* @html
* <div class="cui-alert">
*   <div class="cui-alert__icon"></div>
*   <div class="cui-alert__content">
*     <div class="cui-alert__title">Title goes here</div>
*     <div class="cui-alert__message">Info text here. Lorem ipsum dolor sit amet, consectetur.</div>
*   </div>
*   <div class="cui-alert__button">
*     <button type="button" class="cui-button cui-button--circle cui-button--large">
*       <span class="cui-button__children icon icon-cancel_14"></span>
*     </button>
*   </div>
* </div>
*/

/**
* @name Success
*
* @category communication
* @component alert
* @section success
* @description Create success alerts by using the <code>.cui-alert--success</code> class.
*
* @state: .cui-alert--success - makes the alert success green
*
* @html
* <div class="cui-alert cui-alert--success">
*   <div class="cui-alert__icon"></div>
*   <div class="cui-alert__content">
*     <div class="cui-alert__title">Title goes here</div>
*     <div class="cui-alert__message">Success text here. Lorem ipsum dolor sit amet, consectetur.</div>
*   </div>
*   <div class="cui-alert__button">
*     <button type="button" class="cui-button cui-button--circle cui-button--large">
*       <span class="cui-button__children icon icon-cancel_14"></span>
*     </button>
*   </div>
* </div>
*/

/**
* @name Warning
*
* @category communication
* @component alert
* @section warning
* @description Create warning alerts by using the <code>.cui-alert--warning</code> class.
*
* @state: .cui-alert-warning
*
* @html
* <div class="cui-alert cui-alert--warning">
*   <div class="cui-alert__icon"></div>
*   <div class="cui-alert__content">
*     <div class="cui-alert__title">Title goes here</div>
*     <div class="cui-alert__message">Warning text here. Lorem ipsum dolor sit amet, consectetur.</div>
*   </div>
*   <div class="cui-alert__button">
*     <button type="button" class="cui-button cui-button--circle cui-button--large">
*       <span class="cui-button__children icon icon-cancel_14"></span>
*     </button>
*   </div>
* </div>
*/

/**
* @name Error
*
* @category communication
* @component alert
* @section error
* @description Create error alerts by using the <code>.cui-alert--error</code> class.
*
* @state: .cui-alert-error
*
* @html
* <div class="cui-alert cui-alert--error">
*   <div class="cui-alert__icon"></div>
*   <div class="cui-alert__content">
*     <div class="cui-alert__title">Title goes here</div>
*     <div class="cui-alert__message">Error text here. Lorem ipsum dolor sit amet, consectetur.</div>
*   </div>
*   <div class="cui-alert__button">
*     <button type="button" class="cui-button cui-button--circle cui-button--large">
*       <span class="cui-button__children icon icon-cancel_14"></span>
*     </button>
*   </div>
* </div>
*/
