@import '../tools/mixins/avatar';
@import '../tools/mixins/flex';
@import '../settings/fonts';
@import 'node_modules/@collab-ui/icons/scss/mixins';

@include exports('cui-avatar') {
  .#{$avatar__class} {
    @include border-radius(50%);

    position: relative;
    display: inline-flex;
    overflow: hidden;
    font-family: $brand-font-regular;
    text-transform: uppercase;
    user-select: none;

    @include avatar-size();

    &.#{$avatar__class}--ooo:after {
      // TODO: Replace this with a out of office icon
      @include avatar-overlay-style();
      @include icon-info_24;
    }

    &.#{$avatar__class}--dnd:after {
      @include avatar-overlay-style();
      @include icon-dnd-24;
    }

    .#{$avatar__class}__img {
      @include avatar-contents-base();
    }

    .#{$avatar__class}__letter {
      @include avatar-contents-base();

      color: $avatar-letter__color;
      background-color: $avatar-letter__background;
    }

    .#{$avatar__class}__icon {
      @include avatar-contents-base();

      color: $avatar-icon__color;
      background-color: $avatar-icon__background;
      fill: currentColor;

      &--overview {
        @include border-radius($global-rounded);
        @include box-shadow(inset 0 0 0 1px $white-16);
        background-color: transparent;
        color: $white;
      }
    }

    .#{$avatar__class}--hidden {
      visibility: hidden;
    }

    &.#{$avatar__class}--active {
      border: $avatar--active__border;
      box-shadow: $avatar--active__shadow;
    }

    &.#{$avatar__class}--inactive {
      opacity: $avatar--inactive__opacity;
    }

    &.#{$avatar__class}--xsmall {
      @include avatar-size(
        $avatar--xsmall__dimension,
        $avatar--xsmall__font-size
      );
    }

    &.#{$avatar__class}--small {
      @include avatar-size(
        $avatar--small__dimension,
        $avatar--small__font-size
      );
    }

    &.#{$avatar__class}--large {
      @include avatar-size(
        $avatar--large__dimension,
        $avatar--large__font-size
      );
    }

    &.#{$avatar__class}--xlarge {
      @include avatar-size(
        $avatar--xlarge__dimension,
        $avatar--xlarge__font-size
      );
    }
  }
}
