@import '../tools/mixins/avatar';
@import '../tools/mixins/flex';
@import '../settings/fonts';
@import 'node_modules/@collab-ui/icons/scss/mixins';

@include exports('cui-avatar') {
  .#{$avatar__class} {

    position: relative;
    display: inline-flex;
    font-family: $brand-font-regular;
    text-transform: uppercase;
    user-select: none;

    @include avatar-size();

    > .#{$avatar__class}__failure-badge:after {
      position: absolute;
      @include flex();
      bottom: 0;
      right: 0;
      @include border-radius($global-rounded);
      @include avatar-size($avatar-failure-badge__size, $avatar-failure-badge__font-size);
      font-weight: bolder;
      background-color: $avatar-failure-badge__background;
      border: $avatar-failure-badge__border;
      color: $avatar-failure-badge__color;
      content: "!";
    }

    &.#{$avatar__class}--ooo:after {
      @include avatar-overlay-style();
      @include icon-pto_24;
    }

    &.#{$avatar__class}--dnd:after {
      @include avatar-overlay-style();
      @include icon-dnd-24;
    }

    &.#{$avatar__class}--typing {
      > .cui-loading {
        @include avatar-overlay-style();
      }
    }

    &.#{$avatar__class}--bot:after {
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: $avatar-bot__border-radius;
      font-size: $avatar-bot__font-size;
      padding: $avatar-bot__padding;
      background-color: $avatar-bot__background;
      color: $avatar-bot__color;
      text-transform: none;
      content: "Bot";
    }

    .#{$avatar__class}__img {
      @include avatar-contents-base();
    }

    .#{$avatar__class}__letter {
      @include avatar-contents-base();

      color: $avatar-letter__color;
      background-color: $avatar-letter__background;
    }

    .#{$avatar__class}__icon {
      @include avatar-contents-base();

      color: $avatar-icon__color;
      background-color: $avatar-icon__background;
      fill: currentColor;

      &--overview {
        @include border-radius($global-rounded);
        @include box-shadow(inset 0 0 0 1px $white-16);

        color: $white;
        background-color: transparent;
      }
    }

    .#{$avatar__class}--hidden {
      display: none;
    }

    &.#{$avatar__class}--active {
      > .#{$avatar__class}__letter,
      > .#{$avatar__class}__img,
      > .#{$avatar__class}__icon {
        border: $avatar--active__border;
        box-shadow: $avatar--active__shadow;
      }
    }

    &.#{$avatar__class}--inactive {
      opacity: $avatar--inactive__opacity;
    }

    &.#{$avatar__class}--xsmall,
    &.#{$avatar__class}--18 {
      @include avatar-size(
        $avatar--xsmall__dimension,
        $avatar--xsmall__font-size
      );
    }

    &.#{$avatar__class}--small,
    &.#{$avatar__class}--28 {
      @include avatar-size(
        $avatar--small__dimension,
        $avatar--small__font-size
      );
    }

    &.#{$avatar__class}--40 {
      @include avatar-size();
    }

    &.#{$avatar__class}--large,
    &.#{$avatar__class}--52 {
      @include avatar-size(
        $avatar--large__dimension,
        $avatar--large__font-size
      );
    }

    &.#{$avatar__class}--xlarge,
    &.#{$avatar__class}--84 {
      @include avatar-size(
        $avatar--xlarge__dimension,
        $avatar--xlarge__font-size
      );
    }
  }
}
