@import '../tools/mixins/avatar';
@import '../tools/mixins/flex';
@import '../settings/fonts';
@import 'node_modules/@collab-ui/icons/scss/mixins';

@include exports('cui-avatar') {
  .#{$avatar__class} {
    position: relative;
    display: inline-flex;
    font-family: $brand-font-regular;
    text-transform: uppercase;
    user-select: none;

    @include avatar-size;

    > .#{$avatar__class}__failure-badge:after {
      position: absolute;
      right: 0;
      bottom: 0;
      font-weight: bolder;
      color: $avatar-failure-badge__color;
      background-color: $avatar-failure-badge__background;
      border: $avatar-failure-badge__border;
      content: '!';

      @include flex;
      @include border-radius($global-rounded);
      @include avatar-size(
        $avatar-failure-badge__size,
        $avatar-failure-badge__font-size
      );
    }

    &.#{$avatar__class}--dark {
      &.#{$avatar__class}--active {
        > .#{$avatar__class}__letter,
        > .#{$avatar__class}__img,
        > .#{$avatar__class}__icon {
          box-shadow: $avatar--active__shadow--dark;
        }
      }
    }

    &.#{$avatar__class}--ooo:after {
      @include avatar-overlay-style;
      @include icon-pto_24;
    }

    &.#{$avatar__class}--dnd:after {
      @include avatar-overlay-style;
      @include icon-dnd-24;
    }

    &.#{$avatar__class}--typing {
      > .cui-loading {
        @include avatar-overlay-style;
      }
    }

    &.#{$avatar__class}--bot:after {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: $avatar-bot__padding;
      font-size: $avatar-bot__font-size;
      line-height: $avatar-bot__line-height;
      color: $avatar-bot__color;
      text-transform: none;
      background-color: $avatar-bot__background;
      border-radius: $avatar-bot__border-radius;
      content: 'Bot';
    }

    .#{$avatar__class}__img {
      @include avatar-contents-base;

      background-color: $avatar-img__background;
    }

    .#{$avatar__class}__letter {
      @include avatar-contents-base;

      color: $avatar-letter__color;
      background-color: $avatar-letter__background;
    }

    .#{$avatar__class}__self {
      @include avatar-contents-base;

      background-color: $avatar-self__background;
      border: $avatar-self__border;
      fill: $avatar-self__color;
    }

    .#{$avatar__class}__icon {
      @include avatar-contents-base;

      color: $avatar-icon__color;
      background-color: $avatar-icon__background;
      fill: currentColor;

      &--overview {
        @include border-radius($global-rounded);
        @include box-shadow(inset 0 0 0 1px $white-16);

        color: $white;
        background-color: transparent;
      }
    }

    .#{$avatar__class}__img--hidden {
      display: none;
    }

    &.#{$avatar__class}--active {
      > .#{$avatar__class}__letter,
      > .#{$avatar__class}__img,
      > .#{$avatar__class}__icon {
        box-shadow: $avatar--active__shadow;
      }
    }

    &.#{$avatar__class}--inactive {
      opacity: $avatar--inactive__opacity;
    }

    &.#{$avatar__class}--xsmall,
    &.#{$avatar__class}--18 {
      @include avatar-size($avatar--18__dimension, $avatar--18__font-size);
    }

    &.#{$avatar__class}--small,
    &.#{$avatar__class}--28 {
      @include avatar-size($avatar--28__dimension, $avatar--28__font-size);
    }

    &.#{$avatar__class}--40 {
      @include avatar-size;
    }

    &.#{$avatar__class}--large,
    &.#{$avatar__class}--52 {
      @include avatar-size($avatar--52__dimension, $avatar--52__font-size);
    }

    &.#{$avatar__class}--56 {
      @include avatar-size($avatar--56__dimension, $avatar--56__font-size);
    }

    &.#{$avatar__class}--xlarge,
    &.#{$avatar__class}--84 {
      @include avatar-size($avatar--84__dimension, $avatar--84__font-size);
    }

    &.#{$avatar__class}--24 {
      @include avatar-size($avatar--24__dimension, $avatar--24__font-size);
    }

    &.#{$avatar__class}--36 {
      @include avatar-size($avatar--36__dimension, $avatar--36__font-size);
    }

    &.#{$avatar__class}--44 {
      @include avatar-size($avatar--44__dimension, $avatar--44__font-size);
    }

    &.#{$avatar__class}--72 {
      @include avatar-size($avatar--72__dimension, $avatar--72__font-size);
    }

    &.#{$avatar__class}--80 {
      @include avatar-size($avatar--80__dimension, $avatar--80__font-size);
    }
  }
}
