/*
* @category containers
* @component button-group
* @design collaboration-design
*/

@import '../settings/buttons';
@import '../settings/button-group';
@import '../tools/mixins/border-radius';
@import '../tools/mixins/buttons';
@import '../tools/mixins/vendor-prefixes';

@include exports('cui-button-group') {
  .#{$button-group__class} {
    display: flex;
    width: 100%;

    > .#{$button__class} {

      @include button-color(
        $color: $button-group__color,
        $color-hover: $button-group__color,
        $color-active: $button-group-active__color,
        $color-disabled: $button-group-disabled__color,
        $bg: $button-group__background,
        $bg-active: $button-group-active__background,
        $bg-disabled: $button-group__background,
        $bg-hover:$button-group-hover__background
      );

      padding: $button-group__padding;
      font-size: $button-group__font-size;
      border-radius: 0;
      border: $button-group__border;
      line-height: $button-group__line-height;
      margin-left: 0;
      min-width: 0;

      &:first-child {
        @include border-left-radius($button-group__border-radius);
      }

      &:not(:first-child) {
        margin-left: -$button-group__border-size;
      }

      &:last-child {
        @include border-right-radius($button-group__border-radius);
      }

      &.#{$button__class}--icon-group {
        padding: $button-group-icon__padding;
        width: auto;
        .cui-icon {
          fill: currentColor;
        }
      }
    }

    &.#{$button-group__class} {
      &--justified {
        > .#{$button__class}:not(.#{$button__class}--icon-group) {
          flex-grow: 1;
          width: 0;
        }
      }

      &--pill {

        :first-child {
          @include border-left-radius($button-group__border-radius-pill);
        }

        :last-child {
          @include border-right-radius($button-group__border-radius-pill);
        }

        :first-child:last-child{
          border-radius: $button-group__border-radius-pill;
        }

        > .#{$button__class} {
          padding: $button-group-icon__padding;
          width: auto;
        @include button-color(
          $box-shadow: 0 2px 4px 0 rgba(0,0,0,0.04),
          $border: 1px solid rgba(0,0,0,0.12),
          $color: $button-group__color,
          $color-hover: $button-group__color,
          $color-disabled: $button-group-disabled__color,
          $bg: $button-group__background,
          $bg-disabled: $button-group__background,
          $bg-hover:$blue-pastel
        );
        .cui-icon {
          fill: currentColor;
        }
      }
    }

      &--dark {
        > .#{$button__class} {

          @include button-color(
            $color: $button-group__color--dark,
            $color-hover: $button-group__color--dark,
            $color-active: $button-group-active__color--dark,
            $color-disabled: $button-group-disabled__color--dark,
            $bg: $button-group__background,
            $bg-active: $button-group-active__background--dark,
            $bg-disabled: $button-group__background,
            $bg-hover:$button-group-hover__background--dark
          );
          border: $button-group__border--dark;
          font-size: $button-group__font-size--dark;
          line-height: $button-group__line-height--dark;
          padding: $button-group__padding--dark;

          &.active {
            font-family: $brand-font-bold;
          }
        }
      }
    }
  }
}