/*
* @category containers
* @component button-group
* @design collaboration-design
*/

@import '../settings/buttons';
@import '../settings/button-group';
@import '../tools/mixins/border-radius';
@import '../tools/mixins/buttons';
@import '../tools/mixins/vendor-prefixes';

@include exports('cui-button-group') {
  .#{$button-group__class} {
    display: flex;
    width: 100%;

    > .#{$button__class} {

      @include button-color(
        $color: $button-group__color,
        $color-hover: $button-group__color,
        $color-active: $button-group-active__color,
        $color-disabled: $button-group-disabled__color,
        $bg: $button-group__background,
        $bg-active: $button-group-active__background,
        $bg-disabled: $button-group__background,
        $bg-hover:$button-group-hover__background
      );

      padding: $button-group__padding;
      font-size: $button-group__font-size;
      border-radius: 0;
      border: $button-group__border;
      line-height: $button-group__line-height;
      margin-left: 0;
      min-width: 0;

      &:first-child {
        @include border-left-radius($button-group__border-radius);
      }

      &:last-child {
        @include border-right-radius($button-group__border-radius);
      }

      &.#{$button__class}--icon-group {
        padding: $button-group-icon__padding;
        width: auto;
        .cui-icon {
          fill: currentColor;
        }
      }
    }

    &.#{$button-group__class} {
      &--justified {
        > .#{$button__class}:not(.#{$button__class}--icon-group) {
          flex-grow: 1;
          width: 0;
        }
      }

      &--space {
        > .#{$button__class} {

          @include button-color(
            $color: $button-group__color--space,
            $color-hover: $button-group__color--space,
            $color-active: $button-group-active__color--space,
            $color-disabled: $button-group-disabled__color--space,
            $bg: $button-group__background,
            $bg-active: $button-group-active__background--space,
            $bg-disabled: $button-group__background,
            $bg-hover:$button-group-hover__background--space
          );
          border: $button-group__border--space;
          font-size: $button-group__font-size--space;
          line-height: $button-group__line-height--space;
          padding: $button-group__padding--space;

          &.active {
            font-weight: bold;
          }
        }
      }
    }
  }
}