/**
* @name Chip
* @category containers
* @component chip
*/

@import '../settings/core';
@import '../settings/colors';

.#{$cui}-chip {
  align-items: center;
  display: flex;
  max-width: 400px;
  background-color: $gray-6;
  border-radius: 4px;

  // When aligning vertically with flexbox, it appears
  // all the svgs aren't centered in the middle. This is not
  // a good fix.
  svg {
    margin-top: 5px
  }

  &-left {
    width: 20%;
    order: 1;
    text-align: center;
    padding: 10px;

    &.recording {
      background-color: $orange-base;
    }
    &.file {
      background-color: $gray-5;
    }
  }

  &-center {
    flex: 1;
    order: 2;
    padding: 0 10px;
  }

  &-right {
    width: 20%;
    order: 3;
    padding: 10px;
  }

  &__title {
    font-weight: bold;
  }
}
