/**
* @name Combo Box
* @category controls
* @component combo-box
*/

@import '../settings/core';
@import '../settings/list-item';

$combo-box__class: '#{$cui}-combo-box';

@include exports('cui-combo-box') {
  .#{$combo-box__class} {
    .#{$cui}-event-overlay__children {
      overflow: auto;
      max-height: $dropdown-height;
    }

    .#{$list-item__class} {
      &-header {
        height: rem-calc(36);
        margin: 0;
        padding: 0 rem-calc(16);
        border-bottom: 1px solid $black-08;

        .#{$list-item__class}__header {
          color: $gray-2;
          line-height: rem-calc(22);
        }
      }
    }
  }
}