@import '../tools/mixins/composite-avatar';
@import '../tools/mixins/avatar';
@import '../settings/composite-avatar';

@include exports('cui-composite-avatar') {
  .#{$composite-avatar__class} {
    display: inline-block;
    position: relative;
    @include composite-avatar-size();

    > .#{$avatar__class}:nth-child(1) {
      position: absolute;
      top: 0;
      left: 0;
    }

    > .#{$avatar__class}:nth-child(2) {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    &.#{$composite-avatar__class} {

      &--small {
        @include composite-avatar-size($composite-avatar--small__size);

        > .#{$avatar__class} {
          @include avatar-size($composite-avatar-small__avatar-size, $composite-avatar-small__avatar-font-size);
        }

        .#{$avatar__class}--bot:after {
          font-size: $composite-avatar-bot-small__font-size;
        }

        .#{$avatar__class}__failure-badge:after {
          @include avatar-size($composite-avatar-badge-small__size, $composite-avatar-badge-small__font-size);
        }
      }

      &--medium {
        > .#{$avatar__class} {
          @include avatar-size($composite-avatar-medium__avatar-size, $composite-avatar-medium__avatar-font-size);
        }

        .#{$avatar__class}--bot:after {
          font-size: $composite-avatar-bot-medium__font-size;
        }

        .#{$avatar__class}__failure-badge:after {
          @include avatar-size($composite-avatar-badge-medium__size, $composite-avatar-badge-medium__font-size);
        }
      }

      &--large {
        @include composite-avatar-size($composite-avatar--large__size);

        > .#{$avatar__class} {
          @include avatar-size($composite-avatar-large__avatar-size, $composite-avatar-large__avatar-font-size);
        }

        .#{$avatar__class}--bot:after {
          font-size: $composite-avatar-bot-large__font-size;
        }

        .#{$avatar__class}__failure-badge:after {
          @include avatar-size($composite-avatar-badge-large__size, $composite-avatar-badge-large__font-size);
        }
      }
    }
  }
}
