/**
* @name Inputs
* @description We set out to create an easy, powerful and versatile form layout system. A combination of form styles and the layout-grid means you can do almost anything.
* @category controls
* @component input
*/

@import '../settings/colors';
@import '../settings/core';
@import '../settings/inputs';
@import '../settings/forms';
@import '../settings/labels';
@import '../settings/form-controls';
@import '../tools/functions/core';
@import '../tools/mixins/input';
@import '../tools/mixins/spacing-responsive';
@import '../tools/mixins/vendor-prefixes';
@import 'node_modules/@collab-ui/icons/scss/mixins';

@include exports('cui-input') {
  .#{$input__class} {
    @include input-color;
    @include box-sizing(border-box);

    height: $input__height;
    padding-top: $input__padding-top;
    padding-right: $input__padding-right;
    padding-bottom: $input__padding-bottom;
    padding-left: $input__padding-left;
    margin: $input__margin;
    font-size: $input__font-size;
    border: none;
    border-radius: $input-border-radius;
    transition: box-shadow ease-out 0.15s; // fix to remove the very annoying "X" added to all input fields in IE > 9.
    // http://msdn.microsoft.com/en-us/library/windows/apps/hh465740.aspx
    &::-ms-clear,
    &::-ms-reveal {
      width: 0px;
      height: 0px;
    }

    .#{$dark-class} & {
      @include input-color(
        $color: $input__font-color--dark,
        $color-disabled: $input__font-color--disabled--dark,
        $color-placeholder: $input__font-color--placeholder--dark,
        $color-read-only: $input__font-color--read-only--dark,
        $background-color: $input__background--dark,
        $background-color-disabled: $input__background--disabled--dark,
        $background-color-hover: $input__background--hover--dark
      );
    }

    &:focus,
    &.focus {
      @include focus-styles;

      transition: box-shadow ease-in 0.15s;
    }

    &[readonly],
    &.readonly,
    &:disabled,
    &.disabled {
      cursor: default;
    }

    .#{$input__class}__icon-container & {
      width: 100%;
      padding-right: rem-calc(36);
    }
  }

  .#{$input__class}__icon-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &.#{$input__class}__icon--left {
      .#{$cui}-button--icon,
      .#{$cui}-icon {
        right: auto;
        left: rem-calc(11);
      }
    }

    &.#{$input__class}__icon--right {
      .#{$cui}-button--icon,
      .#{$cui}-icon {
        right: rem-calc(11);
        left: auto;
      }
    }

    .#{$cui}-button--icon,
    .#{$cui}-icon {
      position: absolute;
      top: rem-calc(11);
      z-index: $input-focus-z-index + 1;
      color: $gray-3;
      fill: $gray-3;
    }

    .#{$cui}-button--icon {
      .#{$cui}-icon {
        position: relative;
        top: auto;
        right: auto;
        left: auto;
      }

      &:hover,
      &:focus {
        color: $gray-2;
        fill: $gray-2;
      }
    }
  }

  .#{$input__class}-group {
    position: relative;
    display: flex;
    flex-direction: column;

    @include vr-spacing(mb, 0.875);

    &.column,
    &.columns {
      padding: 0;
    }

    &.disabled {
      .#{$input__class}__label,
      .#{$input__class}__secondary-label-container
        > .#{$input__class}__secondary-label {
        cursor: default;
      }
    }

    &.error {
      @include input-group-color(
        $background-color: $input__background--error,
        $border-color: $input__border-color--error,
        $border-color-focus: $input__border-color--error,
        $background-color-hover: $input__background--error,
        $color-message: $input__font-color--error
      );

      .#{$dark-class} & {
        @include input-group-color(
          $background-color: $input__background--error--dark,
          $border-color: $input__border-color--error--dark,
          $border-color-focus: $input__border-color--error--dark,
          $background-color-hover: $input__background--error--dark,
          $color-message: $input__font-color--error--dark
        );
      }

      .#{$input__class}__messages {
        display: inline-flex;

        &:before {
          @include icon-clear_16;
        }
      }
    }

    &.warning {
      @include input-group-color(
        $background-color: $input__background--warning,
        $border-color: $input__border-color--warning,
        $border-color-focus: $input__border-color--warning,
        $background-color-hover: $input__background--warning,
        $color-message: $input__font-color--warning
      );

      .#{$dark-class} & {
        @include input-group-color(
          $background-color: $input__background--warning--dark,
          $border-color: $input__border-color--warning--dark,
          $border-color-focus: $input__border-color--warning--dark,
          $background-color-hover: $input__background--warning--dark,
          $color-message: $input__font-color--warning--dark
        );
      }

      .#{$input__class}__messages {
        display: inline-flex;

        &:before {
          @include icon-warning_16;
        }
      }
    }

    &.success {
      @include input-group-color(
        $background-color: $input__background--success,
        $border-color: $input__border-color--success,
        $border-color-focus: $input__border-color--success,
        $background-color-hover: $input__background--success,
        $color-message: $input__font-color--success
      );

      .#{$dark-class} & {
        @include input-group-color(
          $background-color: $input__background--success--dark,
          $border-color: $input__border-color--success--dark,
          $border-color-focus: $input__border-color--success--dark,
          $background-color-hover: $input__background--success--dark,
          $color-message: $input__font-color--success--dark
        );
      }

      .#{$input__class}__messages {
        display: inline-flex;

        &:before {
          @include icon-check-circle_16;
        }
      }
    }

    &.info {
      @include input-group-color(
        $color-message: $input__font-color--info,
        $border-width: 0
      );

      .#{$dark-class} & {
        @include input-group-color(
          $color-message: $input__font-color--info--dark,
          $border-width: 0
        );
      }

      .#{$input__class}__messages {
        display: inline-flex;

        &:before {
          @include icon-info_16;
        }
      }
    }
  }

  .#{$input__class}__help-text {
    @include input__help-text();
  }

  .#{$input__class}__messages {
    display: none;
    margin-left: rem-calc(16);
    font-size: $input__font-size-message;
    line-height: $input__line-height-message;

    @include vr-spacing(pt, 0.25);

    &:before {
      float: left;
      font-family: $icon-font-name;
      font-size: $input__line-height-message;
    }

    .message {
      line-height: $input__line-height-message;

      @include vr-spacing(ml, 0.4);
    }
  }

  .#{$input__class}--nested {
    &-1 {
      @include vr-spacing(ml, 2);
    }

    &-2 {
      @include vr-spacing(ml, 4);
    }

    &-3 {
      @include vr-spacing(ml, 6);
    }
  }
}

/**
* @name Input States
*
* @category controls
* @component input
* @section states
* @hidecode true
*
* @html
* <div class="input-states">
*   <div class="row default-state">
*     <div class="medium-4 columns">
*       <h4>Normal</h4>
*     </div>
*     <div class="cui-input-group medium-4 columns end">
*       <label class="cui-label" for="default">Label</label>
*       <input class="cui-input" id="default" name="default" type="text" placeholder="Placeholder Text">
*     </div>
*   </div>
*   <div class="row normal-state">
*     <div class="medium-4 columns">
*       <h4>Normal with text</h4>
*     </div>
*     <div class="cui-input-group medium-4 columns end">
*       <label class="cui-label" for="normal">Label</label>
*       <input class="cui-input" id="normal" name="normal" type="text" value="Normal Text">
*     </div>
*   </div>
*   <div class="row hover-state">
*     <div class="medium-4 columns">
*       <h4>Hover</h4>
*     </div>
*     <div class="cui-input-group medium-4 columns end">
*       <label class="cui-label" for="hover">Label</label>
*       <input class="cui-input hover" id="hover" name="hover" type="text" placeholder="Placeholder Text">
*     </div>
*   </div>
*   <div class="row focus-state">
*     <div class="medium-4 columns">
*       <h4>Focus</h4>
*     </div>
*     <div class="cui-input-group medium-4 columns end">
*       <label class="cui-label" for="focus">Label</label>
*       <input class="cui-input focus" id="focus" name="focus" type="text" placeholder="Placeholder Text">
*     </div>
*   </div>
*   <div class="row error-state">
*     <div class="medium-4 columns">
*       <h4>Error</h4>
*     </div>
*     <div class="cui-input-group medium-4 columns end error">
*       <label class="cui-label" for="error">Label</label>
*       <input class="cui-input" id="error" name="error" type="text" value="Error Text">
*       <div class="cui-input__messages">
*         <div class="message">This is where the error message would be.</div>
*       </div>
*     </div>
*   </div>
*   <div class="row warning-state">
*     <div class="medium-4 columns">
*       <h4>Warning</h4>
*     </div>
*     <div class="cui-input-group medium-4 columns end warning">
*       <label class="cui-label" for="warning">Label</label>
*       <input class="cui-input" id="warning" name="warning" type="text" value="Warning Text">
*       <div class="cui-input__messages">
*         <div class="message">This is where the warning message would be.</div>
*       </div>
*     </div>
*   </div>
*   <div class="row success-state">
*     <div class="medium-4 columns">
*       <h4>Success</h4>
*     </div>
*     <div class="cui-input-group medium-4 columns end success">
*       <label class="cui-label" for="success">Label</label>
*       <input class="cui-input" id="success" name="success" type="text" value="Success Text">
*       <div class="cui-input__messages">
*         <div class="message">This is where the success message would be.</div>
*       </div>
*     </div>
*   </div>
*   <div class="row disabled-state">
*     <div class="medium-4 columns">
*       <h4>Disabled</h4>
*     </div>
*     <div class="cui-input-group medium-4 columns end disabled">
*       <label class="cui-label" for="disabled">Label</label>
*       <input class="cui-input" id="disabled" name="disabled" type="text" value="Disabled Text" disabled>
*     </div>
*   </div>
*   <div class="row read-only-state">
*     <div class="medium-4 columns">
*       <h4>Read Only</h4>
*     </div>
*     <div class="cui-input-group medium-4 columns end read-only">
*       <label class="cui-label" for="read-only">Label</label>
*       <input class="cui-input" id="read-only" name="read-only" type="text" value="Read Only Text" readonly>
*     </div>
*   </div>
*   <div class="row help-text-state">
*     <div class="medium-4 columns">
*       <h4>Help Text (Description)</h4>
*     </div>
*     <div class="cui-input-group medium-4 columns end">
*       <label class="cui-label" for="help-text">Label</label>
*       <input class="cui-input" id="help-text" name="help-text" type="text" placeholder="Placeholder Text">
*       <p class="cui-input__help-text">This is help text or description for the normal input.</p>
*     </div>
*   </div>
*   <div class="row secondary-label-state">
*     <div class="medium-4 columns">
*       <h4>Secondary Label</h4>
*     </div>
*     <div class="cui-input-group medium-4 columns end">
*       <label class="cui-label" for="secondary-label">Label</label>
*       <div class="cui-label__secondary-label-container">
*         <input class="cui-input id="secondary-label" name="secondary-label" type="text" placeholder="Placeholder Text">
*         <label class="cui-label__secondary-label" for="secondary-label">
*           <span>Secondary Label</span>
*         </label>
*       </div>
*     </div>
*   </div>
* </div>
*/

/**
* @name Dark Theme Input States
*
* @category controls
* @component input
* @section dark-states
* @hidecode true
*
* @html
* <div class="input-states docs-example--dark cui--dark">
*   <div class="row default-state">
*     <div class="medium-4 columns">
*       <h4 style="color:white;">Normal</h4>
*     </div>
*     <div class="cui-input-group medium-4 columns end">
*       <label class="cui-label" for="default-dark">Label</label>
*       <input class="cui-input" id="default-dark" name="default-dark" type="text" placeholder="Placeholder Text">
*     </div>
*   </div>
*   <div class="row normal-state">
*     <div class="medium-4 columns">
*       <h4 style="color:white;">Normal with text</h4>
*     </div>
*     <div class="cui-input-group medium-4 columns end">
*       <label class="cui-label" for="normal-dark">Label</label>
*       <input class="cui-input" id="normal-dark" name="normal-dark" type="text" value="Normal Text">
*     </div>
*   </div>
*   <div class="row hover-state">
*     <div class="medium-4 columns">
*       <h4 style="color:white;">Hover</h4>
*     </div>
*     <div class="cui-input-group medium-4 columns end">
*       <label class="cui-label" for="hover-dark">Label</label>
*       <input class="cui-input hover" id="hover-dark" name="hover-dark" type="text" placeholder="Placeholder Text">
*     </div>
*   </div>
*   <div class="row focus-state">
*     <div class="medium-4 columns">
*       <h4 style="color:white;">Focus</h4>
*     </div>
*     <div class="cui-input-group medium-4 columns end">
*       <label class="cui-label" for="focus-dark">Label</label>
*       <input class="cui-input focus" id="focus-dark" name="focus-dark" type="text" placeholder="Placeholder Text">
*     </div>
*   </div>
*   <div class="row error-state">
*     <div class="medium-4 columns">
*       <h4 style="color:white;">Error</h4>
*     </div>
*     <div class="cui-input-group medium-4 columns end error">
*       <label class="cui-label" for="error-dark">Label</label>
*       <input class="cui-input" id="error-dark" name="error-dark" type="text" value="Error Text">
*       <div class="cui-input__messages">
*         <div class="message">This is where the error message would be.</div>
*       </div>
*     </div>
*   </div>
*   <div class="row warning-state">
*     <div class="medium-4 columns">
*       <h4 style="color:white;">Warning</h4>
*     </div>
*     <div class="cui-input-group medium-4 columns end warning">
*       <label class="cui-label" for="warning-dark">Label</label>
*       <input class="cui-input" id="warning-dark" name="warning-dark" type="text" value="Warning Text">
*       <div class="cui-input__messages">
*         <div class="message">This is where the warning message would be.</div>
*       </div>
*     </div>
*   </div>
*   <div class="row success-state">
*     <div class="medium-4 columns">
*       <h4 style="color:white;">Success</h4>
*     </div>
*     <div class="cui-input-group medium-4 columns end success">
*       <label class="cui-label" for="success-dark">Label</label>
*       <input class="cui-input" id="success-dark" name="success-dark" type="text" value="Success Text">
*       <div class="cui-input__messages">
*         <div class="message">This is where the success message would be.</div>
*       </div>
*     </div>
*   </div>
*   <div class="row disabled-state">
*     <div class="medium-4 columns">
*       <h4 style="color:white;">Disabled</h4>
*     </div>
*     <div class="cui-input-group medium-4 columns end disabled">
*       <label class="cui-label" for="disabled-dark">Label</label>
*       <input class="cui-input" id="disabled-dark" name="disabled-dark" type="text" value="Disabled Text" disabled>
*     </div>
*   </div>
*   <div class="row read-only-state">
*     <div class="medium-4 columns">
*       <h4 style="color:white;">Read Only</h4>
*     </div>
*     <div class="cui-input-group medium-4 columns end read-only">
*       <label class="cui-label" for="read-only-dark">Label</label>
*       <input class="cui-input" id="read-only-dark" name="read-only-dark" type="text" value="Read Only Text" readonly>
*     </div>
*   </div>
*   <div class="row help-text-state">
*     <div class="medium-4 columns">
*       <h4 style="color:white;">Help Text (Description)</h4>
*     </div>
*     <div class="cui-input-group medium-4 columns end">
*       <label class="cui-label" for="help-text-dark">Label</label>
*       <input class="cui-input" id="help-text-dark" name="help-text-dark" type="text" placeholder="Placeholder Text">
*       <p class="cui-input__help-text">This is help text or description for the normal input.</p>
*     </div>
*   </div>
*   <div class="row secondary-label-state">
*     <div class="medium-4 columns">
*       <h4 style="color:white;">Secondary Label</h4>
*     </div>
*     <div class="cui-input-group medium-4 columns end">
*       <label class="cui-label" for="secondary-label-dark">Label</label>
*       <div class="cui-label__secondary-label-container">
*         <input class="cui-input" id="secondary-label-dark" name="help-text-dark" type="text" placeholder="Placeholder Text">
*         <label class="cui-label__secondary-label" for="secondary-label-dark">
*           <span>Secondary Label</span>
*         </label>
*       </div>
*     </div>
*   </div>
* </div>
*/

/**
* @name Text Inputs
* @description These input types create a text field: <code>text</code>, <code>email</code>, <code>number</code>, <code>password</code>, <code>tel</code>, and <code>url</code>.
*
* @category controls
* @component input
* @section text-input
*
* @html
* <div class="row">
*   <div class="cui-input-group medium-5 columns">
*     <label for="text">Text Input</label>
*     <input class="cui-input" id="text" name="text" type="text" placeholder="Placeholder Text">
*   </div>
*
*   <div class="cui-input-group medium-5 columns">
*     <label for="email">Email Input</label>
*     <input class="cui-input" id="email" name="email" type="email" placeholder="Placeholder Text">
*   </div>
* </div>
*
* <div class="row">
*   <div class="cui-input-group medium-5 columns">
*     <label for="number">Number Input</label>
*     <input class="cui-input" id="number" name="number" type="number" placeholder="Placeholder Text">
*   </div>
*
*   <div class="cui-input-group medium-5 columns">
*     <label for="password">Password Input</label>
*     <input class="cui-input" id="password" name="password" type="password" placeholder="Placeholder Text">
*   </div>
* </div>
*
* <div class="row">
*   <div class="cui-input-group medium-5 columns">
*     <label for="tel">Telephone Input</label>
*     <input class="cui-input" id="tel" name="tel" type="tel" placeholder="Placeholder Text">
*   </div>
*
*   <div class="cui-input-group medium-5 columns">
*     <label for="url">Url Input</label>
*     <input class="cui-input" id="url" name="url" type="url" placeholder="Placeholder Text">
*   </div>
* </div>
*/

/**
* @name Normal
* @description
*
* @category controls
* @component input
* @section default
*
* @html
* <div class="row">
*   <div class="cui-input-group medium-6 columns">
*     <label class="cui-label" for="normalInput">Label</label>
*     <input class="cui-input" id="normalInput" type="text" placeholder="Placeholder Text">
*   </div>
* </div>
*/

/**
* @name Error
* @description Add the <code>error</code> class to <code>cui-input-group</code> level div to style input and messages for error state.
*
* @category controls
* @component input
* @section error
*
* @html
* <div class="row">
*   <div class="cui-input-group medium-6 columns error">
*     <label class="cui-label" for="errorInput">Label</label>
*     <input class="cui-input" id="errorInput" type="text" placeholder="Placeholder" value="Error">
*     <div class="cui-input__messages">
*       <div class="message">This is where the error message would be.</div>
*     </div>
*   </div>
* </div>
*/

/**
* @name Warning
* @description Add the <code>warning</code> class to <code>cui-input-group</code> level div to style input and messages for warning state.
*
* @category controls
* @component input
* @section warning
*
* @html
* <div class="row">
*   <div class="cui-input-group medium-6 columns warning">
*     <label class="cui-label" for="warningInput">Label</label>
*     <input class="cui-input" id="warningInput" type="text" placeholder="Placeholder" value="Warning">
*     <div class="cui-input__messages">
*       <div class="message">This is where the warning message would be.</div>
*     </div>
*   </div>
* </div>
*/

/**
* @name Success
* @description Add the <code>success</code> class to <code>cui-input-group</code> level div to style input and messages for success state.
*
* @category controls
* @component input
* @section success
*
* @html
* <div class="row">
*   <div class="cui-input-group medium-6 columns success">
*     <label class="cui-label" for="successInput">Label</label>
*     <input class="cui-input" id="successInput" type="text" placeholder="Placeholder" value="Success">
*     <div class="cui-input__messages">
*       <div class="message">This is where the success message would be.</div>
*     </div>
*   </div>
* </div>
*/

/**
* @name Disabled
* @description Place the disabled class at the cui-input-group level and as an attribute on the input element.
*
* @category controls
* @component input
* @section disabled
*
* @html
* <div class="row">
*   <div class="cui-input-group medium-6 columns disabled">
*     <label class="cui-label" for="disabledInput">Label</label>
*     <input class="cui-input" id="disabledInput" type="text" placeholder="Placeholder" disabled>
*   </div>
* </div>
*/

/**
* @name Read Only
* @description Place the readonly attribute on the input element to render the input as read only.
*
* @category controls
* @component input
* @section read-only
*
* @html
* <div class="row">
*   <div class="cui-input-group medium-6 columns">
*     <label class="cui-label" for="readonlyInput">Label</label>
*     <input class="cui-input" id="readonlyInput" type="text" value="Read Only Text" readonly>
*   </div>
* </div>
*/

/**
* @name Help Text
* @description Place help text below a field to clarify its purpose. Whenever you use help text, give the text a unique ID, and add the attribute <code>aria-describedby</code> to the input. Doing so associates the helper text to the input. A screen reader then can read the helper text when the user focuses on the input.
*
* @category controls
* @component input
* @section help-text
*
* @html
* <div class="row">
*   <div class="cui-input-group medium-6 columns">
*     <label class="cui-label" for="helpTextInput">Label</label>
*     <input class="cui-input" id="helpTextInput" type="password" placeholder="Placeholder" aria-describedby="helpText">
*     <p class="cui-input__help-text" id="helpText">This is help text for the HTML only input.</p>
*   </div>
* </div>
*/

/**
* @name Secondary Label
* @description Place a secondary label to the right of the input to clarify its purpose.
*
* @category controls
* @component input
* @section secondary-label
*
* @html
* <div class="cui-input-group medium-4 columns end">
*   <label class="cui-label" for="secondaryLabelInput">Label</label>
*   <div class="cui-label__secondary-label-container">
*     <input class="cui-input" id="secondaryLabelInput" name="secondaryLabelInput" type="text" placeholder="Placeholder Text">
*     <label class="cui-label__secondary-label for="secondaryLabelInput">
*       <span class="cui-input__secondary-label">Secondary Label</span>
*     </label>
*   </div>
* </div>
*/

/**
* @name Text Area
* @description The <code>&lt;textarea&gt;</code> element creates a multi-line text input.
*
* @category controls
* @component input
* @section text-area
*
* @html
* <div class="row">
*   <div class="cui-input-group medium-5 columns">
*     <label for="textArea">Text Area</label>
*     <textarea  class="cui-input" id="textArea" name="textArea" rows="10" placeholder="Placeholder Textarea"></textarea>
*   </div>
* </div>
*/

/**
* @name Validation
* @description Use HTML elements and classes with JavaScript show/hide validation messages.
*
* @category controls
* @component input
* @section validation
*
* @html
* <form name="myFormHtml" novalidate>
*   <div class="row">
*     <div class="cui-input-group medium-6 columns error">
*       <label for="firstName">Error Input</label>
*       <input class="cui-input" id="firstName" name="firstName" type="text" placeholder="Placeholder" minlength="5" maxlength="10" required>
*       <p class="cui-input__help-text">Possible errors include: required, min length = 5 and max length = 10</p>
*       <div class="cui-input__messages" role="alert">
*         <div class="message">This field is required</div>
*       </div>
*       <div class="cui-input__messages" role="alert">
*         <div class="message">Your field is too short</div>
*       </div>
*       <div class="cui-input__messages" role="alert">
*         <div class="message">Your input is WAAAAY too long!</div>
*       </div>
*     </div>
*   </div>
* </form>
*/

/**
* @name Nested Inputs
* @description The level of nesting inputs is controlled by adding the <code>cui-input--nested-{x}</code> class to the enclosing div element.  Where x is the level of nesting from 1 - 3.
*
* @category controls
* @component input
* @section nested
*
* @html
* <form name="nestedCheckboxForm">
*   <div class="row">
*     <div class="cui-input-group medium-4 columns">
*       <label class="cui-label" for="input-parent"><span>Parent Input Example</span></label>
*       <input type="input" cui-input id="input-parent" name="input-parent" class="cui-input">
*     </div>
*   </div>
*   <div class="row">
*     <div class="cui-input-group medium-4 columns cui-input--nested-1">
*       <label class="cui-label" for="inputNested1"><span>Child Input Nested 1 Level</span></label>
*       <input type="input" cui-input id="inputNested1" name="inputNested1" class="cui-input">
*     </div>
*   </div>
*   <div class="row">
*     <div class="cui-input-group medium-4 columns cui-input--nested-2">
*       <label class="cui-label" for="inputNested2"><span>Child Input Nested 2 Levels</span></label>
*       <input type="input" cui-input id="inputNested2" name="inputNested2" class="cui-input">
*     </div>
*   </div>
*   <div class="row">
*     <div class="cui-input-group medium-4 columns cui-input--nested-3">
*       <label class="cui-label" for="inputNested3"><span>Child Input Nested 3 Levels</span></label>
*       <input type="input" cui-input id="inputNested3" name="inputNested3" class="cui-input">
*     </div>
*   </div>
* </form>
*/
