.cui-list-separator {
  width: 100%;
  overflow: hidden;
  border-color: currentColor;
  color: $gray-6;
  margin: 8px 0;

  &__container {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &::before,
    &::after {
      flex: 1 1 auto;
      border-top: 1px solid currentColor;
      content: "";
    }
  }
  .#{$dark-class} & {
    background-color: $gray-7;
  }

  &__text {
    padding: 0 8px;
    font-family: $brand-font-regular;
    font-weight: 200;
    line-height: 1.5em;
    letter-spacing: 0.015em;
    font-size: 13px;
    color: $gray-2;
  }
}
