/**
* @name Menu
* @category containers
* @component menu
*/

@import '../tools/mixins/border-radius';
@import '../settings/list-item';
@import '../settings/menu-overlay';
@import '../settings/event-overlay';
@import '../tools/functions/core';

@include exports('cui-menu-overlay') {
  .#{$menu-overlay__class}-wrapper {
    display: inline-flex;
  }
  .#{$menu-overlay__class} {
    > .#{$cui}-event-overlay__children {
      display: flex;
      flex-direction: column;

      > .#{$menu__class} {
        .#{$list-item__class} {
          height: $menu-item__height;
          padding: 0 $menu-item__padding;
          border-radius: 0;
        }

        .#{$menu-item__class} {
          &__content {
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &__selected-value {
            max-width: $menu-item-selected-value__max-width;
            max-height: 100%;
            padding: $menu-item-selected-value__padding;
            overflow: hidden;
            font-size: $menu-item-selected-value__font-size;
            line-height: $menu-item-selected-value__line-height;
            text-align: right;
            white-space: pre-line;
            opacity: $menu-item-selected-value__opacity;
          }

          &__arrow {
            display: flex;
            padding-left: $menu-item-arrow__padding-left;
          }

          &__header {
            height: $menu-item-header__height;
            font-size: $menu-item-header__font-size;
            opacity: $menu-item-header__opacity;
          }
        }
      }

      .#{$menu-item__class}-container {
        &:first-child {
          .#{$menu-item__class}:first-child {
            > .#{$list-item__class} {
              @include border-top-radius($event-overlay__border-radius);
            }
          }
        }

        &:last-child {
          .#{$menu-item__class}:last-child {
            > .#{$list-item__class} {
              @include border-bottom-radius($event-overlay__border-radius);
            }
          }
        }
      }
    }
  }
}
