/**
* @name Radios
* @description Radio buttons are used to provide a list of options where only a single item can be selected. Traditional desktop radio buttons are not optimized for touch input so the Collab UI Toolkit styles the label for the radio buttons so they are larger and look clickable. There are several ways to add styled checkboxes to your application, including a custom Angular directive and custom Formly templates. Choose the solution that works best for your application.
* @category controls
* @component radio
* @design collaboration-design
*/
@import '../settings/core';
@import '../settings/radios';
@import '../settings/focus';
@import '../settings/form-controls';

@import '../tools/functions/core';

@import '../tools/mixins/border-radius';
@import '../tools/mixins/flex';
@import '../tools/mixins/input';
@import '../tools/mixins/radio';
@import '../tools/mixins/spacing-responsive';

@import 'node_modules/@collab-ui/icons/scss/mixins';

@include exports('cui-radio') {
  .#{$radio__class}-group {
    @include vr-spacing(mb, 1.5);
    &:last-child {
      margin-bottom: 0;
    }
  }

  .#{$radio__class} {
    &.#{$cui}-input-group {
      @include vr-spacing(mb, .5);
      display: flex;
      flex-direction: column;
    }
  }

  .#{$radio__class} {
    @include radio-color;

    .#{$dark-class} & {
      @include radio-color(
        $border-color: $form-control__background-border--focus--dark,
        $background-color: $form-control__background--dark,
        $background-color--hover: $form-control__background--hover--dark,
        $background-color--checked: $form-control__background--checked--dark,
        $background-color--checked-hover: $form-control__background--checked-hover--dark,
        $label-color: $form-control__label--dark
      );
    }

    .#{$radio__class}__input {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
      overflow: hidden;
      clip: rect(0 0 0 0);

      &:checked {
        + .#{$radio__class}__label {
          &:before {
            color: $form-control__content;
            cursor: pointer;
          }
        }
      }

      &:disabled,
      &.disabled {
        + .#{$radio__class}__label {
          opacity: $form-control__opacity--disabled;
          cursor: default;
          &:before {
            cursor: default;
          }
        }
      }
    }

    .#{$radio__class}__label {
      display: flex;
      line-height: $radio__size;
      color: $form-control__label;
      cursor: pointer;

      &:before {
        @include flex();
        @include border-radius(50%);
        @include icon-unread-badge_8;
        flex-shrink: 0;
        width: $radio__size;
        height: $radio__size;
        margin-right: rem-calc(12);
        font-family: $icon-font-name;
        font-size: $radio__icon-size;
        font-style: normal;
        line-height: $radio__icon-size;
        color: transparent;
        border: none;
        transition: 0ms ease-in-out all;
      }
    }
  }

  .#{$radio__class}-horizontal {
    display: inline-block;
    margin-right: 20px;
  }

  .form-horizontal .#{$radio__class}-horizontal {
    padding-top: 6px;
  }

  .#{$radio__class}-help {
    .#{$cui}-input__help-text {
      @include input__help-text()
    }
    @include vr-spacing(pl, 2);
  }
}

/**
* @name Radio States
*
* @category controls
* @component radio
* @section states
* @hidecode true
*
* @html
* <div class="radio-states">
*   <div class="row off-disabled">
*     <div class="small-8 medium-6 large-4 columns">
*       <h4>Disabled & Off</h4>
*     </div>
*     <div class="cui-input-group cui-radio small-4 medium-6 large-8 columns end">
*       <input type="radio" name="off-disabled-state" value="off-disabled-state" class="cui-input cui-radio__input" disabled>
*       <label class="cui-radio__label">
*         <span>Label</span>
*       </label>
*     </div>
*   </div>
*   <div class="row off-state">
*     <div class="small-8 medium-6 large-4 columns">
*       <h4>Off</h4>
*     </div>
*     <div class="cui-input-group cui-radio small-4 medium-6 large-8 columns end">
*       <input type="radio" name="off-state" value="off-state" class="cui-input cui-radio__input">
*       <label class="cui-radio__label">
*         <span>Label</span>
*       </label>
*     </div>
*   </div>
*   <div class="row hover-state">
*     <div class="small-8 medium-6 large-4 columns">
*       <h4>Hover Off</h4>
*     </div>
*     <div class="cui-input-group cui-radio small-4 medium-6 large-8 columns end">
*       <input type="radio" value="hover-state" class="cui-input cui-radio__input">
*       <label class="cui-radio__label hover">
*         <span>Label</span>
*       </label>
*     </div>
*   </div>
*   <div class="row focus-state">
*     <div class="small-8 medium-6 large-4 columns">
*       <h4>Focus Off</h4>
*     </div>
*     <div class="cui-input-group cui-radio small-4 medium-6 large-8 columns end">
*       <input type="radio" value="focus-state" class="cui-input cui-radio__input focus">
*       <label class="cui-radio__label">
*         <span>Label</span>
*       </label>
*     </div>
*   </div>
*   <div class="row on-disabled">
*     <div class="small-8 medium-6 large-4 columns">
*       <h4>Disabled & On</h4>
*     </div>
*     <div class="cui-input-group cui-radio small-4 medium-6 large-8 columns end">
*       <input type="radio" name="on-disabled-state" value="on-disabled-state" class="cui-input cui-radio__input" checked disabled>
*       <label class="cui-radio__label">
*         <span>Label</span>
*       </label>
*     </div>
*   </div>
*   <div class="row on-state">
*     <div class="small-8 medium-6 large-4 columns">
*       <h4>On</h4>
*     </div>
*     <div class="cui-input-group cui-radio small-4 medium-6 large-8 columns end">
*       <input type="radio" value="on-state" class="cui-input cui-radio__input" checked>
*       <label class="cui-radio__label">
*         <span>Label</span>
*       </label>
*     </div>
*   </div>
*   <div class="row on-hover-state">
*     <div class="small-8 medium-6 large-4 columns">
*       <h4>Hover On</h4>
*     </div>
*     <div class="cui-input-group cui-radio small-4 medium-6 large-8 columns end">
*       <input type="radio" value="hover-state" class="cui-input cui-radio__input" checked>
*       <label class="cui-radio__label hover">
*         <span>Label</span>
*       </label>
*     </div>
*   </div>
*   <div class="row on-focus-state">
*     <div class="small-8 medium-6 large-4 columns">
*       <h4>Focus On</h4>
*     </div>
*     <div class="cui-input-group cui-radio small-4 medium-6 large-8 columns end">
*       <input type="radio" value="focus-state" class="cui-input cui-radio__input focus" checked>
*       <label class="cui-radio__label">
*         <span>Label</span>
*       </label>
*     </div>
*   </div>
* </div>
*/

/**
* @name Dark Theme Radio States
*
* @category controls
* @component radio
* @section dark-states
* @hidecode true
*
* @html
* <div class="radio-states docs-example--dark cui--dark">
*   <div class="row off-disabled">
*     <div class="small-8 medium-6 large-4 columns">
*       <h4 style="color:white;">Disabled & Off</h4>
*     </div>
*     <div class="cui-input-group cui-radio small-4 medium-6 large-8 columns end">
*       <input type="radio" name="off-disabled-dark-state" value="off-disabled-dark-state" class="cui-input cui-radio__input" disabled>
*       <label class="cui-radio__label">
*         <span>Label</span>
*       </label>
*     </div>
*   </div>
*   <div class="row off-state">
*     <div class="small-8 medium-6 large-4 columns">
*       <h4 style="color:white;">Off</h4>
*     </div>
*     <div class="cui-input-group cui-radio small-4 medium-6 large-8 columns end">
*       <input type="radio" name="off-dark-state" value="off-dark-state" class="cui-input cui-radio__input">
*       <label class="cui-radio__label">
*         <span>Label</span>
*       </label>
*     </div>
*   </div>
*   <div class="row hover-state">
*     <div class="small-8 medium-6 large-4 columns">
*       <h4 style="color:white;">Hover Off</h4>
*     </div>
*     <div class="cui-input-group cui-radio small-4 medium-6 large-8 columns end">
*       <input type="radio" value="off-hover-dark-state" class="cui-input cui-radio__input">
*       <label class="cui-radio__label hover">
*         <span>Label</span>
*       </label>
*     </div>
*   </div>
*   <div class="row focus-state">
*     <div class="small-8 medium-6 large-4 columns">
*       <h4 style="color:white;">Focus Off</h4>
*     </div>
*     <div class="cui-input-group cui-radio small-4 medium-6 large-8 columns end">
*       <input type="radio" value="off-focus-dark-state" class="cui-input cui-radio__input focus">
*       <label class="cui-radio__label">
*         <span>Label</span>
*       </label>
*     </div>
*   </div>
*   <div class="row on-disabled">
*     <div class="small-8 medium-6 large-4 columns">
*       <h4 style="color:white;">Disabled & On</h4>
*     </div>
*     <div class="cui-input-group cui-radio small-4 medium-6 large-8 columns end">
*       <input type="radio" name="on-disabled-dark-state" value="on-disabled-dark-state" class="cui-input cui-radio__input" checked disabled>
*       <label class="cui-radio__label">
*         <span>Label</span>
*       </label>
*     </div>
*   </div>
*   <div class="row on-state">
*     <div class="small-8 medium-6 large-4 columns">
*       <h4 style="color:white;">On</h4>
*     </div>
*     <div class="cui-input-group cui-radio small-4 medium-6 large-8 columns end">
*       <input type="radio" value="on-dark-state" class="cui-input cui-radio__input" checked>
*       <label class="cui-radio__label">
*         <span>Label</span>
*       </label>
*     </div>
*   </div>
*   <div class="row on-hover-state">
*     <div class="small-8 medium-6 large-4 columns">
*       <h4 style="color:white;">Hover On</h4>
*     </div>
*     <div class="cui-input-group cui-radio small-4 medium-6 large-8 columns end">
*       <input type="radio" value="on-hover-dark-state" class="cui-input cui-radio__input" checked>
*       <label class="cui-radio__label hover">
*         <span>Label</span>
*       </label>
*     </div>
*   </div>
*   <div class="row on-focus-state">
*     <div class="small-8 medium-6 large-4 columns">
*       <h4 style="color:white;">Focus On</h4>
*     </div>
*     <div class="cui-input-group cui-radio small-4 medium-6 large-8 columns end">
*       <input type="radio" value="on-focus-dark-state" class="cui-input cui-radio__input focus" checked>
*       <label class="cui-radio__label">
*         <span>Label</span>
*       </label>
*     </div>
*   </div>
*/

/**
* @name Basic
* @description Basic HTML radio.
*
* @category controls
* @component radio
* @section default
*
* @html
* <div class="cui-input-group cui-radio">
*   <input type="radio" class="cui-input cui-radio__input" id="basicRadio1" name="basicRadio" checked>
*   <label class="cui-radio__label" for="basicRadio1">
*     <span>Basic Radio 1</span>
*   </label>
* </div>
* <div class="cui-input-group cui-radio">
*   <input type="radio" class="cui-input cui-radio__input" id="basicRadio2" name="basicRadio">
*   <label class="cui-radio__label" for="basicRadio2">
*     <span>Basic Radio 2</span>
*   </label>
* </div>
*/

/**
* @name Disabled Radio
* @description HTML radios can be disabled by setting the disabled attribute on the input element.
*
* @category controls
* @component radio
* @section disabled
*
* @html
* <div class="cui-input-group cui-radio">
*   <input type="radio" value="on-state" class="cui-input cui-radio__input" id="disabledRadio" checked disabled>
*   <label class="cui-radio__label" for="disabledRadio">
*     <span>Disabled Radio</span>
*   </label>
* </div>
*/

/**
* @name Checked Radio
* @description HTML radios can be checked by setting the checked attribute on the input element.
*
* @category controls
* @component radio
* @section checked
*
* @html
* <div class="cui-input-group cui-radio">
*   <input type="radio" value="on-state" class="cui-input cui-radio__input" id="checkedRadio" checked>
*   <label class="cui-radio__label" for="checkedRadio">
*     <span>Checked Radio</span>
*   </label>
* </div>
*/

/**
* @name Nested Radios
* @description The level of nesting radios is controlled by adding the cui-input--nested-{x} class to the enclosing div element.  Where x is the level of nesting from 1 - 3.
*
* @category controls
* @component radio
* @section nested
*
* @html
* <form name="nestedRadioForm">
*   <div class="cui-input-group cui-radio">
*     <input type="radio" id="Radio-parent" name="RadioNested" class="cui-input cui-radio__input" checked>
*     <label class="cui-radio__label" for="Radio-parent"><span>Parent Radio Example</span></label>
*   </div>
*   <div class="cui-input-group cui-radio cui-input--nested-1">
*     <input type="radio" id="RadioNested1" name="RadioNested" class="cui-input cui-radio__input">
*     <label class="cui-radio__label" for="RadioNested1"><span>Child Radio Nested 1 Level</span></label>
*   </div>
*   <div class="cui-input-group cui-radio cui-input--nested-2">
*     <input type="radio" id="RadioNested2" name="RadioNested" class="cui-input cui-radio__input">
*     <label class="cui-radio__label" for="RadioNested2"><span>Child Radio Nested 2 Levels</span></label>
*   </div>
*   <div class="cui-input-group cui-radio cui-input--nested-3">
*     <input type="radio" id="RadioNested3" name="RadioNested" class="cui-input cui-radio__input">
*     <label class="cui-radio__label" for="RadioNested3"><span>Child Radio Nested 3 Levels</span></label>
*   </div>
* </form>
*/
