/**
* @name Slider
* @description Range sliders.
* @category controls
* @component slider
*/
@import "../settings/core";
@import "../settings/colors";
@import "../settings/slider";

@include exports('cui-slider') {
  #{$slider__class},
  .#{$slider__class} {
    display: inline-block;
    position: relative;
    height: 2px;
    width: 100%;
    margin: 30px 0 15px;
    vertical-align: middle;
    background-color: inherit;

    span {
      white-space: nowrap;
      position: absolute;
      display: inline-block;

      &.#{$slider__class}__bar {
        width: 100%;
        height: 100%;
        z-index: 0;
        border-radius: 2px;
        background-color: $slider-bar__background-color;

        .#{$dark-class} & {
          background-color: $slider-bar__background-color--dark;
        }
      }

      &.#{$slider__class}__selection {
        z-index: 1;
        height: 100%;
        background-color: $slider-selection__background-color;
      }

      &.#{$slider__class}__selection--red {
        background-color: $slider-selection__background-color--red;
      }

      &.#{$slider__class}__selection--blue {
        background-color: $slider-selection__background-color--green;
      }

      &.#{$cui}-slider__selection--yellow {
        background-color: $slider-selection__background-color--yellow;
      }

      &.#{$slider__class}__hashlabel {
        top: 15px;
        min-width: 17px;
        display: inline-block;
        text-align: center;
        left: -6px;
        line-height: 12px;
        color: $slider-hashlabel__color;

        .#{$dark-class} & {
          color: $slider-hashlabel__color--dark;
        }
      }
    }

    .#{$slider__class}__pointer {
      white-space: nowrap;
      position: absolute;
      display: inline-block;
      cursor: pointer;
      width: 20px;
      height: 20px;
      top: -10px;
      margin-left: -10px;
      background-color: $slider-pointer__background-color;
      z-index: 2;
      border-radius: 50%;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.32);

      &:hover {
        background-color: $slider-pointer__background-color--hover;
      }

      &:focus {
        background-color: $slider-pointer__background-color;
        border: 2px solid $black;
      }

      .#{$dark-class} & {
        &:focus {
          background-color: $slider-pointer__background-color--focus--dark;
          border: 2px solid $white;
        }
      }
    }
  }

  .#{$slider__class}--disabled {
    span {
      &.#{$slider__class}__selection {
        background-color: $slider-selection__background-color--disabled;

        .#{$dark-class} & {
          background-color: $slider-selection__background-color--disabled--dark;
        }
      }
    }

    .#{$slider__class}__pointer {
      cursor: not-allowed;
      background-color: $slider-pointer__background-color--disabled;

      &:hover,
      &:focus {
        background-color: $slider-pointer__background-color--disabled;
        border: none;
      }

      .#{$dark-class} & {
        background-color: $slider-pointer__background-color--disabled--dark;

        &:hover,
        &:focus {
          background-color: $slider-pointer__background-color--disabled--dark;
          border: none;
        }
      }

    }

  }
}
