/**
* @category controls
* @component toggle-switch
*/
@import '../tools/functions/core';

@import '../tools/mixins/toggle-switch';

@import '../settings/core';
@import '../settings/toggle-switch';
@import '../settings/form-controls';

@include exports('cui-toggle-switch') {
  .#{$toggle-switch__class} {
    @include toggle-switch-color;

    .#{$dark-class} & {
      @include toggle-switch-color(
        $border-color: $form-control__background-border--focus--dark,
        $background-color: $form-control__background--dark,
        $background-color--hover: $form-control__background--hover--dark,
        $background-color--checked: $form-control__background--checked--dark,
        $background-color--checked-hover: $form-control__background--checked-hover--dark,
        $label-color: $form-control__label--dark
      );
    }

    > .#{$toggle-switch__class}__input {
      position: absolute;
      margin-left: -9999px;
      opacity: 0;

      + .#{$toggle-switch__class}__label {
        display: inline-flex;

        > .#{$toggle-switch__class}__label__container {
          display: block;
          position: relative;
          cursor: pointer;
          width: $toggle-switch__width;
          height: $toggle-switch__height;
          border-radius: $toggle-switch__height;
          margin-right: 0.75rem;
          transition: background 350ms;
          border: none;
          background-clip: padding-box;

          &:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            bottom: 2px;
            width: $toggle-switch__size;
            height: $toggle-switch__size;
            background-color: $brand-white;
            box-shadow: 0 1px 2px 0 $black-32;
            border-radius: 100%;
            transition: 350ms;
          }
        }

        > .#{$toggle-switch__class}__text {
          cursor: pointer;
          line-height: rem-calc($toggle-switch__height);
        }
      }

      &:disabled,
      &.disabled {
        + .#{$toggle-switch__class}__label {
            cursor: default;
            opacity: $form-control__opacity--disabled;

          > .#{$toggle-switch__class}__label__container {
            cursor: default;
          }

          > .#{$toggle-switch__class}__label__text {
            cursor: default;
          }
        }
      }

      &:checked {
        + .#{$toggle-switch__class}__label {
          > .#{$toggle-switch__class}__label__container {
            &:after {
              left: calc(100% - 2px);
              transform: translateX(-100%);
            }
          }
        }
      }

    }
  }
}

/**
* @component toggle-switch
* @section default
* @html
<div class="cui-input-group cui-toggle-switch ">
  <input
    class="cui-input cui-toggle-switch__input"
    type="checkbox"
    aria-checked="false"
    name=""
    id="testToggleSwitch1"
    value=""
  />
  <label class="cui-toggle-switch__label" for="testToggleSwitch1">
    <span class="cui-toggle-switch__label__container"></span>
    <span class="cui-toggle-switch__label__text">Toggle Switch</span>
  </label>
</div>

*/


