@import '../tools/functions/core';
@import '../tools/mixins/core';
@import '../settings/tooltip';
@import '../settings/event-overlay';
@import 'event-overlay';

@include exports('cui-tooltip') {
  #{$tooltip__class},
  .#{$tooltip__class} {
    &__text {
      width: $tooltip__max-width;
      padding: $tooltip__padding;
      font-size: $tooltip__font-size;
      line-height: $tooltip__line-height;
      color: $tooltip__color;
      text-align: center;
    }

    .#{$cui}-event-overlay__arrow {
      filter: none;
    }

    & > .cui-event-overlay__children {
      background-color: $tooltip__background-color;
      border: none;
      box-shadow: none;
    }

    &.#{$cui}-event-overlay--top {
      > .#{$cui}-event-overlay__arrow {
        margin-top: -$tooltip-arrow__height;
        border-top: $tooltip-arrow__height solid $tooltip__background-color;
      }

      > .#{$cui}-event-overlay__children {
        margin-top: -$tooltip-arrow__height;
      }
    }

    &.#{$cui}-event-overlay--left {
      > .#{$cui}-event-overlay__arrow {
        margin-left: -$tooltip-arrow__height;
        border-left: $tooltip-arrow__height solid $tooltip__background-color;
      }

      > .#{$cui}-event-overlay__children {
        margin-left: -$tooltip-arrow__height;
      }
    }

    &.#{$cui}-event-overlay--right {
      > .#{$cui}-event-overlay__arrow {
        margin-left: 0;
        border-right: $tooltip-arrow__height solid $tooltip__background-color;
      }

      > .#{$cui}-event-overlay__children {
        margin-left: $tooltip-arrow__height;
      }
    }

    &.#{$cui}-event-overlay--bottom {
      > .#{$cui}-event-overlay__arrow {
        margin-top: 0;
        border-bottom: $tooltip-arrow__height solid $tooltip__background-color;
      }

      > .#{$cui}-event-overlay__children {
        margin-top: $tooltip-arrow__height;
      }
    }
  }
}

