@import '../tools/functions/core';
@import '../tools/mixins/core';
@import '../settings/tooltip';
@import '../settings/event-overlay';

@import 'event-overlay';

@include exports('cui-tooltip') {

  #{$tooltip__class},
  .#{$tooltip__class} {
    &__text {
      width: $tooltip__max-width;
      padding: $tooltip__padding;
      font-size: $tooltip__font-size;
      line-height: $tooltip__line-height;
      color: $tooltip__color;
      text-align: center;
    }

    & > .cui-event-overlay__children {
      background-color: $tooltip__background-color;
      border: 0;
    }

    &.#{$cui}-event-overlay--top {
      > .#{$cui}-event-overlay__arrow {
        border-top: $event-overlay-arrow__height solid $tooltip__background-color;
      }
    }

    &.#{$cui}-event-overlay--left {
      > .#{$cui}-event-overlay__arrow {
        border-left: $event-overlay-arrow__height solid $tooltip__background-color;
      }
    }

    &.#{$cui}-event-overlay--right {
      > .#{$cui}-event-overlay__arrow {
        border-right: $event-overlay-arrow__height solid $tooltip__background-color;
      }
    }

    &.#{$cui}-event-overlay--bottom {
      > .#{$cui}-event-overlay__arrow {
        border-bottom: $event-overlay-arrow__height solid $tooltip__background-color;
      }
    }
  }
}
