<span>
  <button class="md-button md-button--36" alt="Direction" type="button" aria-label="Direction">
    <span class="md-button__children" style="opacity: 1;">Direction</span>
  </button>
  <div class="md-event-overlay md-event-overlay--arrow md-event-overlay--right md-tooltip">
    <div class="md-event-overlay__arrow" style="left: 387.266px; top: 345px;"></div>
    <div class="md-event-overlay__children" style="overflow: auto; top: 315.5px; left: 387.266px;">
      <span class="md-tooltip__text">Hello!</span>
    </div>
  </div>
</span>
