$tab--link__padding: 0 1rem;
$tab--link-hover__bg: $md-gray-10;
$tab--disabled-link__color: $md-gray-50;
$tab--disabled-link-hover__color: $md-gray-50;
$tab-tabs--hover__border: 3px solid $md-gray-50;
$tab-tabs--active__color: $md-theme-50;
$tab-tabs--active__border: 3px solid $md-theme-50;
$tab-tabs--justified-active__border-color: $md-theme-50;
$tab-pills__color: $md-black-100;
$tab-pills__font-size: rem-calc(16);
$tab-pills__border: 1px solid $black-08;
$tab-pills__padding: 6px 20px;
$tab-pills__background: $md-white-100;
$tab-pills--active__background: $md-theme-10;
$tab-pills--hover__background: $black-04;
