  <div class="md-lightbox__container">
    <div aria-labelledby="md-lightbox" class="md-lightbox" id=
    "react-aria-modal-dialog" role="dialog" tabindex="-1">
      <div class="md-lightbox__header">
        <div class="md-lightbox__header-item--left">
          <div class="md-lightbox__header-meta">
            <div class="md-lightbox__header-sharer">
              Shared by test
            </div>
            <div class="md-lightbox__header-timestamp">
              At 4/17/2018, 10:02 AM
            </div>
          </div>
        </div>
        <div class="md-lightbox__header-item--center">
          <div class="md-lightbox__header-name">
            Screen Shot 2018-04-11 at 7.32.51 PM.png
          </div>
        </div>
        <div class="md-lightbox__header-item--right">
          <span></span>
          <div class="md-lightbox__control" role="button" tabindex="0">
            <span><i class="md-icon icon icon-cancel_16"></i></span>
          </div>
        </div>
      </div>
      <div class="md-lightbox__body">
        <div class="md-lightbox__content" role="button" tabindex="0">
          <div class="md-lightbox__viewport">
            <div class="md-lightbox__viewport-wrapper" style=
            "width: 500px; height: 500px;"><img alt="" class=
            "md-lightbox__viewport-image" draggable="false" src=
            "https://place-hold.it/500x500&text=Placeholder&fontsize=33"></div>
          </div>
          <div class="md-lightbox__viewer-controls" role="button" tabindex="0">
            <div class="md-lightbox__controls">
              <span></span>
              <div class="md-lightbox__control" role="button" tabindex="0">
                <span><i class="md-icon icon icon-zoom-out_16"></i></span>
              </div><span class=
              "md-lightbox__control-value">100%</span><span></span>
              <div class="md-lightbox__control" role="button" tabindex="0">
                <span><i class="md-icon icon icon-zoom-out_16"></i></span>
              </div>
            </div>
            <div class="md-lightbox__controls">
              <span class="md-lightbox__control-value">1</span>
            </div>
            <div class="md-lightbox__controls">
              <span class="md-lightbox__control-value">34.4
              KB</span><span></span>
              <div class="md-lightbox__control md-lightbox__control-download"
              role="button" tabindex="0">
                <span><i class="md-icon icon icon-download_16"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
