<span class="md-social__list">
  <div class="md-list md-list--horizontal md-list social-list" role="list">
    <div aria-current="true" class="md-list-item" id="md-list-76__list-item" role="listItem">
      <i class="icon icon-facebook-circle_40"></i>
    </div>
    <div aria-current="false" class="md-list-item" id="md-list-76__list-item" role="listItem">
      <i class="icon icon-twitter-circle_40"></i>
    </div>
    <div aria-current="false" class="md-list-item" id="md-list-76__list-item" role="listItem">
      <i class="icon icon-linkedin-circle_40"></i>
    </div>
  </div>
</span>
