@import '../../settings/typography';
@import '../mixins/baseline';
@import '../functions/core.scss';
/* Default header styles */

%h-base {
  margin-top: $header-top-margin;
  margin-bottom: $header-bottom-margin;
  font-family: $header-font-family;
  font-style: $header-font-style;
  font-weight: $header-font-weight;
  line-height: $header-line-height;
  color: $font-color-primary;
  text-rendering: $header-text-rendering;

  small {
    font-size: $small-font-size;
    line-height: 0;
    color: $small-font-color;
  }

  @media #{$medium-up} {
    line-height: $header-line-height;
  }
}

%title-heading-base {
  font-size: $title-heading-font-size - $h1-font-reduction;

  @media #{$medium-up} {
    font-size: $title-heading-font-size;
  }
}

%h1-base {
  @extend %h-base;

  font-size: $h1-font-size - $h1-font-reduction;

  @media #{$medium-up} {
    font-size: $h1-font-size;
  }
}

%h2-base {
  @extend %h-base;

  font-size: $h2-font-size - $h2-font-reduction;

  @media #{$medium-up} {
    font-size: $h2-font-size;
  }
}

%h3-base {
  @extend %h-base;

  font-size: $h3-font-size - $h3-font-reduction;

  @media #{$medium-up} {
    font-size: $h3-font-size;
  }
}

%h4-base {
  @extend %h-base;

  font-size: $h4-font-size - $h4-font-reduction;

  @media #{$medium-up} {
    font-size: $h4-font-size;
  }
}

%h5-base {
  @extend %h-base;

  font-size: $h5-font-size - $h5-font-reduction;

  @media #{$medium-up} {
    font-size: $h5-font-size;
  }
}

%h6-base {
  @extend %h-base;

  font-size: $paragraph-font-size - $h6-font-reduction;

  @media #{$medium-up} {
    font-size: $h6-font-size;
  }
}

%body-small {
  font-size: $body-small-font-size;
  color: $font-color-primary;
}

%body-smallest {
  font-size: $body-smallest-font-size;
  color: $font-color-primary;
}

// TODO: Update later
%copy-spacing {
  h1,
  .h1 {
    margin-bottom: rem-calc(64);
  }

  h2,
  .h2 {
    margin-bottom: rem-calc(48);
  }

  h3,
  .h3 {
    margin-bottom: rem-calc(48);
  }

  h4,
  .h4 {
    margin-bottom: rem-calc(24);
  }

  h5,
  .h5 {
    margin-bottom: rem-calc(24);
  }

  h6,
  .h6 {
    margin-bottom: rem-calc(24);
  }

  p,
  .p {
    margin-bottom: rem-calc(24);
  }

  .body-smallest {
    margin-bottom: rem-calc(16);
  }
}