// Remove after fixing checkbox/radio button
@mixin input__help-text(
  $color: $input__font-color--help,
  $color-dark: $input__font-color--help--dark,
  $color-contrast: $input__font-color--help--contrast,
  $color-dark-contrast: $input__font-color--help--dark--contrast
) {
  color: $input__font-color--help;
  font-family: $brand-font-regular;
  font-size: rem-calc(14);
  line-height: rem-calc(22);
  padding-left: rem-calc(16);

  .#{$contrast-class} & {
    color: $input__font-color--help--contrast;
  }

  .#{$dark-class} &,
  .#{$input__class}-container--dark & {
    color: $input__font-color--help--dark;

    .#{$contrast-class} & {
      color: $input__font-color--help--dark--contrast;
    }
  }

  @include vr-spacing(mb, 0.25);

  span {
    font-size: inherit;
  }
}

@mixin input-color(
  $color: null,
  $color-clear: null,
  $color-clear-hover: null,
  $color-disabled: null,
  $color-help: null,
  $color-message: null,
  $color-placeholder: null,
  $color-read-only: null,
  $background-color: null,
  $background-color-disabled: null,
  $background-color-hover: null,
  $border-color: null
) {

  .#{$input__class}:not(.md-select__filter--input) {
    color: $color;
    background-color: $background-color;

    @if $border-color {
      border-color: $border-color;
    } @else {
      border: none;
    }

    &::placeholder {
      color: $color-placeholder;
      opacity: 1;
    }

    &:hover,
    &.#{$prefix}-hover {
      background-color: $background-color-hover;
    }

    &:disabled,
    &.#{$prefix}-disabled {
      color: $color-disabled;
      background-color: $background-color-disabled;
      border-color: $input__border-color--read-only;

      &::placeholder {
        color: $color-disabled;
      }

      &:hover {
        background-color: $background-color-disabled;
      }
    }

    &[readonly],
    &.#{$prefix}-readonly {
      color: $color-read-only;
      background-color: $background-color-disabled;
      border-color: $input__border-color--read-only;

      &:hover {
        background-color: $background-color-disabled;
      }
    }
  }

  &.#{$prefix}-disabled {
    .#{$input__class} {
      &__before {
        @include input-icon($color: $color-disabled)
      }
    }
  }

  .#{$input__class} {
    &__after,
    &__before {
      @include input-icon($color: $color)
    }

    &__icon-clear {
      @include input-clear-color(
        $color-clear,
        $color-clear-hover
      );
    }
  }

  .#{$input__class}__messages {
    color: $color-message;

    &:before {
      color: $color-message;
    }
  }

  .#{$input__class}__help-text,
  .#{$input__class}__secondary-label {
    color: $color-help;
  }
}


@mixin input-icon(
  $color: null
) {
  @if $color {
    color: $color;
    fill: $color;

    .#{$spinner__class} {
      @include spinner-style($border-progress-left: $color);
    }
  }
}

@mixin input-clear-color(
  $color: $input__clear-icon__color,
  $color-hover: $input__clear-icon__color--hover
  ) {
  background-color: transparent;
  color: $color;
  fill: $color;

  &:hover,
  &:focus {
    background-color: transparent;
    color: $color-hover;
    fill: $color-hover;
  }
}
