<div class="md-modal__backdrop fade in">
  <div
    role="dialog"
    id="react-aria-modal-dialog"
    class="md-modal md-modal--default in"
    aria-labelledby="modal1"
  >
    <div class="md-modal__content">
      <div class="md-modal__flex-container">
        <div class="md-modal__header">
          <span class="md-modal__title">Default Modal</span>
          <button class="md-close md-modal__close"></button>
        </div>
        <div class="md-modal__body"><form></form></div>
        <div class="md-modal__footer">
          <button
            class="md-button md-button--36 md-button--default"
            alt="Close Modal"
            type="button"
            aria-label="Close Modal"
          >
            <span class="md-button__children">
              Cancel
            </span>
          </button>
          <button
            class="md-button md-button--36 md-button--blue"
            alt="Submit Form"
            type="submit"
            aria-label="Submit Form"
          >
            <span class="md-button__children">OK</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
