@import "@/wc_scss/tools/functions/core.scss";

// Settings
@import "@/wc_scss/colors/settings-base.scss";
@import "@/wc_scss/colors/settings-transparencies.scss";
@import "@/wc_scss/settings/rem.scss";
@import "@/wc_scss/settings/core.scss";
@import "@/wc_scss/typography/settings.scss";

// Tools
@import "@/wc_scss/tools/mixins/core";
@import "@/wc_scss/tools/mixins/flex";
@import "@/wc_scss/tools/mixins/focus";
@import "@/wc_scss/settings/button-settings.scss";
@import "@/wc_scss/tools/mixins/button";

@include exports("md-button") {
  [class|="md-button__container"] {
    @include flex($display: inline-flex, $fd: column);

    width: $button-container__width;

    &[class$="--small"] {
      width: $button-container--small__width;
    }
  }

  // Default styles applied outside of media query
  .md-button {
    @include single-transition(background-color, $button__transition-speed, ease);
    @include button-base;
    @include button-size($height: rem-calc(36), $padding: $button__padding--36, $radius: $button__radius--36);
    @include button-color($focus: true);

    &.md-button {
      &--circle {
        padding: 0;

        @include button-circle-size($size: $button__size--36, $font-size: $button__font-size--36);

        @include radius($button__radius--round);

        &[class*="--36"] {
          @include button-circle-size($size: $button__size--36, $font-size: $button__font-size--36);
        }

        &[class*="--56"] {
          @include button-circle-size($size: $button__size--56, $font-size: $button__font-size--56);
        }

        &[class*="--68"] {
          @include button-circle-size($size: $button__size--68, $font-size: $button__font-size--68);
        }

        &[class*="--84"] {
          @include button-circle-size($size: $button__size--84, $font-size: $button__font-size--84);
        }
      }
    }
  }
}

@import "activity-button";
