<div class="md-card md-card--clickable" style="width: 300px;">
  <div class="md-card-section" style="display: flex; justify-content: space-between;">
      <div class="md-avatar" style="display: flex;">
          <img alt="Barbara" class="md-avatar__img" src="http://react.collab-ui.com/barbara.png">
      </div>
      <div style="padding-left: 16px;">
        <h4>Title</h4>
        <h6>Subtitle</h6>
      </div>
  </div>
  <div class="md-card-section md-card-section--full">
      <img src="https://place-hold.it/400x400">
  </div>
  <div class="md-card-section">
    Et netus et malesuada fames ac turpis egestas macecenas. Adipisccing at in tellus integer.
  </div>
  <div class="md-card-section" style="width: 100%; display: flex; justify-content: flex-end; align-items: baseline">
    <a href="" style="margin-right: 16px;">Link text</a>
    <button class="md-button"
      aria-label="myAriaLabel">Button</button></div>
</div>
