<div class="md-card" style="width: 400px;">
    <div class="md-card-section md-card-section--full">
      <img src="https://place-hold.it/400x400">
    </div>
    <div class="md-card-section">
      <h5>PRODUCT ANNOUNCEMENT</h5>
    </div>
    <div class="md-card-section">
      QWASI Makes Marketing Loyalty Programs Better with Collaboration
    </div>
    <div class="md-card-section" style="display: flex; width: 100%; justify-content: space-between;">
        <h6>Kevin Smith</h6>
        <h6>June 4, 2018</h6>
      </div>
  </div>
