md-theme {
  background-color: white;
  color: var(--md-primary-text-color);

  &.is-visual-rebrand {
    background: url("/images/brand-visuals/backgrounds/operation-pop-background-light.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

md-theme[darkTheme] {
  background-color: black;
  color: var(--md-primary-text-color);

  &.is-visual-rebrand {
    background: url("/images/brand-visuals/backgrounds/operation-pop-background-dark.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.container {
  box-sizing: border-box;
  height: calc(100vh - 1.75rem);
  max-width: 100%;
  overflow-y: auto;
  padding: 1rem;
  width: 100%;
  background: var(--md-glass-bg-color);
}

.container-color-bg-color-options {
  display: flex;
  justify-content: flex-end;
}

#color-dropdown {
  margin-left: 0.5rem;
  width: 240px;
}

.header-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.toggle-container {
  height: 1.75rem;
  gap: 0.5rem;
}

.explorer {
  width: calc(100vw - 1rem);
  height: calc(100vh - 1.75rem);
}


.explorer[direction="vertical"] {
  
  &::part(tabs-list) {    
    overflow-y: auto;
    height: calc(100vh - 1.75rem);    
    flex-shrink: 0; 
    padding-left:5px;
    padding-right:5px;
    gap:0.25rem;
  }
}

.row::before,
.row::after {
  content: " ";
  display: table;
}

.row::after {
  clear: both;
}

.md-padding__vertical {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.pills-dropdown md-dropdown::part(dropdown-header) {
  border-radius: 30px;
}
#menu-inside::part(overlay-content) {
  overflow: visible;
}
