  <form name="nestedCheckboxForm">
    <div class="md-input-container md-checkbox">
      <input
        class="md-input md-checkbox__input"
        type="checkbox"
        id="checkbox-parent"
        name="checkbox-parent" />
      <label class="md-checkbox__label" for="checkbox-parent">
        Parent Checkbox Example
      </label>
    </div>
    <div class="md-input-container md-checkbox md-input--nested-1">
      <input
        class="md-input md-checkbox__input"
        type="checkbox"
        id="checkboxNested1"
        name="checkboxNested1" />
      <label class="md-checkbox__label" for="checkboxNested1">
        Child Checkbox Nested 1 Level
      </label>
    </div>
    <div class="md-input-container md-checkbox md-input--nested-2">
      <input
        class="md-input md-checkbox__input"
        type="checkbox"
        id="checkboxNested2"
        name="checkboxNested2" />
      <label class="md-checkbox__label" for="checkboxNested2">
        Child Checkbox Nested 2 Levels
      </label>
    </div>
    <div class="md-input-container md-checkbox md-input--nested-3">
      <input
        class="md-input md-checkbox__input"
        type="checkbox"
        id="checkboxNested3"
        name="checkboxNested3" />
      <label class="md-checkbox__label" for="checkboxNested3">
        Child Checkbox Nested 3 Levels
      </label>
    </div>
  </form>
