<div class="cui-accordion">
  <div
    aria-expanded="true"
    class="cui-accordion__group cui-accordion__group--active">
    <div role="button" class="cui-accordion__header">
      <div>Accordion 1</div>
      <span class="cui-accordion__header-icon"></span>
    </div>
    <div class="cui-accordion__content">
      <div
        aria-current="false"
        class="cui-list-item"
        id="cui-list-item-14"
        role="listItem"
        title="Content 1">Content 1</div>
    </div>
  </div>
  <div
    aria-expanded="true"
    class="cui-accordion__group cui-accordion__group--active">
    <div role="button" class="cui-accordion__header">
      <div>Accordion 2</div>
      <span class="cui-accordion__header-icon"></span>
    </div>
    <div class="cui-accordion__content">
      <div
        aria-current="false"
        class="cui-list-item"
        id="cui-list-item-15"
        role="listItem"
        title="Content 2">Content 2</div>
    </div>
  </div>
</div>
