  <div class="md-combo-box" aria-haspopup="listbox" aria-expanded="false" role="combobox">
    <div class="md-input-container  md-search-input medium-4 columns end">
      <div class="md-input__icon-container">
        <input class="md-input" type="text" aria-autocomplete="list" value="" />
        <i class="md-icon icon icon-search_20"></i>
      </div>
    </div>
  </div>
  <div class="md-event-overlay md-event-overlay--bottom">
    <div class="md-event-overlay__children">
      <div class="md-combo-box__options" role="listbox">
        <div class="md-list-item" role="option" title="a">a</div>
        <div class="md-list-item" role="option" title="ab">ab</div>
        <div class="md-list-item" role="option" title="abc">abc</div>
      </div>
    </div>
  </div>
