@import '../../settings/core';
@import '../../settings/media';
@import '../../colors/settings';

$footer-class: '#{$prefix}-footer';
$footer__background-color: $cui-gray-90;
$footer__background-color--light: $cui-white-100;

$footer__font-color: $white-60;
