<div class="timePicker-container">
  <div class="cui-timepicker-container">
    <div class="cui-input-group  read-only">
      <input class="cui-input read-only dirty" tabindex="0" type="text" name="cui-timepicker__input-408" readonly="" value="14:17">
    </div>
    <div class="cui-event-overlay cui-event-overlay--bottom">
      <div class="cui-event-overlay__children" style="top: 284px; left: 285px;">
        <div class="cui-timepicker__dropdown-container">
          <div class="cui-timepicker__dropdown">
            <div class="inline-flex">
              <div>
                <i class="icon icon-arrow-up_24" tabindex="-1" role="button"></i>
                <input type="text" minlength="2" maxlength="2" tabindex="0" value="14">
                <i class="icon icon-arrow-down_24" role="button" tabindex="-1"></i>
              </div>:
              <div>
                <i class="icon icon-arrow-up_24" tabindex="-1" role="button"></i>
                <input type="text" minlength="2" maxlength="2" tabindex="0" value="17">
                <i class="icon icon-arrow-down_24" role="button" tabindex="-1"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>