<div class="timePicker-container">
  <div class="md-timepicker-container">
    <div class="md-input-container  read-only">
      <input class="md-input read-only dirty" tabindex="0" type="text" name="md-timepicker__input-407" readonly="" value="10:17 AM">
    </div>
    <div class="md-event-overlay md-event-overlay--bottom">
      <div class="md-event-overlay__children" style="top: 291px; left: 285px;">
        <div class="md-timepicker__dropdown-container">
          <div class="md-timepicker__dropdown">
            <div class="inline-flex">
              <div>
                <i class="icon icon-arrow-up_24" tabindex="-1" role="button"></i>
                <input type="text" minlength="2" maxlength="2" tabindex="0" value="10">
                <i class="icon icon-arrow-down_24" role="button" tabindex="-1"></i>
              </div>:
              <div>
                <i class="icon icon-arrow-up_24" tabindex="-1" role="button"></i>
                <input type="text" minlength="2" maxlength="2" tabindex="0" value="17">
                <i class="icon icon-arrow-down_24" role="button" tabindex="-1"></i>
              </div>
              <div>
                <i class="icon icon-arrow-up_24" tabindex="-1" role="button"></i>
                <input type="text" minlength="2" maxlength="2" tabindex="0" value="AM">
                <i class="icon icon-arrow-down_24" role="button" tabindex="-1"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
