.docs-side-nav,
.docs-mobile-nav {
  background-color: $black-04;
  padding-top: 24px;
  box-shadow: -1px solid $black-08;
  grid-area: sidebar;
}

.docs-mobile-nav {
  background: $white;
  width: 100%;
  max-width: 100%;
}

.cui-list-separator {
  background: $white !important;
}
