:host(:focus) {
  box-shadow: none;
  outline: none;
}

:host(md-spinner) {
  line-height: 1rem;

  .md-spinner {
    border-radius: 50%;
    display: block;
    position: relative;

    $trackWidth: 2px;
    @include spinner-style($track-width: 2px);

    &.large {
      @include spinner-style($track-width: 4px);
    }
  }
}

@media (forced-colors: active) {
  :host(md-spinner) {
    .md-spinner {
      &:after {
        border-bottom: 2px solid Highlight;
        border-left: 2px solid HighlightText;
        border-right: 2px solid Highlight;
        border-top: 2px solid Highlight;
      }
    }
  }
}
