:host(:focus) {
  box-shadow: none;
  outline: none;
}

:host(md-spinner) {
  line-height: 1rem;

  .md-spinner {
    border-radius: 50%;
    display: block;
    position: relative;
    
    @include spinner-style();

    &::after {
      animation: load8 1s infinite linear;
      border-radius: 50%;
      content: "";
      height: calc(100% + 2px);
      left: -1px;
      position: absolute;
      top: -1px;
      width: calc(100% + 2px);
    }
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (forced-colors: active) {
  :host(md-spinner) {
    .md-spinner {
      &:after {
        border-bottom: 2px solid Highlight;
        border-left: 2px solid HighlightText;
        border-right: 2px solid Highlight;
        border-top: 2px solid Highlight;
      }
    }
  }
}
