/** @component select */

@include exports('md-select') {
  .#{$select__class} {
    > .#{$select-button__class} {
      @include button-color(
        $color: $select__color,
        $bg: $select--input__background-color,
        $bg-hover: $select--input__background-color--hover,
        $bg-active: $select--input__background-color
      );
      @include button-size($radius: $input__border-radius);

      margin: $select-input__margin;

      .#{$dark-class} & {
        @include button-color(
          $color: $select__color--dark,
          $bg: $select--input__background-color--dark,
          $bg-hover: $select--input__background-color--hover--dark,
          $bg-active: $select--input__background-color--dark
        );
        @include button-size($radius: $input__border-radius);
      }

      &.disabled,
      &.md-button--disabled,
      &[disabled] {
        @include border-radius($input__border-radius);

        .#{$select-label__class} {
          @include flex($jc: space-between);

          > i,
          > .#{$icon__class} {
            color: $select__icon--disabled;

            path {
              fill: $select__icon--disabled;
            }

            .#{$dark-class} & {
              color: $select__icon--disabled--dark;

              path {
                fill: $select__icon--disabled--dark;
              }
            }
          }
        }
      }

      .#{$select-label__class} {
        width: 100%;
        @include flex($jc: space-between);

        > i,
        > .#{$icon__class} {
          color: $input__font-color;

          path {
            fill: $input__font-color;
          }

          .#{$dark-class} & {
            color: $input__font-color--dark;

            path {
              fill: $input__font-color--dark;
            }
          }
        }
      }
    }

    .#{$prefix}-event-overlay__children {
      max-height: $dropdown-height;
      overflow: auto;
      border: $select--children__border;
      box-shadow: $select--children__box-shadow;

      .#{$list-item__class} {
        .#{$dark-class} & {
          @include list-item-color;
        }
      }
      // One pixel less than Event Overlay per Designers comments
      .#{$list-item__class}:first-of-type {
        border-radius: 4px 4px 0 0;
      }

      .#{$list-item__class}:last-of-type {
        border-radius: 0 0 4px 4px;
      }
    }
  }
}
