$select__class: '#{$prefix}-select';
$select-button__class: '#{$prefix}-button';
$select-label__class: '#{$select__class}__label';

$select-input__margin: (rem-calc(2) 0);
$select--children__border: (rem-calc(1) solid $black-08);
$select--children__box-shadow: (0 rem-calc(8) rem-calc(16) 0 $black-08);
$select__icon--size: rem-calc(16);
$select__icon--top: calc((#{$input__height} - #{$select__icon--size}) / 2);
$select__icon--right: $input__padding-side;
$select__icon--disabled: $black-40;
$select__icon--disabled--dark: $white-40;

$select--input__background-color: $black-08;
$select--input__background-color--hover: $black-12;

$select--input__background-color--dark: $white-24;
$select--input__background-color--hover--dark: $white-32;

$select__color: $black-60 !default;
$select__color--dark: $white-60 !default;
