$md-card-width: rem-calc(424);
$md-card-menu-width: rem-calc(144);
$md-card-color: var(--md-secondary-text-color);
$md-card-title-color: var(--md-primary-text-color);
$md-card-content-bg: var(--md-secondary-bg-color);
$md-card-content-min-height: rem-calc(224);
$md-card-bg: var(--md-tertiary-white-bg-color);
$md-card-border: var(--md-quaternary-bg-color);
$md-card-border-radius: rem-calc(8);
$md-card-box-shadow: rem-calc(0 2 4) $black-16, rem-calc(0 0 1) $black-16;
$md-card-indent: rem-calc(8);
