<div class="md-input-container medium-6 columns md-search-input">
  <label class="md-label md-input__label" for="defaultSearchInput">
    <span>Default Search Input</span>
  </label>
  <div class="md-input__wrapper">
    <span class="md-input__before">
      <i
        class="md-icon icon icon-search_20 md-search-input__icon"
        style="font-size: 20px;"
      ></i>
    </span>
    <input
      class="md-input md-input--before"
      tabindex="0"
      type="text"
      id="defaultSearchInput"
      name="defaultSearchInput"
      value=""
    />
  </div>
</div>
