<div class="md-input-container medium-6 columns md-search-input">
  <label class="md-label md-input__label" for="loadingSearchInput">
    <span>Loading Search Input</span>
  </label>
  <div class="md-input__wrapper">
    <span class="md-input__before">
      <i class="md-spinner md-spinner--20 md-spinner--black"></i>
    </span>
    <input
      class="md-input md-input--before md-active"
      tabindex="0"
      type="text"
      id="loadingSearchInput"
      name="loadingSearchInput"
      value=""
    />
  </div>
</div>
