:host {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  height: 28px;

  border-radius: 1.5625rem;
  background-color: var(--floating-button-bar-bg-color);

  box-shadow: var(--md-elevation-1);
  backdrop-filter: blur(10px);

  padding: 0.25rem 0.5rem;
  gap: 0.5rem;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.cancel {
    color: var(--floating-button-bar-secondary-color);
}

.primary-label {
  color: var(--floating-button-bar-primary-color);
  font-weight: 500;
}

.secondary-label {
  color: var(--floating-button-bar-secondary-color);
}
