/** @component alert-banner */
@use "settings" as constants;
@use "mixins";

@include exports("md-alert-banner") {
  .md-alert-banner {
    display: flex;
    padding: constants.$alert-banner__padding;
    position: relative;
    text-align: center;
    border-radius: var(--alert-banner-border-radius);
    font-family: $brand-font-regular;
    font-weight: var(--brand-font-weight-regular);
    line-height: constants.$alert-banner__line-height;
    gap: constants.$alert-banner__flexbox-gap;

    &.closable {
      padding-right: calc(
        constants.$alert-banner-close__size + constants.$alert-banner__padding + constants.$alert-banner__flexbox-gap
      );
    }

    align-items: center;
    justify-content: center;

    &.md-alert-banner {
      &--default {
        @include mixins.alert-banner-color(
          var(--alert-banner-default-bg-color),
          var(--alert-banner-default-text-color)
        );
      }

      &--warning {
        @include mixins.alert-banner-color(
          var(--alert-banner-warning-bg-color),
          var(--alert-banner-warning-text-color)
        );
      }

      &--error {
        @include mixins.alert-banner-color(var(--alert-banner-error-bg-color), var(--alert-banner-error-text-color));
      }

      &--success {
        @include mixins.alert-banner-color(
          var(--alert-banner-success-bg-color),
          var(--alert-banner-success-text-color)
        );
      }
    }

    &--leading {
      text-align: left;
      justify-content: space-between;
    }

    &__text {
      font-size: constants.$alert-banner__font-size;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: constants.$alert-banner__flexbox-gap;

      a {
        color: inherit;
        text-decoration: underline;
      }

      .refresh-button {
        display: inline-flex;
      }

      &.leading {
        justify-content: flex-start;
      }
    }

    &__right {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &.trailing {
        justify-content: flex-end;
      }
    }

    .close-div {
      position: absolute;
      display: flex;
      align-items: center;

      right: constants.$alert-banner-close__padding;
      top: constants.$alert-banner-close__padding;
      bottom: constants.$alert-banner-close__padding;
      width: constants.$alert-banner-close__size;

      .md-alert-banner__close {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  @media (forced-colors: active) {
    .md-alert-banner {
      box-shadow: none;
      outline: 2px solid CanvasText;
    }
  }
}
