/** @component alert-banner */
@use "settings" as constants;
@use "mixins";

@include exports("md-alert-banner") {
  .md-alert-banner {
    padding: constants.$alert-banner__padding;
    position: relative;
    text-align: center;
    border-radius: var(--alert-banner-border-radius);
    font-family: $brand-font-regular;
    font-weight: var(--brand-font-weight-regular);
    line-height: constants.$alert-banner__line-height;
    
    &.md-alert-banner {
      &--default {
        @include mixins.alert-banner-color(
          var(--alert-banner-default-bg-color),
          var(--alert-banner-default-text-color)
        );
      }

      &--warning {
        @include mixins.alert-banner-color(
          var(--alert-banner-warning-bg-color),
          var(--alert-banner-warning-text-color)
        );
      }

      &--error {
        @include mixins.alert-banner-color(
          var(--alert-banner-error-bg-color),
          var(--alert-banner-error-text-color)
        );
      }

      &--success {
        @include mixins.alert-banner-color(
          var(--alert-banner-success-bg-color),
          var(--alert-banner-success-text-color)
        );
      }
    }

    &__text {
      font-size: constants.$alert-banner__font-size;
      padding: constants.$alert-banner-text__padding;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: constants.$alert-banner__flexbox-gap;

      a {
        color: inherit;
        text-decoration: underline;
      }

      > * {
        align-self: center;
        height: auto;
      }
    }

    &__close {
      cursor: pointer;
      height: constants.$alert-banner-close__size;
      position: absolute;
      right: constants.$alert-banner-close__size;
      top: constants.$alert-banner-close__top-space;
      width: constants.$alert-banner-close__size;
    }
  }
  @media (forced-colors: active) {
    .md-alert-banner {
      box-shadow: none;
      outline: 2px solid CanvasText;
    }
  }
}
