/** @component alert-banner */
@use "settings" as constants;
@use "mixins";

@include exports("md-alert-banner") {
  .md-alert-banner {
    display: flex;
    border: 1px solid;
    padding: constants.$alert-banner__padding;
    position: relative;
    text-align: center;
    border-radius: var(--alert-banner-border-radius);
    font-family: $brand-font-regular;
    font-weight: var(--brand-font-weight-regular);
    line-height: constants.$alert-banner__line-height;
    gap: constants.$alert-banner__flexbox-gap;

    &.closable {
      padding-right: calc(
        constants.$alert-banner-close__size + constants.$alert-banner__padding + constants.$alert-banner__flexbox-gap
      );
      &.with-title{
        padding-right: constants.$alert-banner-close__padding;
      }
    }

    align-items: center;
    justify-content: center;

    &.md-alert-banner {
      &--default {
        @include mixins.alert-banner-color(
          var(--alert-banner-default-bg-color),
          var(--alert-banner-default-text-color),
          var(--alert-banner-default-border-color)
        );
      }

      &--default-momentum {
        @include mixins.alert-banner-color(
          var(--alert-banner-default-momentum-bg-color),
          var(--alert-banner-default-momentum-text-color),
          var(--alert-banner-default-momentum-text-color)
        );
      }

      &--accent {
        @include mixins.alert-banner-color(
          var(--alert-banner-default-bg-color),
          var(--alert-banner-default-text-color),
          var(--alert-banner-default-border-color)
        );
      }

      &--warning {
        @include mixins.alert-banner-color(
          var(--alert-banner-warning-bg-color),
          var(--alert-banner-warning-text-color),
          var(--alert-banner-warning-border-color)
        );
      }

      &--error {
        @include mixins.alert-banner-color(
          var(--alert-banner-error-bg-color),
          var(--alert-banner-error-text-color),
          var(--alert-banner-error-border-color)
        );
      }

      &--success {
        @include mixins.alert-banner-color(
          var(--alert-banner-success-bg-color),
          var(--alert-banner-success-text-color),
          var(--alert-banner-success-border-color)
        );
      }

      &--promotional {
        @include mixins.alert-banner-color-gradient(
          var(--alert-banner-promotional-bg),
          var(--alert-banner-promotional-text-color),
          var(--alert-banner-promotional-border-color)
        );
      }
    }

    &__title {
      font-weight: var(--brand-font-weight-bold);
    }

    &__text-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: constants.$alert-banner__text-content-gap;
      margin-left: 0;

      &.with-icon {
        margin-left: constants.$alert-banner__icon-size + constants.$alert-banner__icon-padding;
      }
    }

    &__icon {
      &.with-title{
        position: absolute;
        top: constants.$alert-banner__padding;
        left: constants.$alert-banner__padding;
      }
    }

    &__with-title {
      ::slotted([slot="left"]) {
        position: absolute;
        top: constants.$alert-banner__padding;
        left: constants.$alert-banner__padding;
      }
    }

    &--leading {
      text-align: left;
      justify-content: space-between;
    }

    .refresh-button-with-title {
      md-icon {
        color: var(--alert-banner-default-text-color);
      }
    }

    &__text {
      font-size: constants.$alert-banner__font-size;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: constants.$alert-banner__flexbox-gap;

      a {
        color: inherit;
        text-decoration: underline;
      }

      .refresh-button {
        display: inline-flex;
      }

      &.leading {
        justify-content: flex-start;
      }
    }

    &__right {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &.trailing {
        justify-content: flex-end;
      }
    }

    .close-div {
      position: absolute;
      display: flex;
      align-items: center;

      right: constants.$alert-banner-close__padding;
      top: constants.$alert-banner-close__padding;
      bottom: constants.$alert-banner-close__padding;
      width: constants.$alert-banner-close__size;

      &.with-title {
        position: relative;
        right: 0px;
        top: 0px;
        bottom: 0px;
      }

      md-icon {
        color: var(--alert-banner-default-text-color);
      }

      .md-alert-banner__close {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__top-right-centered {
      display: flex;
      align-self: flex-start;
      align-items: flex-end;
      justify-content: center;
    }
    
    &__top-right-centered-content {
      display: flex;
      align-items: center;
      gap: constants.$alert-banner__flexbox-gap;
    }
  }

  @media (forced-colors: active) {
    .md-alert-banner {
      box-shadow: none;
      outline: 2px solid CanvasText;
    }
  }
}
