@mixin alert-banner-color($background-color, $text-color, $border-color) {
  background-color: $background-color;
  border-color: $border-color;
  color: $text-color;

  md-icon {
    color: $border-color;
  }
}

@mixin alert-banner-color-gradient($background, $text-color, $border-color) {
  background: $background;
  border-color: $border-color;
  color: $text-color;

  md-icon {
    color: $border-color;
  }
}