/** @component editable-textfield */

:focus {
  outline: none;
}

@include exports("md-editable-textfield") {

  :host {
    --editable-textfield-line-height: $field-line-height;
    --editable-textfield-min-height: 2rem;
  }

  .md-editable-textfield {
    border-radius: $field-border-radius;
    line-height: var(--editable-textfield-line-height);
    min-height: var(--editable-textfield-min-height);
    overflow-y: auto;
    padding: $field-padding;
    align-content: center;

    &:hover {
      background-color: var(--editable-textfield-default-hover-bg-color, $md-gray-10);
    }

    &:active {
      background-color: var(--editable-textfield-default-pressed-bg-color, $md-gray-20);
    }

    &:focus {
      @include focus-boxshadow(rem-calc(1), var(--md-default-focus-outline-color, $md-blue-60));
    }

    &--left {
      .md-input {
        text-align: left;
      }
    }

    &--center {
      .md-input {
        text-align: center;
      }
    }

    &--center ::slotted(*) {
      text-align: center;
    }

    &--right {
      .md-input {
        text-align: right;
      }
    }

    &--right ::slotted(*) {
      text-align: right;
    }

    &--disabled {
      background-color: transparent;
      color: var(--md-secondary-text-color, $md-gray-70);
      cursor: default;

      &:hover {
        background-color: transparent;
      }

      &:focus {
        @include remove-focus;
      }
    }

    &--error {
      background-color: var(--md-alert-error-bg-color, $md-red-10);
      border: 1px solid var(--editable-textfield-error-border-color, $md-red-70);
      color: var(--md-alert-error-text-color, $md-red-70);

      &:focus {
        @include remove-focus;
      }
    }

    &--warning {
      background-color: var(--md-alert-warning-bg-color, $md-yellow-10);
      border: 1px solid var(--editable-textfield-warning-border-color, $md-yellow-50);
      color: var(--md-alert-warning-text-color, $md-yellow-70);

      &:focus {
        @include remove-focus;
      }
    }

    &--success {
      background-color: var(--md-alert-success-bg-color, $md-green-10);
      border: 1px solid var(--editable-textfield-success-border-color, $md-green-50);
      color: var(--md-alert-success-text-color, $md-green-70);

      &:focus {
        @include remove-focus;
      }
    }

    &--textoverflow {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow-y: hidden;
      text-overflow: ellipsis;
    }
  }

  .md-editable-textfield__messages {
    padding: $field-message-padding;
  }
}

@media(forced-colors:active) {
  @include exports("md-editable-textfield") {
    .md-editable-textfield {
      &:focus {
        outline: 1px solid Highlight;
        box-shadow: none;
      }

      &--disabled {
        color: GrayText;
        cursor: default;
  
        &:focus {
          @include remove-focus;
        }
      }
    }
  }
}