cui-call-destination {
  .call-dest-button {
    margin: 0;
    color: $blue-base;
    background-color: white;
    border: 1px solid $blue-base;
    border-radius: 0;

    @include vr-spacing(mt, 2.5);
    @include vr-spacing(mb, 3);

    &:hover,
    &:active {
      color: white;
      background-color: $blue-base;
    }

    &:first-child {
      border-bottom-left-radius: 2px;
      border-top-left-radius: 2px;
    }

    &:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }

  .current-selection {
    color: white;
    background-color: $blue-base;
  }
}
