@import "../settings/colors";

/* ---------- CARD NUMBER ---------- */
.cui-card-number{
    background-color: $white;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 1px rgba(52, 53, 55, 0.18);
    color: $gray-2;
    width: 16.5rem;
    margin: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    p {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .left-panel {
      width: 10rem;
      .title {
        font-size: 16px;
        color: $black;
      }
    }
    .right-panel {
      .icon {
        color: $gray-2;
        font-size: 1.5rem;
        bottom: -5px;
        &.icon-exit {
          font-size: 1rem;
        }
      }
    }

}
/* ---------- END CARD NUMBER ---------- */
