@import "../settings/colors";

.sortable .icon-hamburger-menu {
  cursor: move;
}

.sortable {
  &:hover {
    background: $gray-5;
    cursor: move;
  }
  &:focus {
    outline: none;
  }
}

.drag-placeholder {
  background: $gray-6;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
}
