.formly-field-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  .form-inline.formly-field {
    display: inline-flex;
    margin-right: 5px;
    .formly-template-wrapper {
      width: 100%;
    }
  }
  .form-inline.formly-field-radio {
    label {
      margin-bottom: 0;
    }
  }
  .form-inline.formly-field-input {
    flex: 1;
    input {
      width: 100%;
    }
  }
}

.formly-template-wrapper {
  .form-horizontal & {
    display: flex;
    align-items: center;
  }
  .popover {
    top: auto;
    left: auto;
    bottom: 39px;
    right: -14px;
    width: rem-calc(165);
    display: block;
    .arrow {
      left: auto;
      right: 10px;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      line-height: 1;
      list-style: none;
    }
  }
}

form, form.form, form.form-horizontal, form.form-inline {
  .formly-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    .form-control-feedback {
      position: relative;
      top: auto;
      // Offset the width of the icon for flex
      margin-right: -1.5rem;
      // Indent the icon into the input control
      right: 1.5rem;
    }
  }
}

.formly-field-group {
  @extend .form-group;
}
