// @import  '../colors/settings';
// @import  '../typography/settings';
// @import  '../tools/functions/core';

@include exports('ng-grid-filter') {
  .grid-filter {
    float: left;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    color: $md-gray-50;

    .dropdown-toggle {
      color: $md-theme-50;

      .icon {
        font-size: 25px;
        line-height: 20px;
        color: $md-gray-90;
        vertical-align: middle;
      }
    }

    ul {
      padding: 0;
      margin: 0;
    }

    .dropdown-menu {
      left: calc(100% - 30px);
    }

    .filter {
      cursor: pointer;

      span {
        font-size: inherit;
      }

      .count {
        visibility: hidden;
      }
    }
  }

  .screen-md,
  .screen-lg {
    .grid-filter {
      padding: 0;
      font-size: 1.25rem;
      line-height: 20px;
      color: $md-gray-50;

      & ul {
        font-size: inherit;
      }

      .filter {
        display: inline-block;
        cursor: pointer;

        a {
          margin-right: 16px;
          color: $md-gray-50;

          &:hover {
            color: $md-theme-50;
            text-decoration: none;
          }

          &:focus {
            color: $md-gray-50;
            text-decoration: none;
            border: none;
            box-shadow: none;
          }
        }

        span {
          font-size: 1rem;
        }

        .name {
          margin-right: 6px;
          font-family: $brand-font-light;
        }

        .count {
          //font-weight: bold;
          font-family: $brand-font-light;
          visibility: visible;
        }

        &:hover,
        &:focus {
          color: $md-theme-50;
        }
      }

      .active,
      .active a {
        color: $md-theme-50;
        cursor: default;
      }
    }
  }
}
