@import "../settings/colors";
@import "../settings/fonts";

@import "../tools/functions/core";

@include exports("grid-filter") {
  .grid-filter {
    float: left;
    color: $gray-3;
    font-size: 20px;
    line-height: 20px;
    padding: 0;
    .dropdown-toggle {
      color: $blue-base;
      .icon {
        vertical-align: middle;
        color: $gray-1;
        font-size: 25px;
        line-height: 20px;
      }
    }
    ul {
      margin: 0;
      padding: 0;
    }
    .dropdown-menu {
      left: calc(100% - 30px);
    }
    .filter {
      cursor: pointer;
      span {
        font-size: inherit;
      }
      .count {
        visibility: hidden;
      }
    }
  }
  .screen-md,
  .screen-lg {
    .grid-filter {
      color: $gray-3;
      font-size: 1.25rem;
      line-height: 20px;
      padding: 0;
      & ul {
        font-size: inherit;
      }
      .filter {
        display: inline-block;
        cursor: pointer;
        a {
          color: $gray-3;
          margin-right: 16px;
          &:hover {
            text-decoration: none;
            color: $blue-base;
          }
          &:focus {
            color: $gray-3;
            border: none;
            box-shadow: none;
            text-decoration: none;
          }
        }
        span {
          font-size: 1rem;
        }
        .name {
          margin-right: 6px;
          font-family: $brand-font-light;
        }
        .count {
          //font-weight: bold;
          font-family: $brand-font-light;
          visibility: visible;
        }
        &:hover,
        &:focus {
          color: $blue-base;
        }
      }
      .active,
      .active a {
        color: $blue-base;
        cursor: default;
      }
    }
  }
}
