/* ---------- GRID TABLE ---------- */

.gridStyle {
  width: 100%;
  height: 100%;
  margin-top: 0;
  // margin: 0 -1rem;
  padding-right: 0;
  & >:nth-child(2) {
    overflow-x: hidden;
  }
}

.ngCellText,
.ngHeaderText {
  &.colt0 {
    padding-left: 2rem;
  }
}
.colt0 {
  .ngCellText {
    padding-left: 2rem;
  }
}

.ngGrid {
  background-color: $brand-white;
}

.ngGrid input[type="checkbox"] {
  margin: 0;
  padding: 0;
}

.ngGrid input {
  vertical-align: top;
}

.ngGrid.unselectable {
  user-select: none;
}

.ngViewport {
  overflow: hidden;
  width: 100% !important;
  font-size: 15px;
  font-family: $brand-font-cisco-TT-Light, sans-serif;
  color: $gray-1;
}

.ngViewport:focus {
  outline: none;
}

.ngCanvas {
  position: relative;
  width: 100% !important;
}

.ngVerticalBar {
  position: absolute;
  right: 0;
  width: 0;
}

.ngVerticalBarVisible {
  width: 1px;
  background-color: $gray-1;
  opacity: .1;
}

#testDataLength {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -100000;
}

.ngHeaderContainer {
  position: relative;
  overflow: hidden;
  font-weight: bold;
  background-color: $gray-7;
  font-size: 15px;
  font-family: $brand-font-cisco-TT-Light, sans-serif;
  color: $gray-1;
}

.ngHeaderCell {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: inherit;
}

.ngHeaderCell.pinned {
  z-index: 1;
}

.ngHeaderSortColumn {
  position: absolute;
  overflow: hidden;
}

.ngTopPanel {
  position: relative;
  z-index: 1;
  background-color: transparent;
  border-bottom: 1px solid $gray-7;
  width: 100% !important;
}

.ngSortButtonDown {
  position: absolute;
  top: 20px;
  left: auto;
  right: 15px;
  border-color: $gray transparent;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  height: 0;
  width: 0;
}

.ngNoSort {
  cursor: default;
}

.ngHeaderButton {
  position: absolute;
  right: 2px;
  top: 8px;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  z-index: 1;
  background-color: $blue-light;
  cursor: pointer;
}

.ngSortButtonUp {
  position: absolute;
  top: 20px;
  left: auto;
  right: 15px;
  border-color: $gray transparent;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  height: 0;
  width: 0;
}

.ngHeaderScroller {
  position: absolute;
  background-color: inherit;
}

.ngSortPriority {
  position: absolute;
  top: -5px;
  left: 1px;
  font-size: 6pt;
  font-weight: bold;
}

.ngHeaderGrip {
  cursor: col-resize;
  width: 10px;
  right: -5px;
  top: 0;
  height: 100%;
  position: absolute;
  background-color: transparent;
}

.ngHeaderText {
  padding: 10px 30px 10px 20px;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ngHeaderButtonArrow {
  position: absolute;
  top: 4px;
  left: 3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.5px 4.5px 0 4.5px;
  border-color: $gray-5 transparent transparent transparent;
}

.ngPinnedIcon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABp0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuMTAw9HKhAAAAmElEQVQoU33PQapBURjA8UtkwJuaWYGSgfQWYBMvczPmTCzAAGVuaA228BZhRCkDGSmE31FucuRfvzq3vr5zT/JSjSU7DsypEPXDkDVn2hSIytJhw4kWGaLCxgHh2gt/RBuLzNhz5caWPjnSqqw4EraFfwznf8qklWjwy4IRTerkiQoPGtPl40OehcEJvcfXl8LglLfBJLkDcMgbgHlHhK8AAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  position: absolute;
  right: 5px;
  top: 5px;
  height: 10px;
  width: 10px;
}

.ngUnPinnedIcon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABp0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuMTAw9HKhAAAAlElEQVQoU33PPQrCQBRF4fFnI2KfZVi5ARvdgo1l6mwmkCJVOgluwd5OwUoDtnoOxAei8cLXTN7cvEl/skCNDCMPfsUPO5zQwOHIDEvYtMURHe6wOVLgigvOePRyeDkyR4ln7wZ//7XfFBu8B23+aDJjrHGAwza7hjtHJvDmHg7b7Bru7AMjK7Rw2ObBVHDY5oGk9AKQNB2zy8MBTgAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  position: absolute;
  height: 10px;
  width: 10px;
  right: 5px;
  top: 5px;
}

.ngColMenu {
  right: 2px;
  padding: 5px;
  top: 25px;
  border-radius: 3px;
  background-color: transparent;
  position: absolute;
  border: 2px solid $gray-7;
  z-index: 1;
}

.ngColListCheckbox {
  position: relative;
  right: 3px;
  top: 4px;
}

.ngColList {
  list-style-type: none;
  margin-top: 2px;
  margin-left: 8px;
}

.ngColListItem {
  white-space: nowrap;
}

.ngMenuText {
  position: relative;
  top: 2px;
  left: 2px;
}

.ngGroupPanel {
  background-color: transparent;
  overflow: hidden;
  border-bottom: 1px solid $gray-7;
}

.ngGroupPanelDescription {
  margin-top: 5px;
  margin-left: 5px;
}

.ngGroupList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ngAggHeader {
  position: absolute;
  border: none;
}

.ngGroupElement {
  float: left;
  height: 100%;
  width: 100%;
}

.ngGroupIcon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAYAAACZ3F9/AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAEFJREFUKFNjoAhISkr+h2J5JDZODNXGwGBsbPwfhIGAA8bGh6HaGBiAGhxAGJmND4M1gQCSM0adCsVQbcPcqQwMALWDGyDvWPefAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  position: absolute;
  right: -2px;
  top: 2px;
}

.ngGroupedByIcon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAYAAACZ3F9/AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAElJREFUKFNjoAhISkr+R8LyaHwMDNXGwGBsbPwfhoGAA5mPDUO1oWpE52PDYE0gALTFAYbR+dgwWBMIoPlh1I9ADNU2NPzIwAAAFQYI9E4OLvEAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  position: absolute;
  right: -2px;
  top: 2px;
}

.ngGroupName {
  background-color: transparent;
  border: 1px solid $gray-7;
  padding: 3px 10px;
  float: left;
  margin-left: 0;
  margin-top: 2px;
  border-radius: 3px;
  font-weight: bold;
}

.ngGroupArrow {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid $gray-7;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  float: right;
}

.ngGroupingNumber {
  position: absolute;
  right: -10px;
  top: -2px;
}

.ngAggArrowCollapsed {
  position: absolute;
  left: 8px;
  bottom: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 8.7px;
  border-color: transparent transparent transparent $gray-7;
}

.ngGroupItem {
  float: left;
}

.ngGroupItem:first-child {
  margin-left: 2px;
}

.ngRemoveGroup {
  width: 5px;
  opacity: 0.4;
  margin-top: -1px;
  margin-left: 5px;
}

.ngRemoveGroup:hover {
  color: $text-color;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.7;
}

.ngAggArrowExpanded {
  position: absolute;
  left: 8px;
  bottom: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 9px 9px;
  border-color: transparent transparent $gray-5 transparent;
}

.ngAggregate {
  position: absolute;
  background-color: transparent;
  border-bottom: 1px solid $gray-7;
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: -1px;
  left: 0;
}

.ngAggregateText {
  position: absolute;
  left: 27px;
  top: 5px;
  line-height: 20px;
  white-space: nowrap;
}

.ngRow {
  position: absolute;
  border-bottom: 1px solid $gray-7;
  width: 100% !important;
  &.odd {
    background-color: transparent;
  }
  &.even {
    background-color: transparent;
  }
  &:hover {
    background-color: $blue-light;
  }
  &.selected {
    transition: none;
    background-color: $blue-base;
    color: $brand-white;
  }
}

.ngCell {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: inherit;
}

.ngCell.pinned {
  z-index: 1;
}

.ngCellText {
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ngSelectionCell {
  margin-top: 9px;
  margin-left: 6px;
}

.ngSelectionHeader {
  position: absolute;
  top: 11px;
  left: 6px;
}

.ngCellElement:focus {
  outline: 0;
  background-color: $gray-1;
}

.ngRow.canSelect {
  cursor: pointer;
}

.ngSelectionCheckbox {
  margin-top: 9px;
  margin-left: 6px;
}

.ngFooterPanel {
  background-color: transparent;
  padding: 0;
  border-top: 1px solid $gray-7;
  position: relative;
}

.nglabel {
  display: block;
  float: left;
  font-weight: bold;
  padding-right: 5px;
}

.ngTotalSelectContainer {
  float: left;
  margin: 5px;
  margin-top: 7px;
}

.ngFooterSelectedItems {
  padding: 2px;
}

.ngFooterTotalItems.ngnoMultiSelect {
  padding: 0 !important;
}

.ngGridMaxPagesNumber {
  vertical-align: middle;
}

.ngPagerFirstBar {
  width: 10px;
  border-left: 2px solid $gray-7;
  margin-top: -6px;
  height: 12px;
  margin-left: -3px;
}

.ngPagerButton {
  height: 25px;
  min-width: 26px;
}

.ngPagerFirstTriangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 8.7px 5px 0;
  border-color: transparent $gray-5 transparent transparent;
  margin-left: 2px;
}

.ngPagerNextTriangle {
  margin-left: 1px;
}

.ngPagerPrevTriangle {
  margin-left: 0;
}

.ngPagerLastTriangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 8.7px;
  border-color: transparent transparent transparent $gray-7;
  margin-left: -1px;
}

.ngPagerLastBar {
  width: 10px;
  border-left: 2px solid $gray-7;
  margin-top: -6px;
  height: 12px;
  margin-left: 1px;
}

.ngFooterTotalItems {
  padding: 2px;
}

.ngCell {
  .user-img {
    height: 35px;
    width: 35px;
    margin: 4px 5px 4px 30px;
    .icon {
      font-size: 30px;
      line-height: 35px;
      bottom: -5px;
    }
  }
  .dropdown-menu {
    right: 30px;
    left: auto;
    top: 70%;
  }
  .btn-icon {
    background: none;
    border: none;
    box-shadow: none;
    width: 100%;
    text-align: right;
    color: inherit;
    &:hover, &:focus, &.active:focus {
      border: none;
      box-shadow: none;
      outline: 0;
    }
  }
  .btn-actions {
    float: right;
    padding: 15px 30px;
    text-align: center;
  }
}

/* ---------- END GRID TABLE ---------- */
