@import "../settings/colors";
@import "../settings/fonts";
@import "../settings/page";

@import "../tools/mixins/core";
@import "../tools/mixins/grid";
@import "../tools/mixins/page";

.cui-admin {
  .page-header {
    margin: 0;
    padding: 0;
    background-color: $white;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $gray-5;

    &__left {
      @include page-header__left();
    }

    &__right {
      flex-grow: 2;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      padding-right: 0.75rem;
    }

    &__title {
      @include page-header__title();
    }

    .icon-arrow-left_16 {
      margin-right: $page-header-icon-margin-right;
    }
  }
}

