@import "../tools/functions/core";

@include exports("search-filter") {
  .searchfilter {
    color: $gray-1;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: baseline;
    .page-header & {
      position: relative;
      top: rem-calc(-9);
    }
    >span {
      font-family: $brand-font-light;
      line-height: 20px;
      font-size: 20px;
    }
  }
  .search {
    background: transparent;
    color: $gray-4;
    border: none;
    padding-right: .5rem;
    &:focus,
    &:hover,
    &.fakefocus:focus,
    &.fakefocus:hover {
      background: transparent;
      color: $gray-4;
      @include box-shadow(none);
    }
    .icon {
      color: $gray-1;
    }
  }
  .table-filter {
    display: inline-block;
    .dropdown-toggle {
      color: $blue-base;
      .btn {
        padding: 0 2px 0 4px;
        height: 25px;
        min-width: initial;
        margin: 10px 0 0 30px;
      }
      .icon {
        vertical-align: middle;
        font-size: 14px;
      }
    }
    ul {
      margin: 0;
      padding: 0;
    }
    .dropdown-menu {
      left: calc(100% - 30px);
    }
    .filter {
      cursor: pointer;
      span {
        font-size: 1rem;
      }
      >a>i {
        visibility: hidden;
      }
      .showMe {
        visibility: visible;
      }
    }
    &.open {
      .filter {
        span {
          font-size: .875rem;
        }
      }
    }
  }
  .searchbox {
    text-decoration: none;
    margin-right: 1rem;
    .searchinput {
      position: relative;
      display: inline-block;
      background: $brand-white;
      border: 1px solid $input-border-color;
      border-radius: 2px;
      min-width: 36px;
      height: 36px;
      >input {
        position: relative;
        top: 1px;
      }
      >input {
        font-family: $brand-font-light;
        max-width: 200px;
        min-width: 35px;
        font-size: 1.125rem;
        color: $gray!important;
        background: $brand-white;
        padding: 8px 1px 7px 0;
        margin-left: 38px;
        margin-bottom: 3px;
        border: none;
        height: 32px;
        display: inline-block;
        @include easing-transition(width, 500ms, $easeOutQuint);
        &:focus {
          @include box-shadow(none);
          @include placeholder($gray-5);
          outline: none;
        }
      }
      >i {
        border: none;
        color: $gray-1;
        font-size: 16px;
        border-radius: 0;
        position: absolute;
        top: 9px;
        left: 11px;
      }
      >i.clear {
        color: $gray-3;
        left: auto;
        right: 11px;
        display: none;
      }
      >input.ng-not-empty {
        margin-right: 30px;
        + i.clear {
          display: block;
        }
      }
    }
    >button {
      border: none;
      background: transparent;
      height: 29px;
      padding: 2px;
      color: $gray-4;
      i {
        font-size: 14px;
        border: solid 1px;
        border-radius: 60%;
        border-color: transparent;
        &:hover {
          border-color: $gray-5;
        }
      }
      &:focus {
        outline: none;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  .fakefocus {
    .searchinput {
      cursor: default;
      >input,
      >span {
        color: $blue-base;
        cursor: default;
      }
    }
  }
  .screen-lg {
    .searchfilter {
      clear: none;
      padding-bottom: 0px;
    }
    .table-filter {
      font-size: 1.125rem;
      margin: 8px 0 0 0;
      padding: 0;
      position: relative;
      top: 1px;
      & ul {
        font-size: 0;
      }
      .filter {
        display: inline-block;
        font-size: initial;
        a {
          cursor: pointer;
          color: $gray-3;
          margin-right: 1rem;
          &:hover {
            text-decoration: none;
            color: $blue-base;
          }
          &:focus {
            color: $gray-4;
            border: none;
            @include box-shadow(none);
            text-decoration: none;
          }
        }
        i {
          line-height: .4;
          font-size: 10px;
        }
        .name {
          font-family: $brand-font-light;
        }
        .count {
          font-family: $brand-font-light;
          visibility: visible;
        }
        &:hover,
        &:focus {
          color: $blue-base;
        }
      }
      .active {
        cursor: default;
        .name,
        .count,
        >a {
          color: $blue-base;
          cursor: default;
        }
      }
    }
  }
  .screen-xs,
  .screen-sm,
  .screen-md {
    .searchfilter {
      .filter {
        .count {
          float: right;
          visibility: visible;
        }
      }
      .table-filter {
        .dropdown-menu {
          min-width: 195px;
        }
        .filter {
          margin-right: 0px;
        }
      }
    }
  }
}


/* --------- search-filter* --------- */
