.example-container {
  margin-top: 110px;

  &-banner {
    background-color: $md-gray-10;
    height: 588px;
    overflow: hidden;

    &-small {
      height: 420px;
    }
  }

  &-subtitle {
    margin-top: 17px;
    font-size: 14px;
    color: $md-gray-40;
    line-height: 16px;
  }
}

.example-container + .example-container {
  margin-top: 46px;

  @include site-column-breakpoint {
    margin-top: 30px;
  }
}