.example-container {
  margin: 80px 0;

  @include site-column-breakpoint {
    margin: 30px 0;
  }

  &-banner {
    background-color: $md-gray-10;
    height: 588px;
    overflow: hidden;

    &-small {
      height: 420px;
    }
  }

  &-subtitle {
    margin-top: 17px;
    font-size: 14px;
    color: $md-gray-40;
    line-height: 16px;
  }
}
