@use "@/wc_scss/colors/settings" as color-tokens;
@use "@/wc_scss/colors/settings-transparencies.scss" as transparent-color-token;

$form-spacing: rem-calc(16) !default;

$form-control__background: transparent-color-token.$black-16 !default;
$form-control__background--checked: color-tokens.$md-theme-50 !default;
$form-control__background--checked--dark: color-tokens.$md-theme-70 !default;
$form-control__background--checked-hover: color-tokens.$md-theme-60 !default;
$form-control__background--checked-hover--dark: color-tokens.$md-theme-70 !default;
$form-control__background--checked-pressed: color-tokens.$md-theme-70 !default;
$form-control__background--checked-pressed--dark: color-tokens.$md-theme-80 !default;
$form-control__background--dark: transparent-color-token.$white-48 !default;
$form-control__background--hover: transparent-color-token.$black-24 !default;
$form-control__background--hover--dark: transparent-color-token.$white-64 !default;
$form-control__background--pressed: transparent-color-token.$black-32 !default;
$form-control__background--pressed--dark: transparent-color-token.$white-80 !default;
$form-control__background-border--focus: color-tokens.$md-black-100 !default;
$form-control__background-border--focus--dark: color-tokens.$md-white-100 !default;
$form-control__content: color-tokens.$md-white-100 !default;
$form-control__label: inherit !default;
$form-control__label--dark: color-tokens.$md-white-100 !default;
$form-control__opacity--disabled: 0.4 !default;
$form-label-bottom-margin: rem-calc(4) !default;
$form-label-font-weight: $font-weight-normal !default;
$form-label-line-height: 1.5 !default;
$form-label-pointer: pointer !default;
$form-label-small-transform: capitalize !default;
$form-section-border-color: color-tokens.$md-gray-20 !default;
