$input__class: "md-input";
$input__class--filled: "md-input--filled";

$input__border-width: rem-calc(1) !default;
$input__font-family: $brand-font-regular !default;

$input__font-size: rem-calc(16) !default;
$input__height: rem-calc(34) !default;
$input__padding-side: rem-calc(12) !default;
$input__padding-side--icon: rem-calc(34) !default;
$input__padding: 0 $input__padding-side;
$input__border-radius: $global-radius;
$input--pill__border-radius: rem-calc(18);
$input__line-height: $base-line-height-ratio !default;

$input__message__icon__font-size: rem-calc(16) !default;
$input__message__font-size: rem-calc(12) !default;
$input__message__line-height: rem-calc(22) !default;

//  Color
// Outline
$input__background: $md-white-100 !default;
$input__background--disabled: $md-gray-10 !default;
$input__background--hover: $md-gray-20 !default;
$input__border-color: $md-gray-30 !default;
$input__border-color--read-only: transparent !default;
$input__clear-icon__color: $md-gray-60;
$input__clear-icon__color--hover: $md-gray-70;
$input__font-color: $md-gray-100 !default;
$input__font-color--disabled: $md-gray-30 !default;
$input__font-color--help: $md-gray-70 !default;
$input__font-color--placeholder: $md-gray-70 !default;
$input__font-color--read-only: $input__font-color !default;

// Filled
$input__background--filled: $md-gray-10 !default;
$input__background--filled--hover: $md-gray-20 !default;
$input__border-color--filled: transparent !default;

//  Error Color
// Default
$input__background--error: $md-red-10 !default;
$input__background--error--hover: $md-red-20 !default;
$input__border-color--error: $md-red-50 !default;
$input__message__font-color--error: $md-red-70 !default;

//  Success Color
// Default
$input__background--success: $md-green-10 !default;
$input__background--success--hover: $md-green-20 !default;
$input__border-color--success: $md-green-50 !default;
$input__message__font-color--success: $md-green-70 !default;

//  Warning Color
// Default
$input__background--warning: $md-yellow-10 !default;
$input__background--warning--hover: $md-yellow-20 !default;
$input__border-color--warning: $md-yellow-40 !default;
$input__message__font-color--warning: $md-yellow-70 !default;
