$list-item__color: $md-black-100;
$list-item__color--dark: $md-white-100;
$list-item__icon-size: rem-calc(20);
$list-item__font-size: rem-calc(16);
$list-item__line-height: rem-calc(24);
$list-item__font-size--subheader: rem-calc(12);
$list-item__line-height--subheader: rem-calc(18);
$list-item__color--subheader: $black-60;
$list-item__color--subheader--dark: $white-60;
$list-item__opacity--disabled: 0.2;
