definitions:
  image_defaults: &image_defaults
    working_directory: ~/repo
    docker:
      - image: cypress/included:9.0.0
        environment:
          TERM: xterm
version: 2
jobs:
  checkout_install:
    <<: *image_defaults
    steps:
      - checkout
      - run: yarn global add @percy/agent lerna@4.0.0
      - run: yarn bootstrap
      - run: npm rebuild node-sass
      - run: yarn cypress:verify
      - persist_to_workspace:
          root: ~/
          paths:
            - .cache
            - repo
            - .yarn

  lint:
    <<: *image_defaults
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Lint all Libraries
          command: yarn lint:all

  build_tokens:
    <<: *image_defaults
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Build tokens library
          command: yarn build:tokens
      - store_artifacts:
          path: ~/repo/tokens/dist/
      - persist_to_workspace:
          root: ~/
          paths:
            - repo/tokens/dist/
      - run:
          name: Clear Git changed files
          command: git checkout -- .


  test_icons:
    <<: *image_defaults
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Test icons library
          command: yarn ci:test:icons
      - run:
          name: Clear Git changed files
          command: git checkout -- .

  test_icons_rebrand:
    <<: *image_defaults
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Test icons-rebrand library
          command: yarn ci:test:icons-rebrand
      - run:
          name: Clear Git changed files
          command: git checkout -- .

  test_core_percy:
    <<: *image_defaults
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn bootstrap
      - run:
          name: Test core library with Percy.io snapshots
          command: yarn ci:test:core:percy
      - store_artifacts:
          path: ~/repo/core/cypress/
      - store_artifacts:
          path: ~/repo/core/dist/
      - run:
          name: Clear Git changed files
          command: git checkout -- .

  test_react:
    <<: *image_defaults
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn bootstrap
      - run:
          name: Unit Test react library
          command: yarn ci:test:react
      - run:
          name: Visual regression test react library with Percy.io snapshots
          command: yarn ci:test:react:percy
      - run:
          name: Clear Git changed files
          command: git checkout -- .

  test_web_components:
    <<: *image_defaults
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn bootstrap
      - run:
          name: Build web components library
          command: yarn build:wc
      - run:
          name: Unit Test web components library
          command: yarn ci:test:wc
      - run:
          name: Build Storybook
          command: yarn storybook:wc-dist
      - run:
          name: Clear Git changed files
          command: git checkout -- .

  storybook_web_components:
    <<: *image_defaults
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn bootstrap
      - run:
          name: Build web components library
          command: yarn build:wc
      - run:
          name: Deploy Storybook
          command: yarn storybook:wc-deploy
      - run:
          name: Clear Git changed files
          command: git checkout -- .

  static_analysis:
    <<: *image_defaults
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn bootstrap
      - run:
          name: Build web components library
          command: yarn build:wc
      - run:
          name: Unit Test web components library
          command: yarn ci:test:wc
      - run:
          name: Upload Codecov report
          command: bash <(curl -s https://codecov.io/bash)
      - run:
          name: Clear Git changed files
          command: git checkout -- .

  percy_finalize_all:
    working_directory: ~/repo
    docker:
      - image: percyio/agent:latest
    steps:
      - attach_workspace:
          at: ~/
      - run: PERCY_TOKEN=$PERCY_TOKEN percy finalize --all

  test_www:
    <<: *image_defaults
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn bootstrap
      - run:
          name: Integration testing for www with Cypress.io
          command: yarn ci:test:www
      - run:
          name: Clear Git changed files
          command: git checkout -- .

  lint_test_release:
    <<: *image_defaults
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: yarn global add @percy/agent lerna@4.0.0 && yarn install --frozen-lockfile --non-interactive
      - run: yarn bootstrap
      - run: npm rebuild node-sass
      - run: yarn cypress:verify
      - run:
          name: Lint all Libraries
          command: yarn lint:all
      - run: yarn build:react
      - run:
          name: Build tokens library
          command: yarn build:tokens
      - run:
          name: Test icons library
          command: yarn ci:test:icons
      - run:
          name: Test icons-rebrand library
          command: yarn ci:test:icons-rebrand
      - run:
          name: Test core library
          command: yarn ci:test:core
      - run:
          name: Test react library
          command: yarn ci:test:react
      - run:
          name: Clear Git changed files
          command: git checkout -- .
      - add_ssh_keys:
          fingerprints:
            - "8d:03:46:48:16:a2:7f:d4:97:2f:20:a1:fe:0e:81:35"
      - run:
          name: Configure git defaults
          command: git config user.email $GH_EMAIL && git config user.name $GH_USER
      - run: echo "registry=https://registry.npmjs.org" > ~/.npmrc
      - run: echo "registry \"https://registry.npmjs.org\"" > ~/.yarnrc
      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
      - run: git status
      - run:
          name: Publish Releases
          command: yarn release
      - run:
          name: Update examples
          command: yarn data
      - run:
          name: Integration testing for www with Cypress.io
          command: yarn ci:test:www
      - run:
          name: Publish website
          command: yarn publish:www
      - run:
          name: Publish icons
          command: yarn publish:icons

  publish_www:
    <<: *image_defaults
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: yarn global add @percy/agent lerna@4.0.0 && yarn install --frozen-lockfile --non-interactive
      - run: yarn bootstrap
      - run: npm rebuild node-sass
      - run:
          name: Build website
          command: yarn build:www
      - run:
          name: Publish website
          command: yarn publish:www

workflows:
  version: 2
  lint_test:
    jobs:
      - checkout_install
      - lint:
          requires:
            - checkout_install
      - build_tokens:
          requires:
            - lint
      - test_react:
          requires:
            - build_tokens
      - test_web_components:
          requires:
            - build_tokens
      - test_core_percy:
          requires:
            - build_tokens
      - test_www:
          requires:
            - build_tokens
      - test_icons:
          requires:
            - lint
      - test_icons_rebrand:
          requires:
            - lint
      - static_analysis:
          requires:
            - build_tokens
      - percy_finalize_all:
          requires:
            - test_react

  daily_storybook_deploy:
    triggers:
      - schedule:
          cron: "30 5 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - storybook_web_components

  daily_release:
    triggers:
      - schedule:
          cron: "30 5 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - lint_test_release
