@import '../../colors/settings';
@import '../../settings/core';

$alert-banner__font-size: rem-calc(14);
$alert-banner__padding: rem-calc(12);
$alert-banner-column__border: 1px solid transparent;

$alert-banner-info__color: $cui-theme-60;
$alert-banner-info__background: $cui-theme-10;

$alert-banner-warning__color: $cui-yellow-60;
$alert-banner-warning__background: $cui-yellow-10;

$alert-banner-error__color: $cui-red-60;
$alert-banner-error__background: $cui-red-10;
