$alert-banner__font-size: rem-calc(14);
$alert-banner__padding: rem-calc(12);
$alert-banner-column__border: 1px solid transparent;

$alert-banner-info__color: $md-theme-60;
$alert-banner-info__background: $md-theme-10;

$alert-banner-warning__color: $md-yellow-60;
$alert-banner-warning__background: $md-yellow-10;

$alert-banner-error__color: $md-red-60;
$alert-banner-error__background: $md-red-10;
