.docs-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(50px, 1fr));
  color: $gray-1;
  width: 100%;

  &__title {
    margin-bottom: rem-calc(12);
  }

  &__row {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(5, minmax(50px, 1fr));
  }
  
  &__cell {
    outline: 1px solid #979797;
    padding: 8px 12px;
    color: $gray-1;
    font-size: rem-calc(14);
    line-height: rem-calc(19);
  }
}