.site-footer {
  padding: 84px 0 44px 0;

  @include site-column-breakpoint {
    padding-top: 48px;
  }

  & .flex-con-row {
    flex-wrap: wrap;

    @include site-column-breakpoint {
      flex-direction: column;
    }

    & .flex-margin {
      @include site-column-breakpoint {
        margin-left: 0;
      }
    }
  }

  .flex-item  {
    a {
      text-decoration: none;
      color: $md-black;
      font-size: 24px;
      line-height: 49.5px;
      width: 100%;
      display: block;
    }

    .site-footer-title{
      font-size: 28px;
      color:$md-gray-100;
      line-height: 35px;
      display: block;
      border-bottom: 1px solid $md-black;
      margin: 35px 0 13px 0;
      font-weight: bold;
      padding-bottom: 4px;
    }
    .site-footer-title:first-child {
      margin-top: 0px;

      @include site-column-breakpoint {
        margin-top: 35px;
      }
    }

    a:last-child {
      margin-bottom: 0;
    }
  }

  .footer-bottom-text{
    flex: 3;
    position: relative;
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
      text-align: center;

      @include site-column-breakpoint {
        width: 100%;
        margin-top: 11px;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    div, a{
      color:#B4B6B8;
      font-size: 13px;
      line-height: 32px;
    }

    a + a {
      margin-left: 20px;
    }
  }

}
