$label__class: '#{$prefix}-label';

$label__font-family: $brand-font-regular !default;
$label__font-size: rem-calc(16) !default;
$label__font-color: $md-gray-100 !default;
$label__font-color--dark: $md-white-100 !default;

$label__line-height: rem-calc(24) !default;

$label__spacing: rem-calc(16) !default;
