:host(md-card-v2) {

    display: inline-block;

    .md-card-v2 {
        @include flex($fd: column, $jc: flex-start, $ai: stretch);
        min-width: $md-card-v2-width;
        height: $md-card-v2-height; 
        border-radius: $md-card-v2-border-radius;
        padding: $md-card-v2-padding;
        border: 1px solid transparent;
        background: var(--md-card-v2-background, $md-card-v2-background);
        font-family: $brand-font-medium;

        &:hover {
            background: var(--md-card-v2-background-hover, $md-card-v2-background-hover);
        }

        &.md-card--active {
            border: $md-card-v2-border-active;
        }

        &.md-card--inactive {
            border: $md-card-v2-border-inactive; 
            background: $md-card-v2-background-inactive;
        }

        &-header {            
            display: flex;
            justify-content: center;
            flex: 1 1 100%;
            flex-direction: column;
            user-select: none;

            &-title {
                display: flex;
                flex: 1;
                gap: 6px;

                h3 {
                    font-size: $md-card-v2-title-font-size;
                    font-weight: $md-card-v2-title-font-weight;
                    line-height: $md-card-v2-title-line-height;
                    color: $md-card-v2-title-color;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                md-icon {
                    color: $md-card-v2-info-icon-color;
                }
              }
        }

        &-content {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 8px;
            user-select: none;

            h2 {
                font-size: $md-card-v2-content-font-size;
                font-weight: $md-card-v2-content-font-weight;
                line-height: $md-card-v2-content-line-height;
                color: $md-card-v2-content-color;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &.inactive {
                h2 {
                    color: $md-card-v2-content-inactive-color;
                }
            }
        }

        &-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            
            &-content {
                display: flex;
                align-items: center;

                ::slotted(*) {
                    display: inline-flex;
                    align-items: center;
                    gap: 4px;
               }
            }

            &-expand {
                margin-left: auto;

                &.hidden {
                    visibility: hidden;
                }
            }
        }
    }
}

:host(md-card-v2[has-extra-info]) {
    .md-card-v2 {
        height: $md-card-v2-height-with-extra-info;
        gap: 8px;
        &-content {
            display: flex;
            flex-direction: column;
            flex: 1;
            user-select: none;
            gap: 6px;

            &-extra-info {
                display: inline-flex;
                align-items: center;
                color: $md-card-v2-extra-info-color;
                font-size: $md-card-v2-extra-info-font-size;
                line-height: $md-card-v2-extra-info-line-height;
            }
        }
    }
}

:host(md-card-v2[expandable]) {
  .md-card-v2:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  }
}

:host(md-card-v2[selected]) {
    .md-card-v2 {
        background: var(--md-card-v2-background-hover, $md-card-v2-background-hover);
    }
}