$tab-border: rem-calc(2) solid transparent;
$tab-focus-border-radius: rem-calc(4);
$tab-new-border-radius: 1rem;
$tab-base-indent: rem-calc(2);
$tab-height: rem-calc(48);
$new-tab-padding: rem-calc(8);
$tab-overflow-button-height: rem-calc(45);
$tab-span-height: rem-calc(27);
$tab-none-bg: transparent;
$tab-font-size: var(--font-size-body-midsize, $font-size-base);
$tab-button-padding: 0.3rem 0.75rem;
$tab-slot-padding: 0 rem-calc(4);
$tab-list-border: 1px solid var(--tabs-default-border-color);
$tab-active-border: inset 0 -2px 0 0 var(--tabs-default-active-border);
$tab-active-vertical-border: inset 2px 0 0 0 var(--tabs-default-active-border);
$tab-main-focus-border: 2px solid var(--tabs-default-focus-border);
$tab-hover-border: 2px solid var(--tabs-default-hover);
$tab-focus-border: var(--tabs-default-focus-border);
$tab-focus-bg: var(--tabs-default-bg-color);
$tab-more-list-bg: var(--tabs-default-bg-color);
$tab-menu-manual-offset: rem-calc(13);
$tab-between-gap: 4px;
$tab-height-28: rem-calc(28);
$tab-height-32: rem-calc(32);

$tab-rounded-border-radius: rem-calc(8);
$tab-rounded-active-border: inset 0 0 0 0 var(--tabs-default-active-border);
