$tab-border: rem-calc(2) solid transparent;
$tab-focus-border-radius: rem-calc(4);
$tab-new-border-radius: 1rem;
$tab-base-indent: rem-calc(2);
$tab-height: rem-calc(48);
$new-tab-height: rem-calc(32);
$tab-overflow-button-height: rem-calc(45);
$tab-span-height: rem-calc(27);
$tab-none-bg: transparent;
$tab-font-size: var(--body-secondary-font-size, $font-size-base);
$tab-button-padding: 0.3rem 1rem;
$tab-slot-padding: 0 rem-calc(4);
$tab-list-border: 1px solid var(--tabs-default-border-color, $lm-tabs-default-border-color-light);
$tab-active-border: inset 0 -2px 0 0 var(--tabs-default-active-border, $lm-tabs-default-active-border-light);
$tab-active-vertical-border: inset 2px 0 0 0 var(--tabs-default-active-border, $lm-tabs-default-active-border-light);
$tab-main-focus-border: 2px solid var(--tabs-default-focus-border, $lm-tabs-default-focus-border-light);
$tab-hover-border: 2px solid var(--tabs-default-hover, $lm-tabs-default-hover-light);
$tab-focus-border: var(--tabs-default-focus-border, $lm-tabs-default-focus-border-light);
$tab-focus-bg: var(--tabs-default-bg-color, $lm-tabs-default-bg-color-light);
$tab-more-list-bg: var(--tabs-default-bg-color, $lm-tabs-default-bg-color-light);
$tab-menu-manual-offset: rem-calc(13);
$tab-between-gap: 4px;
