:host {
  box-sizing: border-box;
  font-family: var(--brand-font-medium);
  font-weight: var(--brand-font-weight-medium);
}

:host(:focus) {
  box-shadow: none !important;
  outline: none;
}

:host([selected]) button {
  box-shadow: var(--tabs-default-active-bottom-border, $tab-active-border);
  border-radius: $tab-focus-border-radius $tab-focus-border-radius 0 0;
  color: var(--tabs-default-active, $lm-tabs-default-active-light);
  font-family: var(--brand-font-bold);
  font-weight: var(--brand-font-weight-bold);

  &:active {
    border-radius: $tab-focus-border-radius;
  }
}

:host([selected]) button.isPill {
  box-shadow: none;
  border-radius: $tab-new-border-radius;
  background-color: var(--tabs-default-pressed, $lm-tabs-default-pressed-light);

  &:active {
    border-radius: $tab-new-border-radius;
  }
}

:host([selected]) button.isPill.onlyIcon {
  border-radius: 100%;

  &:active {
    border-radius: 100%;
  }
}

:host([vertical]) button {
  text-align: left !important;
}

:host([selected][vertical]) button {
  border-radius: 0 $tab-focus-border-radius $tab-focus-border-radius 0;
  box-shadow: var(--tabs-default-active-vertical-border, $tab-active-vertical-border);

  &:active {
    border-radius: $tab-focus-border-radius;
  }
}

:host([selected][vertical]) button.isPill {
  border-radius: $tab-new-border-radius;
  box-shadow: none;

  &:active {
    border-radius: $tab-new-border-radius;
  }
}

:host([selected][vertical]) button.isPill.onlyIcon {
  border-radius: 100%;

  &:active {
    border-radius: 100%;
  }
}

:host(:focus) {
  button {
    outline: $tab-main-focus-border !important;
    outline-offset: rem-calc(-2);
    box-shadow: var(--tabs-default-focus-shadow, $lm-tabs-default-focus-shadow-light) !important;
  }

  button.newMomentum {
    background-color: var(--tabs-default-pressed, $lm-tabs-default-pressed-light);
  }
}

:host(:focus[selected]) {
  background: transparent;
}

:host([viewporthidden]) {
  display: none;
  height: auto !important;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
  width: auto !important;
  z-index: -1;
}

:host([measuringrealwidth]) {
  width: auto !important;
}

.tab-slot {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  
  max-width: 100%;
  height: 100%;
}

md-tooltip{
  display: inline-flex;
  align-items: center;
}

::part(tooltip_reference) {
  display: flex;
  align-items: center;
}

slot {
  .tab-content {
    align-items: center;
    display: flex;

    md-icon,
    img {
      margin-right: 0.5rem;
    }

    img {
      height: 1rem;
      width: 1rem;
    }
  }
}

.tab-action-button {
  display: flex;
  margin-left: calc(#{$tab-base-indent} * 4);

  md-icon {
    display: inherit;
  }

  &:hover {
    cursor: pointer;
  }
}

.closable {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

md-icon {
  &:focus {
    border-radius: calc(#{$tab-focus-border-radius} / 2);
    @include remove-focus;
    @include focus-boxshadow(rem-calc(1.5), var(--md-focus-border-color));
  }
}

button {
  background: $tab-none-bg;
  border: none;
  border-radius: $tab-focus-border-radius;
  color: var(--tabs-default-text-color, $lm-tabs-default-text-color-light);
  display: block;
  height: 100%;
  min-height: $tab-overflow-button-height;
  padding: $tab-button-padding;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
  vertical-align: middle;

  &:disabled {
    background: $tab-none-bg;
    color: var(--tabs-default-disabled, $lm-tabs-default-disabled-light) !important;
    cursor: not-allowed;

    @media screen and (-ms-high-contrast: active) {
      filter: brightness(1) contrast(1) saturate(1.5);
    }

    &:hover {
      background: none;
    }

    &:focus {
      outline: none !important;
      border: none !important;
    }
  }

  ::slotted(span) {
    @include tab-button-span;
  }

  span {
    @include tab-button-span;    
  }

  &:hover {
    background-color: var(--tabs-default-hover, $lm-tabs-default-hover-light);
  }

  &:active {
    background-color: var(--tabs-default-pressed, $lm-tabs-default-pressed-light);
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

button.newMomentum {
  cursor: pointer;
  transition:
    background-color 0.2s,
    color 0.2s,
    border-color 0.2s;

  /* Sizing and spacing */
  min-height: 1.75rem;
  padding: 0 0.625rem 0 0.625rem;
  justify-content: center;
}

:host([vertical])  {
  button {
    .tab-slot {
      justify-content: flex-start;
    }
  }
}

button.isPill {
  border-radius: $tab-new-border-radius;
}

button.isPill.onlyIcon {
  border-radius: 100%;
}

/* High Contrast Mode */
@media (forced-colors: active) {
  :host {
    background-color: Canvas;
    box-shadow: none;
  }

  :host button {
    border: none;
  }

  :host([selected]) button {
    border-radius: $tab-focus-border-radius $tab-focus-border-radius 0 0;
    color: HighlightText;
    background-color: Highlight !important;
    forced-color-adjust: none;

    &:active {
      border-radius: $tab-focus-border-radius;
    }
  }

  :host(:focus) button {
    outline: 2px solid Highlight;
    outline-offset: -2px;
    box-shadow: none;
    border: none;
  }

  :host(:focus[selected]) {
    background: Canvas;
  }

  button {
    &:hover {
      outline: 1px solid Highlight;
      outline-offset: -1px;
    }
  }

  button:focus:not(:disabled) {
    outline: 1px solid Highlight;
    outline-offset: -1px;
  }

  button:disabled {
    forced-color-adjust: none;
    background-color: none;
    color: GrayText;
  }
}
