:host {
  display: flex;
  flex-direction: column;
  font-size: $tab-font-size;
  font-family: var(--brand-font-medium);
  font-weight: var(--brand-font-weight-medium);
  height: 100%;
  padding: 0;
  position: relative;
}

.visible-tabs-slot {
  display: block;
  height: 0;
  visibility: hidden;
  width: 0;
}

.visible-tabs-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.md-tab__list {
  border-bottom: $tab-list-border;
  display: inline-flex;
  height: $tab-height;
  min-height: $tab-height;
  padding-left: $tab-base-indent;
  padding-top: $tab-base-indent;
  text-align: center;
  width: 100%;

  .md-menu-overlay__more {
    height: 100%;
    margin-left: auto;
    width: auto;
    max-width: 128.5px;
    .md-menu-overlay__overflow-label{
      max-width: 70px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &.md-menu-overlay__more--hidden {
      display: none;
      pointer-events: none;
      visibility: hidden;
      width: 0 !important;
      z-index: -1;
    }
  }

  .md-menu-overlay__more_tab {
    height: 100%;
    min-height: $tab-overflow-button-height;

    &.md-menu-overlay__more_tab--measuring {
      opacity: 0;
    }

    &.md-menu-overlay__more_tab--hidden:not(.md-menu-overlay__more_tab--measuring) {
      pointer-events: none;
      visibility: hidden;
      z-index: -1;

      &::part(tab) {
        padding: 0;
        border: none;
      }
    }
  }

  .md-menu-overlay__more_list {
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 100%;
    padding: 0;
    padding-bottom: calc(#{$tab-base-indent} / 2);
    padding-top: calc(#{$tab-base-indent} / 2);
    width: 100%;
    overflow-x: hidden;

    md-tab {
      &::part(tab) {
        text-align: left;
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }

  md-menu-overlay::part(overlay) {
    top: -$tab-menu-manual-offset;
  }
}

.md-tab__content {
  height: 100%;
  overflow: hidden auto;
  padding: $tab-base-indent;
}

md-tab {
  md-icon,
  img {
    margin-right: 0.5rem;

    &.more-icon{
      margin-right: 0;
      margin-left: 0.5rem;
    }
  }
}

md-menu-overlay {
  md-tab {
    md-tooltip {
      width: 170px;
      position: absolute;

      .text-ellipsis {
        width: 170px;
        position: absolute;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}

.md-tab__list ::slotted([slot="tab"]) {
  display: inline-block;
}

.visible-tabs-container.md-tab__justified {
  display: flex;
  justify-content: space-between;
  padding-right: $tab-base-indent;

  md-tab {
    display: inline-block;
    width: 100%;
  }

}

.md-tab__list ::slotted([slot="tab"][selected]),
  // More tab list
.md-tab__list md-tab[selected] {
  color: var(--tabs-default-active, $lm-tabs-default-active-light);
}

.md-tab__list ::slotted([slot="tab"][disabled]),
.md-tab__list md-tab[disabled] {
  color: var(--tabs-default-disabled, $lm-tabs-default-disabled-light);
}

.md-tab__list ::slotted([slot="tab"]:focus),
  // More tab list
.md-tab__list md-tab:focus {
  box-shadow: none;
}

.md-tab__content ::slotted([slot="panel"]) {
  display: none;
  visibility: hidden;
}

.md-tab__content ::slotted([slot="panel"][selected]) {
  display: block;
  visibility: visible;
}

.md-tab__content ::slotted([slot="panel"][selected][focus-visible]:focus-visible) {
  outline: $tab-main-focus-border;
  outline-offset: calc(#{$tab-border} * -2);
  outline-style: solid;
}

.md-tab__content ::slotted([slot="panel"][selected][focus-visible]:not(:focus-visible)) {
  outline: none;
  outline-offset: none;
  outline-style: none;
}

.md-tab__content {
  display: block;
  flex: 1 1 auto;
}

.no-tabs-visible {
  display: none !important;
}

// Vertical Direction

//Host context is not supported in Safari or Firefox so set
//using host which will be overridden by host-context if supported
:host([direction="vertical"]) {
  flex-direction: row;

  .md-tab__list {
    border-right: $tab-list-border;
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    width: auto;

    ::slotted([slot="tab"]) {
      border-left: $tab-border;
      display: block;
      height: auto;
      text-align: left;

      &[selected] {
        color: var(--tabs-default-active, $lm-tabs-default-active-light);
      }
    }
  }

  .md-tab__content ::slotted([slot="panel"]) {
    padding-left: calc($tab-base-indent * 5);
  }
}

:host-context([direction="vertical"]) {
  flex-direction: row;
}

:host-context([direction="vertical"]) .md-tab__list {
  border-right: $tab-list-border;
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  width: auto;
}

:host-context([direction="vertical"]) .md-tab__list ::slotted([slot="tab"]) {
  border-left: $tab-border;
  display: block;
  height: auto;
  text-align: left;
}

:host-context([direction="vertical"]) .md-tab__list ::slotted([slot="tab"][selected]) {
  color: var(--tabs-default-active, $lm-tabs-default-active-light);
}

:host-context([direction="vertical"]) .md-tab__content ::slotted([slot="panel"]) {
  padding-left: calc($tab-base-indent * 5);
}
