:host {
  display: flex;
  flex-direction: column;
  font-size: $tab-font-size;
  height: 100%;
  padding: 0;
  position: relative;
}

.visible-tabs-slot {
  display: block;
  height: 0;
  visibility: hidden;
  width: 0;
}

.visible-tabs-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.visible-new-tabs {
  &:not(.md-tab__justified) {
    width: auto;
    gap: $tab-between-gap;
  }
}

.md-tab__list {
  display: inline-flex;
  height: $tab-height;
  min-height: $tab-height;
  padding-inline-start: $tab-base-indent;
  padding-top: $tab-base-indent;
  text-align: center;
  width: 100%;

  .md-menu-overlay__more {
    height: 100%;
    margin-inline-start: auto;
    width: auto;
    max-width: 128.5px;

    .md-menu-overlay__overflow-label {
      display: inline-block;
      max-width: 80px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &.md-menu-overlay__more--hidden {
      display: none;
      pointer-events: none;
      visibility: hidden;
      width: 0 !important;
      z-index: -1;
    }
  }

  .md-menu-overlay__more_tab {
    min-height: $tab-overflow-button-height;

    &.md-menu-overlay__more_tab--measuring {
      opacity: 0;
    }

    &.md-menu-overlay__more_tab--hidden:not(.md-menu-overlay__more_tab--measuring) {
      pointer-events: none;
      visibility: hidden;
      z-index: -1;

      &::part(tab) {
        padding: 0;
        border: none;
      }
    }
  }

  .md-menu-overlay__more_list {
    display: flex;
    flex-direction: column;
    padding: 8px;
    height: auto;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;

    md-tab {
      &::part(tab) {
        text-align: start;
        padding-inline-start: 16px;
        padding-inline-end: 16px;
        box-shadow: none;
        justify-content: flex-start;
      }
      &[selected]::part(tab) {
        background-color: var(--md-menu-active-background-color);
        color: var(--tabs-default-active);
      }
    }
  }

  &.tab-new-momentum {
    .md-menu-overlay__more_tab {
   
      &[size="28"] {
        height: $tab-height-28;
        min-height: $tab-height-28;
      }
  
      &[size="32"] {
        height: $tab-height-32;
        min-height: $tab-height-32; 
      }
    }
  }

  md-menu-overlay::part(overlay) {
    top: -$tab-menu-manual-offset;
  }
}

.tab-new-momentum {
  padding: 0;

  &[size="28"] {
    height: $tab-height-28;
    min-height: $tab-height-28;
  }

  &[size="32"] {
    height: $tab-height-32; 
    min-height: $tab-height-32;
  }

  md-icon,
  img {
    margin-inline-end: 0rem !important;
  }
}

.md-tab__content {
  height: 100%;
  overflow: hidden auto;
  padding: $tab-base-indent;
}

md-menu-overlay {
  md-tab {
    md-tooltip {
      width: 170px;
      position: relative;
      display: inline-flex;
      min-height: 28px;
      align-items: center;
      overflow: hidden;

      .text-ellipsis {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        max-width: 100%;
        position: relative;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}

.md-tab__list ::slotted([slot="tab"]) {
  display: inline-block;
}

.visible-tabs-container.md-tab__justified {
  display: flex;
  justify-content: space-between;
  padding-inline-end: $tab-base-indent;

  md-tab {
    display: inline-block;
    width: 100%;
  }

  &.md-tab__hug {
    md-tab {
      width: auto;
    }
  }
}

.md-tab__list ::slotted([slot="tab"][selected]),
  // More tab list
.md-tab__list md-tab[selected] {
  color: var(--tabs-default-active);
}

.md-tab__list ::slotted([slot="tab"][disabled]),
.md-tab__list md-tab[disabled] {
  color: var(--tabs-default-disabled);
}

.md-tab__list ::slotted([slot="tab"]:focus),
  // More tab list
.md-tab__list md-tab:focus {
  box-shadow: none;
}

.md-tab__content ::slotted([slot="panel"]) {
  display: none;
  visibility: hidden;
}

.md-tab__content ::slotted([slot="panel"][selected]) {
  display: block;
  visibility: visible;
}

.md-tab__content ::slotted([slot="panel"][selected][focus-visible]:focus-visible) {
  outline: $tab-main-focus-border;
  outline-offset: calc(#{$tab-border} * -2);
  outline-style: solid;
}

.md-tab__content ::slotted([slot="panel"][selected][focus-visible]:not(:focus-visible)) {
  outline: none;
  outline-offset: none;
  outline-style: none;
}

.md-tab__content {
  display: block;
  flex: 1 1 auto;
}

.no-tabs-visible {
  display: none !important;
}

:host([direction="horizontal"][scroll-arrow]) {
  .md-tabs-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: calc($tab-height-28 + $new-tab-padding);

    .tabs-left-arrow {
      margin-inline-end: rem-calc(12);
    }

    .tabs-right-arrow {
      margin-inline-start: rem-calc(12);
    }

    .md-tab__list {
      overflow-x: auto;
      white-space: nowrap;
      scroll-behavior: smooth;
      position: relative;
      display: inline-flex;
      gap: rem-calc(8);
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;

      &[size="28"] {
        height: calc($tab-height-28 + $new-tab-padding + 2px);
        padding: rem-calc(5);
      }

      &[size="32"] {
        height: calc($tab-height-32 + $new-tab-padding + 2px);
        padding: rem-calc(5);   
      }
    }
    
    .md-tab__list::-webkit-scrollbar {
      display: none;
    }
  }
}

// Vertical Direction

//Host context is not supported in Safari or Firefox so set using host
:host([direction="vertical"]) {
  flex-direction: row;

  .md-tab__list {
    border-right: $tab-list-border;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%; 
    gap: 0.25rem;
    width: auto;

    ::slotted([slot="tab"]) {
      border-left: $tab-border;
      display: block;
      text-align: left;

      &[selected] {
        color: var(--tabs-default-active);
      }
    }

    &.tab-new-momentum {
      padding: 0;

      &[size="28"] ::slotted([slot="tab"]) {
        height: $tab-height-28;
        min-height: $tab-height-28;
      }

      &[size="32"] ::slotted([slot="tab"]) {
        height: $tab-height-32;
        min-height: $tab-height-32; 
      }
    }
    
  }

  .md-tab__content ::slotted([slot="panel"]) {
    padding-inline-start: calc($tab-base-indent * 5);
  }
}

@media (forced-colors: active) {
  :host {
    --tabs-default-border-color: ButtonFace;
  }
}
