.section-header {
  margin: 80px 0;
  grid-column-gap: 30px;

  @include site-column-breakpoint {
    grid-row-gap: 60px;
    margin: 80px 0 60px 0;
  }
  
  h1 {
    color: $md-black;
    font-family: $brand-font-regular;
    font-size: 48px;
    line-height: 125%;
  }

  p, &__lead {
    @include p();
  }

  &-dark {
    h1 {
      color: $md-white;
    }

    p {
      color: $md-gray-40;
    }
  }
}