.docs-search-results {
  padding: rem-calc(24) rem-calc(30);

  &__spinner {
    text-align: center;
    padding: rem-calc(100);
  }

  &__count {
    color: $cui-gray-50;
    margin-bottom: rem-calc(20);
  }
}
