  <div class="md-button-group md-button-group--justified" role="group">
    <button
      class="md-button md-button--36"
      alt="1"
      type="button"
      aria-label="1">
      <span class="md-button__children">one</span>
    </button>
    <button
      class="md-button md-button--36"
      disabled=""
      alt="2"
      type="button"
      aria-label="2">
      <span class="md-button__children">two</span>
    </button>
    <button
      class="md-button md-button--36"
      alt="3"
      type="button"
      aria-label="3">
      <span class="md-button__children">three</span>
    </button>
  </div>
