  <div class="cui-button-group" role="group" aria-label="">
    <button
      class="cui-button cui-button--36 cui-button--icon-group"
      alt="Left" type="button" aria-label="Left">
      <span class="cui-button__children">
        <i class="icon icon-arrow-left_12"></i>
      </span>
    </button>
    <button
      class="cui-button cui-button--36"
      alt="Today" type="button" aria-label="Today">
      <span class="cui-button__children">Today</span>
    </button>
    <button
      class="cui-button cui-button--36 cui-button--icon-group"
      alt="Right" type="button" aria-label="Right">
      <span class="cui-button__children">
        <i class="icon icon-arrow-right_12"></i>
      </span>
    </button>
  </div>