  <div class="cui-button-group" role="group" aria-label="">
    <button class="cui-button cui-button--36" alt="1" type="button" aria-label="1">
      <span class="cui-button__children">one</span>
    </button>
    <button class="cui-button cui-button--36" disabled="" alt="2" type="button" aria-label="2">
      <span class="cui-button__children">two</span>
    </button>
    <button class="cui-button cui-button--36" alt="3" type="button" aria-label="3">
      <span class="cui-button__children">three</span>
    </button>
  </div>