  <div class="md-button-group md-button-group--justified md-button-group--pill" role="group">
    <button
      class="md-button md-button--36 md-button--icon-group"
      alt="Left" type="button" aria-label="Left" style="width: 60px;">
      <span class="md-button__children">
        <i class="icon icon-flag_16"></i>
      </span>
    </button>
    <button
      class="md-button md-button--36 md-button--icon-group"
      alt="Right" type="button" aria-label="Right" style="width: 60px;">
      <span class="md-button__children">
        <i class="icon icon-cancel_16"></i>
      </span>
    </button>
  </div>
