  <div class="cui-button-group cui-button-group--justified cui-button-group--pill" role="group">
    <button
      class="cui-button cui-button--36 cui-button--icon-group"
      alt="Left" type="button" aria-label="Left" style="width: 60px;">
      <span class="cui-button__children">
        <i class="icon icon-flag_16"></i>
      </span>
    </button>
    <button
      class="cui-button cui-button--36 cui-button--icon-group"
      alt="Right" type="button" aria-label="Right" style="width: 60px;">
      <span class="cui-button__children">
        <i class="icon icon-cancel_16"></i>
      </span>
    </button>
  </div>