:host {
  width: 100%;
}

.md-taskitem {
  @include task-flex-container;
  border-radius: $taskitem-border-radius;
  color: var(--md-secondary-text-color);
  cursor: $taskitem-main-curcor;
  margin-bottom: $taskitem-base-unit;
  min-height: $taskitem-min-height;
  padding: $taskitem-main-padding;
  position: relative;
  width: auto;
  z-index: 0;

  &.selected {
    background-color: $taskitem-selected-bg;
    box-shadow: $taskitem-selected-shadow;

    .md-taskitem__content {
      &_queue,
      &_chat,
      &_popover_title {
        color: var(--taskitem-selected-text-color);
      }

      &_title {
        &.mainTitle {
          color: var(--taskitem-selected-text-color);
        }
      }
    }
  }

  &:hover {
    background-color: var(--taskitem-hover-bg-color);

    .md-taskitem__content {
      &_queue,
      &_chat,
      &_popover_title {
        color: var(--taskitem-selected-text-color);
      }

      &_title {
        &.mainTitle {
          color: var(--taskitem-selected-text-color);
        }
      }
    }
  }

  &:active {
    background-color: var(--taskitem-pressed-bg-color);

    .md-taskitem__content {
      &_queue,
      &_chat,
      &_popover_title {
        color: var(--taskitem-selected-text-color);
      }

      &_title {
        &.mainTitle {
          color: var(--taskitem-selected-text-color);
        }
      }
    }
  }

  &:focus {
    background: var(--taskitem-focus-bg-color);
    box-shadow: none;
    outline: none;

    &::after {
      @include taskitem-focus-boxshadow;
    }
  }

  &::after {
    @include task-after-focus;
    border-radius: $taskitem-border-radius;
    margin: -$taskitem-main-indent;
  }
}

.md-taskitem__mediatype {
  margin-right: $taskitem-mediatype-margin;
  position: relative;
  width: $taskitem-mediatype-width;

  img {
    max-width: fit-content;
  }

  .md-taskitem__status {
    @include taskitem-status;
    background: var(--taskitem-status-bg-color);
    border-radius: $taskitem-border-circle;
    bottom: -$taskitem-base-unit;
    color: var(--taskitem-status-text-color);
    height: $taskitem-main-size;
    right: -$taskitem-base-unit;
    width: $taskitem-main-size;

    md-icon {
      height: $taskitem-status-height;
    }

    md-icon::part(icon) {
      vertical-align: top;
    }

    &.hold {
      background: var(--taskitem-status-pause-bg-color);
    }
  }
}

.md-taskitem__content {
  @include taskitem-content;
  width: calc(100% - calc(#{$taskitem-mediatype-width} + #{$taskitem-additional-width}));

  &_popover_title {
    @include text-dots;
    color: var(--taskitem-text-color);
    font-family: $taskitem-title-font;
    font-size: $taskitem-popover-title-font-size;
    line-height: $taskitem-popover-title-height;
    margin-bottom: $taskitem-main-margin;
    width: calc(100%);
  }

  &_title {
    @include text-dots;
    font-size: $taskitem-title-font-size;
    line-height: $taskitem-title-height;
    margin-bottom: $taskitem-main-margin;
    width: calc(100%); //don't delete, it need for text overflow

    &.mainTitle {
      color: var(--taskitem-text-color);
      font-family: $taskitem-title-font;
    }
    &.display-only-title {
      margin-bottom: 0;
      width: $taskitem-additional-width;
    }
  }

  &_inner {
    display: flex;
    flex: 0 1 auto;
    width: 100%;
  }

  &_queue {
    @include text-dots;
    font-size: $taskitem-queue-font-size;
    line-height: $taskitem-base-height;
    width: 100%;
  }

  &_chat {
    color: var(--taskitem-chat-text-color);
    display: flex;
    font-size: $taskitem-queue-font-size;
    line-height: $taskitem-base-height;
    margin-top: $taskitem-main-margin;
    position: relative;
    width: 100%;

    .new-chat_massages {
      @include text-dots;
      padding-right: $taskitem-chat-padding;
      width: calc(100% - $taskitem-main-margin);
    }
  }
}

.md-taskitem__addition {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: $taskitem-mediatype-margin;
  text-align: right;
  width: $taskitem-additional-width;

  .new-chat-quantity {
    background: var(--taskitem-chat-quantity-bg-color);
    border-radius: 9px;
    color: var(--taskitem-chat-quantity-text-color);
    display: inline-block;
    font-size: $taskitem-newchat-font-size;
    line-height: $taskitem-base-height;
    min-width: 18px;
    padding: $taskitem-newchat-padding;
    text-align: center;
  }
}

:host([is-restyle]) {
  .md-taskitem {
    padding: $taskitem-restyle-padding;
    justify-content: space-between;

    &__mediatype {
      margin-right: $taskitem-restyle-content-margin;
      white-space: nowrap;
      width: auto;
    }

    .md-taskitem__content {
      width: auto;
      min-width: 0;
      flex: 1;

      &_popover_title,
      &_title {
        font-size: 1rem;
        font-weight: $taskitem-restyle-title-weight;
        line-height: 24px;
        margin: 0px;
        font-family: $taskitem-restyle-title-font;
        color: var(--taskitem-restyle-text-color);
      }
      &_queue {
        font-size: $taskitem-restyle-font-size;
        line-height: 20px;
        color: var(--taskitem-restyle-text-color);
      }
      &_chat {
        margin: 0px;
        font-size: $taskitem-restyle-font-size;
        line-height: 20px;
        color: var(--taskitem-restyle-text-color);

        .new-chat_massages {
          padding: 0;
        }
      }
    }

    &__addition {
      white-space: nowrap;
      margin-left: $taskitem-restyle-content-margin;
      width: auto;
    }

    .avatar-badge::part(badge) {
      height: 2rem;
      width: 2rem;
      background-color: var(--avatar-darkgray-bg-color);
    }

    &.selected {
      .avatar-badge::part(badge) {
        background-color: var(--avatar-white-bg-color);
      }
      .md-taskitem__content {
        &_popover_title,
        &_title {
          font-weight: $taskitem-restyle-title-selected-weight;
        }
      }
    }

    &::after {
      margin: 0;
    }
  }
}

:host([has-messages="true"]) {
  .md-taskitem__content {
    &_popover_title,
    &_title {
      font-weight: 700 !important;
    }
  }
}
@media (forced-colors: active) {
  .md-taskitem {
    &:focus {
      outline: 1px solid Highlight;
    }

    &.selected,
    &:hover {
      forced-color-adjust: none;
      outline: 1px solid Highlight;
      background-color: Highlight;
      color: HighlightText;
      box-shadow: none;
    }

    &:active {
      forced-color-adjust: none;
      outline: 1px solid HighlightText;
      background-color: Highlight;
      color: HighlightText;
      box-shadow: none;
    }
  }

  .md-taskitem__addition .new-chat-quantity {
    forced-color-adjust: auto;
  }
}
