@include exports("md-loading") {
  .md-loading {
    @include flex();

    button &,
    .md-button {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .md-loading__icon {
      font-size: 50%;

      &::before {
        @include icon-unread-badge_16;
        animation-duration: 1.4s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-name: loading;

        font-family: $icon-font-name;
        vertical-align: middle;
      }

      &:nth-of-type(2)::before {
        animation-delay: 0.2s;
      }

      &:nth-of-type(3)::before {
        animation-delay: 0.4s;
      }

      &:not(:last-child) {
        margin-right: 0.5em;
      }
    }

    &.md-loading--small {
      font-size: 1rem;

      .icon {
        font-size: 25%;
      }
    }

    &.md-loading--middle {
      font-size: 2rem;
    }
    
    &.md-loading--large {
      font-size: 3rem;
    }

    @media (forced-colors: active) {
      forced-color-adjust: none;

      .md-loading__icon::before {
        color: CanvasText; // High contrast mode compliant color, e.g., CanvasText
      }
    }
  }

  @keyframes loading {
    0%,
    100% {
      opacity: 0.1;
      transform: scale(0, 0);
    }

    20% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
}
