@use "@/wc_scss/settings/core" as *;
@use "~@momentum-ui/icons/scss/mixins" as *;
@use "@/wc_scss/tools/mixins/flex";

@include exports("md-loading") {
  .md-loading {
    @include flex.flex();

    button &,
    .md-button {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .md-loading__icon {
      font-size: 50%;

      &::before {
        @include icon-unread-badge_16;

        font-family: $icon-font-name;
        vertical-align: middle;
      }

      &:not(:last-child) {
        margin-right: 0.25rem;
      }
    }

    &.md-loading--small {
      font-size: 1rem;

      .icon {
        font-size: 25%;
      }
    }

    &.md-loading--middle {
      font-size: 2rem;
    }
    
    &.md-loading--large {
      font-size: 3rem;
    }
  }
}

@media (forced-colors: active) {
  .md-loading__icon::before {
    color: CanvasText; 
  }
}