.draggable {
  border: 1px solid #ccc;
  cursor: move;
  margin-bottom: 1rem;
  min-height: 24px;
  min-width: 100px;
  padding: 1rem;
  user-select: none;
}

.md-draggable-wrap {
  border: 2px dotted grey;
  display: block;
  margin-bottom: 1rem;
  min-height: 100px;
}
