@import 'variables';
@import 'mixins';

@include exports('momentum-ui-icons-path') {

  @font-face {
    font-family: $icon-font-name;
    src: url("#{$icon-font-path}/momentum-ui-icons-rebrand.woff2?d48dcd740cea2167c2263ccbd3d0060e") format("woff2"),
      url("#{$icon-font-path}/momentum-ui-icons-rebrand.woff?729c3c5c31196814465ec7bdfaf946fc") format("woff");
    font-weight: normal;
    font-style: normal;
  }

}
