@import 'variables';
@import 'mixins';

@include exports('momentum-ui-icons-path') {

  @font-face {
    font-family: $icon-font-name;
    src: url("#{$icon-font-path}/momentum-ui-icons-rebrand.woff2?ff33e2e68fb90a3096a59a6a55a86373") format("woff2"),
      url("#{$icon-font-path}/momentum-ui-icons-rebrand.woff?dbfc4579d14a3aacba8a6a48b4357626") format("woff");
    font-weight: normal;
    font-style: normal;
  }

}
