{
  "extends": "airbnb",
  "rules": {
    "import/no-extraneous-dependencies": [
      2,
      { "devDependencies": true, "optionalDependencies": true, "peerDependencies": true }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  }
}
