$popover__background: $md-white-100;
$popover__max-width: rem-calc(276);
$popover__border-color: $md-gray-40;
$popover__border-color--fallback: $md-gray-40;
$popover-title__background: $md-gray-10;
$popover-arrow__width: rem-calc(6);
$popover-arrow__color: $md-white-100;
$popover-outer-arrow__width: $popover-arrow__width + 1;
$popover-outer-arrow__color: $md-gray-50;
$popover-outer-arrow__color--fallback: $md-gray-50;
$popover-displacement: rem-calc(10);
