<div class="md-slider ">
  <span class="md-slider__bar"></span>
  <span class="md-slider__selection" style="width: 10%; left: 40%;"></span>
  <div class="md-slider__pointer" role="button" tabindex="0" style="left: calc(50%);"></div>
  <div class="md-slider__pointer" role="button" tabindex="0" style="left: calc(40%);"></div>
  <div>
    <span class="md-slider__hashlabel" style="left: calc(0% - 5px);">0</span>
    <span class="md-slider__hashlabel" style="left: calc(20% - 14.5px);">100</span>
    <span class="md-slider__hashlabel" style="left: calc(40% - 14.5px);">200</span>
    <span class="md-slider__hashlabel" style="left: calc(60% - 14.5px);">300</span>
    <span class="md-slider__hashlabel" style="left: calc(80% - 14.5px);">400</span>
    <span class="md-slider__hashlabel" style="left: calc(100% - 14.5px);">500</span>
  </div>
</div>
