
$card-background: $md-gray-10;
$card-color: $md-white-100;
$card-padding-top: $rem-base;
$card-padding-horizontal: 1;
$card-padding-vertical: 1;
$card-divider-color: $md-gray-20;
$card-border-radius: 2px;
