:host {
  --border-radius: 10px;
  --expand-duration: 400ms;
  --bg-color: var(--md-button-secondary-bg-color);
  --hover-bg-color: var(--md-button-secondary-hover-bg-color);
  --active-bg-color: var(--md-button-secondary-pressed-bg-color);
}

.sortable-list-item {
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
}

.header {
  width: 100%;
  border: none;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);

  &:hover:not(:disabled) {
    background-color: var(--hover-bg-color);
  }

  &:active {
    background-color: var(--active-bg-color);
  }
}

.header-leading,
.header-trailing {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.expand-icon {
  transition: transform var(--expand-duration);
}

.panel-container {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows var(--expand-duration) ease-out;
}

.expandable-content {
  min-height: 0;
  visibility: hidden;
  transform: translateY(-15px);
  margin: 0 10px;
  transition: all var(--expand-duration);
}

:host([expanded]) {
  .panel-container {
    padding-top: 0;
    grid-template-rows: 1fr;
  }

  .expandable-content {
    visibility: visible;
    transform: translateY(0);
    margin: 10px;
  }

  .expand-icon {
    transform: rotate(90deg);
  }
}

::slotted(*[slot="dragger"]) {
  cursor: pointer;
}
