.md-menu-item {
  list-style: none;
  padding: rem-calc(2);

  a {
    color: $menu-item-text-color;
    display: flex;
    padding: $menu-item-main-padding;
  }

  ::slotted(*) {
    padding: 0 rem-calc(3);
  }

  &:hover {
    background: $menu-item-background-hover-color;
  }

  &:active {
    background: $menu-item-background-pressed-color;
  }

  &--selected {
    background: $menu-item-background-selected-background-color;

    &:hover {
      background: $menu-item-background-selected-hover-color;
    }
    
    &:active {
      background: $menu-item-background-selected-pressed-color;
    }
  }

  

  &.disabled {
    pointer-events: none;
    a {
      background: transparent;
      color: var(--md-disabled-text-color);
    }
  }
}

/* Styles for High Contrast Mode */
@media (forced-colors: active) {
  .md-menu-item {
    &--selected,
    &:hover,
    &:active,
    &:focus{
      outline: 1px solid Highlight;
    }
    &.disabled {
      a {
        color: GrayText;
      }
    }
  }
}
