.md-menu-item {
  list-style: none;
  padding: rem-calc(2);

  a {
    color: var(--menu-default, $lm-menu-default-light);
    display: flex;
    padding: $menu-item-main-padding;
  }

  ::slotted(*) {
    padding: 0 rem-calc(3);
  }

  &--selected {
    background: var(--menu-pressed-bg, $lm-menu-pressed-bg-light);
  }

  &:hover {
    background: var(--menu-hover-bg, $lm-menu-hover-bg-light);
  }

  &:active {
    background: var(--menu-pressed-bg, $lm-menu-pressed-bg-light);
  }

  &.disabled {
    pointer-events: none;
    a {
      background: transparent;
      color: var(--md-disabled-text-color);
    }
  }
}

/* Styles for High Contrast Mode */
@media (forced-colors: active) {
  .md-menu-item {
    &--selected,
    &:hover,
    &:active,
    &:focus{
      outline: 1px solid Highlight !important;
    }
    &.disabled {
      a {
        color: GrayText;
        opacity: 0.5;
      }
    }
  }
}
