.md-menu {
  margin: 0;
  padding: 0;

  &--horizontal {
    .md-menu-list {
      ::slotted(*) {
        display: inline-flex;
      }
    }
  }

  &--vertical {
    .md-menu-list {
      ::slotted(*) {
        display: flex;
      }
    }
  }

  &.justified {
    .md-menu-list {
      display: flex;
      justify-content: space-between;
    }
  }

  .md-menu-list {
    margin: 0;
  }
}
