  <div class="cui-spinner-progress cui-spinner-progress__percentage-100 cui-spinner-progress--36 cui-spinner-progress--black">
    <div class="cui-spinner-progress__circle">
      <div class="cui-spinner-progress__mask cui-spinner-progress__full"><div class="cui-spinner-progress__fill"></div></div>
      <div class="cui-spinner-progress__mask cui-spinner-progress__half">
        <div class="cui-spinner-progress__fill"></div>
        <div class="cui-spinner-progress__fill cui-spinner-progress__fix"></div>
      </div>
      <div class="cui-spinner-progress__inset-circle cui-spinner-progress__inset-circle--check"></div>
    </div>
  </div>