  <div class="md-spinner-progress md-spinner-progress__percentage-100 md-spinner-progress--36 md-spinner-progress--black">
    <div class="md-spinner-progress__circle">
      <div class="md-spinner-progress__mask md-spinner-progress__full"><div class="md-spinner-progress__fill"></div></div>
      <div class="md-spinner-progress__mask md-spinner-progress__half">
        <div class="md-spinner-progress__fill"></div>
        <div class="md-spinner-progress__fill md-spinner-progress__fix"></div>
      </div>
      <div class="md-spinner-progress__inset-circle md-spinner-progress__inset-circle--check"></div>
    </div>
  </div>
