<div class="cui-event-overlay cui-event-overlay--arrow cui-event-overlay--top cui-menu-overlay">
  <div class="cui-event-overlay__arrow" style="left: 317.555px; top: 756px;"></div>
  <div class="cui-event-overlay__children" style="top: 377px; left: 188.555px;">
    <div class="cui-menu-content">Content</div>
    <div class="cui-menu cui-menu-item-container" aria-label="" role="menubar">
      <div class="cui-menu-item" aria-expanded="false" aria-haspopup="true">
        <div aria-current="true" class="cui-list-item" id="cui-list-item-40" role="menuitem" tabindex="0">
          <div class="cui-list-item__left">
            <i class="cui-icon icon icon-edit_20"></i>
          </div>
          <div class="cui-list-item__center">Edit space settings</div>
        </div>
      </div>
      <div class="cui-menu-item" aria-expanded="false" aria-haspopup="true">
        <div aria-current="false" class="cui-list-item" id="cui-list-item-42" role="menuitem" tabindex="-1">
          <div class="cui-list-item__left">
            <i class="cui-icon icon icon-favorite_20"></i>
          </div>
          <div class="cui-list-item__center">Add to favorites</div>
        </div>
      </div>
      <div class="cui-menu-item" aria-expanded="false" aria-haspopup="true">
        <div aria-current="false" class="cui-list-item" id="cui-list-item-44" role="menuitem" tabindex="-1">
          <div class="cui-list-item__left">
            <i class="cui-icon icon icon-alert_20"></i>
          </div>
          <div class="cui-list-item__center">Notifications</div>
        </div>
      </div>
      <div class="cui-menu-item" aria-expanded="false" aria-haspopup="true">
        <div aria-current="false" class="cui-list-item" id="cui-list-item-46" role="menuitem" tabindex="-1">
          <div class="cui-list-item__left">
            <i class="cui-icon icon icon-accessories_20"></i>
          </div>
          <div class="cui-list-item__center">Add Integrations &amp; Bots</div>
        </div>
      </div>
      <div class="cui-menu-item" aria-expanded="false" aria-haspopup="true">
        <div aria-current="false" class="cui-list-item" id="cui-list-item-48" role="menuitem" tabindex="-1">
          <div class="cui-list-item__left">
            <i class="cui-icon icon icon-stored-info_20"></i>
          </div>
          <div class="cui-list-item__center">View space policy</div>
        </div>
      </div>
      <div class="cui-menu-item" aria-expanded="false" aria-haspopup="true">
        <div aria-current="false" class="cui-list-item" id="cui-list-item-50" role="menuitem" tabindex="-1">
          <div class="cui-list-item__left">
            <i class="cui-icon icon icon-archive_20"></i>
          </div>
          <div class="cui-list-item__center">Archive space</div>
        </div>
      </div>
      <div class="cui-menu-item" aria-expanded="false" aria-haspopup="true">
        <div aria-current="false" class="cui-list-item" id="cui-list-item-52" role="menuitem" tabindex="-1">
          <div class="cui-list-item__left">
            <i class="cui-icon icon icon-cancel_20"></i>
          </div>
          <div class="cui-list-item__center">Remove space from team</div>
        </div>
      </div>
      <div class="cui-menu-item" aria-expanded="false" aria-haspopup="true">
        <div aria-current="false" class="cui-list-item" id="cui-list-item-54" role="menuitem" tabindex="-1">
          <div class="cui-list-item__left">
            <i class="cui-icon icon icon-exit-room_20"></i>
          </div>
          <div class="cui-list-item__center">Leave space</div>
        </div>
      </div>
    </div>
  </div>
</div>