<div class="cui-event-overlay cui-event-overlay--arrow cui-event-overlay--bottom cui-menu-overlay">
  <div class="cui-event-overlay__arrow" style="left: 250.93px; top: 684px;"></div>
  <div class="cui-event-overlay__children" style="top: 684px; left: 189px;">
    <div class="cui-menu-content">
      <span class="cui-editable-textfield cui-editable-textfield--left">
        <div role="button" tabindex="0" class="cui-editable-textfield__button">Content Area</div>
      </span>
    </div>
    <div class="cui-menu cui-menu-item-container" aria-label="" role="menubar">
      <div class="cui-menu-item" aria-expanded="false" aria-haspopup="true">
        <div aria-current="true" class="cui-list-item" id="cui-list-item-12" role="menuitem" tabindex="0">
          <div class="cui-menu-item__content">Status</div>
        </div>
      </div>
      <div class="cui-menu-item" aria-expanded="false" aria-haspopup="true">
        <div aria-current="false" class="cui-list-item" id="cui-list-item-14" role="menuitem" tabindex="-1">
          <div class="cui-menu-item__content">Language</div>
        </div>
      </div>
      <div class="cui-menu-item" aria-expanded="false" aria-haspopup="false">
        <div aria-current="false" class="cui-list-item" id="cui-list-item-16" role="menuitem" tabindex="-1">Settings</div>
      </div>
    </div>
  </div>
</div>