:host(:focus) {
  box-shadow: none;
  outline: none;
}

:host(md-checkbox) {
  border-radius: $checkbox__border-radius;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  vertical-align: middle;

  .checkbox-input {
    height: calc(#{$checkbox__size} + #{$checkbox__main-indent});
    position: absolute;
    visibility: hidden;
    width: 100%;

    padding-inline-start: calc(#{$checkbox__main-indent});
    padding-inline-end: calc(#{$checkbox__main-indent});
  }

  .checkbox-box {
    background: var(--checkbox-bg-color);
    color: var(--checkbox-icon-color);
    border: $checkbox__border;
    border-radius: $checkbox__border-radius;
    height: $checkbox__size;
    width: $checkbox__size;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .checkbox-label {
    cursor: pointer;
    display: inline-flex;
    position: relative;
    width: 100%;
    z-index: 1;
    align-items: center;
    gap: 0.5rem;
    min-height: calc(#{$checkbox__size} + 4px);
  }
}

:host([focus-visible]:not([disabled])) {
  .checkbox-box {
    @include focus-ring();
  }
}

:host(:hover:not([disabled])) {
  .checkbox-box {
    background: $checkbox__hover-bg;
    border: $checkbox__hover-border;
  }
}

:host(:active:not([disabled])) {
  .checkbox-box {
    background: $checkbox__pressed-bg;
    border: $checkbox__pressed-border;
  }
}

:host([disabled]) {
  .checkbox-label {
    cursor: not-allowed;
  }

  .checkbox-box {
    color: var(--checkbox-disabled-text-color);
    border-color: var(--checkbox-disabled-border-color);
    background-color: var(--checkbox-disabled-bg-color);
  }
}

:host([aria-checked="true"]),
:host([indeterminate]) {
  .checkbox-box {
    background: $checkbox__selected-bg;
    border: $checkbox__selected-border;
  }
}

:host([aria-checked="true"][disabled]),
:host([indeterminate][disabled]) {
  .checkbox-box {
    background: var(--checkbox-disabled-selected-bg-color);
    border-color: var(--checkbox-disabled-border-color);
    color: var(--checkbox-disabled-text-color);
  }
  .checkbox-label {
    color: var(--checkbox-disabled-text-color);
  }
}

:host([aria-checked="true"]:hover:not([disabled])),
:host([indeterminate]:hover:not([disabled])) {
  .checkbox-box {
    background: var(--checkbox-selected-hover-bg-color);
    border-color: var(--checkbox-selected-hover-border-color);
  }
}

:host([aria-checked="true"]:active:not([disabled])),
:host([indeterminate]:active:not([disabled])) {
  .checkbox-box {
    background: var(--checkbox-selected-pressed-bg-color);
    border-color: var(--checkbox-selected-pressed-border-color);
  }
}

@media (forced-colors: active) {
  :host([focus-visible]:not([disabled])) {
    outline: 2px solid Highlight;
    box-shadow: none;
  }
}
