
$checkbox__border: rem-calc(1) solid var(--checkbox-border-color);
$checkbox__hover-border: rem-calc(1) solid var(--checkbox-hover-border-color);
$checkbox__pressed-border: rem-calc(1) solid var(--checkbox-pressed-border-color);
$checkbox__selected-border: rem-calc(1) solid var(--checkbox-selected-border-color);
$checkbox__hover-bg: var(--checkbox-hover-bg-color);
$checkbox__pressed-bg: var(--checkbox-pressed-bg-color);
$checkbox__selected-bg: var(--checkbox-selected-bg-color);
$checkbox__horizontal-max-width: rem-calc(400);
$checkbox__main-indent: rem-calc(4);
$checkbox__size: rem-calc(16);
$checkbox__icon-size: rem-calc(12);
$checkbox__label-size: rem-calc(30);
$checkbox__border-radius: rem-calc(2);

