:host {
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--md-textColor-primary);
  opacity: 0.5;
}

// Variant styles
:host([variant="circle"]) {
  border-radius: 50%;
}
:host([variant="rectangular"]) {
  border-radius: 0;
}
:host([variant="rounded"]) {
  border-radius: 0.5rem;
}

// Animation styles
:host([animation="none"]) {
  animation: none;
}
:host([animation="pulse"]) {
  animation: skeleton-pulse 2s ease-in-out infinite;
}

@keyframes skeleton-pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.5;
  }
}

