:host(md-code-editor) {
  .md-code-editor {
    background: $md-code-editor-bg;
    border-radius: $md-code-editor-border-radius;
    color: $md-code-editor-color;
    min-height: $md-code-editor-height;
    //min-width: $md-code-editor-width;
    overflow: hidden;
    width: 100%;

    &-header {
      align-items: center;
      background: $md-code-editor-header-bg;
      padding: $md-code-editor-indent;
      @include flex($jc: space-between);
      background: $md-code-editor-header-bg;
      font-size: $font-size-base;
      flex: 0 0 auto;
    }

    &-file {
      @include flex;

      &-btn {
        &::part(button) {
          text-transform: uppercase;
          border-radius: $md-code-editor-border-radius;
          padding: $md-code-editor-btn-indent;
          font-size: $font-size-small;
          line-height: 1;
          min-width: 0;
          height: $md-code-editor-btn-size;
          margin-right: $md-code-editor-indent;

          &:after {
            border-radius: $md-code-editor-border-radius;
          }
        }
      }

      input[type="file"] {
        display: none;
      }
    }

    &-copy {
      @include flex();
      line-height: 1;

      &-text {
        margin-right: $md-code-editor-indent;
      }

      &-btn {
        &::part(button) {
          background: none;
          color: $md-code-editor-copy-color;
        }

        &[disabled] {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }

  }

  .hljs-comment,
  .hljs-quote {
    color: $md-yellow-10;
  }

  /* Red */
  .hljs-variable,
  .hljs-template-variable,
  .hljs-tag,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-regexp,
  .hljs-deletion {
    color: $md-orange-40;

  }

  /* Orange */
  .hljs-number,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-literal,
  .hljs-type,
  .hljs-params,
  .hljs-meta,
  .hljs-link {
    color: $md-yellow-40;
  }

  /* Yellow */
  .hljs-attribute {
    color: $md-gold-30;
  }

  /* Green */
  .hljs-string,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-addition {
    color: $md-lime-40;
  }

  /* Blue */
  .hljs-title,
  .hljs-section {
    color: $md-cyan-40;
  }

  /* Purple */
  .hljs-keyword,
  .hljs-selector-tag {
    color: $md-violet-20;
  }

  .hljs {
    background: transparent;
    color: $md-gray-20;
    display: block;
    overflow-x: auto;
    padding: 0.5em;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }

  @media screen and (-ms-high-contrast: active) {
    .hljs-addition,
    .hljs-attribute,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-bullet,
    .hljs-comment,
    .hljs-link,
    .hljs-literal,
    .hljs-meta,
    .hljs-number,
    .hljs-params,
    .hljs-string,
    .hljs-symbol,
    .hljs-type,
    .hljs-quote {
      color: highlight;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      font-weight: bold;
    }
  }
}
