$md-code-editor-height: rem-calc(300);
$md-code-editor-indent: rem-calc(10);
$md-code-editor-color: $md-white-100;
$md-code-editor-bg: $md-blue-95;
$md-code-editor-header-bg: $md-blue-90;
$md-code-editor-badge-size: rem-calc(20);
$md-code-editor-badge-indent: rem-calc(4 6);
$md-code-editor-indent: rem-calc(10);
$md-code-editor-copy-color: $md-blue-50;
$md-code-editor-border-radius: rem-calc(4);
