$datepicker__class: '#{$prefix}-datepicker';
$datepicker-header__padding-top: rem-calc(13);
$datepicker-navigation__padding: 0 rem-calc(16);
$datepicker-navigation__line-height: rem-calc(24);
$datepicker-navigation-buttons__padding: rem-calc(5) 0;
$datepicker-navigation-buttons--next__margin-left: rem-calc(20);
$datepicker-day-names__padding: 0 rem-calc(13);
$datepicker-day-names__color: $md-gray-70;
$datepicker-day__size: rem-calc(28);
$datepicker-day__margin: rem-calc(2);
$datepicker-day__font-size: rem-calc(12);
$datepicker-day__color: $md-black-100;
$datepicker-day__bg: transparent;
$datepicker-day__bg--hover: $black-12;
$datepicker-day__bg--selected: $md-black-100;
$datepicker-day__color--selected: $md-white-100;
$datepicker-day__color--outside-month: $md-gray-70;
$datepicker-day__color--today: $md-orange-50;
$datepicker-day__bg--today: $md-white-100;
$datepicker-day__color--today--selected: $md-white-100;
$datepicker-day__bg--today--selected: $md-orange-50;
$datepicker-day__color--disabled: $md-gray-40;
$datepicker-month__padding: 0 rem-calc(13) rem-calc(9) rem-calc(13);

$datepicker-day__bg--hover--contrast: $md-orange-10;
$datepicker-day__color--today--contrast: $md-orange-60;
$datepicker-day__bg--today--selected--contrast: $md-orange-60;

$daypicker-day-outer-width: rem-calc(30);
$daypicker-day-box-width: rem-calc(32);

// TODO: Remove ng settings when symphony styles are deprecated.
$datepicker-width: 211px !default;
$daypicker-day-width: 22px !default;
$datepicker-large-width: $datepicker-width + 25px !default;
$daypicker-large-day-width: 30px;
