@mixin flex(
  $display: flex,
  $fd: row,
  $fw: nowrap,
  $jc: center,
  $ac: center,
  $ai: center
) {
  display: $display;
  justify-content: $jc;
  align-content: $ac;
  align-items: $ai;
  flex-flow: $fd $fw;
}
