@import '../../settings/focus';

@mixin focus-color($color: $focus__color) {
  outline: 0;
  box-shadow: inset 0 0 0 $focus__size $color;
}

@mixin focus-styles($dark: false) {
  outline: 0;

  @if $dark == false {
    box-shadow: inset 0 0 0 $focus__size $focus__color;
  } @else {
    box-shadow: inset 0 0 0 $focus__size $focus__color--dark;
  }
}

@mixin tab-focus($dark: false) {
  outline: none;

  @if $dark == false {
    box-shadow: 0 0 0 $focus__size $focus__color;
  } @else {
    box-shadow: 0 0 0 $focus__size $focus__color--dark;
  }
}
