/*
* @category controls
* @component link
* @design collaboration-design
*/

/*
* @category controls
* @component link
* @mixin link-color
* @description Add link color styles
* @parameter $color | color | Font color. | inherit
* @parameter $color-hover | color | Hover Font color. | inherit
* @parameter $color-active | color | Active Font color. | inherit
*
* @scss
* &#64;include link-color($color, $color-hover, $color-active);
*/
@mixin link-color(
  $color: inherit,
  $color-hover: inherit,
  $color-active: inherit
) {
  color: $color;
  fill: $color;

  &:hover,
  &.hover,
  &.hover-state {
    color: $color-hover;
    fill: $color-hover;
  }

  &:active,
  &.active-state,
  &.active {
    color: $color-active;
    fill: $color-active;
  }
}
