@import '../../settings/avatar';
@import '../../settings/fonts';
@import '../../settings/form-controls';
@import '../../settings/focus';
@import '../../settings/list-item';
@import 'avatar';
@import 'flex';

@mixin list-item-section(
  $order: 0,
  $margin-left: 0,
  $margin-right: 0,
  $flex-grow: 1,
  $flex-shrink: 1,
  $flex-basis: auto
) {

  height: 100%;
  margin-right: $margin-right;
  margin-left: $margin-left;
  order: $order;
  flex: $flex-grow $flex-shrink $flex-basis;
}

@mixin list-item-size(
  $padding: $list-item__padding,
  $height: $list-item__height,
  $section-margin: $list-item__section-margin-side,
  $avatar-size: $list-item__avatar__dimension,
  $avatar-font-size: $list-item__avatar__font-size
) {
  height: $height;
  padding: $padding;

    >[class$='__left'] {
      @include flex;
      @include list-item-section($order: 0, $margin-right: $section-margin, $flex-shrink:0);

      > .#{$avatar__class} {
        @include avatar-size(
          $size: $avatar-size,
          $font-size: $avatar-font-size
        );
      }
    }

    >[class$='__center'] {
      @include flex($ai: flex-start, $fd: column);
      @include list-item-section($order: 1, $flex-basis: 100%);
    }

    >[class$='__center-align'] {
      @include flex($fd: column);
      @include list-item-section($order: 1, $flex-basis: 100%);
    }

    >[class$='__right'] {
      @include flex;
      @include list-item-section($margin-left: $section-margin, $order: 2, $flex-shrink:0);
    }
}

@mixin list-item() {
  @include flex($jc: flex-start);

  position: relative;
  width: 100%;
  font-size: $list-item__font-size;
  line-height: $list-item__line-height;
  white-space: nowrap;
  cursor: pointer;
  flex: 1 1 auto;

  > .#{$list-item__class} {
    &__center {
      @include flex($ai: flex-start, $fd: column);
      width: 100%;

      overflow: hidden;
    }

    &__center-align {
      @include flex($fd: column);
      width: 100%;

      overflow: hidden;
    }

  }

  .#{$list-item__class} {
    &__header {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__subheader {
      width: 100%;
      overflow: hidden;
      font-size: $list-item__font-size--subheader;
      line-height: $list-item__line-height--subheader;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
  }

  &.#{$list-item__class}--read-only {
    pointer-events: none;
  }

  &.#{$list-item__class}--separator {
    border-bottom: $list-item-separator;
    border-right: none;

    .#{$list__class}--horizontal > & {
      border-right: $list-item-separator;
      border-bottom: none;
    }
  }

  .cui-input-group {
    margin-bottom: 0;
  }
}

@mixin list-item--dark(
  $color: $list-item__color--dark,
  $subheader-color: $list-item__color--subheader--dark,
  $background-color: $list-item__background--dark,
  $background-color--hover: $list-item__background--hover--dark,
  $background-color--active: $list-item__background--pressed--dark,
  $separator-border: $list-item-separator--dark
) {
  .#{$dark-class} & {
    color: $color;
    background-color: $background-color;
  }

  .#{$list-item__class} {
    &__header {
      .#{$dark-class} & {
        color: $color;
      }
    }

    &__subheader {
      .#{$dark-class} & {
        color: $subheader-color;
      }
    }
  }

  &:hover:not(.disabled, .#{$list-item__class}--read-only),
  &.hover:not(:disabled) {
    .#{$dark-class} & {
      color: $color;
      background-color: $background-color--hover;
    }
  }

  &:active,
  &.active {
    .#{$dark-class} & {
      color: $color;
      background-color: $background-color--active;
    }
  }

  &:focus,
  &.focus {
    .#{$dark-class} & {
      color: $color;
    }
  }

  &.#{$list-item__class}--separator {
    .#{$dark-class} & {
      border-bottom: $separator-border;
      border-right: none;
    }

    .#{$list__class}--horizontal > & {
      .#{$dark-class} & {
        border-right: $separator-border;
        border-bottom: none;
      }
    }
  }
}

@mixin list-item-color(
  $active-bgrd-color: $list-item__background--pressed,
  $background-color: $list-item__background,
  $color: $list-item__color,
  $disabled-opacity: $list-item__opacity--disabled,
  $focus-color: $list-item__color,
  $header-color: $list-item__color,
  $hover-bgrd-color: $list-item__background--hover,
  $subheader-color: $list-item__color--subheader
) {
  color: $color;
  background-color: $background-color;

  .#{$list-item__class} {
    &__header {
      color: $header-color;
    }

    &__subheader {
      color: $subheader-color;
    }
  }

  &:hover:not(.disabled),
  &.hover:not(:disabled) {
    color: $color;
    background-color: $hover-bgrd-color;
  }

  &:active,
  &.active {
    color: $color;
    background-color: $active-bgrd-color;
  }

  &:focus,
  &.focus {
    box-shadow: inset 0 0 0 $focus__size $focus-color;
  }

  &:disabled,
  &.disabled {
    opacity: $list-item__opacity--disabled;
  }
}
