/*
* @category containers
* @component modal
* @design collaboration-design
*/

@import '../../settings/core';
@import '../../settings/modal';

// We use this mixin to create the structure of modal
//
// $height - Sets modal height Default: $modal__width || 100vh
// $width - Sets modal width Default: $modal__width || 100vw
//
@mixin modal-base(
  $height: $modal__height--full-screen,
  $width: $modal__width--full-screen
) {
    left: 0;
    right: 0;
    position: fixed;
    z-index: $zindex-modal;
    display: block;
    height: $height;
    width: $width;
    margin: 0 auto;
    visibility: visible;

    @media #{$small-only} {
      min-height: $modal__height--full-screen;
    }
}

// We use this to size the modal
//
// $border-width - Width of border (i.e. 1px). Default: false
// $height - Sets modal height Default: unset
// $max-height - Sets modal max-height Default: unset
// $min-height - Sets modal min-height Default: 0
// $padding - Padding to apply to reveal modal. Default: false
// $radius - If true, set to modal radius which is $global-radius || explicitly set radius amount in px (ex. $radius:10px). Default: false
// $top-offset - Default: false
// $width - Sets modal width Default: $modal__width--full-screen
@mixin modal-size(
  $border-width: false,
  $height: auto,
  $max-height: unset,
  $min-height: 0,
  $padding: false,
  $radius: false,
  $top-offset: false,
  $width: $modal__width--full-screen
) {
  width: $width;

  @if $min-height != 0 {
    min-height: $min-height;
    height: 1px;
  } @else {
    height: $height;
  }

  @if $padding != false {
    padding: $padding;
  }

  @if $border-width != false {
    border-width: $border-width;
    border-style: solid;
  } @else {
    border: none;
  }

  // We can control how much radius is used on the modal
  @if $radius == true {
    @include radius($modal__radius);
  } @else if $radius {
    @include radius($radius);
  }

  @if $top-offset {
    top: $top-offset;
    max-height: calc(100vh - (#{$top-offset} * 2));
  } @else {
    top: auto;
    max-height: $max-height;
  }
}

// We use this to size the modal header
//
// $padding - Sets modal header padding Default: $modal-header__padding
// $line-height - Sets modal header line height Default: $modal-header__line-height
// $font-size - Sets modal header font-size Default: $modal-header__font-size
// $font-family - Sets modal header font-family (i.e. 1px). Default: $brand-font-bold
@mixin modal-header-size(
  $padding: $modal-header__padding,
  $line-height: $modal-header__line-height,
  $font-size: $modal-header__font-size,
  $font-family: $brand-font-bold
) {
  @include flex($fd: column);
  width: 100%;

  padding: $padding;
  line-height: $line-height;
  font-size: $font-size;
  font-family: $font-family;
}

// We use this to size the modal close button
//
// $size - Sets Close Button size Default: unset
// $top-offset - Sets Close Button top offset Default: unset
// $right-offset - Sets Close Button right offset Default: unset
// $padding - Sets Close Button padding (i.e. 1px). Default: unset
// $font-size - Sets Close Button font-size Default: unset
@mixin modal-close-button(
  $size: unset,
  $top-offset: unset,
  $right-offset: unset,
  $padding: unset,
  $font-size: unset
) {
  top: $top-offset;
  right: $right-offset;
  height: $size;
  width: $size;
  padding: $padding;

  &:before {
    font-size: $font-size;
  }
}

// We use this to style the reveal modal defaults
//
// $bg - Sets background color of reveal modal. Default: $modal__background || $white
// $border-color - Color of border. Default: $modal__border-color.
// $box-shadow - Choose whether or not to include the default box-shadow. Default: true, Options: false
@mixin modal-color(
  $bg: false,
  $border-color: false,
  $box-shadow: false
) {
  @if $bg {
    background-color: $bg;
  }

  @if $border-color != false {
    border-color: $border-color;
  }

  // We can choose whether or not to include the default box-shadow.
  @if $box-shadow {
    box-shadow: $box-shadow;
  }
}
