@import "../../settings/fonts";
@import "../../settings/typography";

@mixin page-header__left() {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-family: $brand-font-regular;
  margin: 0;
  padding: rem-calc(16) 2rem;
}

@mixin page-header__title() {
  color: $black;
  font-size: $h4-font-size;
  line-height: rem-calc(32);
}