/** @component link */

@include exports("md-link") {
  .md-link {
    border-radius: rem-calc(4);
    cursor: pointer;
    display: inline-flex;
    font-size: $link__font-size;
    line-height: $link__line-height;
    width: fit-content;

    // Declarations before nested rules
    @include link-color();
    &:focus {
      outline: none;
    }

    &.disabled {
      pointer-events: none;
      text-decoration: underline;
    }

    &--inline {
      font-size: $link-inline__font-size;
      line-height: $link-inline__line-height;
      text-decoration: underline;
    }

    &:hover {
      text-decoration: underline;
    }

    &:active {
      text-decoration: underline;
    }

    //If a font size has been specified override the defaults
    &.large {
      font-size: var(--font-size-body-large, 1rem);
    }

    &.midsize {
      font-size: var(--font-size-body-midsize, 0.875rem);     
    }

    &.small {
      font-size: var(--font-size-body-small, 0.75rem);
    }
  }
}

@media (forced-colors: active) {
  @include exports("md-link") {
    .md-link {
      &:focus {
        box-shadow: none;
        outline: 2px solid Highlight;
      }

      &.disabled {
        color: GrayText !important;
      }
    }
  }
}
