@mixin page-header__left() {
  display: flex;
  padding: rem-calc(16) 2rem;
  margin: 0;
  font-family: $brand-font-regular;
  flex-grow: 1;
  align-items: center;
}

@mixin page-header__title() {
  font-size: $h4-font-size;
  line-height: rem-calc(32);
  color: $md-black-100;
}
