$side-panel-width: rem-calc(533);
$side-panel-padding: rem-calc(16);
$side-panel-header-height: rem-calc(77);
$feature-line-height: rem-calc(36);
$side-panel-large-width: calc(100vw - 100px);
$side-panel-container-large-width: calc(100vw - 102px);
$side-panel-view-large-transition: calc(100vw - 101px);
