.token-display-table {
  width: 100%;
  border-spacing: 0;

  &__table-container {
    width: 100%;
    overflow: scroll;
  }

  &__header-cell {
    @include h5($font-weight: $font-weight-bold);
    margin: 16px 0;
    text-align: left;
  }

  &__header-cell-dark {
    color: $md-white;
  }


  &__row {
    td {
      @include h5();
    }

    & > td + td,
    & > th + th {
      padding-left: 20px;
    }

    & > td:last-child,
    & > th:last-child {
      padding-right: 20px;
    }
  }

  &__row + &__row {
    & > td{
      padding-top: 12px;
    }
  }

  &__row-dark > td {
    color: $md-white;
  }
}