/** @component avatar */

@include exports('md-composite-avatar') {
  .#{$composite-avatar__class} {
    position: relative;
    display: inline-block;

    .#{$avatar__class}:nth-child(1) {
      position: absolute;
      top: 0;
      left: 0;
    }

    .#{$avatar__class}:nth-child(2) {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &.#{$composite-avatar__class} {
      &--small,
      &--28 {
        @include avatar-size($composite-avatar--small__size);

        .#{$avatar__class} {
          @include avatar-size(
            $composite-avatar--small__avatar-size,
            $composite-avatar--small__avatar-font-size
          );
        }
      }

      &--medium,
      &--40 {
        @include avatar-size($composite-avatar--medium__size);

        .#{$avatar__class} {
          @include avatar-size(
            $composite-avatar--medium__avatar-size,
            $composite-avatar--medium__avatar-font-size
          );
        }
      }

      &--84 {
        @include avatar-size($composite-avatar--84__size);

        .#{$avatar__class} {
          @include avatar-size(
            $composite-avatar--84__avatar-size,
            $composite-avatar--84__avatar-font-size
          );
        }
      }

      &--large,
      &--135 {
        @include composite-avatar-size($composite-avatar--large__size);

        .#{$avatar__class} {
          @include avatar-size(
            $composite-avatar--large__avatar-size,
            $composite-avatar--large__avatar-font-size
          );
        }
      }
    }
  }
}
