@import '../../tools/functions/core';
@import '../../tools/mixins/core';

@import '~@momentum-ui/icons/scss/mixins';
@import '~@momentum-ui/icons/scss/variables';

// Settings
@import "../../colors/settings-base.scss";
@import "../../colors/settings-transparencies.scss";
@import "../../colors/settings-legacy.scss";
@import "../../settings/core.scss";
@import "../../settings/focus.scss";
@import "../../settings/media.scss";
@import "../../settings/z-index.scss";
@import "../../typography/settings.scss";

// Tools
@import '../../tools/mixins/border-radius';
@import '../../tools/mixins/flex';

// Generic
@import '../../generic/global';

// Avatar Specific
@import 'settings';
@import 'mixins';
@import 'avatar';
@import 'composite-avatar';
