.md-timepicker {
  padding-right: $timepicker-right-padding;
  display: flex;
  justify-content: center;

  &.twenty-four-hour-format {
    padding-right: 0;
  }

  .time-input-box {
    display: inline-block;
    height: $time-box-height;
    width: $time-box-width;
  }

  .amPm-combo-box {
    display: inline-block;
    height: $time-box-height;
    margin-left: $am-pm-combobox-left-margin;
    width: $ampm-box-width;
    position: relative;
  }

  .amPm-combo-box::part(group) {
    padding-right: 4px;
    padding-left: 8px;
  }

  .amPm-combo-box::part(combobox-button-arrow) {
    margin-left: 4px;
  }

  .amPm-combo-box::part(multiwrap-input) {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  .amPm-combo-box::part(label) {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .amPm-combo-box::part(select-label) {
    margin-right: 0;
  }

  .amPm-combo-box::part(combobox-option) {
    padding-left: 0;
    padding-right: 0;
  }

  .amPm-combo-box::part(combobox-options) {
    max-height: $am-pm-combobox-dropdown-max-height;
    width: $am-pm-combobox-width;
    padding: 0;
    position: absolute;
    overflow: visible;
  }

  md-input::part(input) {
    padding: 0;
    text-align: center;
    color: var(--md-secondary-text-color);
  }

  md-input::part(message) {
    display: none;
  }

  .colon-separator {
    color: var(--md-secondary-text-color);
    font-size: $colon-separator-font-size;
    line-height: 24px;
    margin: 0 $colon-side-margin;
    letter-spacing: 0;
    width: 4px;
  }
}
