<div class="md-data-table" style="width: 60%;">
  <div class="md-data-table__scrollable--wrappper">
    <div class="md-data-table__scrollable--view">
      <div class="md-data-table__scrollable--header">
        <div style="margin-right: 0px; margin-left: 0px;">
          <table class="md-data-table__scrollable--header-table">
            <thead class="md-data-table__thead">
              <tr>
                <th> Name </th>
                <th> State </th>
                <th> Age </th>
                <th> Color </th>
              </tr>
            </thead>
            <tbody class="md-data-table__tbody"></tbody>
          </table>
        </div>
      </div>
        <div class="md-data-table__scrollable--body" style="max-height: 200px;">

          <table class="md-data-table__scrollable--body-table">
            <tbody class="md-data-table__tbody">

            <tr>
              <td> John </td><td> Texas </td>
              <td> 32 </td>
              <td> Orange </td>
            </tr>
            <tr>
              <td> Paul </td>
              <td> California </td>
              <td> 12 </td>
              <td> Black </td>
            </tr>
            <tr>
              <td> Ben </td>
              <td> Florida </td>
              <td> 23 </td>
              <td> Gray </td>
            </tr>
            <tr>
              <td> Lauren </td>
              <td> Kansas </td>
              <td> 75 </td>
              <td> Blue </td>
            </tr>
            <tr>
              <td> Mike </td>
              <td> New York </td>
              <td> 45 </td><td> Orange </td>
            </tr>
              <tr>
              <td> Joe </td>
              <td> Texas </td><td> 86 </td>
              <td> Black </td></tr>
            <tr>
              <td> Robert </td>
              <td> New Mexico </td>
              <td> 34 </td>
              <td> Yellow </td>
            </tr>
              <tr>
              <td> Greg </td>
              <td> Arizona </td>
              <td> 29 </td>
              <td> Orange </td>
            </tr>
            <tr>
              <td> Sarah </td>
              <td> Texas </td>
              <td> 32 </td>
              <td> Black </td>
            </tr>
            <tr>
              <td> Derek </td>
              <td> Montana </td>
              <td> 27 </td>
              <td> Red </td>
            </tr>
            <tr>
              <td> Joe </td>
              <td> Texas </td>
              <td> 86 </td>
              <td> Black </td>
            </tr>
            <tr>
              <td> Michelle </td>
              <td> New Mexico </td>
              <td> 34 </td>
              <td> Yellow </td>
            </tr>
            <tr>
              <td> Greg </td>
              <td> Arizona </td>
              <td> 29 </td>
              <td> Orange </td>
            </tr>
            <tr>
              <td> Thomas </td>
              <td> Texas </td>
              <td> 32 </td>
              <td> Black </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>