// Horizontal dividers
//
// Dividers (basically an hr) within dropdowns and nav lists

@mixin nav-divider($color: #e5e5e5) {
  background-color: $color;
  height: 1px;
  margin: ((20px * 0.5) - 1) 0;
  overflow: hidden;
}
