.site-banner-con-typography {
  background: $md-gold-20;
  .site-banner-normal {
    background-image: url(../assets/2020/banner-typography.svg);
  }
}

.token-display-table-row {
  margin-top: 132px;

  & > .flex-item + .flex-item {
    margin-left: 30px;
  }
}

p.sample-text-block {
  font-family: $brand-font-regular;
  line-height: 125%;
}

h4.font-size-section-title-trailing {
  @include h4();
}

.typography-control-hub-example {
  @include example-image($img-margin: 57px 0 0 0);
}

.typography-webex-example {
  @include example-image($img-width: 65%);
}