$close__class: '#{$prefix}-close';

$close__font-color: $black-60 !default;
$close__font-color--hover: $md-theme-70 !default;
$close__font-color--focus: $md-theme-80 !default;
$close__font-color--active: $md-theme-80;
