@use "sass:color";

$progress-bar-height: rem-calc(4) !default;
$progress-bar-color: $md-gray-10;

$progress-bar-border-color: color.scale($md-white-100, $lightness: 20%) !default;
$progress-bar-border-size: 1px !default;
$progress-bar-border-style: solid !default;
$progress-bar-border-radius: var(--progress-bar-border-radius, $global-radius) !default;

$progress-label-font-size: rem-calc(11) !default;
$progress-bar-pad: 0 !default;
$progress-bar-margin-bottom: rem-calc(10) !default;

$progress-meter-color: $md-theme-50 !default;
$progress-meter-secondary-color: $md-gray-70 !default;
$progress-meter-success-color: $md-green-50 !default;
$progress-meter-alert-color: $md-red-50 !default;
$progress-meter-warning-color: $md-yellow-50;
$progress-meter-info-color: $md-mint-50;

$progress-bg: var(--progress-bar-track-bg-color, $md-gray-20);
$progress-bar-color: $md-white-100;
$progress-border-radius: var(--progress-bar-border-radius, $border-radius-base);
$progress-bar-bg: var(--progress-bar-indicator-in-progress, $md-theme-50);
$progress-bar-success-bg: var(--progress-bar-indicator-complete, $md-green-50);
$progress-bar-warning-bg: var(--progress-bar-indicator-caution, $md-yellow-50);
$progress-bar-danger-bg: var(--progress-bar-indicator-failed, $md-red-50);
$progress-bar-info-bg: $md-mint-50;
