:host(md-advance-list) {
  list-style: none;
  margin: 0;
  padding: 2px;
  overflow: auto;
  position: relative;
  line-height: 1.125rem;
  display: flex;
  flex-direction: column;  
}

.virtual-scroll {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding: 1px;
}

.virtual-scroll:focus-visible {
  outline: 2px solid var(--md-default-focus-outline-color);
}

.default-wrapper:focus-visible,
.default-wrapper:focus {
  outline: 2px solid var(--md-default-focus-outline-color);
  outline-offset: -2px;
}

.default-wrapper[aria-disabled="true"],
.default-wrapper:has([disabled]),
.default-wrapper:has([disabled]):hover {
  color: var(--advance-list-disabled-text-color);
  background-color: transparent;
}

.spin-loader {
  display: flex;
  justify-content: center;
  width: 100%;
}

.default-wrapper.selected {
  background-color: var(--list-active-background);
  color: var(--list-active-text-color);
}

.default-wrapper.focused {
  outline: 2px solid var(--md-default-focus-outline-color);
  outline-offset: -2px;
}

.default-wrapper {
  padding: 11px 12px;  
  color: var(--advance-list-text-color);
  cursor: pointer;
  width: calc(100% - 2px);
  box-sizing: border-box;
  position: relative;
  border-radius: var(--advance-list-border-radius-rounded, 0);
  display: flex;
  gap: 0.5rem;
}
.default-wrapper-status-indicator {
  padding: 5px;
  color: var(--advance-list-text-color);
  cursor: pointer;
  width: calc(100% - 2px);
  box-sizing: border-box;
  position: relative;
  border-radius: var(--advance-list-border-radius-rounded, 0);
}

.default-wrapper:hover {
  background-color: var(--list-hover-background);
  color: var(--list-hover-text-color);
}

.default-wrapper.selected:hover {
  background-color: var(--list-active-background);
  color: var(--list-active-text-color);
}

.selected-border-bottom {
  border-bottom: 1px solid var(--md-gray-20);
}

.non-selectable {
  cursor: default;
  &:hover {
    background-color: transparent;
  }
  &.selected {
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
  }
}