@import "@/wc_scss/tools/functions/core";
@import "@/wc_scss/tools/mixins/core";

@import "@/wc_scss/settings/rem.scss";
@import "@/wc_scss/settings/core";
@import "@/wc_scss/tools/mixins/flex";

@import "./AdvanceList.scss";