$data-range-picker-button-group-height: rem-calc(85);
$data-range-picker-button-group-margin: rem-calc(12) 0 0 rem-calc(12);
$data-range-picker-button-group-width: rem-calc(99);
$data-range-picker-button-group-button-right: rem-calc(8);
$data-range-picker-input-font-size: rem-calc(12);
$data-range-picker-input-height:rem-calc(30);
$data-range-picker-input-padding:rem-calc(8) rem-calc(6) !important;
$data-range-picker-button-first-child-margin-left:rem-calc(20);
