$accordion__class: '#{$prefix}-accordion';
$accordion-header__padding: rem-calc(10) !default;
$accordion__font-size: rem-calc(16) !default;
$accordion-header__font-family: $body-font-family !default;
$accordion-list-item__font-family: $brand-font-light;
$accordion-list-item__height: rem-calc(32);
$accordion-list-item__padding: rem-calc(10);
$accordion-content-padding: ($column-gutter/2) !default;
$accordion-arrow__font-size: rem-calc(12);

$accordion-header__color: $md-black-100 !default;
$accordion-header__background: $md-white-100 !default;
$accordion-header__background--hover: $md-theme-10 !default;
$accordion-header__opacity--disabled: 0.2;
$accordion-separator__border: rem-calc(1) solid $black-08;

$accordion-header-dark__color: $md-white-100 !default;
$accordion-header-dark__background: transparent !default;
$accordion-header-dark__background--hover: $white-08 !default;
$accordion-separator-dark__border: rem-calc(1) solid $white-08;
