<div class="radio-states medium-4 columns">
    <div class="radio-states">
      <div class="off-disabled">
       <div class="md-input-container md-radio">
          <input type="radio" value="off-disabled-state" class="md-input md-radio__input" disabled>
          <label class="md-radio__label">
            <span>Disabled & Off</span>
          </label>
        </div>
      </div>
      <div class="on-disabled">
       <div class="md-input-container md-radio">
          <input type="radio" value="on-disabled-state" class="md-input md-radio__input" checked disabled>
          <label class="md-radio__label">
            <span>Disabled & On</span>
          </label>
        </div>
      </div>
    </div>
</div>
