<form name="nestedRadioForm">
  <div class="md-input-container md-radio">
    <input type="radio" id="Radio-parent" name="RadioNested" class="md-input md-radio__input" checked>
    <label class="md-radio__label" for="Radio-parent">
      <span>Parent Radio Example</span>
    </label>
  </div>
  <div class="md-input-container md-radio md-input--nested-1">
    <input type="radio" id="RadioNested1" name="RadioNested" class="md-input md-radio__input">
    <label class="md-radio__label" for="RadioNested1">
      <span>Child Radio Nested 1 Level</span>
    </label>
  </div>
  <div class="md-input-container md-radio md-input--nested-2">
    <input type="radio" id="RadioNested2" name="RadioNested" class="md-input md-radio__input">
    <label class="md-radio__label" for="RadioNested2">
      <span>Child Radio Nested 2 Levels</span>
    </label>
  </div>
  <div class="md-input-container md-radio md-input--nested-3">
    <input type="radio" id="RadioNested3" name="RadioNested" class="md-input md-radio__input">
    <label class="md-radio__label" for="RadioNested3">
      <span>Child Radio Nested 3 Levels</span>
    </label>
  </div>
</form>
