@import '../../tools/functions/core';
@import '../../tools/mixins/core';

// Icons
@import '~@momentum-ui/icons/scss/momentum-ui-icons';

// Settings
@import "../../colors/settings-base.scss";
@import "../../settings/core.scss";
@import "../../settings/media.scss";
@import "../../settings/z-index.scss";
@import "../../typography/settings.scss";

// Tools
@import '../../tools/mixins/baseline';
@import '../../tools/mixins/core';
@import '../../tools/mixins/focus';
@import '../../tools/mixins/grid';
@import '../../typography/mixins';
@import '../../layouts/block-grid/mixins';

// Generic
@import '../../generic/normalize';
@import '../../generic/global';

// Typography
@include brand-font-face-regular;

// Layouts
@import '../../layouts/block-grid/block-grid';
@import '../../layouts/layout-grid/layout-grid';

// Badge Specific
@import 'settings';
@import 'mixins';

@import 'badge';
