$badge__class: '#{$prefix}-badge';

// Set the padding for badges
$badge__padding: rem-calc(2 6) !default;
$badge__outline-padding: rem-calc(4 6 4) !default;

// Set the border radius for badges.
$badge__radius: $global-radius !default;
$badge--round__radius: rem-calc(100);

// Set the badge text
$badge__font-size: rem-calc(12) !default;
$badge__font-color-alt: $md-white-100 !default;
$badge__font-color: $md-white-100 !default;
$badge__font-weight: $font-weight-normal !default;
$badge__font-family: $brand-font-regular !default;
$badge__font-line-height: rem-calc(16) !default;
$badge__font-size__round: rem-calc(12) !default;

// Blue badge colors
$badge--blue__background-color: $md-theme-50 !default;

// Mint badge colors
$badge--mint__background-color: $md-mint-50 !default;

// Green badge colors
$badge--green__background-color: $md-green-50 !default;

// Yellow badge colors
$badge--yellow__background-color: $md-yellow-50 !default;

// Red badge colors
$badge--red__background-color: $md-red-50 !default;

// Orange badge colors
$badge--orange__background-color: $md-orange-50 !default;

// Purple badge colors
$badge--purple__background-color: $md-purple-50 !default;

// Cyan badge colors
$badge--cyan__background-color: $md-cyan-50 !default;

// Grey badge colors
$badge--gray__background-color: $md-gray-50 !default;

// Blue pastel badge colors
$badge--blue-pastel__background-color: $md-theme-10 !default;
$badge--blue-pastel__font-color: $md-theme-50 !default;

// Mint badge colors
$badge--mint-pastel__background-color: $md-mint-10 !default;
$badge--mint-pastel__font-color: $md-mint-50 !default;

// Green pastel badge colors
$badge--green-pastel__background-color: $md-green-10 !default;
$badge--green-pastel__font-color: $md-green-50 !default;

// Yellow pastel badge colors
$badge--yellow-pastel__background-color: $md-yellow-10 !default;
$badge--yellow-pastel__font-color: $md-yellow-50 !default;

// Red pastel badge colors
$badge--red-pastel__background-color: $md-red-10 !default;
$badge--red-pastel__font-color: $md-red-60 !default;

// Gray pastel badge colors
$badge--gray-pastel__background-color: $md-gray-20 !default;
$badge--gray-pastel__font-color: $md-gray-70 !default;
