$tab-border: rem-calc(2) solid transparent;
$tab-focus-border-radius: rem-calc(4);
$tab-base-indent: rem-calc(2);
$tab-height: rem-calc(48);
$tab-overflow-button-height: rem-calc(45);
$tab-span-height: rem-calc(27);
$tab-none-bg: transparent;
$tab-font-size: $font-size-base;
$tab-button-padding: 0.3rem 1.2rem;
$tab-slot-padding: 0 rem-calc(4);
$tab-list-border: 1px solid var(--tabs-default-border-color, $lm-tabs-default-border-color-light);
$tab-active-border: 2px solid var(--tabs-default-active-border, $lm-tabs-default-active-border-light);
$tab-main-focus-border: 2px solid var(--tabs-default-focus-border, $lm-tabs-default-focus-border-light);
$tab-hover-border: 2px solid var(--tabs-default-hover, $lm-tabs-default-hover-light);
$tab-focus-border: var(--tabs-default-focus-border, $lm-tabs-default-focus-border-light);
$tab-focus-bg: var(--tabs-default-bg-color, $lm-tabs-default-bg-color-light);
$tab-more-list-bg: var(--tabs-default-bg-color, $lm-tabs-default-bg-color-light);
$tab-menu-manual-offset: rem-calc(13);
$draggable-padding: rem-calc(6);
$draggable-row-border: 1px solid var(--md-menu-overlay-border-color);
$draggable-item-border-radius: rem-calc(4);
$draggable-default-border: 2px solid transparent;
$draggable-focus-border: 2px solid var(--md-default-focus-outline-color);
$draggable-item-shadow: 0 2px 4px rgba($md-black-100, 0.1), 0 0 1px rgba($md-black-100, 0.18);
