  <span class="md-badge md-badge--round">Default</span>
  <span class="md-badge md-badge--round md-badge--blue">Blue</span>
  <span class="md-badge md-badge--round md-badge--red">Red</span>
  <span class="md-badge md-badge--round md-badge--yellow">Yellow</span>
  <span class="md-badge md-badge--round md-badge--green">Green</span>
  <span class="md-badge md-badge--round md-badge--mint">Mint</span>
  <span class="md-badge md-badge--round md-badge--pastel">Default</span>
  <span class="md-badge md-badge--round md-badge--blue-pastel">Blue</span>
  <span class="md-badge md-badge--round md-badge--red-pastel">Red</span>
  <span class="md-badge md-badge--round md-badge--yellow-pastel">Yellow</span>
  <span class="md-badge md-badge--round md-badge--green-pastel">Green</span>
  <span class="md-badge md-badge--round md-badge--mint-pastel">Mint</span>
