  <span class="cui-badge cui-badge--round">Default</span>
  <span class="cui-badge cui-badge--round cui-badge--blue">Blue</span>
  <span class="cui-badge cui-badge--round cui-badge--red">Red</span>
  <span class="cui-badge cui-badge--round cui-badge--yellow">Yellow</span>
  <span class="cui-badge cui-badge--round cui-badge--green">Green</span>
  <span class="cui-badge cui-badge--round cui-badge--mint">Mint</span>
  <span class="cui-badge cui-badge--round cui-badge--pastel">Default</span>
  <span class="cui-badge cui-badge--round cui-badge--blue-pastel">Blue</span>
  <span class="cui-badge cui-badge--round cui-badge--red-pastel">Red</span>
  <span class="cui-badge cui-badge--round cui-badge--yellow-pastel">Yellow</span>
  <span class="cui-badge cui-badge--round cui-badge--green-pastel">Green</span>
  <span class="cui-badge cui-badge--round cui-badge--mint-pastel">Mint</span>