$brand-font-folder: '~@collab-ui/core/fonts';
$icon-font-path: '~@collab-ui/icons/fonts';
$images-path: '~@collab-ui/core/images';

@import '~@collab-ui/core/scss/collab-ui';

@import '~@angular/cdk/overlay-prebuilt.css';
@import '~@angular/cdk/a11y-prebuilt.css';
