$alert__class: '#{$prefix}-alert';
$alert__border-radius: 5px;

$alert__font-size: rem-calc(14) !default;
$alert__font-size--title: rem-calc(16) !default;
$alert__icon-font-size: rem-calc(44) !default;

$alert__background-color: $md-white-100 !default;
$alert__background-color--info: $md-theme-50 !default;
$alert__background-color--success: $md-green-50 !default;
$alert__background-color--warning: $md-yellow-50 !default;
$alert__background-color--error: $md-red-50 !default;

$alert__font-color: $md-gray-90 !default;
$alert__font-color--title: $md-black-100 !default;
$alert__font-color--status: $md-green-70 !default;
$alert__font-color--info: $md-theme-50 !default;
$alert__font-color--success: $md-green-50 !default;
$alert__font-color--warning: $md-yellow-50 !default;
$alert__font-color--error: $md-red-50 !default;

$alert__padding: rem-calc(8);
$alert__padding-right: rem-calc(13);
$alert__padding-left: rem-calc(17);

$alert__padding--call: rem-calc(17);
$alert__padding-top--call: rem-calc(12);
$alert__padding-bottom--call: rem-calc(25);

$alert__width: rem-calc(342);
