@import '../../settings/core';
@import '../../colors/settings';

$slider__class: #{$prefix}-slider;

$slider-selection__background-color: $cui-theme-50;
$slider-selection__background-color--disabled: $cui-gray-30;
$slider-selection__background-color--disabled--dark: $cui-white-100;
$slider-selection__background-color--red: $cui-red-50;
$slider-selection__background-color--green: $cui-green-50;
$slider-selection__background-color--yellow: $cui-yellow-50;

$slider-pointer__background-color: $cui-white-100;
$slider-pointer__background-color--hover: $cui-theme-10;
$slider-pointer__background-color--focus--dark: $cui-gray-40;
$slider-pointer__background-color--disabled: $cui-gray-10;
$slider-pointer__background-color--disabled--dark: $cui-gray-40;

$slider-bar__background-color: $cui-gray-10;
$slider-bar__background-color--dark: $cui-gray-40;

$slider-hashlabel__color: $cui-gray-90;
$slider-hashlabel__color--dark: $cui-white-100;
