.md-phone-input__container {
  --combo-box-contaier-width: 100px;
  display: flex;
  position: relative;

  md-combobox {
    &::part(multiwrap) {
      &:before {
          content: '';
          height: 10px;
          width: 20px;
          background: url('/images/flags.png') -5220px 0;
          background-repeat: no-repeat;
        }
      }
      &::part(multiwrap-input) {
        flex: 1;
      }
  }

  md-combobox {
    width: var(--combo-box-contaier-width);
  }

  md-combobox::part(combobox) {
    position: initial;
  }

  md-combobox::part(group) {
    border-bottom-right-radius: 0;
    border-right-width: 0;
    border-top-right-radius: 0;
  }

  md-combobox::part(multiwrap) {
    overflow-x: hidden;
  }

  md-combobox::part(multiwrap-input) {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  md-combobox::part(combobox-options) {
    top: 2.5rem;
  }

  md-combobox::part(label) {
    width: 100%;
  }

  md-input::part(input) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding-right: $input__padding-side--icon;
  }

  md-input::part(message) {
    margin-left: calc(var(--combo-box-contaier-width) * -1);
    width: calc(100% + var(--combo-box-contaier-width));
  }

  .md-phone-input__option {
    display: flex;
    justify-content: space-between;
  }

  md-input[disabled]::part(input) {
    background: var(--phone-input-disabled-bg-color);
    border: 1px solid var(--phone-input-default-border-color);
    color: var(--md-disabled-text-color);

    &::placeholder {
      border: none;
    }
  }
}

