.md-phone-input__container {
  --combo-box-container-width: 100px;
  container-type: inline-size;
  display: flex;

  md-country-code-picker::part(combobox) {
    width: var(--combo-box-container-width);
  }

  md-country-code-picker::part(combobox-group) {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    border-inline-end-width: 0;
  }

  md-country-code-picker::part(options-container) {
    width: 100cqw;
  }

  md-input::part(input) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding-right: $input__padding-side--icon;
  }

   md-input[dir="rtl"]::part(input) {
    border-start-start-radius: var(--input-border-radius, 4px);
    border-end-start-radius: var(--input-border-radius, 4px);
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    padding-right: 0;
    padding-left: $input__padding-side--icon;
  }

  md-input::part(message) {
    margin-inline-start: calc(var(--combo-box-container-width) * -1);
    width: calc(100% + var(--combo-box-container-width));
  }

  md-input[disabled]::part(input) {
    background: var(--phone-input-disabled-bg-color);
    border: 1px solid var(--phone-input-default-border-color);
    color: var(--md-disabled-text-color);

    &::placeholder {
      border: none;
    }
  }
}