$event-overlay__shadow: 0 4px 12px 0 $black-16;
$event-overlay__border-color: $md-gray-30;
$event-overlay__border: inset 0 0 0 1px $event-overlay__border-color;
$event-overlay__border-css-var: inset 0 0 0 1px var(--md-separator-primary, $event-overlay__border-color);
$event-overlay-arrow__width: 20px;
$event-overlay-arrow__height: 14px;
$event-overlay__border-radius: 5px;
