<div class="md-input-group medium-6 columns">
  <label class="md-label" for="clearInput">Input with clear</label>
  <div class="md-input__icon-container">
    <input type="text" class="md-input dirty" tabIndex="0" value="Press or click the clear icon to clear this input" id="clearInput" name="clearInput" placeholder="Placeholder Text">
    <button class="md-button md-button--36 md-button--icon" alt="clear input" type="button" tabIndex="0">
      <span class="md-button__children" style="opacity: 1;">
        <i class="icon icon-clear-active_16"></i>
      </span>
    </button>
  </div>
</div>
