<div class="cui-input-group medium-6 columns">
  <label class="cui-label" for="clearInput">Input with clear</label>
  <div class="cui-input__icon-container">
    <input type="text" class="cui-input dirty" tabIndex="0" value="Press or click the clear icon to clear this input" id="clearInput" name="clearInput" placeholder="Placeholder Text">
    <button class="cui-button cui-button--36 cui-button--icon" alt="clear input" type="button" tabIndex="0">
      <span class="cui-button__children" style="opacity: 1;">
        <i class="icon icon-clear-active_16"></i>
      </span>
    </button>
  </div>
</div>