<div class="md-input-container small-12 columns">
  <label class="md-label md-input__label" for="default1">
    <span>Default Input</span>
  </label>
  <div class="md-input__wrapper">
    <input
      class="md-input md-active"
      tabindex="0"
      type="text"
      id="default1"
      name="default1"
      placeholder="PlaceHolder Text"
    />
  </div>
</div>
<div class="md-input-container md-input--filled small-12 columns">
  <label class="md-label md-input__label" for="default1">
    <span>Filled Input</span>
  </label>
  <div class="md-input__wrapper">
    <input
      class="md-input md-active"
      tabindex="0"
      type="text"
      id="default1"
      name="default1"
      placeholder="PlaceHolder Text"
    />
  </div>
</div>
