<div class="md-input-container small-12 columns">
  <label class="md-label md-input__label" for="inputSecondaryLabel1">
    <span>Input with Secondary Label</span>
  </label>
  <div class="md-input__wrapper">
    <input
      class="md-input"
      tabindex="0"
      type="text"
      id="inputSecondaryLabel1"
      name="inputSecondaryLabel1"
      value=""
    />
  </div>
  <label class="md-label md-input__secondary-label" for="inputSecondaryLabel1">
    <span>Secondary Label</span>
  </label>
</div>
