<div class="md-input-container small-12 columns md-success">
  <label class="md-label md-input__label" for="inputSuccess1">
    <span>Success</span>
  </label>
  <div class="md-input__wrapper">
    <input
      class="md-input md-dirty"
      tabindex="0"
      type="text"
      id="inputSuccess1"
      name="inputSuccess1"
      value="Success Text"
    />
  </div>
  <div class="md-input__messages">
    <div class="md-input__message" role="alert">
      This is where the success message would be. 
    </div>
  </div>
</div>
