 <form name="myFormHtml" novalidate>
   <div class="row">
     <div class="md-input-group medium-6 columns error">
       <label for="firstName">Error Input</label>
       <input class="md-input" id="firstName" name="firstName" type="text" placeholder="Placeholder" minlength="5" maxlength="10" required>
       <p class="md-input__help-text">Possible errors include: required, min length = 5 and max length = 10</p>
       <div class="md-input__messages" role="alert">
         <div class="message">This field is required</div>
       </div>
       <div class="md-input__messages" role="alert">
         <div class="message">Your field is too short</div>
       </div>
       <div class="md-input__messages" role="alert">
         <div class="message">Your input is WAAAAY too long!</div>
       </div>
     </div>
   </div>
 </form>
