<div class="cui-alert cui-alert--call">
  <div class="cui-alert__title">Incoming Call</div>
  <div class="cui-alert__caller">
    <div class="cui-avatar cui-avatar--xlarge">
      <span class="cui-avatar__icon">
        <i class="icon icon-spark-board_32"></i>
      </span>
    </div>
    <div class="cui-alert__caller-title">SJC21-Babelfish</div>
    <div class="cui-alert__caller-subtitle">+ 1 408-555-1212</div>
  </div>
  <div class="cui-alert--call--buttons">
    <button
      class="cui-button cui-button--circle cui-button--44 cui-button--green"
      alt="answer call with voice and video"
      type="button"
      aria-label="answer call with voice and video"
      tabindex="0">
      <span class="cui-button__children">
        <i class="icon icon-camera_24"></i>
      </span>
    </button>
    <button
      class="cui-button cui-button--circle cui-button--44 cui-button--green"
      alt="answer call with voice only"
      type="button"
      aria-label="answer call with voice only"
      tabindex="0">
      <span class="cui-button__children">
        <i class="icon icon-handset_24"></i>
      </span>
    </button>
    <button
      class="cui-button cui-button--circle cui-button--44 cui-button--red"
      alt="reject call"
      type="button"
      aria-label="reject call"
      tabindex="0">
      <span class="cui-button__children">
        <i class="icon icon-cancel_24"></i>
      </span>
    </button>
  </div>
</div>
