<div class="md-alert md-alert--call">
  <div class="md-alert__title">Incoming Call</div>
  <div class="md-alert__caller">
    <div class="md-avatar md-avatar--xlarge">
      <span class="md-avatar__icon">
        <i class="icon icon-spark-board_32"></i>
      </span>
    </div>
    <div class="md-alert__caller-title">SJC21-Babelfish</div>
    <div class="md-alert__caller-subtitle">+ 1 408-555-1212</div>
  </div>
  <div class="md-alert--call--buttons">
    <button
      class="md-button md-button--circle md-button--44 md-button--green"
      alt="answer call with voice and video"
      type="button"
      aria-label="answer call with voice and video"
      tabindex="0">
      <span class="md-button__children">
        <i class="icon icon-camera_24"></i>
      </span>
    </button>
    <button
      class="md-button md-button--circle md-button--44 md-button--green"
      alt="answer call with voice only"
      type="button"
      aria-label="answer call with voice only"
      tabindex="0">
      <span class="md-button__children">
        <i class="icon icon-handset_24"></i>
      </span>
    </button>
    <button
      class="md-button md-button--circle md-button--44 md-button--red"
      alt="reject call"
      type="button"
      aria-label="reject call"
      tabindex="0">
      <span class="md-button__children">
        <i class="icon icon-cancel_24"></i>
      </span>
    </button>
  </div>
</div>
