@use "settings" as coachmark-settings;

.md-coachmark {
  --coachmark-arrow-border-color: var(--coachmark-default-bg-color);

  display: inline-flex;
  position: relative;

  &__popper {
    border-radius: coachmark-settings.$main-raduis;
    display: none;
    min-width: coachmark-settings.$min-width;
    max-width: coachmark-settings.$max-width;
    padding: coachmark-settings.$main-padding;
    position: absolute;
    width: 100%;
    z-index: 1;

    .header-title {
      font-family: var(--brand-font-bold);
      font-size: var(--body-primary-font-size, 1rem);
      font-weight: var(--brand-font-weight-bold, 700);
      line-height: rem-calc(24);
    }

    .md-coachmark__arrow {
      height: 0;
      position: absolute;
      width: 0;
    }

    &--right {
      animation: coach-fade 1s, coach-slide-right 0.5s ease;
      left: calc(100% + 1rem);
      top: 50%;
      transform: translateY(-50%);

      .md-coachmark__arrow {
        border-bottom: coachmark-settings.$arrow-size solid transparent;
        border-top: coachmark-settings.$arrow-size solid transparent;
        left: -(coachmark-settings.$arrow-size);
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &--left {
      animation: coach-fade 1s, coach-slide-left 0.5s ease;
      right: calc(100% + 1rem);
      top: 50%;
      transform: translateY(-50%);

      .md-coachmark__arrow {
        border-bottom: coachmark-settings.$arrow-size solid transparent;
        border-top: coachmark-settings.$arrow-size solid transparent;
        right: -(coachmark-settings.$arrow-size);
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &--top {
      animation: coach-fade 1s, coach-slide-top 0.5s ease;
      bottom: calc(100% + 0.5rem);
      left: 50%;
      transform: translateX(-50%);

      .md-coachmark__arrow {
        border-left: coachmark-settings.$arrow-size solid transparent;
        border-right: coachmark-settings.$arrow-size solid transparent;
        bottom: -(coachmark-settings.$arrow-size);
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &--bottom {
      animation: coach-fade 1s, coach-slide-bottom 0.5s ease;
      left: 50%;
      top: calc(100% + 0.5rem);
      transform: translateX(-50%);

      .md-coachmark__arrow {
        border-left: coachmark-settings.$arrow-size solid transparent;
        border-right: coachmark-settings.$arrow-size solid transparent;
        left: 50%;
        top: -(coachmark-settings.$arrow-size);
        transform: translateX(-50%);
      }
    }

    &--default {
      background: var(--coachmark-default-bg-color);
      color: var(--coachmark-default-text-color);
    }

    &--blue {
      background: var(--coachmark-blue-bg-color);
      color: var(--coachmark-blue-text-color);
      --coachmark-arrow-border-color: var(--coachmark-blue-bg-color);
    }

    &--green {
      background: var(--coachmark-green-bg-color);
      color: var(--coachmark-green-text-color);
      --coachmark-arrow-border-color: var(--coachmark-green-bg-color);
    }

    &--purple {
      background: var(--coachmark-purple-bg-color);
      color: var(--coachmark-purple-text-color);
      --coachmark-arrow-border-color: var(--coachmark-purple-bg-color);
    }

    &--violet {
      background: var(--coachmark-violet-bg-color);
      color: var(--coachmark-violet-text-color);
      --coachmark-arrow-border-color: var(--coachmark-violet-bg-color);
    }

    &--mint {
      background: var(--coachmark-mint-bg-color);
      color: var(--coachmark-mint-text-color);
      --coachmark-arrow-border-color: var(--coachmark-mint-bg-color);
    }

    &--darkmint {
      background: var(--coachmark-darkmint-bg-color);
      color: var(--coachmark-darkmint-text-color);
      --coachmark-arrow-border-color: var(--coachmark-darkmint-bg-color);
    }

    &--yellow {
      background: var(--coachmark-yellow-bg-color);
      color: var(--coachmark-yellow-text-color);
      --coachmark-arrow-border-color: var(--coachmark-yellow-bg-color);
    }

    &--red {
      background: var(--coachmark-red-bg-color);
      color: var(--coachmark-red-text-color);
      --coachmark-arrow-border-color: var(--coachmark-red-bg-color);
    }

    &--darkred {
      background: var(--coachmark-darkred-bg-color);
      color: var(--coachmark-darkred-text-color);
      --coachmark-arrow-border-color: var(--coachmark-darkred-bg-color);
    }

    &--orange {
      background: var(--coachmark-orange-bg-color);
      color: var(--coachmark-orange-text-color);
      --coachmark-arrow-border-color: var(--coachmark-orange-bg-color);
    }

    &--cyan {
      background: var(--coachmark-cyan-bg-color);
      color: var(--coachmark-cyan-text-color);
      --coachmark-arrow-border-color: var(--coachmark-cyan-bg-color);
    }

    &--outline {
      background: var(--coachmark-outline-color);
      color: var(--coachmark-outline-text-color);
      --coachmark-arrow-border-color: var(--coachmark-outline-color);
    }

    
    &.md-coachmark__popper--left {
      .md-coachmark__arrow {
        border-left: coachmark-settings.$arrow-size solid var(--coachmark-arrow-border-color);
      }
    }

    &.md-coachmark__popper--right {
      .md-coachmark__arrow {
        border-right: coachmark-settings.$arrow-size solid
          var(--coachmark-arrow-border-color);
      }
    }

    &.md-coachmark__popper--top {
      .md-coachmark__arrow {
        border-top: coachmark-settings.$arrow-size solid var(--coachmark-arrow-border-color);
      }
    }

    &.md-coachmark__popper--bottom {
      .md-coachmark__arrow {
        border-bottom: coachmark-settings.$arrow-size solid
          var(--coachmark-arrow-border-color);
      }
    }
  }

  &--active {
    .md-coachmark__popper {
      display: block;
    }
  }
}


@keyframes coach-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes coach-slide-right {
  from {
    left: 100%;
  }
  to {
    left: calc(100% + 1rem);
  }
}

@keyframes coach-slide-top {
  from {
    bottom: 100%;
  }
  to {
    bottom: calc(100% + 0.5rem);
  }
}

@keyframes coach-slide-left {
  from {
    right: 100%;
  }
  to {
    right: calc(100% + 1rem);
  }
}

@keyframes coach-slide-bottom {
  from {
    top: 100%;
  }
  to {
    top: calc(100% + 0.5rem);
  }
}

@media (forced-colors:active) {
  .md-coachmark {
    md-task-item {
      outline: 2px solid transparent;
    }

    &__popper {

      &--default,
      &--violet,
      &--green,
      &--mint,
      &--blue,
      &--purple,
      &--darkmint,
      &--yellow,
      &--red,
      &--darked,
      &--orange,
      &--cyan {
        background-color: Canvas;
        outline: 1px solid CanvasText;
      }
    }
  }

  .md-coachmark__popper--top .md-coachmark__arrow,
  .md-coachmark__popper--bottom .md-coachmark__arrow {
    border-left: 0.625rem solid Canvas;
    border-right: 0.625rem solid Canvas;
  }

  .md-coachmark__popper--right .md-coachmark__arrow,
  .md-coachmark__popper--left .md-coachmark__arrow {
    border-top: 0.625rem solid Canvas;
    border-bottom: 0.625rem solid Canvas;
  }

}