<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Testing</title>
    <link rel="stylesheet" href="../css/collab-ui-icons.css">
    <style>
      /* Override the @font-face from the link above because it points to unpkg.com */
      @font-face {
        font-family: "{{fontName}}";
        src: url("./collab-ui-icons.woff2") format("woff2"),
          url("./collab-ui-icons.woff") format("woff");
        font-weight: normal;
        font-style: normal;
      }
      body {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 10px;
        margin: 0;
        padding: 5px;
        align-items: center;
        justify-items: center;
      }
      .icon {
        outline: 1px dotted gray;
        margin: 20px;
      }
    </style>
  </head>
  <body>
    {{#each glyphsData}}
    <div class="icon {{../classPrefix}}{{name}}"></div>
    {{/each}}
  </body>
</html>
