@import '../../settings/core';
@import '../../colors/settings';
@import '../../typography/settings';

$progress-bar-height: rem-calc(4) !default;
$progress-bar-color: $cui-gray-10;

// We use these to control the border styles
$progress-bar-border-color: scale-color($cui-white-100, $lightness: 20%) !default;
$progress-bar-border-size: 1px !default;
$progress-bar-border-style: solid !default;
$progress-bar-border-radius: $global-radius !default;

// We use these to control the margin & padding
$progress-bar-pad: 0 !default;
$progress-bar-margin-bottom: rem-calc(10) !default;

// We use these to set the meter colors
$progress-meter-color: $cui-theme-50 !default;
$progress-meter-secondary-color: $cui-gray-70 !default;
$progress-meter-success-color: $cui-green-50 !default;
$progress-meter-alert-color: $cui-red-50 !default;
$progress-meter-warning-color: $cui-yellow-50;
$progress-meter-info-color: $cui-mint-50;

$progress-bg: $cui-gray-20;
$progress-bar-color: $cui-white-100;
$progress-border-radius: $border-radius-base;
$progress-bar-bg: $cui-theme-50;
$progress-bar-success-bg: $cui-green-50;
$progress-bar-warning-bg: $cui-yellow-50;
$progress-bar-danger-bg: $cui-red-50;
$progress-bar-info-bg: $cui-mint-50;
