$progress-bar-height: rem-calc(4) !default;
$progress-bar-color: $md-gray-10;

$progress-bar-border-color: scale-color(
  $md-white-100,
  $lightness: 20%
) !default;
$progress-bar-border-size: 1px !default;
$progress-bar-border-style: solid !default;
$progress-bar-border-radius: $global-radius !default;

$progress-bar-pad: 0 !default;
$progress-bar-margin-bottom: rem-calc(10) !default;

$progress-meter-color: $md-theme-50 !default;
$progress-meter-secondary-color: $md-gray-70 !default;
$progress-meter-success-color: $md-green-50 !default;
$progress-meter-alert-color: $md-red-50 !default;
$progress-meter-warning-color: $md-yellow-50;
$progress-meter-info-color: $md-mint-50;

$progress-bg: $md-gray-20;
$progress-bar-color: $md-white-100;
$progress-border-radius: $border-radius-base;
$progress-bar-bg: $md-theme-50;
$progress-bar-success-bg: $md-green-50;
$progress-bar-warning-bg: $md-yellow-50;
$progress-bar-danger-bg: $md-red-50;
$progress-bar-info-bg: $md-mint-50;
