$audio-player__border-radius: rem-calc(30);
$audio-player__inner-padding: 0 rem-calc(20);
$audio-player-inner__gap: rem-calc(10);
$audio-player-timeline__border-radius: rem-calc(4);
$audio-player__inset-box-shadow: inset 0 0 rem-calc(20) rgba(176, 176, 176, 0.25);
$audio-player-volume-container__padding: 0 rem-calc(15);
$audio-player-volume-container__radius: rem-calc(30);
$audio-player-volume__border-radius: rem-calc(10);
$audio-player-volume__margin-right: rem-calc(10);
$audio-player-speed-popup-ul__padding: rem-calc(6) 0;
$audio-player-speed-popup-ul__border-radius: rem-calc(8);
$audio-player-speed-popup-ul-li__padding: rem-calc(2) rem-calc(12) rem-calc(2) rem-calc(12);
$audio-player-speed-popup-ul__box-shadow: 0 rem-calc(4) rem-calc(8) rgba(0, 0, 0, 0.2), 0 0 rem-calc(1) rgba(0, 0, 0, 0.12);


