:host(:focus) {
  box-shadow: none !important;
  outline: none !important;
}

:host {
  .md-dropdown {
    display: flex;
    flex-direction: column;
    position: relative;

    &-select {
      display: none;
    }

    &-label {
      @include flex;
      background-color: var(--md-primary-bg-color);
      border: $dropdown-border;
      border-radius: $dropdown-label-radius;
      min-height: $dropdown-min-height;
      padding: $dropdown-label-padding;

      &--text {
        @include flex($jc: flex-start);
        @include text-dots;
        color: var(--md-secondary-text-color);
        line-height: $dropdown-min-height;
        outline: none;
        width: rem-calc(100%);
        flex: 1 0 auto;
      }

      &--icon {
        @include arrow-transition;
        display: inline-block;

        background-color: transparent;
        border: none;
        cursor: pointer;
        height: $dropdown-icon-height;
        margin: 0;
        margin-left: calc(#{$dropdown-main-indent} * 3);
        outline: none;
        padding: 0;
        padding-top: calc(#{$dropdown-main-indent} / 2);
        position: relative;
        vertical-align: bottom;

        md-icon {
          color: var(--md-primary-text-color, $md-gray-05);
        }
      }

      &:hover {
        background-color: var(--md-quaternary-bg-color);
      }

      &:active {
        background: var(--dropdown-bg-color-focus, $lm-dropdown-bg-color-focus-light);
      }
    }

    &-list {
      @include list-reset;
      display: none;
      background-color: var(--md-primary-bg-color);
      border-radius: $dropdown-list-radius;
      box-shadow: $dropdown-list-shadow;
      left: 0;
      overflow: auto;
      overflow-x: hidden;
      position: absolute;
      top: calc(100% + #{$dropdown-main-indent});
      width: 100%;
      z-index: 1;
    }

    &-option {
      @include flex;
      color: var(--md-primary-text-color, $md-gray-05);
      padding: $dropdown-option-padding;

      .select-label {
        @include text-dots;
        cursor: default;
        width: calc(100% - #{$dropdown-option-select-margin});
        display: block;
      }

      &:hover {
        background: var(--dropdown-list-item-hover-bg-color, $lm-dropdown-list-item-hover-bg-color-light);
      }

      &[focused] {
        background: var(--dropdown-list-item-focus-bg-color, $lm-dropdown-list-item-focus-bg-color-light);
      }
    }

    &__expanded {
      .md-dropdown-list {
        display: block;
      }

      .md-dropdown-label {
        &--icon {
          transform: rotate(180deg);
        }
      }
    }
  }
}

:host([focus-visible]) {
  .md-dropdown {
    .md-dropdown-label {
      @include focus-boxshadow(rem-calc(1), var(--dropdown-border-color-focus, $lm-dropdown-border-color-focus-light));
      box-shadow: none;
    }
  }
}

:host([disabled]) {
  .md-dropdown {
    .md-dropdown-label {
      background: var(--md-tertiary-bg-color);

      &:hover, &:active {
        background: var(--md-tertiary-bg-color);
        pointer-events: none;

        > md-icon {
          opacity: $dropdown-disabled-opacity;
        }
      }
    }
  }
}
