@mixin text-dots {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin arrow-transition {
  transition: all 0.15s linear;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
