Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server

      server {
        listen 443;
        server_name localhost;

        ssl on;
        ssl_certificate /etc/pki/tls/certs/cert.pem;
        ssl_certificate_key /etc/pki/tls/certs/key.pem;

        ssl_session_timeout 5m;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;

        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;

          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }

  /etc/pki/tls/certs/cert.pem:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIEpjCCA46gAwIBAgIUN2cE7bVYXTjwHx7zpaEg/fohpGEwDQYJKoZIhvcNAQEL
      BQAwgYsxCzAJBgNVBAYTAlVTMRkwFwYDVQQKExBDbG91ZEZsYXJlLCBJbmMuMTQw
      MgYDVQQLEytDbG91ZEZsYXJlIE9yaWdpbiBTU0wgQ2VydGlmaWNhdGUgQXV0aG9y
      aXR5MRYwFAYDVQQHEw1TYW4gRnJhbmNpc2NvMRMwEQYDVQQIEwpDYWxpZm9ybmlh
      MB4XDTE4MTExNDE3NTYwMFoXDTMzMTExMDE3NTYwMFowYjEZMBcGA1UEChMQQ2xv
      dWRGbGFyZSwgSW5jLjEdMBsGA1UECxMUQ2xvdWRGbGFyZSBPcmlnaW4gQ0ExJjAk
      BgNVBAMTHUNsb3VkRmxhcmUgT3JpZ2luIENlcnRpZmljYXRlMIIBIjANBgkqhkiG
      9w0BAQEFAAOCAQ8AMIIBCgKCAQEArXGOFip0aVq/GHfLBRuUdMxknD3AdYH4aKxV
      VCbgWTc4F1SRois89+QS40V+PGaWGvCef7dngBnTbmGSQbpXVCBScWPax5Y7QbmW
      88Y1tg6vPCGsMMZ1InIiYkDp9LxIO9cNcJLwhgeJc2NwVlvTrVnvMPNf97oTWt3+
      BWOZj8C1XmEa5xq/Bc5gvzRNxi4/OLnVLKRoirQ7qH2eO6XHayuWP05jn6k6rhaM
      W9+ZJ1y9nH0RKl+mWAJ4mHOID/N8Vg6rJGf51bEtjvoSpXA8uutCLRKnmRJr7ptv
      +lWzDdaj1LnRcD7pLhZPdN2RaJAWIOsvIqmIw12S82TCCoRWlQIDAQABo4IBKDCC
      ASQwDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMCBggrBgEFBQcD
      ATAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBTKvSHErqzv/BsY7c7MU4G10LXGdzAf
      BgNVHSMEGDAWgBQk6FNXXXw0QIep65TbuuEWePwppDBABggrBgEFBQcBAQQ0MDIw
      MAYIKwYBBQUHMAGGJGh0dHA6Ly9vY3NwLmNsb3VkZmxhcmUuY29tL29yaWdpbl9j
      YTApBgNVHREEIjAggg8qLmNvbGxhYi11aS5jb22CDWNvbGxhYi11aS5jb20wOAYD
      VR0fBDEwLzAtoCugKYYnaHR0cDovL2NybC5jbG91ZGZsYXJlLmNvbS9vcmlnaW5f
      Y2EuY3JsMA0GCSqGSIb3DQEBCwUAA4IBAQASBaIlqlYijr9psGD/JFypclI+9U3u
      x6uGDgNWLJf5PK4GXITnGEwicuwUcZ2t6ivM6EKy9OW68gOuSJTwqJWtLonaFeKq
      3INBghl4zVlGqqOxQLg2UvjkjzfCuDlFy89UVCew25vB+xV3l/LgJ4aju2ozI0FI
      izfFa9/1Zc4j4UPokOW6+oC+XvmRX1EhsqgrS3YdvOtIPnc6Wh521lCLrPQoi1Sf
      3bbW7Vgbxge477kjHSKJV/cpJ1VeWsuo7u61pUKL2X7lC3njW1jey/JBSzg9FjWX
      cQhqZuy+SXXll7z5m1Cts3RFgPPVhdOTPNMrQq3nwGhUknHgA8X7imqI
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/key.pem:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCtcY4WKnRpWr8Y
      d8sFG5R0zGScPcB1gfhorFVUJuBZNzgXVJGiKzz35BLjRX48ZpYa8J5/t2eAGdNu
      YZJBuldUIFJxY9rHljtBuZbzxjW2Dq88IawwxnUiciJiQOn0vEg71w1wkvCGB4lz
      Y3BWW9OtWe8w81/3uhNa3f4FY5mPwLVeYRrnGr8FzmC/NE3GLj84udUspGiKtDuo
      fZ47pcdrK5Y/TmOfqTquFoxb35knXL2cfREqX6ZYAniYc4gP83xWDqskZ/nVsS2O
      +hKlcDy660ItEqeZEmvum2/6VbMN1qPUudFwPukuFk903ZFokBYg6y8iqYjDXZLz
      ZMIKhFaVAgMBAAECggEAKAjvorcvAsiTFptELgwlMuahDJ2GaLlU9RheY9vLalyA
      IoZ/TT8Mxi2LnJFEZ73IRTSoaVOU3PFZJ//2qhxQnxcM4KaLcAmB6RRlPyTP7hOq
      qEcff2y3yfktbZ+NQVQamlF0BTmtskpYFF3uJsjwbfG18AclbkGxyQY35deNMSyJ
      YbupIncZUnAyMdN8iycs9C/M3nFLl9N8vEWZic79IYpMfdEL2P3RvW0u6M6oR5nm
      MLSmczZjvoIEenN7qFfzO5KB79udBCu8tXIFXpPmeTc4VtbtH1Yeb8QYhec3Rv6V
      YPQKs0BwCsXoykdWVIgtXgG7GmY9ViZEcj8rLIa3YQKBgQDe+2F/gusUfv9gI60f
      yy3MYiGeA9/YeDgncXKRCA00VDCw2sr4abhPv2Sgy0ajKlAVVt3xttPlq5R4lTp0
      DZ3sxweTjj9IT4Y0z6cJabG4l3Sk13K8ApdLA/9jRAdvO/c4MORZFZdpSf8WtT9I
      8AGNDBP6+g3BblXDHDes6l1LUQKBgQDHIFA4miyspC2H8GBCYxT1DaG7zf/eQxXu
      iC6z5JU3ZsOO0m0rxDMxKG/dXeMbVTBeNRuLlyvRYMwTAk0jaW0dtcS4fbRikNvZ
      3ltfqj7kTxh2qjEnDwJ7LR/J9/H/prAj50xMslzqbM+ewY/wbHcdscxUN3pVzH7U
      FoIAqaB+BQKBgQCbTGEfOcMYR0r9XluZJR0El+Pp9bDVRwV1EyJDuGPZ6jjvM7Lh
      SGBByn7/LhRIV5PnCNUTH858yv9g7C4F3eX7nrK8JfoVFq3V4jnn6GEKuxFWLWeP
      Yg6VBHe+Xwb+hbksvYCMOul1P0AWRK2K0v2BisPvrHAgJAQ/G0v7dk77wQKBgQCA
      e+InU5vF3b2fPEPwMhyArkYQdzBFCsZo/igcXT7G26ENU8urdNKPQodDr+Pta/9k
      miHm5SkZ1bp3/YEme00z4WhInpu5Cb1CDA6rYJ9qE3s2fkRu7mlsb0ZWvIzCp5x5
      3jHGP0Ri4sjop/6nZGVLnMC6Cn3+RJAFa2yA3vK2vQKBgE5HQ5HlLgOxECoPCJNw
      0epgHmB9WeVC1LudO/1CH4n+h4sjoyEsRfCVc2HUgzMkore9NQA/AdRx8877Ho14
      xjyy1dqf8gKMDEEbLIhLh0B/7w2B5kGo29I9DecZF1/J+KI0eAIDf7jYPgjrt2NY
      cJMFosRU8OhXWC4WKR9gGttl
      -----END PRIVATE KEY-----
