$advanced-table-main-border: 1px solid var(--table-advanced-border-color);
$advanced-table-filter-border: 1px solid
  var(--table-advanced-filter-border-color);
$advanced-table-dragarea-border: 2px dashed
  var(--table-advanced-filter-border-color);
$advanced-table-focus-border: 2px solid var(--md-focus-border-color);
$advanced-table-main-indent: rem-calc(4);
$advanced-table-row-height: rem-calc(40);
$advanced-table-sort-icon: rem-calc(16);
$advanced-table-overlay-position: rem-calc(6);
$advanced-table-header-sticky-indent: rem-calc(1);
$advanced-table-resize-width: rem-calc(4);
$advanced-table-collapse-btn: rem-calc(20);
$advanced-table-filter-btn: rem-calc(24);
$advanced-table-filter-height: rem-calc(14);
$advanced-table-row-focus: 0 0 0 rem-calc(2);
