@mixin link-color(
  $color: inherit,
  $color-hover: inherit,
  $color-active: inherit
) {
  color: $color;
  fill: $color;

  &:hover,
  &.hover,
  &.hover-state {
    color: $color-hover;
    fill: $color-hover;
  }

  &:active,
  &.active-state,
  &.active {
    color: $color-active;
    fill: $color-active;
  }
}
