$modal-overlay-background: rgba($md-black-100, 0.45) !default;

// We use these to control the style of the modal itself.
$modal__background: var(--modal-main-bg-color, $lm-modal-main-bg-color-light);

// Modal Padding
$modal__padding: var(--modal-main-padding, $lm-modal-main-padding-light);
$modal__padding--full-screen: rem-calc(24);
$modal__padding--body: 0 rem-calc(32);
$modal-main__padding: rem-calc(16);

// We use this to set the default radius used throughout the core.
$modal__radius: var(--modal-main-radius, $lm-modal-main-radius-light);

// Modal Dialog Settings
$modal-dialog__top: rem-calc(100);
$modal-dialog__padding: rem-calc(24);
$modal-dialog__border: 1px solid var(--modal-main-border-color, $lm-modal-main-border-color-light);
$modal-dialog__box-shadow: 0 8px 16px 0 $black-16;
$modal-header__padding--dialog: 0 0 rem-calc(12) 0;

// Modal Header Sizes
$modal-header__padding: $modal__padding;
$modal-header__font-size: rem-calc(16);
$modal-header__line-height: rem-calc(24);

$modal-header__padding--large: rem-calc(32) rem-calc(16) rem-calc(16) rem-calc(16);
$modal-header__font-size--large: var(--font-size-heading-small, rem-calc(26));
$modal-header__line-height--large: var(--font-lineheight-heading-small, rem-calc(32));

$modal-header__padding--full-screen: rem-calc(32) rem-calc(16) rem-calc(16) rem-calc(16);
$modal-header__font-size--full-screen: rem-calc(36);
$modal-header__line-height--full-screen: rem-calc(48);

$modal-header__font-size--mobile: rem-calc(14);

// Modal Size
$modal__width--full-screen: 100vw;
$modal__width--large: rem-calc(960);
$modal__width--medium: rem-calc(640);
$modal__width--small: rem-calc(440);

$modal__height--full-screen: 100vh;
$modal__height--large: rem-calc(720);
$modal__height--medium: rem-calc(480);
$modal__height--small: rem-calc(380);

$modal__min_height: rem-calc(240);

// Modal Offset
$modal__top--large: rem-calc(43);
$modal__top--medium: rem-calc(47);
$modal__top--small: rem-calc(47);

$modal__top--tablet-medium: rem-calc(57);
$modal__top--tablet-small: rem-calc(53);