.site-header-con {
  max-width: 1280px;
  margin: 0 auto;
}

.site-header-top-bar {
  background-color: transparent;
  margin-top: 31px;
  padding: 0;
  position: absolute;
  top: 0;

  & .md-top-bar__container {
    height: auto;
    padding: 0;

    & .site-header-top-bar-nav {
      background-color: transparent;
      justify-content: flex-end;

      & > .md-list > a.md-list-item {
        height: 2rem;

        &.current-active {
          background-color: $md-black;
          border-radius: 4px;
          color: $md-white;
        }

        &.current-active-dark {
          background-color: $md-white;
          border-radius: 4px;
          color: $md-black;
        }
      }
    }

    & .md-top-bar__brand {
      height: auto;
      margin: 0;
      padding: 0;

      @include site-column-breakpoint {
        padding: 1rem 2rem;
      }

      & .md-brand {
        padding: 0;

        &__logo {
          font-size: unset;
          height: 40px;
        }
      }
    }

    .md-top-bar__mobile {
      .md-top-bar__brand a.site-logo svg {
        fill: $md-black;
      }
    }
  }
}

.site-header-white{
  a.site-logo svg {
    fill: $md-white;
  }

  & .site-header-top-bar-nav {
    & .md-list > a.md-list-item,
    & .md-list > a.md-list-item.active {
      color: $md-white;
    }
  }
}
