.md-floating {
  background-color: var(--floating-modal-main-bg-color);
  border: $floating-main-border;
  border-radius: 8px;
  box-shadow: var(--floating-modal-main-box-shadow);
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  touch-action: none;
  user-select: none;
  z-index: 1040;

  &.fixed {
    position: fixed;
  }

  &.hide {
    display: block;
    height: 0;
    visibility: hidden;
    width: 0;
  }

  &.md-floating-minimize {
    background: var(--floating-modal-main-bg-color-alternate);
    border-radius: 8px;
    width: 100%;
  }

  &.md-floating-minimize:focus {
    box-shadow: 0 0 0 $focus-ring-size $md-blue-70;
    outline: none;
  }

  .md-floating__header-button {
    align-items: center;
    display: inline-flex;
  }

  .md-floating__header {
    align-items: center;
    border-bottom: none;
    color: var(--floating-modal-main-text-color);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-height: $floating-header-max-height;
    padding: $floating-header-padding;
    width: 100%;
    gap: 0.5rem;

    &-text {
      flex: 2 1 auto;
      font-family: $brand-font-bold;
      font-size: $font-size-large;
      line-height: $font-size-large;
      text-align: left;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: auto;
    }
  }

  .md-floating__body {
    height: calc(100% - 3rem);
    overflow: auto;
    padding: $floating-body-padding;
    padding-top: 0;
  }

  .md-floating-body-minimize {
    display: block;
    height: 0;
    visibility: hidden;
  }

  .md-floating__header-minimize {
    border-bottom: 0;
    color: var(--floating-modal-main-text-color-alternate);
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }
}

.md-floating-min-parent {
  bottom: 0;
  height: 3rem;
  position: absolute;
  right: 0;
  width: 223px;
}
