$floating-header-border: 1px solid var(--floating-modal-main-border-color);
$floating-main-border: 1px solid var(--floating-modal-outer-border-color);
$floating-header-padding: rem-calc(16);
$floating-body-padding: rem-calc(12) rem-calc(16);
$floating-header-max-height: rem-calc(48);
