$floating-header-border: 1px solid var(--floating-modal-main-border-color, $lm-floating-modal-main-border-color-light);
$floating-main-border: 1px solid var(--floating-modal-outer-border-color, $lm-floating-modal-outer-border-color-light);
$floating-header-padding: rem-calc(8) rem-calc(8) rem-calc(8) rem-calc(12);
$floating-body-padding: rem-calc(12) rem-calc(20);
$floating-header-max-height: rem-calc(48);
$floating-min-modal-margin: rem-calc(2);
