/** @ @component sidebar */
@import '../../colors/settings';
@import '../../typography/settings';
@import '../top-bar/settings';
@import '../../settings/z-index';
@import '../../tools/mixins/flex';
@import '../list/mixins';

@include exports('cui-sidebar') {
  .#{$prefix}-sidebar {
    $parent: &;
    min-width: rem-calc(200);
    max-width: rem-calc(240);
    height: 100%;
    background-color: $cui-white-100;
    z-index: $zindex-sidebar;
    @include flex($fd: column, $ai: flex-start);

    &--expanded {
      display: block;
    }

    &--collapsed {
      display: none;
    }

    &--topbar {
      padding-top: $top-bar__height--desktop;
    }

    &__footer,
    &__header {
      width: 100%;
      @include flex($fd: column);
    }

    &--fixed {
      top: 0;
      left: 0;
      position: fixed;
    }

    &--global {
      background-color: $black-08;
      #{$parent} {
        &-nav {
          &__group {
            &--primary {
              .#{$list-item__class} {
                height: rem-calc(40);
                font-size: rem-calc(14);

                &__left {
                  font-size: rem-calc(16);
                }

                @include list-item-color(
                  $active-bgrd-color: $black-08,
                  $active-color: $cui-black-100,
                  $background-color: transparent,
                  $color: $cui-black-100,
                  $focus-color: $black-04,
                  $header-color: $cui-black-100,
                  $hover-bgrd-color: $black-04,
                  $includeFocus: false,
                  $subheader-color: $cui-black-100
                );
              }

              #{$parent}-nav__group--secondary {
                .#{$list-item__class} {
                  @include list-item-color(
                    $active-bgrd-color: $black-08,
                    $active-color: $cui-black-100,
                    $background-color: transparent,
                    $color: $cui-gray-90,
                    $focus-color: $black-04,
                    $hover-bgrd-color: $black-04,
                    $includeFocus: false,
                    $section-left-color: $cui-gray-90,
                    $section-right-color: $cui-gray-90
                  );
                }
              }
            }
          }
        }
      }

      &#{$parent}--nested {
        #{$parent} {
          &-nav {
            &__group {
              &--primary {
                .#{$list-item__class} {
                  height: rem-calc(44);
                  padding: 0 rem-calc(20);
                  font-size: rem-calc(16);

                  &__left {
                    font-size: rem-calc(20);
                  }

                  @include list-item-color(
                    $active-bgrd-color: $black-08,
                    $active-color: $cui-black-100,
                    $background-color: transparent,
                    $color: $cui-gray-90,
                    $focus-color: $black-04,
                    $hover-bgrd-color: $black-04,
                    $includeFocus: false,
                    $section-left-color: $cui-gray-90,
                    $section-right-color: $cui-gray-90,
                  );
                }
              }
            }
          }
        }
      }

      &#{$parent}--indented {
        #{$parent} {
          &-nav {
            &__group {
              &--primary {
                #{$parent}-nav__group--secondary {
                  .#{$list-item__class} {
                    padding-left: rem-calc(56);
                  }

                  #{$parent}-nav__group--tertiary {
                    .#{$list-item__class} {
                      padding-left: rem-calc(68);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &--nested {
      width: rem-calc(240);
    }

    &--topbar {
      padding-top: $top-bar__height--desktop;
    }

    &__body {
      flex-basis: auto;
      flex-grow: 1;
      overflow-y: auto;
      width: 100%;
      height: 100%;
    }

    .#{$list-item__class} {
      &:focus {
        box-shadow: none;
      }
    }

    &-nav {
      padding-top: rem-calc(56);
      &--header {
        padding-top: rem-calc(24);
      }
      &__header {
        color: $cui-gray-70;
        height: rem-calc(36);
        font-size: rem-calc(12);
        text-transform: uppercase;
        line-height: rem-calc(16);
        padding: 0 rem-calc(24);
        border-bottom: 1px solid $black-08;
        margin-bottom: rem-calc(8);
        @include flex($jc: start);
      }

      &__group {
        &--expanded {
          display: block;
        }

        &--collapsed {
          display: none;
        }

        width: 100%;

        &--primary {
          .#{$list-item__class} {
            padding: 0 rem-calc(24);

            @include list-item-color(
              $active-bgrd-color: transparent,
              $active-color: $cui-theme-80,
              $active-section-right-color: $black-60,
              $background-color: transparent,
              $color: $cui-black-100,
              $header-color: $cui-black-100,
              $hover-color: $cui-theme-70,
              $hover-bgrd-color: transparent,
              $includeFocus: false,
              $section-right-color: $black-60,
              $subheader-color: $cui-black-100
            );
          }

          #{$parent}-nav__group--secondary {
            padding-bottom: rem-calc(8);

            .#{$list-item__class} {
              height: rem-calc(36);
              font-size: rem-calc(14);

              @include list-item-color(
                $active-bgrd-color: transparent,
                $active-color: $cui-theme-80,
                $active-section-right-color: $black-60,
                $background-color: transparent,
                $color: $cui-gray-70,
                $header-color: $cui-gray-70,
                $hover-color: $cui-theme-70,
                $hover-bgrd-color: transparent,
                $includeFocus: false,
                $section-right-color: $black-60,
                $subheader-color: $cui-gray-70
              );
            }

            #{$parent}-nav__group--tertiary {
              padding-top: rem-calc(4);

              .#{$list-item__class} {
                padding-left: rem-calc(36);
                height: rem-calc(32);
                font-size: rem-calc(12);

                @include list-item-color(
                  $active-bgrd-color: transparent,
                  $active-color: $cui-theme-80,
                  $active-section-right-color: $black-60,
                  $background-color: transparent,
                  $color: $cui-gray-90,
                  $header-color: $cui-gray-90,
                  $hover-color: $cui-theme-70,
                  $hover-bgrd-color: transparent,
                  $includeFocus: false,
                  $section-right-color: $black-60,
                  $subheader-color: $cui-gray-90
                );

                &:before {
                  position: absolute;
                  content: '';
                  height: rem-calc(32);
                  width: 2px;
                  box-shadow: -12px 0 0 0 $black-12;
                }

                &:only-child {
                  &:before {
                    height: 100%;
                  }
                }

                &:first-of-type:not(:only-child) {
                  &:before {
                    height: calc(100% - 16%);
                    bottom: 0;
                  }
                }

                &:last-of-type:not(:only-child) {
                  &:before {
                    top: 0;
                    height: calc(100% - 16%);
                  }
                }

                &:focus {
                  &:after {
                    position: absolute;
                    content: '';
                    height: calc(100% - 33%);
                    width: 2px;
                    box-shadow: -12px 0 0 0 $cui-theme-70;
                  }
                }

                &:hover {
                  &:after {
                    position: absolute;
                    content: '';
                    height: calc(100% - 33%);
                    width: 2px;
                    box-shadow: -12px 0 0 0 $cui-theme-70;
                  }
                }

                &:active,
                &.active {
                  &:after {
                    position: absolute;
                    content: '';
                    height: calc(100% - 33%);
                    width: 2px;
                    box-shadow: -12px 0 0 0 $cui-theme-80;
                  }
                }
              }
            }
          }
        }
      }
    }

    &--dark#{$parent} {
      background-color: $cui-gray-90;
      #{$parent} {

        &-nav {
          &__group {
            &--primary {
              .#{$list-item__class} {
                @include list-item-color(
                  $active-bgrd-color: rgba(0, 115, 149, 0.56),
                  $active-color: $cui-white-100,
                  $active-section-left-color: $cui-white-100,
                  $active-section-right-color: $cui-white-100,
                  $background-color: transparent,
                  $color: $cui-white-100,
                  $focus-color: $cui-white-100,
                  $header-color: $cui-white-100,
                  $hover-color: $cui-white-100,
                  $hover-bgrd-color: rgba(0, 115, 149, 0.4),
                  $includeFocus: false,
                  $section-left-color: $white,
                  $section-right-color: $white,
                  $subheader-color: $white,
                );
              }

            & #{$parent}-nav__group--secondary {
              .#{$list-item__class} {
                @include list-item-color(
                  $active-bgrd-color: rgba(0, 115, 149, 0.56),
                  $active-color: $cui-white-100,
                  $active-section-left-color: $cui-white-100,
                  $active-section-right-color: $cui-white-100,
                  $background-color: transparent,
                  $color: $white-80,
                  $focus-color: $white-80,
                  $header-color: $white-80,
                  $hover-color: $white-80,
                  $hover-bgrd-color: rgba(0, 115, 149, 0.4),
                  $includeFocus: false,
                  $section-left-color: $white,
                  $section-right-color: $white,
                  $subheader-color: $white-80,
                );
              }

              & #{$parent}-nav__group--tertiary {
                .#{$list-item__class} {
                  @include list-item-color(
                    $active-bgrd-color: transparent,
                    $active-color: $cui-theme-70,
                    $background-color: transparent,
                    $color: $white-80,
                    $focus-color: $cui-theme-70,
                    $hover-color: $cui-theme-70,
                    $hover-bgrd-color: transparent,
                    $includeFocus: false
                  );

                    &:before {
                      box-shadow: -12px 0 0 0 $white-12;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
