<div class="cui-tab cui-tab--pills" type="pills">
  <ul class="cui-tab__list" role="tab">
    <li class="cui-tab__item active">
      <a role="tab" href="" aria-current="true">First Tab</a>
    </li>
    <li class="cui-tab__item">
      <a role="tab" href="" aria-current="false">Second Tab</a>
    </li>
    <li class="cui-tab__item">
      <a role="tab" href="" aria-current="false">Third Tab</a>
    </li>
  </ul>
  <div class="cui-tab__content">
    <div class="cui-tab__pane active">
      <div class="cui-tab__content">Testing 1</div>
    </div>
    <div class="cui-tab__pane">
      <div class="cui-tab__content">Testing 2</div>
    </div>
    <div class="cui-tab__pane">
      <div class="cui-tab__content">Testing 3</div>
    </div>
  </div>
</div>