<div class="md-button__container--small">
  <button
    class="md-button md-button--circle md-button--56 md-activity md-activity__chat"
    alt="Chat" type="button" aria-label="Chat">
    <span class="md-button__children">
      <i class="icon icon-chat_24"></i>
    </span>
  </button>
  <div class="md-button__label">Chat</div>
</div>
<div class="md-button__container--small">
  <button
    class="md-button md-button--circle md-button--56 md-activity md-activity__camera"
    alt="camera" type="button" aria-label="camera">
    <span class="md-button__children">
      <i class="icon icon-camera_24"></i>
    </span>
  </button>
  <div class="md-button__label">Camera</div>
</div>
<div class="md-button__container--small">
  <button
    class="md-button md-button--circle md-button--56 md-activity md-activity__contact-card"
    alt="Contact Card" type="button" aria-label="Contact Card">
    <span class="md-button__children">
      <i class="icon icon-contact-card_24"></i>
    </span>
  </button>
  <div class="md-button__label">Contact Card</div>
</div>
<div class="md-button__container--small">
  <button
    class="md-button md-button--circle md-button--56 md-activity md-activity__meetings"
    alt="meetings" type="button" aria-label="meetings">
    <span class="md-button__children">
      <i class="icon icon-meetings_24"></i>
    </span>
  </button>
  <div class="md-button__label">Meetings</div>
</div>
<div class="md-button__container--small">
  <button
    class="md-button md-button--circle md-button--56 md-activity md-activity__whiteboard"
    alt="whiteboard" type="button" aria-label="whiteboard">
    <span class="md-button__children">
      <i class="icon icon-whiteboard_24"></i>
    </span>
  </button>
  <div class="md-button__label">Whiteboard</div>
</div>
<div class="md-button__container--small">
  <button
    class="md-button md-button--circle md-button--56 md-activity md-activity__files"
    alt="files" type="button" aria-label="files">
    <span class="md-button__children">
      <i class="icon icon-files_24"></i>
    </span>
  </button>
  <div class="md-button__label">Files</div>
</div>
<div class="md-button__container--small">
  <button
    class="md-button md-button--circle md-button--56 md-activity md-activity__share-screen"
    alt="share-screen" type="button" aria-label="share-screen">
    <span class="md-button__children">
      <i class="icon icon-share-screen_24"></i>
    </span>
  </button>
  <div class="md-button__label">Share</div>
</div>
<div class="md-button__container--small">
  <button
    class="md-button md-button--circle md-button--56 md-activity md-activity__tasks"
    alt="tasks" type="button" aria-label="tasks">
    <span class="md-button__children">
      <i class="icon icon-tasks_24"></i>
    </span>
  </button>
  <div class="md-button__label">Tasks</div>
</div>
