.included-timepicker-wrapper {
  display: flex;
  justify-content: center;
  padding: $time-picker-vertical-padding $time-picker-horizontal-padding;
  padding-top: 0;
  white-space: nowrap;
  flex-direction: column;
}

.time-picker-separator {
  height: 2px;
  flex-grow: 1;
  margin-bottom: 12px;
  background-color: var(--md-secondary-seperator-color);
}
