/node_modules
/coverage
/build
/dist
/.storybook/custom-elements.json
/publish
/.out
/storybook-static
/stats/css
/stats/json

# auto generated token style variables
/src/wc_scss/colors/vars
src/components/*/scss/vars
src/wc_scss/themes/vars
src/tokens/vars
src/tokens/vars/*

yarn.lock
yarn-error.log
package-lock.json

.env
.npmrc
publish-error.log
.idea
.DS_Store
/src/.DS_Store
package-lock.json

*.ts.snap