<div class="cui-modal__backdrop fade in">
  <div
    role="dialog"
    id="react-aria-modal-dialog"
    class="cui-modal cui-modal--dialog in"
    aria-labelledby="modalDialog"
    tabindex="-1"
  >
    <div class="cui-modal__content">
      <div class="cui-modal__flex-container">
        <div class="cui-modal__header">
          <span class="cui-modal__title">Dialog Modal</span>
          <button class="cui-close cui-modal__close"></button>
        </div>
        <div class="cui-modal__body"><span>I'm just a dialog box</span></div>
        <div class="cui-modal__footer">
          <button
            class="cui-button cui-button--36 cui-button--default"
            alt="Close Modal"
            type="button"
            aria-label="Close Modal"
            tabindex="0"
          >
            <span class="cui-button__children" style="opacity: 1;">Cancel</span>
          </button>
          <button
            class="cui-button cui-button--36 cui-button--blue"
            alt="Submit Form"
            type="button"
            aria-label="Submit Form"
            tabindex="0"
          >
            <span class="cui-button__children" style="opacity: 1;">OK</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>