<div class="md-modal__backdrop fade in">
  <div
    role="dialog"
    id="react-aria-modal-dialog"
    class="md-modal md-modal--dialog in"
    aria-labelledby="modalDialog"
    tabindex="-1"
  >
    <div class="md-modal__content">
      <div class="md-modal__flex-container">
        <div class="md-modal__header">
          <span class="md-modal__title">Dialog Modal</span>
          <button class="md-close md-modal__close"></button>
        </div>
        <div class="md-modal__body"><span>I'm just a dialog box</span></div>
        <div class="md-modal__footer">
          <button
            class="md-button md-button--36 md-button--default"
            alt="Close Modal"
            type="button"
            aria-label="Close Modal"
            tabindex="0"
          >
            <span class="md-button__children" style="opacity: 1;">Cancel</span>
          </button>
          <button
            class="md-button md-button--36 md-button--blue"
            alt="Submit Form"
            type="button"
            aria-label="Submit Form"
            tabindex="0"
          >
            <span class="md-button__children" style="opacity: 1;">OK</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
