@use "@/wc_scss/tools/functions/core";
@use "./settings" as *;

/** @component popover */

:host {
  --md-popover-arrow-border-radius: 0.1875rem;
  --md-popover-arrow-border: 0.0625rem solid var(--popover-border-color);
  
  --md-popover-elevation-3: var(--md-elevation-3);
  --md-popover-max-width: max-content;
  --md-popover-max-height: auto;

  display: none;
  position: absolute;
  top: 0;
  left: 0;

  box-sizing: content-box;
  background-color: var(--popover-bg-color);
  border-radius: 0.5rem;
  border: 0.0625rem solid var(--popover-border-color);
  filter: var(--md-popover-elevation-3);
  width: var(--md-popover-max-width);
}

:host([visible]) {
  display: block;
}

:host([color="contrast"]) {
  background-color: var(--popover-inverted-bg-color);
  border-color: var(--popover-inverted-border-color);
  color: var(--popover-inverted-text-color);
}

:host([color="contrast"]) {
  .popover-arrow {
    background-color: var(--popover-inverted-bg-color);
    border-color: var(--popover-inverted-border-color);
  }

  .popover-close {
    color: var(--popover-inverted-text-color);
  }
}

:host::part(popover-content) {
  position: relative;
  padding: 0.75rem;
  min-width: max-content;
  z-index: 9998;
  max-height: var(--md-popover-max-height);
}

.popover-hover-bridge {
  position: absolute;
  transform: translateX(-50%);
  background: transparent;
  pointer-events: auto;
}

.popover-arrow {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--popover-bg-color);
  transform: rotate(45deg);
  pointer-events: none;
  border: var(--md-popover-arrow-border);
}

.popover-close {
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
  cursor: pointer;
  z-index: 9999;

  padding-left: $cancel-padding-left;
  width: $cancel-button-size;
  height: $cancel-button-size;  
}

.popover-arrow[data-side="top"] {
  border-top: none;
  border-left: none;
  border-bottom-right-radius: var(--md-popover-arrow-border-radius);
  border-top-left-radius: 100%;
}

.popover-arrow[data-side="bottom"] {
  border-bottom: none;
  border-right: none;
  border-top-left-radius: var(--md-popover-arrow-border-radius);
  border-bottom-right-radius: 100%;
}

.popover-arrow[data-side="right"] {
  border-top: none;
  border-right: none;
  border-bottom-left-radius: var(--md-popover-arrow-border-radius);
  border-top-right-radius: 100%;
}

.popover-arrow[data-side="left"] {
  border-bottom: none;
  border-left: none;
  border-top-right-radius: var(--md-popover-arrow-border-radius);
  border-bottom-left-radius: 100%;
}