@use "@/wc_scss/tools/functions/core" as core;

$main-padding: core.rem-calc(12);
$container-border-radius: core.rem-calc(8);
$main-padding-with-cancel: core.rem-calc(40);

$content-font-size: core.rem-calc(16);
$content-line-height: core.rem-calc(24);

$cancel-button-size: core.rem-calc(20);
$cancel-padding-left: core.rem-calc(8);

$arrow-border-radius: 0.1875rem;