:host(:focus) {
  box-shadow: none;
  outline: none !important;
}

:host(md-button-group) {
  display: flex;

  .md-button-group {
    @include flex($display: inline-flex, $ac: flex-start, $jc: flex-start);
    background: var(--button-group-bg-color);
    border-radius: $button-group-border-radius;
    font-size: $font-size-small;
    padding: $button-group-indent;
    transition: background 0.2s ease;

    border: 1px solid var(--button-group-outline-border);

    &:hover {
      background: var(--button-group-bg-color-hover);
    }

    &:active {
      background: var(--button-group-bg-color-pressed);
    }

    ::slotted(button) {
      @include flex;
      background: none;
      border: 0;
      border-radius: $button-group-border-radius;
      color: var(--button-group-color);
      cursor: pointer;
      height: $button-group-btn-height;
      margin: 0 $button-group-indent;
      outline: none;
      padding: $button-group-btn-padding;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    ::slotted(:hover) {
      background: var(--button-group-bg-color-hover, none);
      color: var(--button-group-color-active);
    }

    ::slotted([selected]) {
      background: var(--button-group-bg-color-active);
      box-shadow: $button-group-btn-shadow;
      color: var(--button-group-color-active);
    }
  }
}

:host([newMomentum]) {
  .md-button-group {
    background: transparent;
    border-radius: none;
    padding: 0;
    transition: none;
    height: $button-group-btn-height-new;
    font-size: $font-size-base;

    &:hover {
      background: transparent;
    }

    &:active {
      background: transparent;
    }

    ::slotted(button) {
      border-radius: 0;
      height: $button-group-btn-height-new;
      color: var(--button-group-color-active);
    }

    ::slotted(button:first-of-type) {
      border-start-start-radius: $button-group-border-radius-new;
      border-end-start-radius: $button-group-border-radius-new;
    }

    ::slotted(button:last-of-type) {
      border-start-end-radius: $button-group-border-radius-new;
      border-end-end-radius: $button-group-border-radius-new;
    }

    ::slotted(button:not(:last-of-type))::after {
      content: "";
      position: absolute;
      height: 100%;
      inset-inline-start: 100%;
    }

    ::slotted(:active) {
      background: var(--button-group-bg-color-active);
      font-weight: var(--brand-font-weight-bold) !important;
    }

    ::slotted([selected]) {
      box-shadow: none;
      font-weight: var(--brand-font-weight-bold) !important;
    }
  }
}

:host([focus-visible]:not([disabled])) {
  .md-button-group {
    @include focus-boxshadow(rem-calc(2), var(--md-default-focus-outline-color));
  }
}

:host([disabled]) {
  .md-button-group {
    opacity: 0.5;
    pointer-events: none;
  }
}

@media (forced-colors: active) {
  :host(md-button-group) {
    .md-button-group {
      outline: 1px solid CanvasText;
      background: Canvas;

      ::slotted([selected]) {
        forced-color-adjust: none;
        outline: 1px solid Highlight;
        background: Highlight;
        color: HighlightText;
      }
    }
  }
  :host([focus-visible]:not([disabled])) {
    .md-button-group {
      outline: 2px solid Highlight;
    }
  }
}
