:host(:focus) {
  box-shadow: none;
  outline: none !important;
}

:host(md-button-group) {
  display: flex;
  .md-button-group {
    @include flex($display: inline-flex, $ac:flex-start, $jc:flex-start);
    background: var(--button-group-bg-color, $lm-button-group-bg-color-light);
    padding: $button-group-indent;
    border-radius: $button-group-border-radius;
    font-size: $font-size-small;
    transition: background 0.2s ease;

    &:hover {
      background: var(--button-group-bg-color-hover, $lm-button-group-bg-color-hover-light);
    }

    &:active {
      background: var(--button-group-bg-color-pressed, $lm-button-group-bg-color-pressed-light);
    }

    ::slotted(button) {
      border: 0;
      outline: none;
      padding: $button-group-btn-padding;
      height: $button-group-btn-height;
      background: none;
      color: var(--button-group-color, $lm-button-group-color-light);
      border-radius: $button-group-border-radius;
      @include flex;
      cursor: pointer;
      margin: 0 $button-group-indent;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    ::slotted(button[selected]) {
      background: var(--button-group-bg-color-active, $lm-button-group-bg-color-active-light);
      box-shadow: $button-group-btn-shadow;
      color: var(--button-group-color-active, $lm-button-group-color-active-light);
    }
  }
}

:host([focus-visible]:not([disabled])) {
 .md-button-group {
   @include focus-boxshadow(rem-calc(2), var(--md-default-focus-outline-color, $md-blue-70));
 }
}

:host(md-button-group[disabled]) {
  pointer-events: none;
  opacity: 0.4;
}

