<span>
  <button class="cui-button cui-button--36" alt="Delay" type="button" aria-label="Delay">
    <span class="cui-button__children" style="opacity: 1;">Delay</span>
  </button>
  <div class="cui-event-overlay cui-event-overlay--arrow cui-event-overlay--bottom cui-tooltip">
    <div class="cui-event-overlay__arrow" style="left: 347.539px; top: 363px;"></div>
    <div class="cui-event-overlay__children" style="overflow: auto; top: 363px; left: 309px;">
      <span class="cui-tooltip__text">Delayed!</span>
    </div>
  </div>
</span>