<span>
  <button class="cui-button cui-button--36" alt="Direction" type="button" aria-label="Direction">
    <span class="cui-button__children" style="opacity: 1;">Direction</span>
  </button>
  <div class="cui-event-overlay cui-event-overlay--arrow cui-event-overlay--right cui-tooltip">
    <div class="cui-event-overlay__arrow" style="left: 387.266px; top: 345px;"></div>
    <div class="cui-event-overlay__children" style="overflow: auto; top: 315.5px; left: 387.266px;">
      <span class="cui-tooltip__text">Hello!</span>
    </div>
  </div>
</span>