$md-card-ai-margin-five: rem-calc(5);
$md-card-ai-margin-eight: rem-calc(8);
$md-card-ai-margin-twelve: rem-calc(12);
$md-card-ai-margin-sixteen: rem-calc(16);
$md-card-ai-margin-left: rem-calc(24);
$md-card-ai-min-width: rem-calc(350);
$md-card-ai-width: rem-calc(424);
$md-card-ai-font-weight-semi-bold: 400;
$md-card-ai-font-weight-bold: 600;
$md-card-ai-color: var(--md-secondary-text-color);
$md-card-ai-title-color: var(--md-primary-text-color);
$md-card-ai-card-body-bg: var(--md-secondary-bg-color);
$md-card-ai-card-body-response-bg-color: var(--md-background-tertiary);
$md-card-ai-blue-bg-color: var(--card-ai-blue-bg-color);
$md-card-ai-card-body-border-radius: rem-calc(8);
$md-card-ai-border: var(--md-quaternary-bg-color);
$md-card-ai-indent: rem-calc(8);
