@mixin button-base() {
  position: relative;
  display: inline-block;
  min-width: rem-calc(72);
  font-family: $brand-font-regular;
  font-size: $button__font-size;
  font-weight: normal;
  line-height: rem-calc(24);
  text-align: $button__font-align;
  text-decoration: none;
  cursor: $cursor-pointer-value;
  border: none;
  border-radius: $button__radius--36;

  > * {
    font-size: inherit;
  }

  .#{$button__class}__children {
    @include flex;
  }

  + .#{$button__class} {
    margin-left: rem-calc(5);
  }

  &:active,
  &.active-state {
    &:focus,
    &.focus-state {
      box-shadow: none;
    }
  }

  &.disabled,
  &.md-button--disabled,
  &[disabled] {
    pointer-events: none;
    cursor: $button__cursor--disabled;
    box-shadow: none;

    &:hover,
    &:focus {
      box-shadow: none;
    }
  }
}

@mixin button-size(
  $font-size: $button__font-size,
  $full-width: false,
  $height: false,
  $line-height: $button__line-height,
  $padding: false,
  $radius: false
) {
  font-size: $button__font-size;
  line-height: $line-height;

  @if $radius {
    @include radius($radius);
  }

  @if $height {
    height: $height;

    @if $height == auto or $height == initial or $height == inherit {
      $height: 100%;
    }

    .#{$prefix}-prepend {
      margin-right: calc(#{$height} / 4);
    }
    .#{$prefix}-append {
      margin-left: calc(#{$height} / 4);
    }
  }

  @if $padding {
    padding: $padding;
  }

  @if $full-width {
    width: 100%;
  }
}

@mixin button-circle-size(
  $font-size: false,
  $line-height: $font-size,
  $size: false
) {
  @if $size {
    width: $size;
    height: $size;
    min-width: 0;
    min-height: 0;
  }

  @if $font-size {
    font-size: $font-size;
    line-height: $line-height;
  }
}

@mixin button-color(
  $bg: $button__background-color,
  $bg-active: $button__background-color--active,
  $bg-disabled: $button__color--disabled,
  $bg-hover: $button__background-color--hover,
  $border: false,
  $border-hover: false,
  $border-active: false,
  $border-focus: $button__border-color--focus,
  $box-shadow: false,
  $color: $button__font-color,
  $color-active: $color,
  $color-disabled: $button__font-color--disabled,
  $color-hover: $color,
  $disabled: true,
  $focus: false,
  $opacity: false,
  $outline: false
) {
  color: $color;
  background-color: $bg;
  border-color: transparent;

  @if $border {
    border: $border;
  }

  @if $box-shadow {
    box-shadow: $box-shadow;
  }

  @if $disabled {
    @include button-color-disabled(
      $color: $color-disabled,
      $bg: $bg-disabled,
      $opacity: $opacity
    );
  }

  @if $focus {
    @include button-color-focus($border-focus);
  }

  @if $outline {
    outline: $outline;
  }

  &:hover {
    color: $color-hover;
    background-color: $bg-hover;

    @if $border-hover {
      border: $border-hover;
    }
  }

  &:active,
  &.active {
    color: $color-active;
    background-color: $bg-active;

    @if $border-active {
      border: $border-active;
    }
  }
}

@mixin button-color-fill(
  $fill: $button__font-color,
  $fill-hover: $fill,
  $fill-active: $color,
  $fill-disabled: $button__font-color--disabled,
  $bg-disabled: transparent,
  $focus: false
) {
  fill: $fill;
  color: $fill;

  @include button-color-disabled($color: $fill-disabled, $bg: $bg-disabled);

  @if $focus {
    @include button-color-focus;
  }

  &:hover,
  &.hover-state {
    fill: $fill-hover;
    color: $fill-hover;
  }

  &:active,
  &.active-state {
    fill: $fill-active;
    color: $fill-active;
  }
}

@mixin button-color-focus($color: $button__border-color--focus) {
  &:focus,
  &.focus-state {
    @include focus-styles;
  }
}

@mixin button-color-disabled(
  $color: $button__font-color--disabled,
  $bg: $button__color--disabled,
  $opacity: false
) {
  &.disabled,
  &.md-button--disabled,
  &[disabled] {
    @if $opacity {
      opacity: $opacity;
    } @else {
      color: $color;
      fill: $color;
      background-color: $bg;
    }

    &:hover,
    &:focus {
      color: $color;
      fill: $color;
      background-color: $bg;
    }
  }
}

@mixin button(
  $bg: $button__background-color,
  $bg-disabled: $button__color--disabled,
  $bg-hover: $button__background-color--hover,
  $bg-active: $button__background-color--active,
  $border-focus: $button__border-color--focus,
  $color: $button__font-color,
  $color-disabled: $button__font-color--disabled,
  $radius: false,
  $full-width: false,
  $focus: false,
  $disabled: true
) {
  @include button-base;
  @include button-size($padding, $full-width, $radius);
  @include button-color(
    $color,
    $color-disabled,
    $bg,
    $bg-active,
    $bg-disabled,
    $bg-hover,
    $border-focus,
    $disabled,
    $focus
  );
  @include single-transition(background-color, $button__transition-speed, ease);
}
