$tooltip__class: '#{$prefix}-tooltip';
$tooltip__max-width: 200px;
$tooltip__min-width: 40px;
$tooltip__color: $md-white-100;
$tooltip__background-color: $black-80;
$tooltip__padding: 8px 12px;
$tooltip__radius: 5px;
$tooltip__rounded: $global-rounded;
$tooltip-arrow__height: $event-overlay-arrow__height - 2;
$tooltip__font-size: 16px;
$tooltip__line-height: 24px;
$tooltip__font-weight: $font-weight-normal;

//legacy styles
$has-tip-border-bottom: dotted 1px $md-gray-40 !default;
$has-tip-font-weight: $font-weight-bold !default;
$has-tip-font-color: $md-gray-90 !default;
$has-tip-border-bottom-hover: dotted 1px
  scale-color($md-theme-50, $lightness: -55%) !default;
$has-tip-font-color-hover: $md-theme-50 !default;
$has-tip-cursor-type: help !default;
$tooltip-close-font-size: rem-calc(10) !default;
$tooltip-close-font-weight: $font-weight-normal !default;
$tooltip-close-font-color: $md-gray-70 !default;
