<div class="show-grid">
  <div class="row">
    <div class="columns medium-1">.medium-1</div>
    <div class="columns medium-1">.medium-1</div>
    <div class="columns medium-1">.medium-1</div>
    <div class="columns medium-1">.medium-1</div>
    <div class="columns medium-1">.medium-1</div>
    <div class="columns medium-1">.medium-1</div>
    <div class="columns medium-1">.medium-1</div>
    <div class="columns medium-1">.medium-1</div>
    <div class="columns medium-1">.medium-1</div>
    <div class="columns medium-1">.medium-1</div>
    <div class="columns medium-1">.medium-1</div>
    <div class="columns medium-1">.medium-1</div>
  </div>
  <div class="row">
    <div class="columns medium-8">.medium-8</div>
    <div class="columns medium-4">.medium-4</div>
  </div>
  <div class="row">
    <div class="columns medium-4">.medium-4</div>
    <div class="columns medium-4">.medium-4</div>
    <div class="columns medium-4">.medium-4</div>
  </div>
  <div class="row">
    <div class="columns medium-6">.medium-6</div>
    <div class="columns medium-6">.medium-6</div>
  </div>
</div>