<div class="cui-event-overlay cui-event-overlay--arrow cui-event-overlay--bottom">
  <div class="cui-event-overlay__arrow" style="left: 345px; top: 108px;"></div>
  <div class="cui-event-overlay__children" style="overflow: auto; top: 108px; left: 309px;">
    <div class="cui-list cui-list--vertical cui-list" role="list">
      <div aria-current="true" class="cui-list-item" id="cui-list-141__list-item" role="listItem" tabindex="0">
        <div class="cui-list-item__left">
          <i class="cui-icon icon icon-edit_20"></i>
        </div>
        <div class="cui-list-item__center">Edit space settings</div>
      </div>
      <div aria-current="false" class="cui-list-item" id="cui-list-141__list-item" role="listItem" tabindex="-1">
        <div class="cui-list-item__left">
          <i class="cui-icon" name="favorite_20"></i>
        </div>
        <div class="cui-list-item__center">Add to favorites</div>
      </div>
      <div aria-current="false" class="cui-list-item" id="cui-list-141__list-item" role="listItem" tabindex="-1">
        <div class="cui-list-item__left">
          <i class="cui-icon" name="alert_20"></i>
        </div>
        <div class="cui-list-item__center">Notifications</div>
      </div>
      <div aria-current="false" class="cui-list-item" id="cui-list-141__list-item" role="listItem" tabindex="-1">
        <div class="cui-list-item__left">
          <i class="cui-icon" name="accessories_20"></i>
        </div>
        <div class="cui-list-item__center">Add Integrations &amp; Bots</div>
      </div>
      <div aria-current="false" class="cui-list-item" id="cui-list-141__list-item" role="listItem" tabindex="-1">
        <div class="cui-list-item__left">
          <i class="cui-icon" name="stored-info_20"></i>
        </div>
        <div class="cui-list-item__center">View space policy</div>
      </div>
      <div aria-current="false" class="cui-list-item" id="cui-list-141__list-item" role="listItem" tabindex="-1">
        <div class="cui-list-item__left">
          <i class="cui-icon" name="archive_20"></i>
        </div>
        <div class="cui-list-item__center">Archive space</div>
      </div>
      <div aria-current="false" class="cui-list-item" id="cui-list-141__list-item" role="listItem" tabindex="-1">
        <div class="cui-list-item__left">
          <i class="cui-icon" name="cancel_20"></i>
        </div>
        <div class="cui-list-item__center">Remove space from team</div>
      </div>
      <div aria-current="false" class="cui-list-item" id="cui-list-141__list-item" role="listItem" tabindex="-1">
        <div class="cui-list-item__left">
          <i class="cui-icon" name="exit-room_20"></i>
        </div>
        <div class="cui-list-item__center">Leave space</div>
      </div>
    </div>
  </div>
</div>