.site-home-subcon {
  position: relative;
  grid-column-gap: 30px;
  grid-row-gap: 22px;
  padding-bottom: 0;
  margin-bottom: 110px;

  .site-home-subcon-item {
    display: flex;
    flex-direction: column;
    height: 440px;
    padding: 40px 35px;

    &__image {
      align-items: center;
      display: flex;
      justify-content: center;
      height: 100%;
    }

    p {
      @include p($color: $md-black, $font-size: 1.5rem);
    }

    .arrow {
      display: block;
      margin: 12px 0 0 0;
      width: 28px;
      height: 15px;
      background: url(../assets/2020/arrow-right.svg) no-repeat;
      background-size: contain;
    }

  }

  .site-home-color {
    background: $site-blue;

    img {
      width: 60%;
    }
  }

  .site-home-typography {
    background: $site-gold;
    
    img {
      width: 60%;
    }
  }

  .site-home-elevation {
    background: $site-green;
    
    img {
      width: 70%;
    }
  }

  .site-home-space {
    background: $site-pink;
    
    img {
      width: 50%;
    }
  }

}