$badge__class: "#{$prefix}-badge";

// Set the padding for badges
$badge__padding: rem-calc(4 16) !default;
$badge__outline-padding: rem-calc(4 6 4) !default;

// Set the border radius for badges.
$badge__radius: $global-radius !default;
$badge--round__radius: rem-calc(100);

// Set the badge text
$badge__font-size: var(--font-size-body-midsize, rem-calc(12)) !default;
$badge__font-color-alt: $md-white-100 !default;
$badge__font-color: $md-white-100 !default;
$badge__font-weight: $font-weight-normal !default;
$badge__font-family: $brand-font-regular !default;
$badge__font-line-height: rem-calc(16) !default;
$badge__font-size__round: rem-calc(12) !default;

// Blue badge colors
$badge--blue__background-color: $md-theme-50 !default;