<div class="md-input-container md-select">
  <button
    class="md-button md-button--36 active"
    alt=""
    type="button"
    aria-labelledby="md-select-69__label"
    tabindex="0"
    name="md-select-69"
    aria-haspopup="listbox"
  >
    <span class="md-button__children" style="opacity: 1;">
      <div class="md-select__label" id="md-select-69__label">
        Select Item Here
        <i class="icon icon-arrow-down_16"></i>
      </div>
    </span>
  </button>
  <div class="md-event-overlay md-event-overlay--bottom">
    <div class="md-event-overlay__children" style="top: 465px; left: 272px;">
      <div class="md-list md-list--vertical md-list" role="listbox" aria-labelledby="md-select-69__label" aria-multiselectable="false" style="width: 821px;">
        <div aria-current="true" class="md-list-item" id="md-list-73__so-item" role="option" tabindex="0" title="test1">
          <div class="md-list-item__center">test1</div>
          <div class="md-list-item__right"></div>
        </div>
        <div aria-current="false" class="md-list-item" id="md-list-73__so-item" role="option" tabindex="-1" title="test2">
          <div class="md-list-item__center">test2</div>
          <div class="md-list-item__right"></div>
        </div>
        <div aria-current="false" class="md-list-item" id="md-list-73__so-item" role="option" tabindex="-1" title="test3">
          <div class="md-list-item__center">test3</div>
          <div class="md-list-item__right"></div>
        </div>
        <div aria-current="false" class="md-list-item" id="md-list-73__so-item" role="option" tabindex="-1" title="test4">
          <div class="md-list-item__center">test4</div>
          <div class="md-list-item__right"></div>
        </div>
      </div>
    </div>
  </div>
</div>
