.docs-component-overview {
  padding: rem-calc(24) rem-calc(30);

  &__spinner {
    text-align: center;
    padding: rem-calc(100);
  }

  &__top {
    height: rem-calc(72);

    .md-input-group {
      width: rem-calc(272);
    }
  }

  &__component-list {
    margin-left: rem-calc(-20);

    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 0 rem-calc(20) rem-calc(20);
    }
  }
}
