<div class="cui-side-nav cui-side-nav--expanded">
  <h3 class="cui-side-nav__title--top">
    <button class="cui-side-nav__button">OVERVIEW</button>
  </h3>
  <div class="cui-list cui-list--vertical cui-list" role="list">
    <a class="cui-list-item" aria-current="true" role="listItem" id="cui-list-302__list-item" title="Platform Introduction"
      href="/containers/list-item">Platform Introduction</a>
    <a class="cui-list-item" aria-current="false" role="listItem" id="cui-list-302__list-item" title="Bots" href="/containers/list-item">
      Bots
    </a>
    <a class="cui-list-item" aria-current="false" role="listItem" id="cui-list-302__list-item" title="Widgets"
      href="/containers/list-item">
      Widgets
    </a>
    <a class="cui-list-item" aria-current="false" role="listItem" id="cui-list-302__list-item" title="Integration"
      href="/containers/list-item">
      Integration
    </a>
    <a class="cui-list-item" aria-current="false" role="listItem" id="cui-list-302__list-item" title="Guest Issuer"
      href="/containers/list-item">
      Guest Issuer
    </a>
  </div>
</div>