<div class="cui-side-nav cui-side-nav--expanded">
  <h3 class="cui-side-nav__title--sub">
    <button class="cui-side-nav__button">
      Guides
      <i class="cui-icon icon icon-arrow-up_16"></i>
    </button>
  </h3>
  <div class="cui-list cui-list--vertical cui-list" role="list">
    <a class="cui-list-item" aria-current="true" role="listItem" id="cui-list-304__list-item" title="Authentication"
      href="/containers/list-item">
      Authentication
    </a>
    <a class="cui-list-item" aria-current="false" role="listItem" id="cui-list-304__list-item" title="Admin API"
      href="/containers/list-item">
      Admin API
    </a>
    <a class="cui-list-item" aria-current="false" role="listItem" id="cui-list-304__list-item" title="Webhooks"
      href="/containers/list-item">
      Webhooks
    </a>
    <a class="cui-list-item" aria-current="false" role="listItem" id="cui-list-304__list-item" title="Compliance"
      href="/containers/list-item">
      Compliance
    </a>
  </div>
</div>