<div class="cui-side-nav cui-side-nav--expanded">
  <h3 class="cui-side-nav__title--sub">
    <button class="cui-side-nav__button">Reference
      <i class="cui-icon icon icon-arrow-up_16"></i>
    </button>
  </h3>
  <div class="cui-list cui-list--vertical cui-list" role="list">
    <a class="cui-list-item" aria-current="true" role="listItem" id="cui-list-496__list-item" title="Admins" href="/containers/list-item">Admins</a>
    <a class="cui-list-item" aria-current="false" role="listItem" id="cui-list-496__list-item" title="Devices"
      href="/containers/list-item">Devices</a>
    <a class="cui-list-item" aria-current="false" role="listItem" id="cui-list-496__list-item" title="Licenses"
      href="/containers/list-item">Licenses</a>
    <div class="cui-side-nav cui-side-nav--expanded cui-side-nav__reference">
      <h3 class="cui-side-nav__title--sub">
        <button class="cui-side-nav__button">
          Messages
          <i class="cui-icon icon icon-arrow-up_16"></i>
        </button>
      </h3>
      <div class="cui-list cui-list--vertical cui-list" role="list">
        <a class="cui-list-item" aria-current="true" role="listItem" id="cui-list-498__list-item" title="List Messages"
          href="/containers/list-item">List Messages</a>
        <a class="cui-list-item" aria-current="false" role="listItem" id="cui-list-498__list-item"
          title="Create a Messages" href="/containers/list-item">Create a Messages</a>
        <a class="cui-list-item" aria-current="false" role="listItem" id="cui-list-498__list-item"
          title="Get Message Details" href="/containers/list-item">Get Message Details</a>
        <a class="cui-list-item" aria-current="false" role="listItem" id="cui-list-498__list-item"
         title="Delete a Message" href="/containers/list-item">Delete a Message</a>
      </div>
    </div>
  </div>
</div>