<div class="docs-example docs-example--spacing">
  <button type="button" class="md-button" disabled="disabled">
    <div style="opacity: 1;">
      <div class="md-loading" ng-if="isLoading" style="">
        <span class="icon icon-unread-badge_8"></span>&nbsp;<span class="icon icon-unread-badge_8"></span>&nbsp;<span class="icon icon-unread-badge_8"></span>
      </div>
    </div>
    <span style="opacity: 0;">Test Me</span>
  </button>
  <button type="button" class="md-button md-button--large" disabled="disabled">
    <div style="opacity: 1;">
      <div class="md-loading" ng-if="isLoading" style="">
        <span class="icon icon-unread-badge_8"></span>&nbsp;<span class="icon icon-unread-badge_8"></span>&nbsp;<span class="icon icon-unread-badge_8"></span>
      </div>
    </div>
    <span style="opacity: 0;">Test Me</span>
  </button>
</div>
<div class="docs-example docs-example--spacing">
  <button type="button" class="md-button md-button--circle" disabled="disabled">
    <div class="md-loading" ng-if="isLoading" style="">
      <span class="icon icon-unread-badge_8"></span>&nbsp;<span class="icon icon-unread-badge_8"></span>&nbsp;<span class="icon icon-unread-badge_8"></span>
    </div>
  </button>
  <button type="button" class="md-button md-button--circle md-button--circle--large" disabled="disabled">
    <div class="md-loading" ng-if="isLoading" style="">
      <span class="icon icon-unread-badge_8"></span>&nbsp;<span class="icon icon-unread-badge_8"></span>&nbsp;<span class="icon icon-unread-badge_8"></span>
    </div>
  </button>
</div>
