@import "@/wc_scss/colors/settings.scss";

@mixin global-vars {
  --sandbox-bg-color: #{$md-gray-80};
  --sandbox-secondary-bg-color: #{$md-gray-100};
  --main-bg-color: #{$md-gray-100};

  --md-default-focus-outline-color: #{$md-blue-40};

  --md-primary-bg-color: #{$md-gray-100};
  --md-secondary-bg-color: #{$md-gray-100};
  --md-secondary-white-bg-color: #{$md-gray-95};
  --md-tertiary-bg-color: #{$md-gray-90};
  --md-tertiary-white-bg-color: #{$md-gray-90};
  --md-quaternary-bg-color: #{$md-gray-80};

  --md-primary-success-bg-color: #{$md-mint-70};
  --md-primary-success-text-color: #{$md-mint-20};

  --md-primary-text-color: #{$md-gray-05};
  --md-secondary-text-color: #{$md-gray-40};
  --md-disabled-text-color: #{$md-gray-70};
  --md-highlight-text-color: #{$md-theme-80};
  --md-hyperlink-text-color: #{$md-theme-40};
  --md-hyperlink-hover-text-color: #{$md-theme-20};
  --md-hyperlink-focus-text-color: #{$md-theme-40};

  --md-focus-border-color: #{$md-blue-40};

  --md-primary-seperator-color: #{$md-gray-70};
  --md-secondary-seperator-color: #{$md-gray-60};

  --md-alert-error-bg-color: #{$md-red-80};
  --md-alert-error-text-color: #{$md-red-40};
  --md-alert-warning-bg-color: #{$md-yellow-80};
  --md-alert-warning-text-color: #{$md-yellow-40};
  --md-alert-success-bg-color: #{$md-green-80};
  --md-alert-success-text-color: #{$md-green-40};
  --md-alert-info-bg-color: #{$md-blue-80};
  --md-alert-info-text-color: #{$md-blue-40};

  --md-presence-active-bg-color: #{$md-green-50};
  --md-presence-do-not-disturb-bg-color: #{$md-red-60};
  --md-presence-away-bg-color: #{$md-gray-30};
  --md-presence-busy-bg-color: #{$md-yellow-40};

  --md-email-composer-bg-color: #{$md-gray-95};
  --md-email-composer-thread-bar-color: #{$md-violet-40};
  --md-email-composer-ccChip-bg-color: #{$md-gray-90};

  --md-interaction-history-bg-color: #{$md-gray-95};

  --md-auto-wrapup-bg-color: #{$md-blue-90};
  --md-menu-overlay-border-color: #{$md-gray-80};

  --md-dynamic-layout-button-border-color: #{$md-gray-70};
  --md-dynamic-layout-button-inverted-border-color: #{$md-gray-10};
}
