@import "@/wc_scss/colors/settings.scss";
@import "@/wc_scss/colors/settings-transparencies.scss";

@mixin global-vars {
  --sandbox-bg-color: #{$md-gray-20};
  --sandbox-secondary-bg-color: #e5e5e5;
  --main-bg-color: #{$md-gray-10};

  --md-default-focus-outline-color: #{$md-blue-60};

  --md-glass-bg-color: #{$white-60};
  --md-glass-bg-color-light: #{$white-40};
  --md-glass-bg-color-active: #{$white-80};
  --md-glass-overlay-bg-color: #{$white-80};
  --md-glass-overlay-inactive-bg-color: #{$white-40};

  --md-glass-outline-color: #{$black-20};

  // New Backgrounds
  --md-primary-bg-color: #{$md-white};
  --md-primary-one-bg-color: #{$md-white};
  --md-primary-two-bg-color: #{$md-white};

  --md-inverted-primary-bg-color: #{$md-gray-100};

  --md-secondary-bg-color: #{$md-gray-05};
  --md-secondary-one-bg-color: #{$md-gray-05};
  --md-secondary-two-bg-color: #{$md-gray-05};
  --md-secondary-three-bg-color: #{$md-gray-05};

  --md-tertiary-bg-color: #{$md-gray-10};
  --md-tertiary-one-bg-color: #{$md-gray-10};
  --md-tertiary-two-bg-color: #{$md-gray-10};

  --md-quaternary-bg-color: #{$md-gray-20};
  --md-quaternary-one-bg-color: #{$md-gray-20};
  --md-quaternary-two-bg-color: #{$md-gray-20};

  --md-conference-chat-bg-color: #{$md-slate-10};

  // Old Backgrounds (deprecated)
  --md-secondary-white-bg-color: #{$md-white}; // use --md-primary-one-bg-color
  --md-tertiary-white-bg-color: #{$md-white}; // use --md-primary-two-bg-color

  --md-primary-success-bg-color: #{$md-green-10};
  --md-primary-success-text-color: #{$md-green-70};

  --md-primary-text-color: #{$md-gray-100};
  --md-secondary-text-color: #{$md-gray-70};
  --md-disabled-text-color: #{$md-gray-40};
  --md-highlight-text-color: #{$md-theme-20};
  --md-hyperlink-text-color: #{$md-theme-70};
  --md-hyperlink-hover-text-color: #{$md-theme-90};
  --md-hyperlink-focus-text-color: #{$md-theme-70};
  --md-white-text-color: #{$mds-color-theme-common-text-primary-normal};

  --md-focus-border-color: #{$md-blue-70};

  --md-primary-seperator-color: #{$md-gray-30};
  --md-secondary-seperator-color: #{$md-gray-40};

  --md-alert-error-bg-color: #{$md-red-10};
  --md-alert-error-text-color: #{$md-red-70};
  --md-alert-warning-bg-color: #{$md-yellow-10};
  --md-alert-warning-text-color: #{$md-yellow-70};
  --md-alert-success-bg-color: #{$md-green-10};
  --md-alert-success-text-color: #{$md-green-70};
  --md-alert-info-bg-color: #{$md-blue-10};
  --md-alert-info-text-color: #{$md-blue-70};

  --md-presence-active-bg-color: #{$md-green-50};
  --md-presence-do-not-disturb-bg-color: #{$md-red-60};
  --md-presence-away-bg-color: #{$md-gray-30};
  --md-presence-busy-bg-color: #{$md-yellow-40};

  --md-email-composer-bg-color: #{$md-white-100};
  --md-email-composer-thread-bar-color: #{$md-violet-70};
  --md-email-composer-ccChip-bg-color: #{$md-gray-05};

  --md-interaction-history-bg-color: #{$md-gray-05};

  --md-auto-wrapup-bg-color: #{$md-blue-05};
  --md-menu-overlay-border-color: #{$md-gray-20};

  --md-dynamic-layout-button-border-color: #{$md-gray-10};
  --md-dynamic-layout-button-inverted-border-color: #{$md-gray-70};

  --md-nav-tab-hover-bg-color: #{$md-gray-10};
  --md-nav-tab-active-bg-color: #{$md-gray-20};

  --md-input-bg-color: #{$md-white-100};
  --md-input-chat-length-indicator-bg-color: #{$md-white-100};
  --md-input-chat-length-indicator-color: #{$md-gray-70};
  --md-input-chat-bg-color: #{$md-white-100};
  --md-input-chat-color: #{$md-gray-100};
  --md-input-chat-error-color: #a12512;
  --md-webex-chat-disable-bg-color: #{$md-gray-20};
  --md-webex-chat-disable-color: #{$md-gray-40};

  --md-navigation-bg-color: #{$md-white};
  --md-app-bg-color: #{$md-gray-05};
  --md-header-bg-color: #{$md-white};
  --md-header-separator-color: var(--md-primary-seperator-color);
  --md-content-bg-color: var(--md-primary-bg-color);
  --md-task-list-bg-color: var(--md-secondary-bg-color);
  --md-agent-history-bg-color: var(--md-tertiary-bg-color);
  --md-nav-divider-primary: var(--md-quaternary-bg-color);
  --md-nav-divider-primary-hover: var(--md-primary-seperator-color);
  --md-nav-h-divider-primary: var(--md-nav-divider-primary);
  --md-nav-h-divider-primary-hover: var(--md-nav-divider-primary-hover);

  --md-scrollbar-background-indicator: #{$black-40};
  --md-scrollbar-background-track: #{$black-12};
  --md-scrollbar-background-hover-indicator: #{$black-48};
  --md-scrollbar-background-active-indicator: #{$black-60};
  --md-scrollbar-background-disabled-indicator: #{$black-12};

  --md-table-primary-bg-color: #{$md-gray-20};
  --md-table-header-bg-color: #{$md-gray-05};
  --md-table-header-text-color: var(--md-secondary-text-color);
  --md-table-header-border-bottom: none;
  --md-table-header-border-bottom-color: #{$md-gray-20};
  --md-table-cell-border-bottom: 1px solid #{$mds-color-theme-outline-secondary-normal};
  --md-table-border-style: solid;
  --md-table-sub-nav-bg-color: #{$mds-color-theme-background-primary-ghost};
  --md-table-vertical-divider-color: #{$mds-color-theme-outline-secondary-normal};
  --md-table-column-divider-color: #{$md-gray-20};
  --md-table-row-divider-color: #{$md-gray-20};
  --md-table-pinned-border-color: #{$md-gray-20};
  --md-table-pinned-bg-color: var(--md-primary-bg-color);

  --md-elevation-1: 0px 2px 8px rgba(0, 0, 0, 0.2);
  --md-elevation-2: 0px 4px 16px rgba(0, 0, 0, 0.2);
  --md-elevation-3: 0px 6px 24px rgba(0, 0, 0, 0.25);
  --md-elevation-4: 0px 12px 48px rgba(0, 0, 0, 0.25);
  --md-backdrop-filter: 10px;

  --md-focus-inner-color: #{$mds-color-theme-focus-default-0};
  --md-focus-middle-color: #{$mds-color-theme-focus-default-1};
  --md-focus-outer-color: #{$mds-color-theme-focus-default-2};
}
