@import "@/wc_scss/colors/settings.scss";
@import "@/wc_scss/colors/settings-transparencies.scss";

@mixin global-vars {
  --sandbox-bg-color: #{$md-gray-80};
  --sandbox-secondary-bg-color: #{$md-gray-100};
  --main-bg-color: #{$md-gray-100};

  --md-default-focus-outline-color: #{$md-blue-40};

  // New Backgrounds
  --md-primary-bg-color: #{$md-gray-100};
  --md-primary-one-bg-color: #{$md-gray-95};
  --md-primary-two-bg-color: #{$md-gray-90};

  --md-secondary-bg-color: #{$md-gray-100};
  --md-secondary-one-bg-color: #{$md-gray-95};
  --md-secondary-two-bg-color: #{$md-gray-90};
  --md-secondary-three-bg-color: #{$md-gray-80};

  --md-tertiary-bg-color: #{$md-gray-90};
  --md-tertiary-one-bg-color: #{$md-gray-95};
  --md-tertiary-two-bg-color: #{$md-gray-80};

  --md-quaternary-bg-color: #{$md-gray-80};
  --md-quaternary-one-bg-color: #{$md-gray-60};
  --md-quaternary-two-bg-color: #{$md-gray-90};

  --md-conference-chat-bg-color: #{$md-slate-90};

  // Old Backgrounds (deprecated)
  --md-secondary-white-bg-color: #{$md-gray-95}; // use --md-primary-one-bg-color
  --md-tertiary-white-bg-color: #{$md-gray-90}; // use --md-primary-two-bg-color

  --md-primary-success-bg-color: #{$md-mint-70};
  --md-primary-success-text-color: #{$md-mint-20};

  --md-primary-text-color: #{$md-gray-05};
  --md-secondary-text-color: #{$md-gray-40};
  --md-disabled-text-color: #{$md-gray-70};
  --md-highlight-text-color: #{$md-theme-80};
  --md-hyperlink-text-color: #{$md-theme-40};
  --md-hyperlink-hover-text-color: #{$md-theme-20};
  --md-hyperlink-focus-text-color: #{$md-theme-40};
  --md-white-text-color: #{$mds-color-theme-common-text-primary-normal};

  --md-focus-border-color: #{$md-blue-40};

  --md-primary-seperator-color: #{$md-gray-70};
  --md-secondary-seperator-color: #{$md-gray-60};

  --md-alert-error-bg-color: #{$md-red-80};
  --md-alert-error-text-color: #{$md-red-40};
  --md-alert-warning-bg-color: #{$md-yellow-80};
  --md-alert-warning-text-color: #{$md-yellow-40};
  --md-alert-success-bg-color: #{$md-green-80};
  --md-alert-success-text-color: #{$md-green-40};
  --md-alert-info-bg-color: #{$md-blue-80};
  --md-alert-info-text-color: #{$md-blue-40};

  --md-presence-active-bg-color: #{$md-green-50};
  --md-presence-do-not-disturb-bg-color: #{$md-red-60};
  --md-presence-away-bg-color: #{$md-gray-30};
  --md-presence-busy-bg-color: #{$md-yellow-40};

  --md-email-composer-bg-color: #{$md-gray-95};
  --md-email-composer-thread-bar-color: #{$md-violet-40};
  --md-email-composer-ccChip-bg-color: #{$md-gray-90};

  --md-interaction-history-bg-color: #{$md-gray-95};

  --md-auto-wrapup-bg-color: #{$md-blue-90};
  --md-menu-overlay-border-color: #{$md-gray-80};

  --md-dynamic-layout-button-border-color: #{$md-gray-70};
  --md-dynamic-layout-button-inverted-border-color: #{$md-gray-10};

  --md-nav-tab-hover-bg-color: #{$md-gray-80};
  --md-nav-tab-active-bg-color: #{$md-gray-70};

  --md-input-bg-color: #{$md-gray-95};
  --md-input-chat-length-indicator-bg-color: #{$md-gray-90};
  --md-input-chat-length-indicator-color: #{$md-gray-40};
  --md-input-chat-bg-color: #{$md-gray-90};
  --md-input-chat-color: #{$md-gray-05};
  --md-input-chat-error-color: #{$md-red-50};
  --md-webex-chat-disable-bg-color: #{$md-gray-90};
  --md-webex-chat-disable-color: #{$md-gray-70};

  --md-navigation-bg-color: #{$md-gray-95};
  --md-app-bg-color: #{$md-gray-100};
  --md-header-bg-color: #{$md-gray-95};
  --md-header-separator-color: var(--md-primary-seperator-color);
  --md-content-bg-color: var(--md-primary-bg-color);
  --md-task-list-bg-color: var(--md-secondary-bg-color);
  --md-agent-history-bg-color: var(--md-tertiary-bg-color);
  --md-nav-divider-primary: var(--md-quaternary-bg-color);
  --md-nav-divider-primary-hover: var(--md-primary-seperator-color);

  --md-scrollbar-background-indicator: #{$white-40};
  --md-scrollbar-background-track: #{$white-12};
  --md-scrollbar-background-hover-indicator: #{$white-48};
  --md-scrollbar-background-active-indicator: #{$white-60};
  --md-scrollbar-background-disabled-indicator: #{$white-12};

  --md-table-primary-bg-color: #{$md-gray-80};
  --md-table-header-bg-color: #{$md-gray-95};
  --md-table-header-border-bottom: none;
  --md-table-cell-border-bottom: 1px solid #{$mds-color-theme-outline-secondary-normal};
  --md-table-border-style: solid;
  --md-table-sub-nav-bg-color: #{$mds-color-theme-background-primary-ghost};
  --md-table-vertical-divider-color: #{$mds-color-theme-outline-secondary-normal};
  --md-table-pinned-border-color: #{$md-gray-80};
}
