$spinner__class: '#{$prefix}-spinner';

$spinner--gray__border-color: $md-gray-40;
$spinner-progress--black__border-color: $md-black-100;

$spinner--blue__border-color: $md-theme-20;
$spinner-progress--blue__border-color: $md-theme-50;

$spinner-progress--white__border-color: $md-white-100;

$spinner__width: 1em;
$spinner__height: 1em;

$spinner--20__width: 1.25em;
$spinner--20__height: 1.25em;

$spinner--28__width: 1.75em;
$spinner--28__height: 1.75em;

$spinner--36__width: 2.25em;
$spinner--36__height: 2.25em;

$spinner--40__width: 2.5em;
$spinner--40__height: 2.5em;

$spinner--48__width: 3em;
$spinner--48__height: 3em;

$spinner--56__width: 3.5em;
$spinner--56__height: 3.5em;

$spinner--80__width: 5em;
$spinner--80__height: 5em;

$spinner-sizes: (16, $icon-check_8, 6px), (20, $icon-check_8, 8px),
  (28, $icon-check_12, 12px), (36, $icon-check_16, 16px);
