<div class="medium-4 columns">
  <div class="md-list md-list--vertical" role="list" style="background-color: black;">
    <div
      aria-current="true"
      class="md-list-item md-list-item--space"
      id="md-list-item-1"
      role="listitem"
      tabindex="0"
      data-md-event-key="md-list-item-1"
      data-md-keyboard-key="overview-item"
      title="Overview Item"
    >
      <div class="md-list-item__left">
        <div class="md-avatar md-list-item__avatar md-avatar--medium">
          <span class="md-avatar__icon md-avatar__icon--overview"
            ><i class="md-icon icon icon-handset_24" style="font-size: 24px;"></i
          ></span>
        </div>
      </div>
      <div class="md-list-item__center">
        <div class="md-list-item__header md-list-item__header--overview">Overview Item</div>
        <div class="md-list-item__subheader"></div>
      </div>
      <div class="md-list-item__right"></div>
    </div>
    <div
      aria-current="false"
      class="md-list-item md-list-item--space"
      id="md-list-item-2"
      role="listitem"
      tabindex="-1"
      data-md-event-key="md-list-item-2"
      data-md-keyboard-key="header-only"
      title="Header Only"
    >
      <div class="md-list-item__left">
        <div class="md-avatar md-list-item__avatar md-avatar--medium" title="NA"><span class="md-avatar__letter">N</span></div>
      </div>
      <div class="md-list-item__center">
        <div class="md-list-item__header">Header Only</div>
        <div class="md-list-item__subheader"></div>
      </div>
      <div class="md-list-item__right"></div>
    </div>
    <div
      aria-current="false"
      class="md-list-item md-list-item--space  md-list-item--unread"
      id="md-list-item-3"
      role="listitem"
      tabindex="-1"
      data-md-event-key="md-list-item-3"
      data-md-keyboard-key="bold-unread"
      title="Bold Unread"
    >
      <div class="md-list-item__left">
        <div class="md-avatar md-list-item__avatar md-avatar--medium" title="NA"><span class="md-avatar__letter">N</span></div>
      </div>
      <div class="md-list-item__center">
        <div class="md-list-item__header">Bold Unread</div>
        <div class="md-list-item__subheader"></div>
      </div>
      <div class="md-list-item__right">
        <i class="md-icon icon icon-unread-badge_12" style="font-size: 12px; color: rgb(0, 160, 209);"></i>
      </div>
    </div>
    <div
      aria-current="false"
      class="md-list-item md-list-item--space  md-list-item--unread"
      id="md-list-item-4"
      role="listitem"
      tabindex="-1"
      data-md-event-key="md-list-item-4"
      data-md-keyboard-key="bold-mentioned"
      title="Bold Mentioned"
    >
      <div class="md-list-item__left">
        <div class="md-avatar md-list-item__avatar md-avatar--medium" title="NA"><span class="md-avatar__letter">N</span></div>
      </div>
      <div class="md-list-item__center">
        <div class="md-list-item__header">Bold Mentioned</div>
        <div class="md-list-item__subheader"></div>
      </div>
      <div class="md-list-item__right">
        <i class="md-icon icon icon-mention_12" style="font-size: 12px; color: rgb(0, 160, 209);"></i>
      </div>
    </div>
    <div
      aria-current="false"
      class="md-list-item md-list-item--space"
      id="md-list-item-5"
      role="listitem"
      tabindex="-1"
      data-md-event-key="md-list-item-5"
      data-md-keyboard-key="is-alert-on"
      title="isAlertOn"
    >
      <div class="md-list-item__left">
        <div class="md-avatar md-list-item__avatar md-avatar--medium" title="NA"><span class="md-avatar__letter">N</span></div>
      </div>
      <div class="md-list-item__center">
        <div class="md-list-item__header">isAlertOn</div>
        <div class="md-list-item__subheader"></div>
      </div>
      <div class="md-list-item__right">
        <i class="md-icon icon icon-alert_12" style="font-size: 12px; color: rgba(255, 255, 255, 0.6);"></i>
      </div>
    </div>
    <div
      aria-current="false"
      class="md-list-item md-list-item--space"
      id="md-list-item-6"
      role="listitem"
      tabindex="-1"
      data-md-event-key="md-list-item-6"
      data-md-keyboard-key="is-muted"
      title="isMuted"
    >
      <div class="md-list-item__left">
        <div class="md-avatar md-list-item__avatar md-avatar--medium" title="NA"><span class="md-avatar__letter">N</span></div>
      </div>
      <div class="md-list-item__center">
        <div class="md-list-item__header">isMuted</div>
        <div class="md-list-item__subheader"></div>
      </div>
      <div class="md-list-item__right">
        <i class="md-icon icon icon-alert-muted_12" style="font-size: 12px; color: rgba(255, 255, 255, 0.6);"></i>
      </div>
    </div>
    <div
      aria-current="false"
      class="md-list-item md-list-item--space disabled"
      id="md-list-item-7"
      role="listitem"
      tabindex="-1"
      data-md-event-key="md-list-item-7"
      data-md-keyboard-key="disabled"
      title="Disabled"
    >
      <div class="md-list-item__left">
        <div class="md-avatar md-list-item__avatar md-avatar--medium" title="NA"><span class="md-avatar__letter">N</span></div>
      </div>
      <div class="md-list-item__center">
        <div class="md-list-item__header">Disabled</div>
        <div class="md-list-item__subheader">subheader</div>
      </div>
      <div class="md-list-item__right"></div>
    </div>
    <div
      aria-current="false"
      class="md-list-item md-list-item--space"
      id="md-list-item-8"
      role="listitem"
      tabindex="-1"
      data-md-event-key="md-list-item-8"
      data-md-keyboard-key="subheader-as-node"
      title="Subheader as Node"
    >
      <div class="md-list-item__left">
        <div class="md-avatar md-list-item__avatar md-avatar--medium" title="NA"><span class="md-avatar__letter">N</span></div>
      </div>
      <div class="md-list-item__center">
        <div class="md-list-item__header">Subheader as Node</div>
        <div class="md-list-item__subheader"><span style="color: rgb(152, 213, 202);">Marketing</span></div>
      </div>
      <div class="md-list-item__right"></div>
    </div>
    <div
      aria-current="false"
      class="md-list-item md-list-item--read-only md-list-item-header md-list-item-header--space"
      id="md-list-item-9"
      role="listitem"
      data-md-event-key="md-list-item-9"
      data-md-keyboard-key="list-header-type-space"
      title="List Header-Type(space)"
    >
      <div class="md-list-item__center"><div class="md-list-item__header">List Header-Type(space)</div></div>
      <div class="md-list-item__right"><a href="more">More</a></div>
    </div>
    <div
      aria-current="false"
      class="md-list-item md-list-item--space"
      id="md-list-item-10"
      role="listitem"
      tabindex="-1"
      data-md-event-key="md-list-item-10"
      data-md-keyboard-key="header-with-search-term"
      title="Header with SearchTerm"
    >
      <div class="md-list-item__left">
        <div class="md-avatar md-list-item__avatar md-avatar--medium" title="NA"><span class="md-avatar__letter">N</span></div>
      </div>
      <div class="md-list-item__center">
        <div class="md-list-item__header md-list-item__header--overview">
          Header with <span class="md-list-item__header--highlight">Search</span>Term
        </div>
        <div class="md-list-item__subheader"></div>
      </div>
      <div class="md-list-item__right"></div>
    </div>
    <div
      aria-current="false"
      class="md-list-item md-list-item--space"
      id="md-list-item-11"
      role="listitem"
      tabindex="-1"
      data-md-event-key="md-list-item-11"
      data-md-keyboard-key="both-headers-w-search-term"
      title="Both Headers w/ SearchTerm"
    >
      <div class="md-list-item__left">
        <div class="md-avatar md-list-item__avatar md-avatar--medium" title="NA"><span class="md-avatar__letter">N</span></div>
      </div>
      <div class="md-list-item__center">
        <div class="md-list-item__header md-list-item__header--overview">
          Both Headers w/ <span class="md-list-item__header--highlight">Search</span>Term
        </div>
        <div class="md-list-item__subheader">Searchable subheader</div>
      </div>
      <div class="md-list-item__right"></div>
    </div>
    <div
      aria-current="false"
      class="md-list-item md-list-item--space"
      id="md-list-item-12"
      role="listitem"
      tabindex="-1"
      data-md-event-key="md-list-item-12"
      data-md-keyboard-key="subheader-node-search-term"
      title="Subheader(node)-searchTerm"
    >
      <div class="md-list-item__left">
        <div class="md-avatar md-list-item__avatar md-avatar--medium" title="NA"><span class="md-avatar__letter">N</span></div>
      </div>
      <div class="md-list-item__center">
        <div class="md-list-item__header md-list-item__header--overview">
          Subheader(node)-<span class="md-list-item__header--highlight">search</span>Term
        </div>
        <div class="md-list-item__subheader"><span style="color: rgb(215, 171, 225);">Searching</span></div>
      </div>
      <div class="md-list-item__right"></div>
    </div>
    <div
      aria-current="false"
      class="md-list-item md-list-item--space  md-list-item--space-search"
      id="md-list-item-13"
      role="listitem"
      tabindex="-1"
      data-md-event-key="md-list-item-13"
      data-md-keyboard-key="type-search"
      title="Type(search)"
    >
      <div class="md-list-item__left">
        <div class="md-avatar md-list-item__avatar md-avatar--medium" title="NA"><span class="md-avatar__letter">N</span></div>
      </div>
      <div class="md-list-item__center">
        <div class="md-list-item__header md-list-item__header--overview">
          <span class="md-list-item__header-main">Type(search)</span
          ><span class="md-list-item__header-secondary">16:00</span>
        </div>
        <div class="md-list-item__center md-list-item__result-container">
          <div class="md-list-item__result">
            HighlightColor changes
            <span class="md-list-item__subheader--highlight" style="color: white;">search</span> color
          </div>
        </div>
      </div>
    </div>
    <div
      aria-current="false"
      class="md-list-item md-list-item--space  md-list-item--space-filter"
      id="md-list-item-14"
      role="listitem"
      tabindex="-1"
      data-md-event-key="md-list-item-14"
      data-md-keyboard-key="type-filter"
      title="Type(filter)"
    >
      <div class="md-list-item__left">
        <div class="md-avatar md-list-item__avatar md-avatar--medium" title="NA"><span class="md-avatar__letter">N</span></div>
      </div>
      <div class="md-list-item__center">
        <div class="md-list-item__header md-list-item__header--overview">
          <span class="md-list-item__header-main">Type(filter)</span
          ><span class="md-list-item__header-secondary">12/03/2018</span>
        </div>
        <div class="md-list-item__center md-list-item__result-container">
          <div class="md-list-item__result">headerSecondary=string</div>
        </div>
      </div>
    </div>
    <div
      aria-current="false"
      class="md-list-item md-list-item--space  md-list-item--space-filter-search"
      id="md-list-item-15"
      role="listitem"
      tabindex="-1"
      data-md-event-key="md-list-item-15"
      data-md-keyboard-key="type-filter-search"
      title="Type(filter-search)"
    >
      <div class="md-list-item__left">
        <div class="md-avatar md-list-item__avatar md-avatar--medium" title="NA"><span class="md-avatar__letter">N</span></div>
      </div>
      <div class="md-list-item__center">
        <div class="md-list-item__header md-list-item__header--overview">
          <span class="md-list-item__header-main">Type(filter-search)</span
          ><span class="md-list-item__header-secondary">12/03/2018</span>
        </div>
        <div class="md-list-item__center md-list-item__result-container">
          <div class="md-list-item__result">
            For search after a <span class="md-list-item__subheader--highlight">(filter)</span>
          </div>
        </div>
      </div>
    </div>
    <div
      aria-current="false"
      class="md-list-item md-list-item--space  md-list-item--space-filter-summary"
      id="md-list-item-16"
      role="listitem"
      tabindex="-1"
      data-md-event-key="md-list-item-16"
      data-md-keyboard-key="type-filter-summary-8"
      title="Type(filter-summary) (8)"
    >
      <div class="md-list-item__left"><i class="md-icon icon icon-alert_12" style="font-size: 12px;"></i></div>
      <div class="md-list-item__center">
        <div class="md-list-item__header">Type(filter-summary) (8)</div>
        <div class="md-list-item__subheader"></div>
      </div>
    </div>
    <div
      aria-current="false"
      class="md-list-item md-list-item--space  md-list-item--space-flag"
      id="md-list-item-17"
      role="listitem"
      tabindex="-1"
      data-md-event-key="md-list-item-17"
      data-md-keyboard-key="type-flag-attachments"
      title="Type(flag)-attachments"
    >
      <div class="md-list-item__left">
        <div class="md-avatar md-list-item__avatar md-avatar--medium" title="NA"><span class="md-avatar__letter">N</span></div>
      </div>
      <div class="md-list-item__center">
        <div class="md-list-item__header">
          <span class="md-list-item__header-main">Type(flag)-attachments</span
          ><span class="md-list-item__header-secondary">12/03/2018</span>
        </div>
        <div class="md-list-item__center md-list-item__result-container">
          <div class="md-list-item__center md-list-item__attachment">
            <div class="md-list-item__attachment--top">
              <div class="md-list-item__center md-list-item__attachment--top-left">
                resultRight=node, attachments=[node]
              </div>
              <div class="md-list-item__right md-list-item__attachment--top-right">
                <i class="md-icon icon icon-flag-active_12" style="font-size: 12px;"></i>
              </div>
            </div>
            <div class="md-list-item__attachment--bottom">
              <span
                ><i class="md-icon icon icon-document_12" style="font-size: 12px;"></i> <span>Ideas.pdf</span></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      aria-current="false"
      class="md-list-item md-list-item--space  md-list-item--space-flag"
      id="md-list-item-18"
      role="listitem"
      tabindex="-1"
      data-md-event-key="md-list-item-18"
      data-md-keyboard-key="type-flag"
      title="Type(flag)"
    >
      <div class="md-list-item__left">
        <div class="md-avatar md-list-item__avatar md-avatar--medium" title="NA"><span class="md-avatar__letter">N</span></div>
      </div>
      <div class="md-list-item__center">
        <div class="md-list-item__header">
          <span class="md-list-item__header-main">Type(flag)</span
          ><span class="md-list-item__header-secondary">08/03/2018</span>
        </div>
        <div class="md-list-item__center md-list-item__result-container">
          <div class="md-list-item__center md-list-item__attachment">
            <div class="md-list-item__attachment--top">
              <div class="md-list-item__center md-list-item__attachment--top-left">header&amp;subheader=node</div>
              <div class="md-list-item__right md-list-item__attachment--top-right">
                <i class="md-icon icon icon-flag-active_12" style="font-size: 12px;"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      aria-current="false"
      class="md-list-item md-list-item--space"
      id="md-list-item-326"
      role="listitem"
      tabindex="-1"
      data-md-event-key="md-list-item-326"
    >
      <div class="md-list-item__left"><div>People</div></div>
    </div>
  </div>
</div>
