<div class="medium-5 columns">
  <div class="md-list md-list--vertical md-list" role="list" style="background-color: rgba(40, 40, 40, 0.72);">
    <div
      aria-current="true"
      class="md-list-item md-list-item--space active md-list-item--space-meeting"
      id="md-list-465__sl-item"
      role="listItem"
      title="Attendees Prop"
    >
      <div class="md-list-item__left">
        <div class="md-avatar md-list-item__avatar md-avatar--medium" title="Attendees Prop">
          <span class="md-avatar__letter">AP</span>
        </div>
      </div>
      <div class="md-list-item__center">
        <div class="md-list-item__header">Attendees Prop</div>
        <div class="md-list-item__subheader">must be very long long long long long message message</div>
      </div>
      <div class="md-list-item__right">
        <span>
          <span role="button" class="md-list-item--space-meeting--attendees"
            >14
            <i class="md-icon icon icon-people_12"></i>
          </span>
        </span>
        <button class="md-button md-button--28 md-button--green" alt="Now" type="button" aria-label="Now">
          <span class="md-button__children" style="opacity: 1;">Now</span>
        </button>
      </div>
    </div>
    <div
      aria-current="false"
      class="md-list-item md-list-item--space md-list-item--space-meeting md-list-item--unread"
      id="md-list-465__sl-item"
      role="listItem"
      title="isBold(true)"
    >
      <div class="md-list-item__left">
        <div class="md-avatar md-list-item__avatar md-avatar--medium" title="isBold(true)">
          <span class="md-avatar__letter">i</span>
        </div>
      </div>
      <div class="md-list-item__center">
        <div class="md-list-item__header">isBold(true)</div>
        <div class="md-list-item__subheader">subheader</div>
      </div>
      <div class="md-list-item__right"></div>
    </div>
    <div
      aria-current="false"
      class="md-list-item md-list-item--space md-list-item--space-meeting"
      id="md-list-465__sl-item"
      role="listItem"
      title="MeetingType(group)"
    >
      <div class="md-list-item__left">
        <div class="md-avatar md-list-item__avatar md-avatar--group md-avatar--medium" title="MeetingType(group)">
          <span class="md-avatar__letter">M</span>
        </div>
      </div>
      <div class="md-list-item__center">
        <div class="md-list-item__header">MeetingType(group)</div>
        <div class="md-list-item__subheader">subheader</div>
      </div>
      <div class="md-list-item__right">
        <button class="md-button md-button--28 md-button--green" alt="In 5 Min" type="button" aria-label="In 5 Min">
          <span class="md-button__children" style="opacity: 1;">In 5 Min</span>
        </button>
      </div>
    </div>
    <div
      aria-current="false"
      class="md-list-item md-list-item--space md-list-item--space-meeting"
      id="md-list-465__sl-item"
      role="listItem"
      title="MeetingType(number)"
    >
      <div class="md-list-item__left">
        <div class="md-avatar md-list-item__avatar md-avatar--medium" title="#">
          <span class="md-avatar__letter">#</span>
        </div>
      </div>
      <div class="md-list-item__center">
        <div class="md-list-item__header">MeetingType(number)</div>
        <div class="md-list-item__subheader">subheader</div>
      </div>
      <div class="md-list-item__right">
        <button class="md-button md-button--28 md-button--green" alt="2:25" type="button" aria-label="2:25">
          <span class="md-button__children" style="opacity: 1;">2:25</span>
        </button>
      </div>
    </div>
    <div
      aria-current="false"
      class="md-list-item md-list-item--space md-list-item--space-meeting"
      id="md-list-465__sl-item"
      role="listItem"
      title="MeetingType(device)"
    >
      <div class="md-list-item__left">
        <div class="md-avatar md-list-item__avatar md-avatar--medium">
          <span class="md-avatar__icon">
            <i class="md-icon icon icon-spark-board_16"></i>
          </span>
        </div>
      </div>
      <div class="md-list-item__center">
        <div class="md-list-item__header">MeetingType(device)</div>
        <div class="md-list-item__subheader"></div>
      </div>
      <div class="md-list-item__right">
        <span>
          <span role="button" class="md-list-item--space-meeting--attendees"
            >3
            <i class="md-icon icon icon-people_12"></i>
          </span>
        </span>
        <button class="md-button md-button--28 md-button--green" alt="30:25" type="button" aria-label="30:25">
          <span class="md-button__children" style="opacity: 1;">30:25</span>
        </button>
      </div>
    </div>
    <div
      aria-current="false"
      class="md-list-item md-list-item--space md-list-item--space-meeting"
      id="md-list-465__sl-item"
      role="listItem"
      title="ChildrenLeft Prop"
    >
      <div class="md-list-item__left">
        <div class="md-avatar md-avatar--18">
          <span class="md-avatar__icon">
            <i class="md-icon icon icon-mention_12"> </i>
          </span>
        </div>
      </div>
      <div class="md-list-item__center">
        <div class="md-list-item__header">ChildrenLeft Prop</div>
        <div class="md-list-item__subheader"></div>
      </div>
      <div class="md-list-item__right">
        <span>
          <span role="button" class="md-list-item--space-meeting--attendees"
            >3
            <i class="md-icon icon icon-people_12"></i>
          </span>
        </span>
        <button class="md-button md-button--28 md-button--green" alt="30:25" type="button" aria-label="30:25">
          <span class="md-button__children" style="opacity: 1;">30:25</span>
        </button>
      </div>
    </div>
  </div>
</div>
